[2018-12-07 01:37] SubJunk commented on #1652
Good idea @Sami32

[2018-12-08 19:19] SergiusTheBest commented on #1652
@SubJunk
I traced down my issue to adobe xmp parser. It turned out that the embedded thumbnail had a very large metadata (xmp with over 100000 nodes) and the parser is not very efficient. There is a [post](https://forums.adobe.com/thread/2081839) on adobe forum about that. I made a [fix](https://github.com/SergiusTheBest/metadata-extractor/tree/very-slow-xmp-fix) for `com.drewnoakes:metadata-extra

[2018-12-08 20:57] Nadahar commented on #1652
@SergiusTheBest That is really brilliant work! Thanks for figuring this one out :+1:

[2018-12-09 02:02] S7T2V1oYMoKoqQPl9McG opened #1710 "MEDIA LIBRARY FAILS TO POPULATE"
SYMPTOM
MEDIA LIBRARY FAILS TO POPULATE
for MP3 and OGG file types

PROBLEM
My original music library was MP3 format and the Media Library function worked as expected.
I moved the MP3 files to another folder, converted them to OGG, and placed the OGG files in the original folder.
I can see the files in UMS listed under the folder, however the Media Library fails to populate with tags.
I gathered T

[2018-12-09 21:03] SubJunk commented on #1652
@SergiusTheBest very nice investigation and thanks for submitting the fix to them! I'll watch for it and bump the version when they merge :)

[2018-12-09 21:07] SubJunk opened #1712 "YourKit Java Profiler licenses"
I have been using the YourKit Java Profiler (https://www.yourkit.com/java/profiler/) to investigate and test the global ID repository and they have offered to provide UMS developers with full licenses to help us out. Does anyone want that? I just need to send them first and last names for the licenses

@UniversalMediaServer/developers

[2018-12-09 22:59] valib commented on #1712
@SubJunk I will try it. All you need is in my profile.

[2018-12-11 02:33] S7T2V1oYMoKoqQPl9McG commented on #1710
I tried uninstalling UMS and using earlier version 7.5.0 and 7.6.0 and the log showed the same "Output file #0 does not contains any stream"

I tried substituting
"C:\Program Files (x86)\Universal Media Server\win32\ffmpeg64.exe"
ffmpeg version N-80363-g403a53c
with a the latest version
ffmpeg version N-92657-ga271025215
from
site:www.ffmpeg.org

The results were unchanged.

I know this worked in

[2018-12-11 09:30] valib commented on #1710
@S7T2V1oYMoKoqQPl9McG the problem is that extension .ogg is the same for video and audio files. Seems that UMS is treated OGG audio files like video and tries to extract thumbnail from video stream which of course does not exists. Which is a bug,
But you sent only part of the log. Please send it all to see how are treated those files by your rendererers. Are that OGG audio files played on your ren

[2018-12-11 14:00] S7T2V1oYMoKoqQPl9McG commented on #1710
I CONFIRM that the files are (mis)indexed in the Media Library as videos.
No, the OGG files didn't play properly.
Thank you for the workaround suggestion. I will rename and investigate my files.
I think you can close this as NOT A BUG.

[2018-12-11 22:09] maciekberry commented on #1674
This can be closed then.

[2018-12-11 22:09] maciekberry commented on #1674
ARGH, you were 2 seconds quicker than me!

[2018-12-12 02:53] S7T2V1oYMoKoqQPl9McG opened #1714 "Media Library and multiple genre tags"
Question:

I have a large music database of OGG/OGA files.
This file type allows multiple 'genre' tags and most of my files have multiple tags.
UMS concatenates these genre tags into a single category which is pretty useless.

For example, a tune that has tags
"folk / irish / celtic / fiddle"
will currently only show under a tag of that name.

This leads to a useless genre tree.
See the attached i

[2018-12-12 02:54] S7T2V1oYMoKoqQPl9McG commented on #1710
The workaround is to rename .OGG files to .OGA

[2018-12-12 02:54] #1710 closed

[2018-12-12 02:56] SubJunk opened #1715 "Treat OGG files with only audio streams as OGA files"
Related to https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1710

[2018-12-12 02:56] SubJunk commented on #1710
Thanks @S7T2V1oYMoKoqQPl9McG I have created a related issue for this since I think we can be more clever about it https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1715

[2018-12-12 11:13] Valeryy opened #1716 "Easy support for blu-rays ripped to HDD"
Hello,
Recently start using UMS with Sony Playstation 4 pro.

It works very well. Almost all files I have work well.
Couple of things to improve:
1. For non-encrypted blu-rays ripped into hdd you can browse Stream dir with movie files. The problem, they are many. And you almost always have to choose the largest one or the movie with the longest duration.
Quick and probably easy solution is add sor

[2018-12-12 12:31] acanive commented on #1706
sure, let me check and report back

[2018-12-12 13:15] acanive commented on #1706
@SubJunk there is also a bug while trying to browse using remote in header area, content is not highlighted so you never know where is the focus. it was a line of code in css that was removed when the code was merged. should I repair this too or leave it as it is?

[2018-12-12 13:42] javieryi commented on #1652
Sorry about being a bit AWOL, but I've been busy with RL, so far UMS 1.6.0 seems to be holding, no issues, will keep it going just in case it takes even longer to show up.

Do I understand that according to the last few messages that the issue has been found and addressed?

I Hope I understood it right and thanks to @SergiusTheBest for finding the issue and providing a fix. Thanks also to @SubJunk

[2018-12-12 13:53] SergiusTheBest commented on #1652
@javieryi I'm not sure that my issue has the same cause as your one (despite they both lead to 100% CPU usage). Could you send a screenshot like in my comment [here]?(https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1652#issuecomment-443849510)

[2018-12-12 14:19] javieryi commented on #1652
Here you are @SergiusTheBest , mind I'm using now an old version, but it doesn't show the "scanning..." bit at the bottom.

![javaw_2018-12-12_14-57-36](https://user-images.githubusercontent.com/4158649/49874416-b68d7d00-fe1e-11e8-91ea-3eb3f521a4ad.png)

All of that and then some should show in the logs that I've been attaching to every version I've tried as instructed, if you want to take a deepe

[2018-12-12 14:44] SergiusTheBest commented on #1652
@javieryi To troubleshoot this issue you need to capture java thread dumps. This can be done with a tool `jstack` from JDK (you need to install JDK, not JRE):

1. Start UMS
1. Find its process id (PID). Can be done via task manager (search for `java` process).
1. Find `jstack` in JDK folder (in Program Files)
1. Run it in console: `jstack <pid> > C:\logs\dump.txt`

[2018-12-12 18:03] acanive commented on #1706
@SubJunk job done, after merge, I will upload a device configuration file.
**note**: if you see double F thats due to my keyboard, it is learning to write on his own ;)

[2018-12-13 01:37] #1706 closed

[2018-12-13 01:39] SubJunk commented on #1706
@acanive if you mean the white highlight around the logo in the header, I removed that because it was permanently enabled instead of on hover. Thanks for the fixes :)

[2018-12-13 01:50] SubJunk commented on #1652
@javieryi that's really good if v1 does not have this problem, it gives us a starting point. Will be interested to see what shows up following @SergiusTheBest 's steps

[2018-12-13 12:02] acanive commented on #1706
@SubJunk ah ok, yes, that was the behaviour, I will rewrite the code to fix that.

[2018-12-13 12:54] javieryi commented on #1652
I'm back to UMS 7.6.2 standalone x64, JDK ready, all tested and working, as instructed by @SergiusTheBest
, now waiting for an accident to happen xDD

[2018-12-13 20:04] SubJunk opened #1718 "List view on web interface"
Seem like a good suggestion from https://www.universalmediaserver.com/forum/viewtopic.php?p=38244
We already have the ability to choose between two views on the upper right so this would be another option there

[2018-12-13 21:33] javieryi commented on #1652
Didn't take too long, logs attached.

[ums_7.6.2_standalone_x64_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2677802/ums_7.6.2_standalone_x64_dbg.zip)
[ums_7.6.2_standalone_x64_java_dump.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2677804/ums_7.6.2_standalone_x64_java_dump.zip)

As a side note, on the status screen the memory usage was bou

[2018-12-13 22:44] SubJunk commented on #1652
If it is related to high memory use you might want to try a build we have been testing lately https://www.spirton.com/uploads/UMS/UMS-weak-4079698.exe

[2018-12-14 01:18] SubJunk opened #1719 "Dynamic view broken on web interface"
The dynamic view looks broken after the new changes:

![image](https://user-images.githubusercontent.com/584228/49977392-1153df80-ffab-11e8-9f5f-2d4a59c496b9.png)

[2018-12-14 01:19] SubJunk opened #1720 "Use default browser scrollbar on web interface"
The scrollbar has been restyled to be quite thin, I think it's better to let the operating system control it, and then the user can restyle it through the OS if they want a different one

[2018-12-14 07:39] SergiusTheBest commented on #1652
@javieryi I can see nothing wrong in thread dumps :(

@SubJunk  Once I faced the similar behavior in another Java app: when it reached memory limit garbage collector went crazy and consumed a lot of CPU. Increasing memory limit helped in that case. I'm not sure how to do that in windows UMS build.

[2018-12-15 09:04] SubJunk commented on #1652
@SergiusTheBest yes it seems to often be related to memory use for us too. We are working hard to reduce our memory use and make our classes more recyclable lately. We default to 1280mb on 64-bit Windows which seems to be near the limit of what we can safely set - we have tried higher in the past but users reported problems

[2018-12-15 20:19] SubJunk opened #1721 "FFmpeg timeout on burning subtitles"
On a lot of my files, FFmpeg times out or takes 2+ minutes before outputting anything (in its initial parsing of subtitles
My TV doesn't wait for 2+ minutes so it fails playback.

There are a few different bugs at play here but my goal is to successfully transcode the files with FFmpeg, and I'm working on that

[2018-12-16 00:51] paulene-c opened #1722 "Chapter support not working"
Replication steps:
Configure chapter timings in UMS
On TV open TRANSCODE folder
Select the movie folder
Open Chapter: [No transcoding]
[No transcoding] plays correctly from beginning
Selecting any of the chapters `>> h:m:s:100s` generates error `File not supported`

[ums_dbg-Chapter-30min.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2683165/ums_dbg-Chapter-30min.zip)

[2018-12-16 01:04] paulene-c opened #1723 "TED talks doesn't play from Web folder on v7.6.2"
Replication steps:
Open Web > TED folder
Select any video
None work.

Noticed that in the TRANSCODE folder there is no FFmpeg option even though that displays as the enabled top entry on the Transcoding settings for Web Video Streaming Engines.

FFmpeg is in the TRANSCODE folder in 7.5.0 which the user reports works correctly.

[ums_dbg_TED.zip](https://github.com/UniversalMediaServer/UniversalMed

[2018-12-16 23:38] maciekberry opened #1724 "Custom audio menu in the Media Library"
Hello UMS-masters,

If you try to manage a fairly large music library with UMS (let's say hundreds of albums), you quickly realize that most of the options available from the "Media Library" folder are totally useless. I see no real-world example when one would like to display all the songs (thousands) at once. Or all Albums, without having them sorted by Artist.

To make long story short, please

[2018-12-16 23:51] acanive commented on #1720
this is ready. uploading tomorrow.

[2018-12-16 23:52] acanive commented on #1719
this is ready too. uploading tomorrow.

[2018-12-16 23:53] acanive commented on #1718
I'm working on this.

[2018-12-17 01:31] SubJunk commented on #1724
@maciekberry yes this sounds great. I would be happy for there to be more useful defaults in there, and the ability for users to customize it. In the future we can even add a GUI for that.

[2018-12-17 08:34] SubJunk commented on #1652
@javieryi is the log file and java dump from after the bug had started happening on that version?

[2018-12-17 09:23] javieryi commented on #1652
Yes, forgot to say, bug happened and took the logs in case they are useful somehow.

[2018-12-17 12:11] javieryi commented on #1652
Just as a test, I've setup a virtual machine in which I'm fresh installing the same software I usually run on my computer and also UMS on it and keep it running to see if the bug appears there too, maybe something isolated related to my own machine setup, because of M$ and stuff... xDD

[2018-12-17 17:33] acanive commented on #1719
@SubJunk UMS is cool to have!

[2018-12-18 03:01] SubJunk opened #1725 "Allow more control over resuming"
The new Samsung resuming feature should have the ability to be enabled/disabled, whether that is combined with the existing Resume setting or not could be up for discussion, I think it would make sense to just have the one option.

Mentioned at https://www.universalmediaserver.com/forum/viewtopic.php?p=38307#p38307

@drakulis  thoughts?

[2018-12-18 03:10] SubJunk commented on #1652
@javieryi I can't see any clues in the logs, it's a head-scratcher this one!

[2018-12-18 07:19] SergiusTheBest commented on #1652
@SubJunk I see in logs `Maximum JVM Memory: 683 MiB`. Can we increase that for a test?

[2018-12-18 07:43] SergiusTheBest commented on #1652
@SubJunk Yes, I think 4000 will be good for a test.

[2018-12-18 20:48] drakulis commented on #1725
Yep, I agree. One "resume option seems to be enough. And it should be very easy to implement.

[2018-12-18 21:07] SubJunk commented on #1652
@javieryi are you able to do that please?

[2018-12-18 21:15] javieryi commented on #1652
Sure I can,I had to do a reinstall, because coouldn't find the option in the conf files.

I'll report back with results.

[2018-12-19 07:54] SubJunk opened #1726 "Update MediaInfo to 18.12"
They have fixed some crashes and memory leaks so we should update to take advantage of that, but carefully because it will probably need other code changes for things like updated strings

[2018-12-19 15:54] acanive commented on #1718
Maybe I can improve the way the list is displayed. Brainstorm over there!!!!

[2018-12-19 17:43] javieryi commented on #1652
Sh*t hit the fan again, UMS-weak-4079698 + Java 8 1.8.0_192-b12 Memory 4096Mb, logs attached.

[UMS-weak-4079698_jstack_dump.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2695934/UMS-weak-4079698_jstack_dump.zip)
[UMS-weak-4079698_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2695936/UMS-weak-4079698_dbg.zip)

![capture](https://user-images.g

[2018-12-19 19:19] theafien commented on #1652
I assume it is the mediainfo that is causing excessive CPU usage -- so the cause is random (because it depends on some video/subtitle file) --. @javieryi download JProfiler free and run CPU profiler.

JProfiler link download: https://www.ej-technologies.com/download/jprofiler/files

JProfiler Config
![image](https://user-images.githubusercontent.com/18597242/50242435-7778a200-03b1-11e9-8f71-57839e

[2018-12-19 21:46] SubJunk commented on #1652
You could also try using the latest version of MediaInfo because according to their changelog they have fixed memory leaks and crashes. I can put together a build for you to test that has that version

[2018-12-19 22:37] SubJunk commented on #1652
[MediaInfo18.12.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2696738/MediaInfo18.12.zip)

Please replace the files in this zip file with the ones in the UMS installation directory `C:\Program Files (x86)\Universal Media Server`

It might break some other things like the detection of some files (just maybe, I haven't checked) but it would be good to see if it affects this

[2018-12-20 00:18] theafien commented on #1652
@SubJunk with the new MediaInfo have the expressive memory reduce

Both runned by 7+- minutes in profiler without play video

With new DLL
![withnewdll](https://user-images.githubusercontent.com/18597242/50256006-8a07d100-03db-11e9-9025-4a21b768edc8.PNG)

With Older DLL
![witholderdll](https://user-images.githubusercontent.com/18597242/50256011-90964880-03db-11e9-80b3-fff67553ba3a.PNG)

[2018-12-20 03:53] MadokaAyukawa commented on #1721
Is this why the following files don't play (you only need on episode). Both shows give an error with FFmpeg on my PS3, but will play by manually selecting MEncoder.

https://nyaa.si/view/1062197

https://nyaa.si/view/1103308

[2018-12-20 09:19] #1718 closed

[2018-12-20 09:19] #1719 closed

[2018-12-20 09:19] #1720 closed

[2018-12-20 14:15] Sami32 commented on #1721
Yes.
https://trac.ffmpeg.org/ticket/4499
FFmpeg doesn't handle natively the subtitles from the libavfilter library, so that is why this delay and why it fail following the UPnP/DLNA standard.
A cheap trick could be done but with a limited effect, and that will not remove the lowering of video quality that you can see when FFmpeg transcode video with subtitles other than ASS/SSA du to the FFmpeg fi

[2018-12-20 21:18] SubJunk commented on #1578
@acanive yes you're right, the two things are linked via the ZenHub plugin too but I'll close it now. Thanks

[2018-12-20 21:18] #1578 closed

[2018-12-21 00:17] SubJunk commented on #1723
I have confirmed this problem, it was created in 30d7c08

[2018-12-21 01:01] #1723 closed

[2018-12-21 02:12] polygirl opened #1731 "Sample web content should display in web content panel"
*From a fresh install*
Reproduction steps:

- [ ] Install version 8.0.0.0 alpha as a fresh install
- [ ] Open Shared Content tab
- [ ] See that the web content panel is empty
- [ ] Add one manual entry and remove it
- [ ] See that the sample content populates the list

Expected:
- [ ] Web content panel is populated with sample content when first starting UMS

*With an over-install*
- [ ] After upg

[2018-12-21 02:18] polygirl opened #1732 "Removing a link from the web content panel should maintain the selection"
In Version 8.0.0.0 alpha

- [ ] Select and remove a link from the list
- [ ] See that you are scrolled to the top of the list
- [ ] Should maintain selection so that the previous item in the list is selected and the user remains at the same place in the list.

[2018-12-21 04:52] MadokaAyukawa commented on #1721
Currently, even if "Defer to MEncoder" checked, UMS does not use MEncoder for second set of files (I no longer have the first set handy to test). In fact, I haven't seen UMS defer to MEncoder in quite some time now.

[2018-12-21 05:09] Sami32 commented on #1721
Only media with ASS or Vobsub subtitles are deferred to MEncoder if the deferring FFmpeg option has not been disabled.

That is said, I don't use any UMS version after 6.7.4 so i cannot say if something have been broken sine then.

[2018-12-21 07:32] javieryi commented on #1652
Bug appeared again, logs attached:
![ums-weak-4079698_capture2](https://user-images.githubusercontent.com/4158649/50330173-8ae35480-04fa-11e9-8b9c-60149075e79b.JPG)
Memory bouncing from 140Mb to 1.7Gb or so in UMS status screen.

![ums-weak-4079698_capture1](https://user-images.githubusercontent.com/4158649/50330174-8b7beb00-04fa-11e9-9e9d-66529c6c61aa.JPG)

[UMS_7.6.3_snapshot+Mediainfo_jps.zip](

[2018-12-22 08:54] SubJunk commented on #1721
MEncoder should kick in with that file, I just tested and it does for me. Can you post logs?

[2018-12-22 08:54] SubJunk commented on #1721
@MadokaAyukawa MEncoder should kick in with that file, I just tested and it does for me. Can you post logs?

[2018-12-22 10:08] stepfr64 opened #1733 "warning ! Trojan detected on standalone x64 media server setup (fossub.com)"
Could not test the SHA value because it has been deleted by my antivirus software (microsoft defender):

webfile: E:\step\Downloads\UMS-7.7.0-standalone-x64.exe|https://download.fosshub.com/Protected/expiretime=1545479473;badurl=aHR0cHM6Ly93d3cuZm9zc2h1Yi5jb20vVW5pdmVyc2FsLU1lZGlhLVNlcnZlci5odG1s/d337e066638091c211cf377859d684e82cef397bf6f45923d981f8a6e2a634da/5b8f92b959eee027c3d78b18/5c1c41599b3b

[2018-12-22 12:03] mbentley opened #1734 "8.0.0-a1 release in GitHub not marked as a pre-release"
Would it be possible to re-mark 8.0.0-a1 as a pre-release?  I'm assuming it means alpha 1.  I have some automatic builds going on to build and distribute UMS as Docker containers and it is picking up the release as GA ready.

Thanks!

[2018-12-22 18:15] Firefds opened #1735 "HTTP Error 500 on PS3 - 7.6.0 and above"
Since version 7.6.0, the PS3 is returning a "Media center error: an HTTP (500) error has occurred" for some files (a lot actually).
The playback of these files work perfectly on 7.5.0 with the same settings.

I've attached 2 logs:
One for 7.5.0 where the file plays correctly
[ums_dbg-7.5.0.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2705435/ums_dbg-7.5.0.zip)

One for 7

[2018-12-22 18:49] MadokaAyukawa commented on #1721
Ok, so  made a thread on the forum as I don't think I can attach anything here. It used FFmpeg for me.

https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=13194

[2018-12-22 18:50] MadokaAyukawa commented on #1721
Ok, I tried again, but it used FFmpeg again.

[debug.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2705459/debug.zip)

[2018-12-22 18:53] Nadahar commented on #1721
@MadokaAyukawa You can attach pretty much anything here as long as you change/add extension. Only a few extensions are allowed, so we usually just add `.txt` to "unsupported" file types.

[2018-12-22 23:58] valib commented on #1721
@Nadahar what do you want to say? As you can see the .zip files are supported and I am able to open it without any problem.

[2018-12-23 00:20] Sami32 commented on #1721
rar. txt
7z.txt
...

[2018-12-23 00:40] valib commented on #1721
@Sami32 I don't understand what do you want to say  if you don't want excuse @Nadahar that he is wrong with the .zip format.

[2018-12-23 00:45] Sami32 commented on #1721
Lol
It seem that you didn't get any of us then ;)

[2018-12-23 00:48] Sami32 commented on #1721
You probably have missed the Madoka post, now deleted, where he was saying that he was not able to attach ahis log here i guess?

[2018-12-23 00:57] valib commented on #1721
@Sami32 I undesrstand it well. If @Nadahar says

seems that he is not able to open the .zip attachment but this is not the GItHub problem because you explained it in

https://help.github.com/articles/file-attachments-on-issues-and-pull-requests/

[2018-12-23 01:02] Sami32 commented on #1721
Nice.
That is probably why Madoka said that he was posting his log on the forum then ;)

[2018-12-23 01:05] Sami32 commented on #1721
He probably had used a 7Z file i guess.

[2018-12-23 01:11] Nadahar commented on #1721
@valib

This was posted by @MadokaAyukawa originally and then later deleted. I assumed that he deleted it because he found out that he could upload a zip file. If you look inside the attached zip file, there's only a `.log` file - so my assumption was that he originally tried to attach `debug.log` itself here.

My comment was meant to inform him that he could just name it for example `debug.log.tx

[2018-12-23 01:21] Sami32 commented on #1721
.log or 7z same same for Github ;)

[2018-12-23 01:41] Sami32 commented on #1721
@MadokaAyukawa If you mean the second file "[Tezu] Monte Cristo Haku Complete Batch [720p]", yes it is normal, as it have ASS subtitle that are the ones not trigerred automatically to MEncoder.

[2018-12-23 07:33] SubJunk commented on #1734
@mbentley that's my mistake, sorry about that! I corrected it now

[2018-12-23 07:33] #1734 closed

[2018-12-23 07:38] SubJunk commented on #1733
https://www.virustotal.com/#/file/25f5ecc9be6448ea1eeb71515438a46ebee31775b8af58a8339f2d3cb3dd3350/detection

[2018-12-23 07:39] SubJunk commented on #1733
I downloaded the file from fosshub just to be sure they didn't change the file, then uploaded it to virustotal.com and it is clean. Windows Defender has had a false positive with us before too

[2018-12-23 14:43] Sami32 commented on #1721
@MadokaAyukawa Yes, that is normal that FFmpeg engine is used and work in that case because such 10-bit H.264 need to be transcoded for your renderer.

[2018-12-23 16:43] ExSport commented on #1721
I think user knows encoding will be engaged. He don't understand why sometimes MEncoder is used and sometimes FFmpeg when UMS should DEFER to MEncoder for all files with internal subtitles.
Must say I haven't read all comments here so maybe I am wrong:)

[2018-12-23 17:41] MadokaAyukawa commented on #1721
Monte Cristo Haku and Switched will not play with FFmpeg (assuming it's because of the bug mentioned in the title of the thread). If "Defer" is checked, MCH will not defer to MEncoder since it has .ass subs, while Switched will since it has .srt subs. I would not want UMS to defer to MEncoder in all cases with subs as FFmpeg will play the majority of my files. For example, anime shows with .ass su

[2018-12-23 18:20] Sami32 commented on #1721
@MadokaAyukawa Yes, FFmpeg can display text subtitle other than ASS/SSA with shorter videos as long as the waiting delay stay in the DLNA specifications..
The ASS/SSA exception is du to the libass project library been added some years ago to FFmpeg to handle such specific case. That is why it get a proper, faster handling.
I agree that FFmpeg should be prefered when possible.

About the engine tri

[2018-12-23 21:48] SubJunk commented on #1721
@MadokaAyukawa thanks for the sample file that works, I will test it and see if I can find a way for us to detect the ones that work. Hopefully it isn't just a matter of smaller files working because they take less time to extract.

Also it occurred to me that another way to workaround this is to have a task that extracts the internal subtitles ahead of time. Now that we have the initial scanning

[2018-12-24 10:54] Firefds commented on #1735
The issue is with the subtitle settings.

As I need English subtitles for any program, I usually set the subtitles settings as *,eng
When I do that, I get the 500 error.
Other subtitles settings that don't work:

*,*
eng,eng

Basically, anything but the default eng,off;*,eng;*,und doesn't work.

[2018-12-25 20:54] MadokaAyukawa commented on #1721
This is another series that won't play with FFmpeg, but will with MEncoder. Using external .srt subs. Unfortunately, it's on a private tracker.

https://avistaz.to/torrent/93558-story-of-yanxi-palace-2018-complete-1080p-web-dl-aac-h265-cyw

Here's the MediaInfo on it, in case it's obvious from the file info.

[code]

[2018-12-25 22:15] valib commented on #1721
@MadokaAyukawa which version of the MediaInfo do you use? And is it 32-bit or 64-bit?

[2018-12-25 22:26] ASBaj opened #1736 "How to authenticate via the web interface"
Hi,

In previous versions of UMS, I was able to set a username/password for access via the web interface.

I can't find this option in 7.6.2. How can this be done?

Thanks.

[2018-12-25 22:40] valib commented on #1721
@SubJunk the extraction of the internal subs I implemented long time ago but after the FFMpeg supported the internal subs it was overridden.

[2018-12-25 22:54] MadokaAyukawa commented on #1721
It's from MPC-HC x64 1.8.3 so I'm assuming x64?

[2018-12-26 07:31] SubJunk commented on #1721
@valib that's good news, maybe we can resurrect that old code and hook it up to the scan, and I can write the cuing functionality for them. I want to do a similar thing for OpenSubtitles lookups so it makes sense to do that. Can you dig up the old implementation to start us?

@MadokaAyukawa that Bleach file took a long time to start for me with FFmpeg (from `20:23:21.175` to `20:24:06.002` so 45 s

[2018-12-26 07:33] SubJunk commented on #1721
@MadokaAyukawa about that file you posted the mediainfo for, can you upload it to somewhere I can download? It is much faster for me to see what is happening by reproducing it

[2018-12-26 08:16] MadokaAyukawa commented on #1721
@SubJunk Can a faster CPU also start the file faster? Speaking of MEncoder, I noticed you mentioned newer builds which I found. There's now a MEncoder 64-bit. Can I make UMS use that? Currently, UMS uses a 32-bit version. Would I need to change the name to a 32 at the end, even though it's 64-bit?

I don't have any online file posting currently. Let me see what I can do though it may not be fast.

[2018-12-26 12:05] valib commented on #1721
@SubJunk the subtitles extraction is still there. You can use `SubtileUtils.getSubtitles()` or `SubtileUtils.convertSubsToSubtitleType()`

[2018-12-26 21:55] SubJunk commented on #1726
This is done in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1615

[2018-12-26 21:55] #1726 closed

[2018-12-26 22:51] MadokaAyukawa commented on #1721
I vaguely remember this subtitles extraction. IIRC, one issue I had with the old implementation was that UMS did not clean up the extracted subs (I could be wrong here). If this solution is used, can these subtitles be made to also respect the following option:

# Live subtitles timeout
# ----------------------
# Number of days that live subtitles need to be keep.
# If live_subtitles_keep is true

[2018-12-26 23:12] valib commented on #1721
@MadokaAyukawa if the subs are only temporary they are deleted when the UMS is closed. For extracted subtitles I set 30 days before they will be deleted.

[2018-12-29 14:36] felsen2011 opened #1739 "8.0.0-a2 fails on parsing WEB.conf file (working in 7.7.1)"
uname:
Linux odroid 4.14.87-153 #1 SMP PREEMPT Tue Dec 11 11:33:18 -02 2018 armv7l armv7l armv7l GNU/Linux

java version:
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-8u191-b12-0ubuntu0.18.04.1-b12)
OpenJDK Client VM (build 25.191-b12, mixed mode)

log snippet:
ERROR 2018-12-29 14:22:53.098 [main] A serious error occurred during Universal Media Server initialization: nu

[2018-12-31 14:49] stasinos commented on #1679
@SubJunk  have a look at https://github.com/stasinos/ums_testcases
This has all 2-channel combinations from in UMS test cases, and can be freely copied to the UMS SVM repository.

[2019-01-02 01:11] SubJunk commented on #1739
@felsen2011 thanks for the details, I'm looking into this now

[2019-01-03 00:35] felsen2011 commented on #1739
8.0.0-b1 fails some milliseconds later, can't give you the exact timing as i didn't save the original log (sorry, will do that for this run now).

log snippet:
DEBUG 2019-01-03 00:31:27.040 [main] Added file watch at [...]**
TRACE 2019-01-03 00:31:27.311 [main] Adding new child "Web" with class "VirtualFolder"
TRACE 2019-01-03 00:31:27.311 [main] Adding new child "Pictures" with class "VirtualFold

[2019-01-03 06:54] SubJunk opened #1741 "Add a chat room to the forum"
Just a note to myself to do this as per the request at https://www.universalmediaserver.com/forum/posting.php?mode=reply&f=15&t=12399

If anyone knows of a nice PHPBB plugin for it that would make it easier

[2019-01-03 06:59] SubJunk commented on #1739
@felsen2011 that makes sense, I'll try to fix it a less lazy way ;)

[2019-01-03 11:49] felsen2011 commented on #1739
Starting up normally.
Web interface seems operational (don't use it usually)
Cache admin comes up.
DLNA Stream to my TV on first video I tried starts fine.

All these "GlobalIdRepo: id not found" Errors are gone from log \o/

I'll get back to you when sth crashes ;)

And thanks for this awesome piece of software!

[2019-01-03 11:49] #1739 closed

[2019-01-03 15:43] ExSport commented on #1721
@SubJunk @valib Is it still true for v8beta? Thx

[2019-01-03 20:33] ExSport commented on #1721
Thanks Libor for info.

[2019-01-03 21:03] SubJunk commented on #1739
@felsen2011 thanks for confirming :)

[2019-01-04 12:15] felsen2011 opened #1743 "ums-8.0.0-1b8d9bc shows audio files only in transcode folder"
Tested with *.mp3; *.oga and *.flac

Renderconfig for Samsumg-JU6400 identical in 7.7.1 and 8.0.0

INFO  2019-01-04 00:03:39.048 [main] Starting Universal Media Server 8.0.0-b1
INFO  2019-01-04 00:03:39.049 [main] Based on PS3 Media Server by shagrath, copyright 2008-2014
INFO  2019-01-04 00:03:39.050 [main] https://www.universalmediaserver.com
INFO  2019-01-04 00:03:39.050 [main]
INFO  2019-01-04

[2019-01-04 18:44] Nadahar commented on #1527
@felsen2011 It's not easy to make everybody happy. Video thumbnails are currently hardcoded to be stored no bigger than 320 x 200. If this size is increased, the database size and memory consumption would go up - which is both something many users don't want.

In addition to that, many (if not most) renderers requests even smaller thumbnails (160 x 160).

To make this happen, you'd have to first f

[2019-01-05 01:00] felsen2011 commented on #1527
Yes, I already saw that the mencoder settings were at 320.

I already suspected that it is hardcoded as I didn't find some setting in any configuration file.
Unfortunately I am by no means a Java coder, so having it as a config variable would be great ;)

If not maybe at some point when I have enough time I will nevertheless take all my C/Shell and Python coding knowledge to fix it for myself but

[2019-01-05 01:29] felsen2011 opened #1744 "Performance improvement proposal: skip thumbnail extraction for audio files"
Currently the library scanner starts a mencoder or ffmpeg instance for every media file scanned.

For audio only files this is bound to fail.

For known audio only filetypes such as mp3, oga, flac, wav, mpc ... this step could be omitted resulting in a performance increase during library scans of audio or mixed collections.

[2019-01-05 01:54] felsen2011 commented on #1743
I will try to get a TRACE output tomorrow ... didn't have it set unfortunately.

[2019-01-05 02:35] phd21 opened #1745 "Request: Ability to capture desktop video and audio and stream live as a source thru UMS"
Hello UMS developers and maintainers, and everyone else,

Happy New Years Everyone!

First, thank you UMS for providing this excellent media server application.

Request: Ability to capture desktop video and audio and stream "cast" that live as a source thru UMS to DLNA/UPnP devices.

I very much want to capture my desktop's video and audio and have that sent through UMS to my DLNA/UPnP devices. I

[2019-01-05 08:35] felsen2011 commented on #1743
Example for library scanner trace, seems to be identical for all audio files.
Currently root node listing fails so I can't test directory listing for audio files, will try again later.

TRACE 2019-01-05 08:09:29.641 [Library Scanner] Adding new child "3 Doors Down - The Better Life - 04 - Not Enough.mp3" with class "RealFile"
TRACE 2019-01-05 08:09:29.641 [Library Scanner] Getting player for resou

[2019-01-05 20:51] valib commented on #1743
@felsen2011 please follow the instruction https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=556 and send the full info. Seems like your TV is not properly recognized.

[2019-01-05 22:47] valib commented on #1743
@felsen2011 I understand that you don't want to share your file structure but what you provided doesn't help. For the testing please set shared folder to the one you can share and follow the instruction.

[2019-01-05 23:53] valib commented on #1744
@felsen2011 the library scanner works in the backgroud and doesn't prevent the renderer browsing. It a little bit slows down the standard browsing but without extracting thumbnails it has no meaning. It should speeds up browsing when the database is enabled and library scanning finished.

[2019-01-06 01:03] SubJunk commented on #1744
Why would it fail? We extract the cover art

[2019-01-06 15:14] felsen2011 commented on #1744
@SubJunk There is no video stream in audio files so it fails.

@valib it causes a lot of system load on my small arm server system and UMS is not the only service I have running on that. Also I have to regularly restart UMS because the communication between UMS and my TV stops working after some time ( I didn't have time to look into this and it will cause massive amount of logging data to do so w

[2019-01-06 15:21] felsen2011 commented on #1744
To be clear, this is what I am talking about (log extract from UMS 7.7.1):

DEBUG 2019-01-06 07:49:06.046 [Library Scanner] Starting /usr/bin/mplayer -ss 9 -quiet "[..] Lullaby.ogg" -msglevel all=4 -vf scale=320:-2 -frames 1 -vo jpeg:outdir=mplayer_thumbs:subdirs="8725622" -nosound
DEBUG 2019-01-06 07:49:06.048 [Library Scanner] Unix process ID (/usr/bin/mplayer): 20394
DEBUG 2019-01-06 07:49:06.4

[2019-01-06 15:32] Nadahar commented on #1744
@felsen2011 I case you didn't know, you can configure UMS to send the logs to a remote Syslog server if you don't have the space/don't want to wear out your SD card on the local device.

[2019-01-06 16:51] felsen2011 commented on #1744
@Nadahar you are right, apparently I though *.oga when reading *.ogg and I can't produce it for mp3 containing folders, these are all handled via MusicBrain so UMS already contains the feature I was proposing.

Sorry for wasteing your time :/

[2019-01-06 16:51] #1744 closed

[2019-01-07 02:19] MarlonMrN opened #1746 "Errors / Not playing most of files"
Hello, I'm a long time ums user, but since I started with deepin, I can't get it to work properly.

Using my samsung eh5300 tv, it tries to load the file but I got an error (file not supported or so, can't do it right now beacause i'm not at home)

Trying to use it with chrome (for playback), the file never loads, I can only see a thumbnail as a background of the player, the the circle never stop

[2019-01-08 03:20] Optimusprimeums commented on #1741
https://www.phpbb.com/customise/db/extension/mchat_extension/ or try
https://www.phpbb.com/community/viewtopic.php?t=2449531

I've use mChat before a few years ago and it worked well

[2019-01-12 01:23] SubJunk opened #1749 "2 million downloads on FossHub"
Congratulations @UniversalMediaServer/developers and contributors, we have surpassed 2 million downloads on our current primary file host! They are also still streaming in from our other sources so we have had many more than that over that time period, and that does not include the downloads via the automatic updater, so the numbers are much higher, but it felt like a good opportunity to celebrate

[2019-01-12 16:52] MarlonMrN commented on #1746
well, I just solved the problem.
It is something related to the ffmpeg (the one that comes along with ums) not propely rendering subtitles.

Solved by deleting ffmpeg and ffmpeg64 folders under ??/ums-version/linux/ directory.
And installing ffmpeg in my computer

I also installed openjfx, but I have no idea of what it is and don't know if it is required

[2019-01-13 05:50] SubJunk commented on #1746
@MarlonMrN which version of FFmpeg did you use?

[2019-01-13 08:39] felsen2011 commented on #1743
Problem persists in official Beta1 Release.

Minimal testcase debug log:
[debug.log.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2752921/debug.log.txt)

[2019-01-13 15:33] MarlonMrN commented on #1746
Also, I was having problems with the video timing, which stucked at 0:00:00 and was impossible to fast-forward, fixed by disabling transcode

[2019-01-13 15:33] #1746 closed

[2019-01-13 23:10] valib commented on #1743
@felsen2011 please try this conf.

[Samsung-JU6400.conf.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2753662/Samsung-JU6400.conf.txt)

[2019-01-17 04:04] TahomaSoft opened #1752 "Adding a Roku 4 Renderer"
# Some Roku 4 Renderer Code
I would like to contribute this little bit of rendering code for a Roku 4, but couldn't find the area in the UMS git repo for renderers.  So adding it here for now.

##  Code is:
### Roku-4640x.conf ###

#----------------------------------------------------------------------------
# Profile for Roku 3 running Network Streaming Player 6-7.
# See DefaultRenderer.conf for

[2019-01-17 04:05] TahomaSoft commented on #1752
[Roku-4640x.conf.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2767088/Roku-4640x.conf.txt)

[2019-01-18 08:09] atamariya commented on #1752
Renderers are defined in following location:
``
UniversalMediaServer/src/main/external-resources/renderers/
``

[2019-01-18 16:13] krisjenner opened #1753 "fast forward/rewind on web not working?"
This may be intentional but i find it strange how I cannot fast forward/rewind/jump to a certain time in a media file on the Chrome web interface but I can on my playstation 4?

[2019-01-18 17:26] TahomaSoft commented on #1752
Thanks.
Just created a fork.

[2019-01-26 11:32] felsen2011 commented on #1743
Problem remains

[UMS-8.0.0b1-testsetup-26-01-2019-12-30.log.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2798928/UMS-8.0.0b1-testsetup-26-01-2019-12-30.log.txt)

[2019-01-30 13:37] valib commented on #1752
@jsilverYVR you can add it to the current version.

[2019-02-02 07:10] SubJunk opened #1758 "Cloudflare"
@UniversalMediaServer/developers Our website is now using Cloudflare, which gives us extra security and our static assets should load faster as they are served via CDN. Please let me know if you notice any problems.

[2019-02-07 04:09] theafien commented on #1652
@javieryi try disable http v2 engine..

[2019-02-08 02:59] #1758 closed

[2019-02-08 03:00] SubJunk commented on #1753
This seems to be a regression in our new web interface update, I have had another user contact me about it on our forum. Any ideas @acanive ?

[2019-02-14 23:12] SsJVasto opened #1760 "UMS Web Interface no longer sends the correct format"
The renderer for Firefox seems to have changed between version 7.6.2 and 7.7.0.

I recently tried to update my UMS 6.8.0 to UMS 7.8.0.  I tried playing a file in my browser, and it sounded like 1999 (like a 52kb MP3 file).  I went back and downloaded every release between 6.8.0 and 7.8.0 and tried them one by one.  The problem started in 7.7.0, but was flawless in 7.6.2.  I included snippets of th

[2019-02-15 05:30] 444nonymous opened #1761 "8.0.0-b1 stops sending file icons after a while"
When thumbs creation is disabled, only white icons with extension labels (mkv, mpg, ...) are shown.

These default icons are not sent after a while, so the client does not show any icon. The first time you run the server, icons work ok, and rebooting it solves it.

The bug happens only (or especially) if the folder was shown before (so icons were sent at least once). Sometimes you have to turn the

[2019-02-15 11:27] valib commented on #1760
@SubJunk this is caused by PR #1702 at line
https://github.com/UniversalMediaServer/UniversalMediaServer/blob/934febe6ade50f6c9578e24fd5e2be30fcb5f175/src/main/java/net/pms/configuration/WebRender.java#L399
because the bitrate 16 kb/s for the AAC format is very low. I would recommend the part of code

[code]
delete and let the ffmpeg to create standard mp4 audio output format.

[2019-02-15 11:48] Nadahar commented on #1760
16kbps for AAC is simply a joke IMO. They have bought the hype and keep sending DAB+ (radio) in 80 kbps and 96 kbps here in Norway, and the quality is appalling so much so that I've stopped listening to radio since they shut down the FM net. I can't even imagine how terrible 16 kbps is. In my experience, 128 kbps is the absolute minimum for AAC, but higher is preferable. Using a radio with low-qua

[2019-02-15 13:16] valib commented on #1761
@444nonymous we need the log to see if the TV is asking for thumbnails.

[2019-02-15 13:22] valib commented on #1760
@Nadahar I think the 16 kbps is there since the time @SubJunk tested which format and setting will be the best for web interface. Maybe it could be 196 kbps and it is only mistyped.

[2019-02-15 21:46] SubJunk commented on #1761
@444nonymous this is a bug I get too, but it is connected to that folder no longer being available (because we cleared the global ID to free memory). Are you still able to go into those folders?

[2019-02-15 21:50] SubJunk commented on #1329
I seem to get this after turning the TV off. Log snippet:

[code]

The effect is just logspam but would be nice to fix still

[2019-02-15 22:02] SubJunk commented on #1760
Nice find @valib yes that looks like a typo. That part of the code was added 5 years ago and I think was more of an investigation.

I'll leave the aac codec in there until more testing can be done, but I have increased the bitrate to 128kbps for now.

A future enhancement should be to make it variable based on the number of channels, ideally plugging it into the same logic our renderers use, since

[2019-02-15 22:03] #1760 closed

[2019-02-15 22:53] SubJunk commented on #1664
@drakulis are you just taking a break or is this abandoned? I'm happy to leave it open if you're taking a break, no rush :)

[2019-02-15 22:55] drakulis commented on #1664
@SubJunk just a break. I have tough project right now and I have to focus on it completely.

[2019-02-15 23:03] SubJunk commented on #1664
Cool, no problem. See you when you get back :)

[2019-02-16 03:04] 444nonymous commented on #1761
@SubJunk

Sure, everithing works fine and I can play the files.

Log files (zip is rar)

[ums_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2871548/ums_dbg.zip)

[2019-02-21 21:02] SubJunk commented on #1761
@444nonymous in those logs can you let me know which thumbnails didn't load? (or new logs if you can't remember)
Also if you can let me know one that succeeded in the same logs that will make it easier to see what's wrong

[2019-02-22 14:23] 444nonymous commented on #1761
This is what I did and logged.

1. I run UMS (files are already indexed in the db)
2. I enter folder "Movies" (icons are shown)
3. I turn off and on again the TV (UMS still running)
4. I enter folder "Movies" (no icons are shown)

[2019-02-22 14:36] 444nonymous commented on #1761
@SubJunk

IE: There is a movie called "Anon (2018).mkv" in the folder "Movies".

I see 2 times: "GET /get/60/thumbnail0000PNG_LRG_Anon+%282018%29.mkv.png HTTP/1.1"

Because I entered the folder twice. Only the first time icons are shown.

Now, is the server response exactly the same the 2 times? I'm not sure, I can't understand that part.

[2019-02-23 15:52] felsen2011 commented on #1743
Problem still exists in RC1

Videos work fine in every way.
Audio files are only listed in transcode folders.

I deleted the media database prior to this test to get a fresh start.

[UMS-8.0.0-RC1-testsetup-23-02-2019-16-49.log.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2896961/UMS-8.0.0-RC1-testsetup-23-02-2019-16-49.log.txt)

[2019-02-24 07:09] SubJunk commented on #1743
@felsen2011 thanks for the update. Can you try in the web interface please? Also did it work in the past, and if so which version?

[2019-02-24 22:05] felsen2011 commented on #1743
@subjunk
Web Interface works just fine.

It did and does work with all versions of the 7.x branch (7.9.0 yet untested) on all tested devices.
It never did work with the 8.x branch on my Samsung TV.

[2019-02-24 22:13] felsen2011 commented on #1743
Quick test of 7.9.0 with my live system on the Samsung TV: audio file listing working and playback starts w/o problems

[2019-02-25 16:27] MediaMania1 opened #1766 "Request - voice control"
I am pretty new to Alexa, Skills and UMS (in fact I have not yet installed UMS).  I have been using Serviio free version as a media server to send films to my Panasonic TV from my PC.  I recently purchased some Echo Dot devices for voice control and they are supposed to work with other media servers that UMS has been compared to, IF you download the Alexa Skill and upgrade to the PAID version of e

[2019-02-27 13:21] pipin77 commented on #1624
Just a feedback:  subtitles still not working without a restart. as mentioned in the thread i'm pretty sure it worked before (but it could be a very old 5.x version)

[2019-02-28 18:13] binnie101 opened #1767 "Trouble displaying videos to Samsung TV"
my UMS used to work perfectly before, however now when I select the video I want to desplay on my Samsung TV and press play nothing happens at all and the video is not displayed. I tried restarting my computer, turning off the TV and back on, and tried downloading the new version of UMS but nothing has changed.
[ums_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/291631

[2019-03-02 07:48] SubJunk commented on #1743
@felsen2011 can you please try this version? I fixed a problem with audio files but not yours specifically, but it would be nice to see if it affected your issue. https://www.spirton.com/uploads/UMS/UMS-8.0.0-e366470.tgz
Also since your are using Linux I recommend checking if there are updates for MediaInfo since UMS v8 is designed to work best with the latest version

[2019-03-03 10:50] felsen2011 commented on #1743
@SubJunk The behaviour as seen by my TV is still the same.
[UMS-8.0.0-e366470-03-03-2019-11-21.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2922998/UMS-8.0.0-e366470-03-03-2019-11-21.txt)

Current mediainfo version of Ubuntu 18.04 armhf (which I am using a derivative of) is:
17.12-1
Unfortunately package builds for arm platforms are always a little behind current develop

[2019-03-05 14:48] jfaoe opened #1769 "Asus Notebook JFARRasus Windows Media Player Can't stream"
My windows media player:http://go.microsoft.com/fwlink?/fwlink?/.? linked=105927 IP address is ::1.Do I need to get a browser?

[2019-03-06 13:34] acanive commented on #1753
Let me do some tests, I think I know where the problem is.

[2019-03-06 16:06] atamariya commented on #1766
I looked some more into the Alexa API. There's a basic requirement to make the media available via publicly available HTTPS server. Hosting an HTTPS server costs money. Plex uses subscription model to cover for the cost. Is that a model UMS users would be interested in? The other option is to use port forwarding which is too technical for most users.

[2019-03-06 16:34] MediaMania1 commented on #1766
Hi and thank you atamariya for your answer here and on UMS forum https://www.universalmediaserver.com/forum/viewtopic.php?f=13&t=13437&p=39056#p39056
So what we would need is a hosting server service with https costing a few hundred $ a year and then maybe modify UMS to work with https and then an Alexa skill? Then sell the service to 100 people at $5 a year to break even ? any more subscribers an

[2019-03-07 00:26] valib commented on #1766
@MediaMania1 this project is an open source and I think that we coudn't do any changes whose will force users to pay for something. If adopting your request would require that than it is unexceptable.  But this is only my opinion and @SubJunk as an owner of this project may have a different approach.

[2019-03-07 05:34] atamariya commented on #1766
@MediaMania1 Alexa (even Google Home) is, except for its extensive ecosystem, just a microphone and loudspeaker in a shiny package with some speech-to-text and text-to-speech capability. You are right that this could be achieved using Dragon Naturally Speaking or even with the voice recognition built into Windows, iOS or Android. In fact, I had developed an [android app](https://hackaday.io/projec

[2019-03-07 07:26] SubJunk commented on #1766
@MediaMania1 we already have a fairly powerful web server that serves the UMS website and could be used for other things if we wanted. If there is interest in developing something like that, I can give access to the server.

Since we already have a web server to use, we don't need to cover costs for that feature, so there is no need to charge for it. If it ends up using too much bandwidth that mig

[2019-03-07 07:43] SubJunk commented on #1743
I have confirmed that MP3 files work on my TV in 8.0.0 so it must be something quite specific.

You have provided us with some nice logs for 8.0.0 that show what we send to your TV but we don't have that for the one that works (v7), please provide that for comparison

[2019-03-08 13:14] al3xxx opened #1770 "No active moderator on Linux support forum?"
Hello,

I've started new topic about 3 days ago and it still doesn't show - not approved.

On topic - Is there a way to get more log verbosity then trace? I'm getting segfault on start about 20 sec after GUI show and nothing in the log that can give any idea on whats wrong.
(tried 3 different JRE - 7 oracle, 8 oracle, 8 openjdk, 10 openjdk)

[debug.log](https://github.com/UniversalMediaServer/Univ

[2019-03-09 04:58] SubJunk commented on #1642
I did some more work on this this weekend but unfortunately didn't finish yet. I will keep working on it though.

[2019-03-09 07:26] SubJunk opened #1772 "See if pngencoder would be a good alternative to ImageIO"
Its benchmark stats seem impressive: http://objectplanet.com/pngencoder/

[2019-03-09 07:27] SubJunk commented on #456
I think this is done

[2019-03-09 07:27] #456 closed

[2019-03-09 08:02] SubJunk commented on #1642
@ExSport I have pushed my progress to https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1773
Basically the approach is to define the JPEG_LRG and PNG_LRG maximum resolutions as `100000` by default but let renderers set their own values for it, so renderers that follow the DLNA spec closely would use `4096`.

[2019-03-09 11:13] ExSport commented on #1642
Hi @SubJunk. Don't have ntb here (I am just at parents house where I can test it) so may I ask for win build?
Thanks 😉

[2019-03-09 11:59] MediaMania1 commented on #1766
@SubJunk   You know 30 odd years ago I learned to code HTML, PHP, Z80 machine code, 6809 machine code and others and I may have taken up the challenge, sat down and learned the coding (Java or C++ ? ) but the little grey cells these days do not absorb enough at a fast enough rate and retain it.  I will have to leave it to more knowledgeable people like @atamariya

[2019-03-11 03:31] SubJunk commented on #1642
@ExSport yes, I can make it in 2 days since I'm away from my build computer too :)

[2019-03-11 04:16] atamariya commented on #1770
What's the output of following command?
`/usr/bin/tsmuxer -v`

[2019-03-11 10:41] al3xxx commented on #1770
`Network Optix tsMuxeR.  Version 2.6.11. www.networkoptix.com`

I tried with AUR tsmuxer as well as with bundled tsmuxer binaries - same outcome.

[2019-03-11 11:09] ExSport commented on #1642
Thx. Will test when I will be back again :)
Btw. installed 8.0 RC1 and spotted:
``
16:51:45 TRACE Converting input stream image source to SOURCE format and type DLNAThumbnail using the following parameters: ScaleType = MAX, Width = 320, Height = 320, PadToSize = False
16:51:45 TRACE Image conversion DLNA compliance check for JPEG_RES_320_180: The source image colors are compliant, format is non-co

[2019-03-11 13:01] valib commented on #1642
@ExSport the UMS is offering more resolution alternatives but transcoded is the only one which is choosen and requested by renderer.

[2019-03-11 15:09] atamariya commented on #1766
@MediaMania1 @SubJunk isn't asking you to code. He's just offering to provide a webserver in case folks are interested in Alexa skill for UMS. You see, you are the only one who has expressed such desire so far :)

I now have a working PoC for Alexa skill. Since Alexa can only talk to one endpoint, that will be @SubJunk's server on web (WEB). A user has to create a tunnel between local server at ho

[2019-03-11 15:38] Nadahar commented on #1642
@ExSport You are correct that this image will be converted regardless of resolution because of the non-standard Huffman tables. It doesn't matter what the renderer supports, the whole idea is that DLNA defines a number of standard properties of a certain media profile. Media announced with the given profile has to comply with the requirements of said profile. All DLNA certified renderers are then

[2019-03-11 16:04] ExSport commented on #1642
Thanks guys. It was my question. There are some very strict policies which must be met but in most cases renderers support is more wide so e.g. picure resolution is not limited to DLNA specs, more Hufmann tables are supported so user tries to limit transcoding but DLNA server tries to offer the most compatible media what incur unnecessary transcoding and major slowness. In past there where options

[2019-03-11 16:14] Nadahar commented on #1642
As I see it it's very simple. If you announce a media as DLNA compatible, it *has* to comply with the standard. If you don't (and annouce it according to UPnP using mimetype only), it can be whatever. The reason is that it's not only about what the renderer supports, the DLNA spec is supposed to be something the renderer can trust, so that the renderer isn't even required to analyse the media but

[2019-03-12 07:21] MediaMania1 commented on #1766
@atamariya @SubJunk  No I realise that he was not expecting me to code but years ago I would have jumped at the chance and the challenge.

[2019-03-12 08:37] ExSport commented on #1642
Thx Nadahar.
Forgot to ask. UMS offers more thumbs sizes. What thumb resolution is created in db at time of scanning? I suppose some greater one which can be downscaled at time renderer asks for specific one, right? Or is there one size only? Thx

[2019-03-12 10:32] Nadahar commented on #1642
@ExSport You are correct, thumbnails are only downscaled. The size stored in the database varies somewhat by the type of media, I think I originally limited it to 640 x 640 for audio files and 320 x 320 for everything else, but I don't remember if these limits have since been decreased. The reason is that the thumbnails use a very significant part of the database size, so that decreasing the max s

[2019-03-12 10:41] ExSport commented on #1642
Great, thanks. It was my point. Storing optimal thumb size for optimal size of db and also possible slowness at time of browsing when UMS must downconvert them. If it is negligible, great and good to know as I already know downscaling of full image is drastically slow with ImageIO and happens unnecessarily in most cases due to a few additional pixels above 4096px limit :)

[2019-03-13 02:34] SubJunk commented on #1642
@ExSport thanks, I will also make that image compliance check renderer-specific in the same branch :)

[2019-03-14 05:20] atamariya commented on #1766
@SubJunk can you add two pages - one for "security and privacy", and another one for "terms of use" - to universalmediaserver.com . These are required for getting the skill certified.

@MediaMania1 would you be interested in beta testing Alexa skill for UMS? If yes, send me your email id.

[2019-03-14 11:37] MediaMania1 commented on #1766
@atamariya Here in the forum or is there a way of pm-ing you?

[2019-03-14 11:54] MediaMania1 commented on #1766
@atamariya or I have just seen the Windows pre release version https://www.fosshub.com/Universal-Media-Server.html?dwl=UMS-7.9.0.exe

[2019-03-14 12:22] atamariya commented on #1766
@MediaMania1 you can DM me in the forum at https://www.universalmediaserver.com/forum/ . We are far from making an official release. So far it's just a PoC. Once we have the base ready, more developers can join in as I've realized it involves quite a steep learning curve. You can make a build on your own from my dev branch https://github.com/atamariya/UniversalMediaServer/tree/alexa or I can creat

[2019-03-14 14:10] MediaMania1 commented on #1766
@atamariya I never did learn Java. It would have to be supplied to me and then I could test and report back.

DMd you

[2019-03-15 04:05] SubJunk commented on #1642
@ExSport I had 5 mins spare to make you this build with some uncommitted code I'm working on if you want to try it https://www.spirton.com/uploads/UMS/UMS-ExSportTest3.exe

[2019-03-17 12:38] felsen2011 commented on #1743
@SubJunk
Log of the same testsetup with working UMS 7.9.0:
[UMS-7.9.0-testsetup-17-03-2019-13-35.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/2975134/UMS-7.9.0-testsetup-17-03-2019-13-35.log)

[2019-03-20 06:14] atamariya commented on #1766
@MediaMania1 Here's some steps to setup your machine for Alexa.

- [Here's](https://drive.google.com/open?id=1FqxXyd1eUYjAUELselZ5MFtC7pXq9XWC) a UMS windows version for you. You should unzip it and then run ums.bat inside the folder.
- Hope the email that you provided me is the one that is registered with Alexa. If not, I'd need that email address.
- You need to provide me a public url. You can u

[2019-03-20 11:30] MediaMania1 commented on #1766
@atamariya  Thanks for all your work on this.  I have DM you with Alexa email. Get back to you with a public url once I work it out.  I have set up an account with ngrok and downloaded ngrok. Need to move that to my server and set it up (not sure what I am doing there).  (I'm new to all this - and beginning to feel as thick a 2 short planks).

What I want to use this for mainly is to automate send

[2019-03-20 12:01] MediaMania1 commented on #1766
@atamariya A question (or 2).
Do I need to uninstall my existing UMS before installing the new version?
Should I wait in case you need to make any changes to incorporate my second paragraph above about FILMS?

[2019-03-20 12:40] atamariya commented on #1766
@MediaMania1 UMS being open-source, we cannot include proprietary pieces into the software for distribution. On the plus side, you can choose any tunneling solution that you wish rather than me dictating. ngrok, in this case, is making your server available on the internet via a public url. All the paid software will be doing this behind the scenes as Alexa can only access public urls.

You don't

[2019-03-20 13:13] MediaMania1 commented on #1766
I dm'd you regarding ngrock.
It seems to have started an 8 hour session.  If the https://2e4c.......etc is the public url does this mean it will stop after 8 hours?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: atamariya <notifications@github.com>
Date: 20/03/2019 12:40 (GMT+00:00)
To: UniversalMediaServer/UniversalMediaServer <UniversalMediaServer@noreply.gith

[2019-03-20 13:34] MediaMania1 commented on #1766
Mt PM's on the forum seem stuck in my outbox although they said sent successfully they have not moved to my SENT box. Not sure it you received.

[2019-03-20 15:27] MediaMania1 commented on #1766
@atamariya Hi
I am not going to be using ngrok. The reason is that every time you reconnect to ngrok you will get a different external URL unless you PAY for an account.  You would be continually updating the URL in the skill every time that happened. I am going to try Serveo https://serveo.net/ as soon as I can work it out I will send you my external URL.   They supply a fixed URL.

[2019-03-21 00:03] ExSport commented on #1642
Hi @SubJunk
Thanks for build.
What I spotted is that UMS regenerates thumbs (DB) every UMS restart as it is not found in DB:
[code]
Other behavior is that TV doesn't show size of the picture/content length (it shows 0KB on TV) as the picture is still transcoded (Serviio ignores HUFFMAN tables and resolution compliance so pictures are sent without transcoding).
Btw. I shared 495 pictures only what

[2019-03-21 06:40] SubJunk commented on #1642
Cool thanks, I can do more work on it tomorrow as I should have a few solid hours (for the first time in weeks)

[2019-03-21 06:44] SubJunk commented on #1766
@atamariya yes I can add those pages, can you let me know what they should say or will a generic text be ok? Sorry for the late reply

[2019-03-21 16:05] MediaMania1 commented on #1766
@atamariya   Hi A.

Sorry for the delay in getting set up for testing.  I didn't want to use ngrok because although it is very easy to use, the url that you get does not last forever. Each time you start a session you get a different url and sessions are timed.  So, I wanted to use Serveo because once you get a url that's it. Trouble is I cannot understand how to set it up!!  Take a look at their

[2019-03-21 17:16] MediaMania1 commented on #1766
@atamariya See above post before reading this.
I installed putty and ran from a CMD line
putty.exe -ssh -R 80:localhost:5001 serveo.net and it came back with
https://amicus.serveo.net
I assume that is my URL

Now another problem.  I could not see how to make sure UMS was not running (I went to computer, manage, services but it was not listed there) so I uninstalled UMS. Then,  I unzipped docker an

[2019-03-21 17:26] Nadahar commented on #1766
@MediaMania1 Their instructions are meant for Linux. Lots of software these days doesn't bother to explain other OS'es, especially software that isn't targeted end-users. "Terminal" means command line, shell or whatever you want to call it. It simply means a text-based non-graphical UI where you write commands.

It might  be that putty can do what you need, I don't know. I guess you can also insta

[2019-03-21 18:59] MediaMania1 commented on #1766
@atamariya
I installed putty and ran from a CMD line
putty.exe -ssh -R 80:localhost:5001 serveo.net and it came back with
https://amicus.serveo.net
I assume that is my URL

UMS is not running as I uninstalled it but the docker prog you sent me does not install UMS when I run ums.bat as an administrator.  Is there an error in the java in the batch file? I do not know java so I cannot help unless th

[2019-03-21 21:43] SubJunk commented on #1743
@felsen2011 thanks a lot, I'm comparing them now

[2019-03-21 22:01] SubJunk commented on #1743
Ok I see we have a bug with our file support recognition in v8 which will need to be fixed, which means it is being transcoded when it shouldn't be. I'm working on that now

[2019-03-22 00:39] SubJunk commented on #1743
Ok I think there are two issues here. One is the old MediaInfo version, and the other is the renderer configuration file... that's my current theory anyway.
Can you try manually updating MediaInfo from https://mediaarea.net/en/MediaInfo/Download/Ubuntu ? You might also need to recreate the database/cache if you have that enabled

[2019-03-22 03:27] SubJunk opened #1774 "Include MediaInfo for Linux"
There are a few different MediaInfo releases for different Linux versions but they're all pretty small and they should compress nicely so I think we could include them all in the Linux download and then detect which one to use. It might reduce headaches for Linux users related to having old versions

[2019-03-22 03:33] atamariya commented on #1766
@SubJunk Generic text is fine.

@MediaMania1 You made good progress. Serveo seems to be providing classic tunneling solution. That's fine too. I've registered your url with the skill. You should be able to invoke UMS skill now (Alexa command: ask ums to play something). It should ask you to log in. But it won't do anything more till your UMS is also running.

My package is not supposed to install

[2019-03-22 04:00] SubJunk commented on #1743
@felsen2011 sorry for the spam but as a follow up I'm interested to know whether you are willing to test https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1774 if I make a test for it. That would help a lot and would prevent this kind of bug

[2019-03-22 09:25] MediaMania1 commented on #1766
Ok so reinstall normal ins but do not run it and then run the batch file ums.bat.  Is there any particular place I should unzip the docker folder to because is has the renderers list and the web folder?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: atamariya <notifications@github.com>
Date: 22/03/2019 03:33 (GMT+00:00)
To: UniversalMediaServer/UniversalMediaSer

[2019-03-22 10:39] atamariya commented on #1766
You can unzip it in any location.

[2019-03-22 15:54] ExSport commented on #1642
Thanks @SubJunk
Waiting for a new test build from you :)

[2019-03-23 10:29] felsen2011 commented on #1743
@SubJunk I wouldn't have started this thread if I wasn't willing to help ;)
Just to clarify ... I am using UMS on a small one single board computer with an arm core.
Therefore I need all software compiled for "armhf". Thats also the reason why I cannot use tie standard repositories such as https://mediaarea.net/en/MediaInfo/Download/Ubuntu
I tried to manually compile and install the newest MediaIn

[2019-03-23 11:06] Nadahar commented on #1522
@SubJunk It seems that you closed this for the same reason (#1609) once again. It still doesn't fix it.

[2019-03-23 14:41] MediaMania1 commented on #1766
@atamariya  I reinstalled UMS and unzipped the docker files to a docker directory within the ums directory then ran the batch file ums.bat in the docker directory. It opened what looked like to be a CMD window and closed it before I could see anything but UMS would not work. I tried Alexa ask ums to play xxxxx and Alexa ask universal mediaserver to play xxxxx but it said it could not find xxxxx.
S

[2019-03-23 15:47] Nadahar commented on #1766
Make sure that java.exe (and javaw.exe) is on your `$PATH`.

[2019-03-23 17:59] MediaMania1 commented on #1766
@atamariya OK. I think it matters where it is unzipped because it could find java.  I found that the standalone version of UMS has the java in C:\Program Files (x86)\Universal Media Server\jre-x64\bin. I added that directory path to system windows system variables, paths and then rerun ums.bat.

Now although it ran and started ums from the language selection set up I noticed that there were errors

[2019-03-24 02:58] atamariya commented on #1766
@MediaMania1 Since UMS runs on java, I thought you had the JRE installed. I totally discounted the fact that there's a standalone version of UMS as well. My bad. Also, I shouldn't have said ANY location is fine for unzipping. SYSTEM folders (Program files or Windows), are definitely a bad place for user modification. Modification inside system folder requires admin privileges. Hence the reason for

[2019-03-24 10:54] MediaMania1 commented on #1766
@atamariya
Hi
I unzipped docker on drive F. Renamed logless.headless.xml to logless.xml and ran ums.bat and it gave some errors before opening the UMS configuration "Please select a language" box. It also created debug.log.prev, debug.log, ums.conf and ums.cred in the docker folder.
The DOS running info is here:

F:\Family Storage\Downloads\UMSdocker\docker>java -XX:+UnlockExperimentalVMOptio
ns -

[2019-03-24 17:58] aldrinpscastro opened #1775 "UMS trancode instead muxe codec with ffmpeg."
UMS trancode instead muxe codec with ffmpeg.

e.g. A file in mkv has h264 and ac3 codec. But chromecast do not support ac3 codec. The UMS transcode the video and the audio, instead transcode only audio in that the chromcast do not support with ffmpeg. I think a waste of cpu.

[2019-03-24 18:01] aldrinpscastro opened #1776 "Improve responsiveness of web interface for phones"
Web Interface do not responsible to best browsing in smartphone.

[2019-03-25 03:30] atamariya commented on #1766
@MediaMania1 Don't worry about that error in the log. It's just java being unable to handle path with spaces. You can click on "Select" in the dialog box and continue normally.

[2019-03-25 10:20] ExSport commented on #1642
@SubJunk Last few hours at parents house and then no chance to test anything for another few weeks...

[2019-03-26 12:26] MediaMania1 commented on #1766
@atamariya Having touble with Alexa finding the UMS skill. I have send you a PM on UMS forum

[2019-03-27 08:22] SubJunk commented on #1766
@atamariya I've added two pages:

https://www.universalmediaserver.com/privacy/
https://www.universalmediaserver.com/termsofuse/

Let me know if you'd like any additions or changes.

[2019-03-27 11:19] atamariya commented on #1766
@SubJunk Thanks for adding those pages. Can you also check why the PM on the site gets delayed? The messages are stuck in outbox for long.

[2019-03-27 11:47] ExSport commented on #1766
If I remember right it sits there until it is read by user. At that time it is moved to Sent.

[2019-03-28 20:14] radpopl opened #1778 "UMS 8.0 - vertical images aren't rotating"
Camcorder SONY HX-9V
Playstation 4
Panasonic Viera P42-G20E

Vertical image looks thats that:

![IMG_20190328_132352](https://user-images.githubusercontent.com/11005341/55189447-3eb14b80-519e-11e9-953d-2a929dd823c7.jpg)

Original file:
![2019_03_09 15_25_40](https://user-images.githubusercontent.com/11005341/55189473-4a9d0d80-519e-11e9-8f41-764372bb288a.jpg)

PS. Using Windows Media Player as Medi

[2019-03-28 21:27] SubJunk commented on #1743
@felsen2011 I see, thanks for clarifying. In that case, until you can get MediaInfo updated, the second fix that I hope will work is to replace the renderer config file with https://github.com/UniversalMediaServer/UniversalMediaServer/blob/4c78121e06bb7cc41946e5267cf18570af6f1b59/src/main/external-resources/renderers/Samsung-JU6400.conf

[2019-03-29 23:32] valib opened #1780 "Audio files are not stored in the Media Library"
@SubJunk I don't know when this bug started but for me the Audio subfolders in the Media Library are empty even if I browse folders where audio files exist.

[2019-03-30 01:28] SubJunk commented on #1780
I can reproduce it, working on it now

[2019-03-30 04:37] SubJunk commented on #1780
The code that inserts that metadata into the database is running but failing, that's where I got to but ran out of time. Will do more soon

[2019-03-30 07:15] SubJunk commented on #1780
@valib it's caused by h2database `1.4.197` (and continues in `1.4.198`), so we can fix it by rolling back to `1.4.196`. Not sure if it's because we are using it wrong or it's a bug with h2

[2019-03-30 07:19] SubJunk commented on #1780
Fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/commit/8e9e63ce08316083517ea3f2a15aa7aac4a2b430

[2019-03-30 07:19] #1780 closed

[2019-03-31 03:21] SubJunk opened #1781 "Simplify macOS setup"
At the moment we have a disk image or a wizard installer, but something I've seen programs doing which is cool, is the program checks whether it's being run from the applications directory and if not, offers to move itself. If we can do that we would have the best of all worlds

[2019-03-31 14:47] felsen2011 commented on #1743
I managed to compile and install the 18.12  libmediainfo shared object but didn't improve things:
[UMS-8.0.0RC1-testsetup-mediainfo1812-31-03-2019-16-35.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3026709/UMS-8.0.0RC1-testsetup-mediainfo1812-31-03-2019-16-35.log)

UMS 7.9.0 still works with the new libmediainfo.

UMS 8.0.0 RC1 works with the new renderer config \o/

[2019-03-31 15:56] felsen2011 commented on #1767
Have you tried deleting the media database and have it created anew?

[2019-04-02 14:45] msaqib opened #1782 "Compilation errors on MS Windows 10"
Hi
I followed the instructions on [this page](https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/BUILD
) to build UMS on Microsoft Windows 10. I have javac version 11.0.2 and maven version 3.6.0 on Windows 10 x64. All went well until I gave the command "mvn package". I got the following compilation errors:

`[ERROR] COMPILATION ERROR :
[INFO] ----------------------------------------

[2019-04-02 20:33] valib commented on #1782
@msaqib The UMS code is compatible with Java 7 and 8. @Nadahar described problems with the new Java versions several time here in other topics.

[2019-04-02 20:37] #1782 closed

[2019-04-03 04:21] msaqib commented on #1782
Oh, sorry about that. I searched the forum using the wrong keywords, I guess.
Thanks so much.

[2019-04-03 14:49] Nadahar commented on #1782
I'd like to add that although I've explained the problems with Java > 8 multiple times, you shouldn't expect users to know this. For most people the expectation is that the latest versions of software is the "best", and many people aren't aware of Oracle's cynical games to extort money from those that rely on them. At the very least I think you should update the Wiki and state what JDK's can be us

[2019-04-03 15:38] MediaMania1 commented on #1766
@atamariya
Hi, Has anyone else manages to get ums alexa working?

[2019-04-03 23:24] valib commented on #1782
@Nadahar thanks for the comment. I updated the Wiki in the Windows part to recommend to use the Java 8.

[2019-04-04 21:34] SubJunk commented on #1782
Also updated https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/BUILD.md#1-download-and-install-the-java-8-jdk

[2019-04-04 22:19] valib commented on #1782
And I updated Wiki accordingly.

[2019-04-05 02:18] SubJunk commented on #1766
@atamariya yes like @ExSport said, that just means it hasn't been read yet

[2019-04-05 08:56] ExSport commented on #1642
@SubJunk are my findings about buggy DB behavior related to H2Database versions you spotted few days ago? What about the rest, picture transciding due to non-standard huffman tables which are ok for renderer but not for UMS? 😊
Thx

[2019-04-05 14:03] Nadahar commented on #1642
I'd just like to add that this is wrong. UMS doesn't care about huffman tables DLNA does. Although your renderer doesn't need the standard huffman tables, other renderers probably do. How do you tell which ones does and doesn't? The whole point with DLNA is to standardize these things, so that as long as you stick to the standard, it works.

That said, I can't express how wrong I think the authors

[2019-04-05 14:36] ExSport commented on #1642
@Nadahar Sure, I know it is not UMS fault. I know UMS do it for my pleasure, that all pictures will be visible on the renderer so it forces transcoding for sure. I directed my comment to the option to override it. There are some file property checks for DLNA compliance and if it doesn't fit, UMS transcodes it. For the end user, if he tries UMS and Serviio, he completely uninstall UMS after a while

[2019-04-05 14:56] Nadahar commented on #1642
UMS doesn't support DLNA for anything else than pictures, despite it being claimed. It's the reason why many things fail to play on many devices, and there's a ton of hacks and specialized settings to get around it. As I see it this is a failed strategy that will only become more and more complicated and broken the more "special cases" you implement workarounds for. It works, in a way, for a limit

[2019-04-05 15:26] ExSport commented on #1642
Thanks for deep insight into the DLNA/UMS behavior and standards.
Now I understand. So then forcing basic upnp behaviour for pictures per renderer config should be ok, without any hacks to DLNA PN compliancy. Sure, it will not help to the general user as UMS may be much slower with specific files compared to e.g. Serviio but "informed" user can make changes to have performance like competition 😊

[2019-04-05 18:32] Nadahar commented on #1642
@ExSport That would depend on how it was implemented. Using UPnP for images could be the default, it could be determined by `GetProtocolInfo` or it could be controlled by the renderer configuration. Both could also be offered. There's a flag that indicates if a resource is transcoded or not, so well behaved renderers are supposed to pick the non-transcoded version if it's compatible. Using this, i

[2019-04-06 06:46] ltGuillaume opened #1786 "folders_ignored does not work"
Unless I have misinterpreted the option itself, **folders_ignored** does not succeed in hiding the specified folders.

I have set the following in UMS.conf (A: is a RAM-drive):
[code]

Unfortunately, neither A:\Temp, nor A:\DefaultBox are ignored: they still show up when browsing and I can browse through all its subfolders. There is no entry related to it in the Log (set to "All"), so no use in po

[2019-04-06 07:17] SubJunk commented on #1786
@ltGuillaume thanks for your post. I will look into fixing it. In the meantime if your example is real, you could do `folder_names_ignored = Temp,DefaultBox` for probably the same effect. The only difference is that will ignore all folders with those names.

[2019-04-06 07:27] SubJunk commented on #1642
@ExSport sorry I haven't had any extra time to work on this. The code approach I took initially was wrong so I need to start it a different way. I have found the code pretty hard to understand so it has taken longer than usual for such a simple thing.
The strategy will be the same as I described - by default we will behave like Serviio but renderer profiles can enable more strict settings if they

[2019-04-06 07:31] ltGuillaume commented on #1786
Thx for the quick reply. I already tried that, but it wouldn't work, either.

[2019-04-06 07:33] SubJunk commented on #1786
That's unexpected since I have tested that one. Can you please attach the debug log zip? If privacy is an issue feel free to message me on the forum

[2019-04-06 07:37] ltGuillaume commented on #1786
Oh wait, it wasn't like that: the result when removing `A:\\`, leaving `folders_ignored =Temp,DefaultBox` was that no folder at all was listed afterwards.

[2019-04-06 17:09] ltGuillaume commented on #1786
When using `folders_ignored =Temp,DefaultBox `:
[code]

When using `folders_ignored =A:\\Temp,A:\\DefaultBox `:
[code]

[2019-04-07 14:13] felsen2011 commented on #1743
UMS 8.0.1 Working out of the box

[2019-04-07 14:13] #1743 closed

[2019-04-08 21:25] begleysm opened #1788 "virtual_folders can't handle multiple parameters"
I am admittedly very new to UMS but I believe I've found a bug.

I am attempting to implement two virtual folders.  The UMS.conf file says that the format should be:
`VFolderName1|Folder1Path,Folder2Path;VFolderName2|Folder1Path`

The line in my UMS.conf is:
`virtual_folders = TV\\ Shows|/mnt/media/Video/TV_Shows;Web\\ Shows|/mnt/media/Video/Web_Shows`

After saving UMS.conf and restarting UMS the

[2019-04-09 05:31] ExSport commented on #1788
[code]
It means:
[code]
As the slash is a special character on both Windows and Linux I don't suppose you can use it in the name of virtual folder.
Btw. be prepared that concatenated physical folders into virtual ones are not ordered per settings (alphabetically,...)
You will see them as an independent blocks. I think this "bug" was never fixed from time of first implementation.

[2019-04-11 09:13] SubJunk commented on #1786
Sorry I should have been more clear, `folder_names_ignored` is a different setting, not `folders_ignored`.

Please try `folder_names_ignored = Temp,DefaultBox`

[2019-04-11 12:24] ltGuillaume commented on #1786
Oh, wow, totally missed that you used a whole different setting, sorry. That one wasn't even present in my `ums.conf`, either (it was based on either v7.9.0 or an early v.8.0.0), that's why I missed it.

I just tested it and it indeed works perfectly. Thanks! I guess `folders_ignored` is still not, though...

[2019-04-11 13:07] ExSport commented on #1788
I used virtual folders years ago as the is buggy ordering so can't say how it works.
But if I remember right it worked but I never used slashes for virtual names. It is worth a try. Maybe slashes works only in case you will not combine them with ";" or more probably there is a bug as you say 😊

[2019-04-11 17:17] valib commented on #1788
There is a bug I am working on it. @begleysm you can use VirtualFolders.conf instead.

[2019-04-11 17:53] ExSport commented on #1788
Yay, now I see. In past I used virtualfolders.conf (json if I remember right) and missed you are doing it via ums.conf. 😇
Sorry for misunderstanding.

[2019-04-11 17:58] begleysm commented on #1788
Thank you (both) for the follow up.  I briefly tired VirtualFolders.conf without success.  I'll go back and attack that method again.

[2019-04-11 22:17] #1788 closed

[2019-04-11 22:36] valib commented on #1788
@begleysm I agree with @ExSport that using back slashes in the virtual folder name is nonsens. Fortunatelly the code ignores that. In the virtual folder name you cannot define virtual subfolders. The virtual folder name is shown in the root UMS folder and there is no way to define its subs folders which are in fact parsed automatically.

[2019-04-11 23:01] SubJunk commented on #1788
The fix is merged now and I'm planning the 8.0.2 release either this week or next week which will include it

[2019-04-11 23:13] SubJunk commented on #1786
Thanks for confirming that works at least. Hopefully it can be a workaround until we fix `folders_ignored`

[2019-04-11 23:50] begleysm commented on #1788
Awesome!

Regarding the slashes.  I didn't intend no having "slashes" in the virtual folder I wanted a space.  The examples don't show cases with spaces so I guessed and wrote the name as "TV\ Shows" with the intention of getting "TV Shows".

It automagically got changed in the config file to "TV\\ Shows" but ended up displaying correctly as "TV Shows" so I left it alone.

I'll try doing
`virtual_

[2019-04-15 09:17] NoName805 opened #1790 "portrait photos fail"
I view my portrait photos via UMS on PS3 / PS4 will have some problem, please check below.

real photo
![螢幕擷取畫面 (2)](https://user-images.githubusercontent.com/22463334/56121006-de921600-5fa1-11e9-9dfc-10cfd089acbd.png)

view on ps4 via ums
![螢幕擷取畫面 (1)](https://user-images.githubusercontent.com/22463334/56121056-ef428c00-5fa1-11e9-84bc-5c0edcc57347.png)

the debug pack under attached
[ums_dbg.zip]

[2019-04-15 10:45] Nadahar commented on #1790
According to your log, UMS has found the image to be 5504 x 3096. If this is correct, I guess the image has scaling via metadata to make it into a portrait. It would be helpful if you could post the image itself.

[2019-04-15 12:09] NoName805 commented on #1790
Sure, thanks
![DSC_0002](https://user-images.githubusercontent.com/22463334/56131566-608e3900-5fba-11e9-9c55-10a5d082117f.JPG)

[2019-04-15 13:44] Nadahar commented on #1790
@NoName805 I think I see the problem now, the resolution is actually 5504 x 3096 pixels but it has a 90 degree rotation in its Exif data. UMS correctly rotates the image, but for some reason it doesn't correctly swap the dimensions (after rotation it's 3096 x 5504).

[2019-04-17 16:09] Nadahar commented on #1790
I have found the problem - the code that generates the DIDL-Lite entries for images doesn't take rotation into account, so even though the image is rotated later in the process, erroneous information has already been issued to the renderer.

[2019-04-19 09:51] NoName805 commented on #1790
Any idea to fix it?

[2019-05-05 14:27] begleysm commented on #1788
I installed 8.1.0 and can confirm that the fixes applied solved my problem!  Thanks!

Also, in reference to my above comment leaving out all slashes works.  My current config line is

```virtual_folders = TV Shows|/mnt/media/Video/TV_Shows;Web Shows|/mnt/media/Video/Web_Shows```

The above config line creates 2 links on the webpage called "TV Shows" and "Web Shows".

[2019-05-11 22:15] gpascualg opened #1795 "Fail to download RAW from website"
When trying to download the RAW video from the website, chrome reports "ERR_EMPTY_RESPONSE" and "Failed - No file".
Reproducing from any other renderer, be it raw or transcoded, works perfectly fine. Reproducing the transcoded version from the website also works fine.

Running with default UMS.conf and WEB.conf, with credentials for the website and using Virtual Folders.

Here is the pertinent deb

[2019-05-12 08:05] SubJunk commented on #1788
Thanks for confirming the fix!

[2019-05-12 16:24] gpascualg commented on #1795
Now it has failed to download, but it is an entirely different reason: `ERR_INVALID_CHUNKED_ENCODING`.

HTTP Request headers:
[code]

Response with `Status Code: 206 Partial Content`:
[code]

[2019-05-12 17:31] gpascualg commented on #1795
Removing `hdr.add("Transfer-Encoding", "chunked");` from
https://github.com/atamariya/UniversalMediaServer/blob/master/src/main/java/net/pms/remote/RemoteRawHandler.java
makes downloading work again, but it seems to disable forwarding or rewinding the stream. Ie. moving to minute 60 when watching minute 1 won't work, the stream will freeze and nothing is downloaded anymore.

[2019-05-12 19:19] AntoineOulevay opened #1796 "Docker image based on alpine breaks the ffmpeg transcoding feature when used with a PS3"
Hi all,

I've been a very happy ums user for years now, and was very enthusiastic seeing your new version of UMS coming as docker image too.
As my former server broke due to hardware failure, I had to reinstall everything on some new hardware, and thought, why not directly going for this fancy new docker image.

As you mentioned it is not really ready yet, and there are a few issues with it. Maybe

[2019-05-12 22:06] Nadahar commented on #1795
It seems to me like you have created the issue in the wrong repo, since you're referring to   https://github.com/atamariya/UniversalMediaServer in your links.

[2019-05-12 22:08] gpascualg commented on #1795
Oh no, my bad, I was looking at forks and accidentally linked the other repo. But this applies to this repo, working on last commit https://github.com/UniversalMediaServer/UniversalMediaServer/commit/8745de3b4b671ff7b43ca9eede85dfdd92d5300f

Let me fix the links, sorry

[2019-05-14 01:04] phd21 opened #1797 "How to force x265 videos to play or transcode into x264 to play on TV, Blu-Ray DVD players, etc..?"
Hello UMS developers and maintainers,

Re: How to force x265 videos to play or transcode into x264 to play on TV, Blu-Ray DVD players, etc..?

First, Thank You. I love this media server. It is easy to install and use, and it is free. I recommend it all the time in the Linux Mint forums.

I use Linux Mint Cinnamon 19 and Linux KDE Neon user edition both are 64-bit and based on Ubuntu 18.04 bionic.

[2019-05-14 01:11] Nadahar commented on #1797
UMS is supposed to figure this out automatically. You should make sure that MediaInfo is installed (since UMS uses it to analyze media files) and that the renderer configuration files for your renderers are correctly defined. In particular, you should study the lines starting with `supported` in the renderer configuration files. Any format/codec that is *not* supported should automatically be tran

[2019-05-14 02:24] phd21 commented on #1797
Hi Nadahar,

Thank you for responding so quickly.

I always have mediainfo and mediainfo-gui installed.

I have never had to manually create or edit "renderers". I have an older Samsung Blu-Ray DVD player that I stream too which UMS has always correctly displayed as [BD]F5900.

I still cannot play x265 encoded video files - "not supported" or sometimes even disconnects me?

Interestingly, I went u

[2019-05-14 03:03] Nadahar commented on #1797
When you created this issue, this text was shown initially:

If you don't run the GUI there's another way to do it, which should be explained here as well IMO, but it seems it isn't. Some of the developers will have to give you those instructions.

Without the `trace` log, there's not much more one can do than to speculate, but it could be that your computer simply isn't fast enough to transcode i

[2019-05-14 04:19] phd21 commented on #1797
Hi Nadahar,

Okay, here is the log file.

Phil (phd21)
[ums_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3175802/ums_dbg.zip)

[2019-05-14 16:38] Nadahar commented on #1797
I've extracted the command sent to FFmpeg from your log. Simply replace `[output.mpg]` with a path/file name of your choice, and attempt to do the transcode outside UMS. If the speed while transcoding is below 1x, your CPU is too weak.

[code]

Your log indicates that this isn't the case though, the initial frames are transcoded at slightly above 3x. I don't quite understand what happens, it seems

[2019-05-14 20:20] phd21 commented on #1797
Hi Nadahar,

Thank you again for your help with this.

I do not understand "Simply replace `[output.mpg]` with a path/file name of your choice, and attempt to do the transcode outside UMS." Path and file name of my choice of what? Where would I put that and what do I have to edit for doing this?

I noticed with UMS 8 there is a Linux subfolder with versions of ffmpeg from 2007 and tsmuxer programs

[2019-05-14 20:48] gsg66 opened #1798 "UMS 8.1.0 does not play DVD"
Hello,

I'm using UMS 8.1.0 with Ubuntu server Linux 16.04. I have problem with the playing of DVD ISO as well as DVD in the folder. I have got an error "Unhandled exception while resolving [DVD ISO]" Please see the logs in the attachment.

It will be nice if someone can help me with this issue.

Greetings,
Gennadii
[debug.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/317

[2019-05-14 21:04] Nadahar commented on #1797
You would have to run the command from a terminal. The output would be where the transcoded file would be created. FFmpeg would then run the transcoding with the same parameters as UMS used, but instead of sending the result to the renderer it would be written to disk. That way you could verify that the resulting video is valid, by trying to play the newly created file.

The old versions of FFmpeg

[2019-05-14 21:58] phd21 commented on #1797
Hi Nadahar,

Thanks again for your reply. I now understand.

I ran the command and it plays perfectly creating an "output.mpg" (mpeg2video) video file of 1.3gb from an x265 .mkv video file of 430mb and the speed averaged around 3x with the lowest at 2.8x.

Stream mapping:
Stream #0:0 -> #0:0 (hevc (native) -> mpeg2video (native))
Stream #0:1 -> #0:1 (aac (native) -> ac3 (native))
frame=63046 fps=

[2019-05-14 22:54] Nadahar commented on #1797
@phd21 OK, at least now we know that the transcoding it self works fine, which means this must be a bug with UMS.

[2019-05-15 00:13] phd21 commented on #1797
Hi Nadahar,

I do not know if it is a bug in UMS or not, but perhaps there are some settings or changes that UMS developers could do or add to make playing x265 videos work and or work better?

I even copied the newer ffmpeg programs into the UMS Linux sub-folder just to see what happens, and it still did not play the x265 videos and resulted in the same results being disconnected or not supported

[2019-05-15 09:08] valib commented on #1798
It seems that you do not have installed MPlayer which is needed to decode DVD. See https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/DVD-encryption

[2019-05-15 19:04] gsg66 commented on #1798
Hello,

after installation it looks
[debug.15.05.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3184093/debug.15.05.log)
 like the same problem.

[2019-05-15 21:30] valib commented on #1798
@gsg66 I see still the same problem. The UMS doesn't know where the MPlayer is installed. Try to set the path in the UMS.conf `mplayer_path =`. The description is in the UMS.conf

[2019-05-16 00:09] SubJunk commented on #1797
@phd21 thanks for your kind words about UMS! Can you please try adding the line:

TranscodeVideo = MPEGTS-H264-AC3

into `Samsung-F5900.conf` inside the `renderers` folder in the UMS installation directory, and see if that makes a difference?

[2019-05-16 02:03] phd21 commented on #1797
Hi  SubJunk,

You are welcome. Thank you for replying.

You did not say where to put the "TranscodeVideo = MPEGTS-H264-AC3" in the Samsung-F5900.conf file or does it not matter?

UMS will still not play x265 videos and results are the same being disconnected or stating not supported. Should the line you suggested go somewhere else in the file? I am using the default UMS settings, should any settin

[2019-05-16 08:22] SubJunk commented on #1797
Where you put it is good. Let's try another change, please replace the contents of the file with this:

[code]

If that doesn't work, please attach a new debug package

[2019-05-16 15:02] atamariya commented on #1796
mkfifo command line is generated in PipeProcess.java . It already has a section for short arguments. May be you just need to add one more.
`
if (Platform.isMac() || Platform.isFreeBSD() || Platform.isSolaris())
`

[2019-05-16 19:45] phd21 commented on #1797
Hi SubJunk,

Thank you for your quick replies and helping me and others that may have the same issues with x265 videos.

Unfortunately, the recently recommended changes to "Samsung-F5900.conf" did not work and the results are the same. So, I have attached another debug trace zip file for your review. FYI: Whenever I test this, I test in a normal way, and I also go into the "transcode" folder and t

[2019-05-16 22:47] SubJunk commented on #1797
Ah that's interesting that VLC works, that might be an important clue. Please try this one:

[code]

[2019-05-16 23:05] mxyztplk1 opened #1801 "Re-add whitelist of folder-list by IP address"
Whitelist of folder-list by IP address is not working for me on UMS v8.1.0.  I tried UMS v7.6.2 and it also did not work.  However, it works fine for me on UMS v6.7.4.

It did not work on UMS v8.1.0 on both a Windows 10 and Windows 7 system.

In an attempt to isolate or simplify the problem, I set up a version of UMS v8.1.0 with a simple configuration on a Windows 7 system to run tests.  There, I

[2019-05-17 02:08] phd21 commented on #1797
Hi SubJunk,

Unfortunately, that last configuration did not work either. Same results.

I am more than willing to test anything you come up with regarding this and or anything else regarding UMS.

Thanks again and regards,
Phil (phd21)

[2019-05-22 18:56] gsg66 commented on #1798
Hello,
definition of the path improved the situation a little bit, but I still can not play DVD.iso
[debug.22.05.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3208892/debug.22.05.log)

[2019-05-22 20:21] valib commented on #1798
@gsg66 you made the log in the DEBUG mode not in the TRACE mode. There are missing informations.

[2019-05-24 17:37] gsg66 commented on #1798
Hello, I've attached the logs in TRACE mod
[debug.24.05.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3217974/debug.24.05.log)
e.

[2019-06-01 19:05] ltGuillaume opened #1804 "Video stream is always transcoded, cannot be prevented"
I'm trying to "redirect" a UDP stream via UMS to my TV. The stream is an MPEG2-TS with MPEG2 video and AAC audio.

I can access the stream after adding the following line to web.conf:
[code]

However, I always see the following transcode operation in the task manager when viewing the stream:
![image](https://user-images.githubusercontent.com/4777345/58752535-b0fd1f80-84b0-11e9-8633-3d4b1b266b6f.pn

[2019-06-01 19:25] murbanowicz commented on #798
Any updates on this? It is really annoying...

[2019-06-01 21:38] Nadahar commented on #798
@murbanowicz I wouldn't hold my breath, I'm not longer a member of the project and as you can see there has never been any interest for this by the current developers.

Since this issue was originally created, I've implemented support for sleep prevention for macOS, but I didn't dare go into the D-Bus darklands. Linux has a couple of things working against it. First, most things aren't properly do

[2019-06-11 01:10] SubJunk opened #1806 "a test issue"
# How to contribute

In order to help diagnose and fix your issue we often need your "debug information". It's easy to save this information and attach it to a GitHub issue:

  * Start UMS.
  * Go to the `Logs` tab.
  * Press the `Create TRACE logs` button which restarts UMS in the "TRACE" mode. If that doesn't work for some reason, either select `Trace` from the `Log Level` dropdown at the bottom

[2019-06-11 01:15] #1806 closed

[2019-06-15 16:46] #1582 closed

[2019-06-27 14:04] ExSport opened #1809 "UMS v8.2 - inconsistent behavior"
Installed new version v8.2 on parents Windows computer.
Shortly tested and spotted:
- different level of logging for video and picture parsing (audio not tested) as pictures parsing is logged as TRACE but video as DEBUG.
- renderer "resolving" is weird as sometimes UMS generates recognition info every second, see picture attached:
![image](https://user-images.githubusercontent.com/1260408/60272262

[2019-06-28 02:33] ltGuillaume opened #1810 "UMS v8.2 "x86 Windows build" is Java x64-only"
The release of v8.2.0 went wrong. The standalone Windows x86 version is bundled with the x64 version of Java. It also only includes ffmpeg64.exe instead of ffmpeg.exe. When I try to run it using the x86 Java Runtime, it simply does not start.

[2019-07-10 11:36] ltGuillaume commented on #1804
Apparently, there's some sort of issue that allows me to force `-c copy` **only**

1. when I set `127\.0\.0\.1 | -c copy` in `ffmpeg.webfilters` **AND** (not OR)
2. when I set `CustomFFmpegOptions = -c copy` in the specific renderer

Obviously, I don't want (2) to be a be condition for it to work, because it goes much further than preventing transcoding for the UDP stream only.

[2019-07-10 12:18] Nadahar commented on #1804
Although I haven't "investigated" this case, I'm pretty sure that the result of such an investigation would should that the fundamental problem is that streams aren't parsed/detected. For file media, the file is analyzed before being "listed" so that UMS knows what format/codecs the media consists of. Doing the same for streams isn't trivial, so UMS will probably just treat it as a "generic unknow

[2019-07-10 12:22] ltGuillaume commented on #1804
This is probably the case, yes. However, the rule `127\.0\.0\.1 | -c copy` in `ffmpeg.webfilters` should take care of that afaik, but apparently it's overruled.

[2019-07-10 12:35] Nadahar commented on #1804
The parsing of the "custom parameters" is what I'd call "interesting". I see it as an impossible task to do properly, but the current implement is far from what I'd even call mediocre. Your custom parameters isn't simply sent directly to FFmpeg, UMS has to try to combine them with the parameters UMS sets. As such, parameters that UMS doesn't "properly understand" has a great chance of never "makin

[2019-07-10 12:42] ltGuillaume commented on #1804
I see that `-c copy` is eventually just placed after the other parameters and then (fortunately) overrules the previous parameters concerning audio/video codecs and quality presets.

[2019-07-10 13:10] ltGuillaume commented on #1804
Apparently, it's much simpler (and there was a firewall issue that confused me):

Rule (1) doesn't get taken into account whatsoever
Rule (2) is paramount, but obviously I'd like `-c copy` to be specific for that stream, not everything sent to that device.

I tried a more specific rule `udp:\/\/127\.0\.0\.1:9999 | -c copy`, but that doesn't work either.

I've also tried using `disable_transcode_fo

[2019-07-10 13:45] Nadahar commented on #1804
I've never looked at how `ffmpeg.webfilters` works (if it does), but I can say that most of the "streaming" stuff has been added by developers that didn't particularly care about supporting the stuff already in the codebase. From the little of this code I've read, the goal seems to have been mostly about "getting around" existing functionality rather than to comply with it.

When it comes to your

[2019-07-10 15:38] ltGuillaume commented on #1804
Well, if the MIME-type cannot be determined for streams like you said, and the default is to let FFMPEG handle the incoming stream, it would be the logical thing to respect `ffmpeg.webfilters`.

As the file itself states

Examples include stuff like `trailers\.apple\.com | -user-agent QuickTime/7.6.2`, so why wouldn't my `127\.0\.0\.1 | -c copy` do its job?

Seems to me that it should allow exactl

[2019-07-10 15:47] Nadahar commented on #1804
Sure, it sounds reasonable, but as I've said above I have never looked at the code involved. From your tests, it seems like the code doesn't work.

[2019-07-10 15:50] ltGuillaume commented on #1804
True that. Thanks for your help, hoping this can be tackled, but at least I have a workaround.

[2019-07-11 13:51] VaiTon commented on #1753
Any news?

[2019-07-11 17:47] esabol opened #1814 "8.2.0: java.lang.NullPointerException"
So I started watching an episode of a TV show in mkv format (transcoded with ffmpeg by UMS) on my PS4, and I got a couple minutes into it when I realized that I hadn't watched the previous episode. After I hit the back arrow on my PS4 remote to go to the previous episode, the following appeared in the UMS log:
[code]

Not a big deal, but thought I'd report it. Hope this helps!

[2019-07-18 21:55] SubJunk opened #1815 "Update PHPBB to 3.2.7"
This is just here to help me remember to do it

[2019-07-18 21:55] SubJunk opened #1816 "Update cleantalk"
This is just here to help me remember to do it

[2019-07-18 21:56] SubJunk opened #1817 "Update ban hammer"
This is just here to help me remember to do it

[2019-07-18 23:39] SubJunk commented on #1816
Done

[2019-07-18 23:39] #1816 closed

[2019-07-18 23:50] SubJunk commented on #1817
Done

[2019-07-18 23:50] #1817 closed

[2019-07-19 00:27] #1815 closed

[2019-07-19 01:04] SubJunk commented on #1810
This will hopefully be fixed by this work https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1811

[2019-07-21 20:26] bestdark opened #1818 "Video bit depth can not be configured per codec in renderer conf files."
Some devices (Samsung Q6 TV in my case), support 10 bit video, but only while using certain codec(HEVC). But currently bit depth is set per device with SupportedVideoBitDepths. I propose to make it an optional parameter for codec description to specify supported bit depths for each codec (eg. "Supported = f:mkv v:h265 a:mp3 m:video/x-mkv b:8|10").

[2019-07-22 21:53] valib commented on #1818
`b:` is used for the maximum bitrate (bits per second) of the whole file (see the DefaultRenderer.conf) but we can use eg. `bd:`. Anyway it is a good idea.

[2019-07-24 22:51] #1818 closed

[2019-08-04 13:29] tcely commented on #1796
Or you could just install `coreutils` in the Alpine Linux docker image.

[2019-08-04 14:34] tcely commented on #1247
I'd like very much to have detached signatures for all uploaded binaries and a sums file too. I'm happy to script this if you let me know what platform you use for uploading.

[2019-08-04 14:40] tcely opened #1821 "With "Enable the Media Library" checked track numbers are not prepended"
In #1813 I managed to get audio track numbers prepended, but this only works without the "Media Library" enabled. I don't know why that makes a difference currently. Ideally the track number should be stored in the library too and used when appropriate.

This looks like a likely cause for this issue:
https://github.com/UniversalMediaServer/UniversalMediaServer/blob/b97e1b3aba1205405125fad5844a6647

[2019-08-08 04:01] SubJunk commented on #1796
Thanks, merged!

[2019-08-08 04:01] #1796 closed

[2019-08-08 22:29] #1821 closed

[2019-08-08 22:37] SubJunk commented on #1247
That would be cool. I use Windows for it

[2019-08-11 04:00] SubJunk commented on #1795
Did you do this? Please feel free to submit a PR

[2019-08-11 04:01] SubJunk commented on #1801
We don't have automated or manual tests for that feature. We do have automated testing for some things, maybe you could contribute some code to fix it and/or tests?

[2019-08-11 04:02] SubJunk commented on #1810
This should be working now in 9.0.0-b2+. Feel free to reopen if not.

[2019-08-11 04:02] #1810 closed

[2019-08-11 11:47] ltGuillaume commented on #1810
Thanks!

[2019-08-13 22:11] mxyztplk1 commented on #1801
There appear to be a number of related bugs that may have the same cause/origin (i.e., code in v7.6.2 that broke sometime after v6.7.4).  These bugs are as follows:
1. whitelist of folder-id list by IP address, within a general conf file does not work (as I have documented above)
	Also reported by xmp125a at:	https://www.universalmediaserver.com/forum/viewtopic.php?f=3&t=13570&p=39605&hilit=uuid#p

[2019-08-20 10:12] gpascualg commented on #1795
I did, but I don't think it's complete. It now downloads fine, but the ability to forward, rewind or even start downloading mid-file is not yet working.

I've had no time to debug it in detail, so I haven't tested any more, sorry

[2019-08-22 03:40] SubJunk commented on #1460
This is in master now

[2019-08-22 03:40] #1460 closed

[2019-08-30 09:49] atamariya commented on #1809
LG TV queries for the complete DLNA tree. This is problematic if you also have media library enabled (check hide_media_library_folder in UMS.conf).

[2019-08-30 10:28] ExSport commented on #1809
Hello @atamariya
No, I don't share MediaLibrary folder, it is hidden. But it seems your answer is not related to this issue :)

[2019-08-30 11:19] atamariya commented on #1809
Actually it is related. The flood of recognition message is for each request made by the TV.

[2019-08-30 11:50] ExSport commented on #1809
Yay, ok, thanks @atamariya . I thought it is somehow cached so spamming will reduce somehow.
Anyway why such storm when Medialibrary is enabled to cache items but it is hidden from renderers. So at the time of initial indexing, UMS server must index all files but the folder structure visible by the renderers should be the same (but with much faster responses from UMS side at time of real request).

[2019-08-30 12:02] atamariya commented on #1809
In this case, problem with Media library (the folder) is that it contains many virtual folders (think artists, albums, date etc). If it's visible to LG, it queries for files till the last node which causes the storm. Other renderers are more sensible and only make requests when user clicks on an icon in the UI.

Caching is separate from media library folder - it simply means using a DB. Metadata i

[2019-08-30 12:19] ExSport commented on #1809
This all I know @atamariya
The problem is that MediaLibrary folder was hidden. And as you know, to enable caching, you need to enable MediaLibrary:
![image](https://user-images.githubusercontent.com/1260408/64019769-536c8380-cb30-11e9-8303-079c2359a64a.png)
And as you know, new UMS initiates shared folders scanning (analysis) every UMS restart or by clicking on magnification icon.
It means rendere

[2019-08-30 23:42] simonjonnemeth opened #1829 "Fix the aesthetics of the KODI renderer."
It is still identified as XBMC. A simple name change in the .conf and a new .png in ums.jar\resources\images\clients should suffice.

[2019-09-01 15:45] atamariya commented on #1809
Each request from a renderer triggers a detection. If you see storm of those, that means there is a storm of those requests from renderer.

[2019-09-02 09:13] ExSport commented on #1809
I understand but my understanding was that when UMS detects such renderer and displays it in GUI, there should be no additional storm in log like that (as the renderer was already detected). Maybe showing them only in deeper logging levels (Trace, all,...) so using e.g. TRACE logging, there will not be such spam complicating reading the logs and its troubleshooting? 👍

[2019-09-02 12:46] Nadahar commented on #1809
The current code doesn't "care" if the renderer has already been detected. It will do the "detection" for each HTTP request.

[2019-09-02 13:09] ExSport commented on #1809
Hi @Nadahar and @atamariya Thanks for clarification from both of you. As the GUI shows active/inactive renderer icons, I supposed it knows if the renderer was detected already and still online so it should be easy to lower the "detection spam" in logs, right? :-)
I have a lot of devices in network, which responds to UPnP/DLNA so my logs are full of such spamming lines complicating to see what is e

[2019-09-03 02:33] Nadahar commented on #1809
@ExSport The detection code is quite the mess, so I don't know if I'd say that making any changes to that is "easy". That said, it should be doable. The question is if it's worth the effort, AND if it's desirable to remove these as it can make debugging harder in some cases.

I guess this is up to the UMS devs.

[2019-09-03 04:37] atamariya commented on #1809
@ExSport if you're not a developer, it should not bother you what's in the logs as long as it's not personal info. If you're a developer, a pull request, with whatever your desired log level is, is welcome.

@SubJunk can you mark this defect as "won't fix"? This would enable the developers to focus on more important defects.

[2019-09-03 06:54] atamariya commented on #1829
Which version of UMS are you using? UMS is configured to use icons provided by Kodi and it works fine for me.
![kodi](https://user-images.githubusercontent.com/7592594/64150325-a18dc980-ce45-11e9-9112-44870b305773.png)

[2019-09-03 06:55] atamariya commented on #1829
@subjunk, I guess this can be closed too.

[2019-09-03 08:10] ExSport commented on #1809
@atamariya Few of PRs I already done but I am not pure Java programmer but Powershell guy more often :-)
I will try to check the code, maybe I will spend 20 times more time on it, but if it is doable, maybe it is worth to try it (in my logs 80% of lines are detection storm so relevant info is hidden there).
Btw. maybe doing a cleanup code in powershell will take much less time....I will check it w

[2019-09-03 14:37] atamariya commented on #1804
@ltGuillaume Not sure if the code ever worked, but you're doing one thing wrong. webFilters matches the filename. So your options should look like

udp://@i7:9999 | -c copy

[2019-09-03 15:05] ltGuillaume commented on #1804
Thanks for checking. I've tried combinations with i7 (hostname) and 127.0.0.1 in both files, I just described it inconsistently over here.

[2019-09-03 20:50] SubJunk commented on #1809
@ExSport I agree the problem here is with LG TVs themselves. We are doing the correct thing by logging it. If we weren't doing that, we might not know about the problem with LG TVs in the first place and that is useful information for us to know :)

[2019-09-03 20:50] #1809 closed

[2019-09-03 20:54] SubJunk commented on #1829
@simonjonnemeth please reopen this issue if you can provide us logs after the incorrect detection. Maybe we have a problem with our detection string, although we simply look for "Kodi" so that seems straightforward

[2019-09-04 08:53] ExSport commented on #1809
@SubJunk Anyway if your read the issue you should know what was the point. Also you closed it completely but I suppose it is still inconsistent to log pictures and videos differently (debug/trace level difference) but this part of this "issue" was completely ignored ;-)

[2019-09-04 11:45] GatesDA commented on #767
Unless there's another way to have UMS run without any users logged in, there's still interest.

It should at least be disabled when it won't work.

[2019-09-04 12:50] ExSport commented on #1809
@SubJunk  @atamariya @Nadahar
It seems the real "issue" is inconsistent level of logging as some are logged as DEBUG but the others as TRACE.
I already mentioned VIDEO/PICTURES discrepancies.
Now I opened UMS outside home to see the level of logging:
[code]
I should expect "Recognized media renderer" should not be DEBUG but TRACE level as the other relevant ones.
In case DEBUG level is enabled in

[2019-09-04 12:51] Nadahar commented on #767
@GatesDA I meant interest from the other developers. I'm fully aware that there's interest from the users..

[2019-09-04 13:32] Nadahar commented on #1809
I think you're partially wrong. This isn't normally spammed, it is caused by the behavior of this particular renderer. That said, there isn't really much "consistency" when it comes to log level. Different devs seem to have different idea of what a log level represents, and I can even be unsure what is the appropriate level myself.

`debug` is for debugging what's happening, `trace` is to follow e

[2019-09-04 14:00] ExSport commented on #1809
I don't have any real environment where I can test UMS right now but you said it is behaviour of particular renderer. Log above is for Windows media player and Android MediaHouse. It is not log for LG TV :)
Yes, toy are right that from start, without checking the log I tried to imagine situation UMS will reduce logging or lowering it's level when renderer is already detected.
But now as I can see,

[2019-09-04 16:21] Nadahar commented on #1809
Yes, but I don't consider what's logged there spam. I was referring to the repeated `debug` "detection" messages that you consider to be spam. As I said, I partially agree, in that it's not very logical seen from the outside, but it mirrors how the code actually works. So, it *is* useful if you compare a log with the actual code, as it confirms that this "stage" was entered. Personally I think the

[2019-09-05 07:57] SubJunk commented on #1809
If we ever get this project to such a complete state that our top priority is log levels I'll be very happy and will reopen this :)

[2019-09-06 05:08] SubJunk commented on #1798
@gsg66 unfortunately DVD support has historically only worked on Windows, because we use a customised version of MPlayer on Windows.

If you have any experience compiling static binaries for Linux maybe you can help us get one on there?

[2019-09-06 05:09] SubJunk opened #1830 "Website is down"
Just letting you guys know I'm aware of the website outage and I'm working with the server host to resolve it.

[2019-09-06 08:54] SubJunk opened #1831 "Make directories expandable on Shared Content tab"
It would be good to be able to expand them so that the right-click menu works for subfolders.
The main buttons could be disabled for those subfolders, at least at first

[2019-09-06 14:43] Nadahar commented on #1798
@SubJunk If you made the "recipe" for your build available, the likelihood that someone would make it would be much greater. I won't promise that I will do it, but had this been available, I would probably have done it earlier. The key is that the information is available at the time when you're trying to solve something where this is an issue, at least for me.

[2019-09-06 22:47] Weaver23PH opened #1832 "Subtitles only showing in transcoding"
[ums_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3585916/ums_dbg.zip)
Subtitles only show if transcoding is chosen and then, only with ffmpeg, but this makes fast-forwarding impossible - the film appears to last 1s and after you press ff it rewinds itself to the start, Live subs don't work either.

[2019-09-07 03:39] SubJunk commented on #1830
It's back up now, there was an undetected hardware failure

[2019-09-07 03:39] #1830 closed

[2019-09-07 08:50] SubJunk commented on #1798
That's a fair point. I seem to have uploaded my custom MPlayer code and associated libs last year but I don't know where I posted the link, if anywhere.
It's at https://www.spirton.com/uploads/MPlayer/MPlayerLibs-SB65.zip feel free to use it any way you want.

It became impossible for me to update it more because of further changes in the MPlayer and FFmpeg codebases but I have been considering do

[2019-09-07 12:50] pipin77 opened #1833 "Forum problems"
Hi,

sorry for creating an issue here,
but the last release thread  has a wrong timestamp in the forum "Tue Aug 20, 2013" and is therefore not shown on the news site.

Every reply or pn in the forum gets an error: "You cannot make another post so soon after your last."

[2019-09-08 08:42] SubJunk commented on #1833
@pipin77 thanks for letting us know, I'm looking into this now

[2019-09-08 08:49] SubJunk commented on #767
It's definitely something I hope will be looked into

[2019-09-08 09:19] SubJunk commented on #1833
@pipin77 the server time was incorrect and I have fixed that now, and fixed the date of the announcement topic. Please let me know if you are still getting that error when posting

[2019-09-08 09:37] pipin77 commented on #1833
No more errors at the moment.

[2019-09-08 09:52] SubJunk commented on #1833
@pipin77 thanks!

I should mention too that there will be a server migration on Monday as we will move to a new data centre. If all goes well there should be no noticeable downtime but if there is I'll post updates on here.

[2019-09-08 09:55] pipin77 commented on #1833
Good luck. We migrated to our own AMD Epyc Webserver last year.

[2019-09-08 20:37] #1833 closed

[2019-09-08 20:39] SubJunk commented on #1832
@Weaver23PH thanks for the issue. we have an upcoming version of UMS that rewrites some of the subtitles code and may fix (or break in a different way ;)) this issue, would you be willing to test it?

[2019-09-08 20:43] Weaver23PH commented on #1832
I have tried v 9.0.0 of UMS today and the problem persists. Downgrading to 7.6.0 solves the issue. I might try any available beta later the upcoming week (it's still Sunday here).

[2019-09-08 20:52] M-itch opened #1835 "Linux: UMS does not start with the included Java installation"
I made a few changes to properly detect and run with the included JRE.

Installed version: 9.0.0
OS: Arch Linux

Fix "cannot execute: Permission denied" error
[code]

UMS.sh
[code]

[2019-09-08 23:44] pipin77 commented on #1832
7.6.0 or 7.6.2?

I noticed some subtitle glitches in versions after 7.6.2

[2019-09-09 08:04] SubJunk commented on #1835
@M-itch thanks a lot, I have applied the change to UMS.sh now. I wonder how we can automate that `chmod` part.

[2019-09-09 09:21] #1749 closed

[2019-09-09 09:22] #1733 closed

[2019-09-09 09:23] #1444 closed

[2019-09-09 09:24] SubJunk commented on #1444
Now we are locked at Java 8 so it's not a problem

[2019-09-09 09:24] #1425 closed

[2019-09-09 09:26] SubJunk commented on #1126
This has been fixed

[2019-09-09 09:26] #1126 closed

[2019-09-09 09:29] SubJunk commented on #1111
This bug was caused by LG TVs visiting every folder on the server until it ran out of memory, and it has been fixed now with some smart memory management

[2019-09-09 09:29] #1111 closed

[2019-09-09 09:29] SubJunk commented on #1042
This is now happening in version 9+

[2019-09-09 09:29] #1042 closed

[2019-09-09 09:31] SubJunk commented on #836
I think this has been fixed. Feel free to reopen if not

[2019-09-09 09:31] #836 closed

[2019-09-09 09:33] #766 closed

[2019-09-09 09:35] #692 closed

[2019-09-09 15:42] M-itch commented on #1835
`chmod` won't change the permission when I run it without sudo (depending on the install location).
So we can't add it the UMS.sh after detecting the included JRE.
The packaged release does have the execute permission for the included linux binaries.

I just found out that we can check if the included java binary is executable.
At least then UMS will start with the installed Java without any error

[2019-09-09 19:42] Weaver23PH commented on #1832
It's 7.6.0 here.

[2019-09-09 20:49] #302 closed

[2019-09-10 10:24] pipin77 commented on #1832
Did you try 7.6.2?

Imo its broken after that version.

I uploaded logs with 7.6.2 and 9.0.0. to the forum:
https://www.universalmediaserver.com/forum/viewtopic.php?f=4&p=40065#p40065

Maybe you can do this too?

[2019-09-10 20:46] SubJunk commented on #1835
@M-itch I made a PR to hopefully fix this, are you able to test it? If you need me to build and upload it let me know https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1837

[2019-09-11 21:23] M-itch commented on #1835
Yes, please upload a build for me. I tried to create my own build, but I get a maven plugin (API incompatibility) error while installing the external libraries .

[2019-09-13 18:09] pipin77 commented on #1832
Url gives an ERR_SSL_PROTOCOL_ERROR

[2019-09-14 02:19] Pentaphon opened #1838 "Universal Media Server.lnk remains in startup folder after UMS is uninstalled"
I don't need to post a log for this because the issue happens AFTER UMS is uninstalled.

C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Startup\Universal Media Server.lnk remains on my system even after UMS is uninstalled.

It's easy to just delete the .lnk file to get rid of it from startup, but UMS should not leave this in the startup folder after it is uninstalled.

This happens with UMS

[2019-09-14 07:56] SubJunk commented on #1832
A server migration is in process and having some hiccups, hopefully it will be back up soon

[2019-09-14 08:13] SubJunk commented on #1838
Reproduced

[2019-09-14 08:19] SubJunk commented on #1838
@Pentaphon Fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1839
Are you interested in testing?

[2019-09-14 08:21] SubJunk commented on #1642
I spent a long time on this and have had to give up since it was taking up all my time and I wasn't making good progress. I just don't understand that part of the code. Sorry.

[2019-09-14 12:20] Pentaphon commented on #1838
I was just trying it out and I didn't really think the software was for me so, no thanks, I'm not interested in testing. I just wanted to report the bug. Glad it's fixed.

[2019-09-14 13:17] Nadahar commented on #1642
@SubJunk You shouldn't try to "compromise" the DLNA checks (I assume that's the part of the code that you struggle with). They work and follow the standard. Instead, you could offer a version (in addition) that doesn't comply with DLNA at all, that is a "pure UPnP" (that doesn't specify a DLNA PN, FLAGS or any other DLNA info, but relies solely on the MIME-type) listing that simply dumps the image

[2019-09-14 13:19] tr15tan opened #1841 "How to use ums with docker?"
I just downloaded the latest ums docker image from the universalmediaserver repository, but i can't find out what to do next. I run the image without other parameters and nothing happened except the log 'Universal Media Server is now available for renderers to find' shown in the terminal. This is my first time to try ums and docker, and there seems no introduction about how to use the image? Pleas

[2019-09-15 04:32] SubJunk commented on #1642
@Nadahar yeah I had thought the same but I wasn't able to achieve that, I'm just not good at understanding the code for some reason and I can make a much bigger and faster impact in areas I find easier to understand.

[2019-09-15 04:33] SubJunk commented on #1838
No problem, I have verified the fix anyway. Thanks for reporting it

[2019-09-15 04:33] #1838 closed

[2019-09-15 04:35] SubJunk commented on #1835
Thanks for confirming. We will release this soon

[2019-09-15 04:45] SubJunk commented on #1611
There has been a comment about the macOS part of this on our forum which could be useful https://www.universalmediaserver.com/forum/viewtopic.php?p=40079#p40079

[2019-09-15 07:15] pipin77 commented on #1832
Downloaded the version. Subtitles work. But for me again only on one of my two samsung tvs

[2019-09-15 16:26] atamariya commented on #1841
Try it like:
`
docker run -it -v /Docker/ums:/profile -v /Media:/media --net host ums
`

[2019-09-15 16:37] headius opened #1842 "External plugin fails on Maven 3.6.2"
As of Maven 3.6.2, there's no default constructor on DefaultSettingsBuilder:

https://github.com/apache/maven/commit/c5ede2fef8b63cd5c75f8bc2f53aeaa75c629adc#diff-8e6fc18c48c40423411e38cb2bdff818

This breaks using your external-maven-plugin on Maven versions 3.6.2 or higher with the following error:

[code]

I have pushed a PR that fixes the plugin in https://github.com/UniversalMediaServer/exter

[2019-09-16 08:32] atamariya commented on #166
@SubJunk can you add two tags - win and win8 - to this defect for easy categorization?

[2019-09-16 08:50] atamariya commented on #225
@SubJunk This should be closed as @valib confirmed that this works.

[2019-09-16 20:16] Albertatoltec opened #1843 "Directory Listing Problem"
# How to contribute

In order to help diagnose and fix your issue we often need your "debug information". It's easy to save this information and attach it to a GitHub issue:

  * Start UMS.
  * Go to the `Logs` tab.
  * Press the `Create TRACE logs` button which restarts UMS in the "TRACE" mode. If that doesn't work for some reason, either select `Trace` from the `Log Level` dropdown at the bottom

[2019-09-16 20:26] Albertatoltec commented on #1843
I am willing to submit a full debug file but I wouldn't know which one you would want.  Please read through the testing configurations I am providing in this issue and let me know which one would be the best to provide the debug files for.

I recently purchased a new Sony television, an XBR-65X900F, which is capable of rendering video from a DLNA server.  I have been trying to get it to work with

[2019-09-17 10:55] Albertatoltec commented on #1843
I never closed the problem.

[2019-09-17 20:17] tr15tan commented on #1841
Hi atamariya:
thanks for the reply, I tried the above command and the output is bellow
[code]
I visited http://172.17.0.1:9001 and can't see any file.Is that correct? How could i set the sharing folder?

[2019-09-18 06:20] atamariya commented on #1841
You don't need to use sudo.

[2019-09-18 06:28] atamariya commented on #1843
Leave all the renderer configs intact. Turn on Bravia, navigate G: folder and generate the logs. Similarly, create separate log for bluray. That should do.

[2019-09-18 06:41] tr15tan commented on #1841
Oh, I didn't add my user account to the docker group so I would get errors without sudo prefix. Does this impact the working of ums?

[2019-09-18 09:47] SubJunk opened #1844 "Web server migration"
Finally the web server is fully migrated. The machine is more powerful and also uses PHP 7 (up from PHP 5 on the old one).
These are big changes and there may have been mistakes so please let me know if you see anything. I have updated some of the PHP to work with v7 but may have missed some.

[2019-09-18 13:36] Albertatoltec commented on #1843
atamariya, thanks for responding to my problem.  Enclosed are the two zipped files that you have requested.  The first one called Config1.zip corresponds to the Configuration 1 example I provided in my initial submission.  Bluray.zip is the trace when the Blu-ray player is turned on and the directories are listed from G:.
Is there a xml parameter that is being passed by the Blu-ray player that is

[2019-09-19 05:50] atamariya commented on #1841
Ok, I checked again - sudo shouldn't be a problem. Just change the volume though. Following works for me.
` sudo docker run -it --net host  -v ~/Music:/root universalmediaserver/ums
`

[2019-09-19 06:00] atamariya commented on #1843
You stopped the process too early. You need to give it a couple of minutes for UPnP search and discovery. Then navigate around a bit even if it's failing. That way log will have more useful information.

[2019-09-19 08:01] tr15tan commented on #1841
It seems that the path after `-v` represents the resource directory? I don't know why should i use `:/root` but after change `~/Music` to the path of my video directory, it worked: some of my videos can be seen in the browser, however, some still not, even they are in the same format.

There is one more problem, i can still not find these resources in my PS4 with the MediaPlayer App, and the same

[2019-09-19 10:03] atamariya commented on #1841
Did you check your firewall? You need to enable incoming connections on 1900/udp, 9001 and 5001.

[2019-09-19 16:13] Albertatoltec commented on #1843
atamariya, I am providing a new debug log for you.  This new debug file starts prior to the TV being turned on and continues until after the directories have been selected at least twice.

I am confused about your comment about waiting a couple of minutes.  Perhaps the following information will aid you in looking into the problem.  When the TV is turned on, a menu appears with a series of Apps li

[2019-09-20 07:28] atamariya commented on #1843
Any reason why you have turned caching off. Can you set following flag as true in UMS.conf?
`
use_cache = true
`

[2019-09-20 17:24] Albertatoltec commented on #1843
atamariya, this is news to me.
I have never edited the UMS.conf file directly.  In fact, I didn’t even know it was in C:\Program\ProgramData\UMS directory.  The only method I have used to configure the GUI has been through the GUI interface.  And, the GUI interface does not have an option for changing the cache.  So how did it get changed?  Unless there is a question regarding the cache in the pre

[2019-09-20 17:28] Nadahar commented on #1843
@Albertatoltec You can enable/disable the cache from the GUI, the problem is just that different versions of UMS use different names for this. As far as I can remember, it has been called `cache`, `database` and `media library`. Whatever the name is in your version, it's all the same thing.

[2019-09-22 14:19] atamariya commented on #1769
Can you provide more details about the problem?

[2019-09-22 16:13] Nadahar commented on #1769
I don't think Windows Media Player has ever worked with UMS. Didn't you say it was due to the lack of search support a long time ago @atamariya?

[2019-09-22 23:12] SubJunk commented on #1842
@headius thanks for your research and fix :) How can I reproduce this error? I used Maven 3.6.2 to release 9.0.0 and didn't notice an error, or does the build continue after the error?

[2019-09-23 04:03] atamariya commented on #1769
Ah, that!! Thanks @Nadahar . @SubJunk can you mark it with tag WMP. I think there was one bug already open for this. Can't seem to find it now? But if we tag it, we can keep only one open and close the rest.

[2019-09-23 04:03] atamariya commented on #1843
@Albertatoltec if the issue is resolved, can you close the bug?

[2019-09-23 13:06] Albertatoltec commented on #1843
The issue is closed.  It is interesting to note that the Sony Blu-ray player is able to request the directories and cause them to be cached which the TV can then see, while the TV itself cannot.
Next problem is finding out why the TV doesn't list the actual video files.

[2019-09-23 13:06] #1843 closed

[2019-09-29 08:05] #1844 closed

[2019-09-29 20:35] begleysm commented on #1844
I am unable to log into the Forums.  I was able to successfully get a new password via the "I forgot my password" button but, after activiating, that password doesn't work either.  I always get an error saying "The submitted form was invalid. Try submitting again."  I'm not sure if this related but it might be.  If you don't think it is, I can open a new ticket.

[2019-09-30 07:16] SubJunk commented on #1844
@begleysm I just tested and successfully signed up with an account. Can you try again?

[2019-09-30 07:36] SubJunk opened #1849 "Try to match metadata based on parent folder"
This is something I'm working on and it will help get more matched content

[2019-09-30 07:39] #1337 closed

[2019-09-30 07:40] SubJunk opened #1850 "Create our API for caching OpenSubtitles lookups"
I am working on a database cue for our lookups to OpenSubtitles so we don't spam them too much, and also looking for opportunities to reduce the number of lookups done

[2019-09-30 15:21] begleysm commented on #1844
I tried again with no luck.  See below for my process.

I started by trying to login with my typical password
![image](https://user-images.githubusercontent.com/1275999/65892100-b6da1300-e373-11e9-82b4-013d772a493b.png)

I was met with this error message
![image](https://user-images.githubusercontent.com/1275999/65892128-c194a800-e373-11e9-96ed-b74d6abe3c24.png)

I went through the "I forgot my pa

[2019-09-30 20:49] SubJunk opened #1851 "Make changelog clever"
Some apps (like Slack) have amazing changelogs that are fun to read, I wish ours was like that!

[2019-10-01 00:09] Mattski9 commented on #1790
any chance that this could also be the issue i'm experiencing when playing iphone videos? the trace log indicates 'displaymatrix: rotation of -90.00 degrees' and the video is rotated on the renderer even when it shouldn't be (filmed in portrait)

[2019-10-01 00:12] Nadahar commented on #1790
@Mattski9 I very much doubt that it's related, as images are handled completely separate from video.

[2019-10-05 06:52] SubJunk commented on #1769
@atamariya I made a new label called `renderer:WMP` and applied it, is that what you mean? BTW if you would like to do that kind of thing I can add you to the project. It is (and has always been) in need of more organization of its issues

[2019-10-05 07:00] SubJunk commented on #1850
This implementation has evolved as I realized that we need more than just a cue. OpenSubtitles only offer 100 lookups per IP per day and that's just not enough; that means with a perfect cue, for a user with 2000 videos (which isn't even a lot) they need to wait 20 days before they have metadata.
What I have started instead is making our own API for this, that stores successful results from OpenSu

[2019-10-05 07:11] SubJunk commented on #1516
This is no longer needed since we include Java in our bundles

[2019-10-05 07:11] #1516 closed

[2019-10-05 07:12] SubJunk opened #1853 "Investigate whether to use OpenJDK"
Now that we include JRE in our bundles, it may be good to see if there are any advantages to using OpenJDK instead.

We already run our automated tests on that on the Linux Travis builds.

[2019-10-05 08:19] SubJunk opened #1854 "Welcome js-kyle"
@valib I have brought in @js-kyle to the project, we have worked on other projects together too :)

[2019-10-05 18:29] ExSport commented on #1854
@js-kyle Welcome here :+1:

[2019-10-05 20:24] valib commented on #1854
@SubJunk nice. @js-kyle welcome.

[2019-10-09 22:43] richstokes opened #1855 "Document how to install UMS on macOS"
Using v9.0.1 on MacOS Catalina

[code]

[2019-10-12 21:08] ltGuillaume opened #1856 "AVC High@L4 are recognized as High@L5, starts transcoding"
I found that UMS started transcoding several files for my TV (`samsung-notcd.conf` renderer profile and supports L4.1), even though these files can be played back perfectly fine in untouched form.

The debug log shows
[code]

This is in stark contrast with the output of [MediaInfo for Windows](https://mediaarea.net/en/MediaInfo/):
[code]

I can put `H264Level41Limited = false` in `renderers\_myTV-

[2019-10-12 22:20] Nadahar commented on #1856
These two MediaInfo outputs can't possibly be from the same file. It's not only the profile level that's different, but bitrate, length etc.

The problem (if it's wrong) is with whatever MediaInfo outputs. That said, don't think that a 4.1 limited player can't play level 5 files - it all depends on the file itself. The level is set by the encoder, and doesn't necessarily correspond to the actual s

[2019-10-12 23:49] ltGuillaume commented on #1856
Thanks for the explanation. You're right, the UMS debug snippet was from one of the many other files that were incorrectly identified as L5. Below is the UMS debug output that corresponds to the file of which I posted the MediaInfo output in the first post.
[code]

[2019-10-13 00:19] Nadahar commented on #1856
I don't understand how they can be reported differently by different versions of MediaInfo, as the level is just read from the stream metadata and reported. I don't know the necessary details about this to be bombastic about anything, but maybe this information is stored in multiple locations in the file that are supposed to have the same value, but an encoder error has lead to inconsistency - or

[2019-10-13 00:26] ltGuillaume commented on #1856
As said, I literally copied over mediainfo.dll and mediainfo64.dll from the folder I ran the MediaInfo GUI with (which reported L4) into the UMS folder, overwriting v18.12 with v19.09 (which is very recent, stands for Sept. 2019) and saw the exact same thing: UMS reported L5 instead.

[2019-10-13 00:32] Nadahar commented on #1856
Yes, as I said, I can't understand how that can be. That said, if FFmpeg also reports L5, I suspect that is the correct value.

[2019-10-13 08:10] SubJunk commented on #1856
@ltGuillaume I think UMS has correctly identified it in this case - to be L4 at 1920x1080, the video file is limited to 4 reference frames. That video has 5, which means it is L5.

Source: https://planetcalc.com/3321/ and https://en.wikipedia.org/wiki/Advanced_Video_Coding#Levels

[2019-10-13 18:19] ltGuillaume commented on #1856
Again, MediaInfo says it has 4 reference frames, not 5.

[2019-10-13 18:27] Nadahar commented on #1856
I think a sample that has this "issue" is needed. You should be able to use FFmpeg to cut for example the first second from one of the videos while "copying" the streams. I don't know if FFmpeg would "fix" whatever inconsistency these files have or not, but it would be worth a shot. That one second sample could easily be attached or uploaded.

[2019-10-13 18:53] ltGuillaume commented on #1856
**Example File**
[file.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3722143/file.zip)

**UMS Debug Log**
[code]

**MediaInfo**
[code]

[2019-10-13 19:46] Nadahar commented on #1856
This is indeed very strange. I'm adding a couple of outputs from the sample file here for reference.

**FFprobe** `4.0.4`:

[code]

**MediaInfo command line** - MediaInfoLib `v19.04`:

[code]

This confirms what you've claimed above, FFprobe reports L5 while MediaInfo reports L4. I simply don't know how this is at all possile, I'd think we might need @JeromeMartinez to enlighten us further. What U

[2019-10-13 19:55] Nadahar commented on #1856
As far as I understand, mkvinfo simply dumps the metadata from a Matroska container. According to its output, L5 is specified in the metadata.

**mkvinfo** `v31.0.0`:
[code]

[2019-10-13 23:50] Nadahar commented on #1856
I think I might be a little bit closer to make at least partial sense of this. I'm no FFmpeg guru, so I can't be 100% sure that "extracting" the video stream doesn't modify it in any way, but: I demuxed the AVC stream like so:
[code]

When I then use FFprobe on the resulting file, it suddenly reports L4:
[code]

My preliminary conclusion is thus that the real problem is that the container/MKV meta

[2019-10-14 00:17] ltGuillaume commented on #1856
I cannot find anywhere that a Matroska container separately saves metadata about the video stream. Could you point me to documentation that does so? This would be a prerequisite for your assumption that there are in fact two places where the profile / level metadate can be read from.

[2019-10-14 00:44] Nadahar commented on #1856
I haven't read the Matroska spec to make sure of this, but I think it's very likely that's how it's done. The mkvinfo output also suggests this, but listing the profile and level as "Codec's private data". "Private data" in this context is likely to mean "every piece of information that isn't among the pre-defined codec metadata".

Further, the fact that Matroska contains/is an EBML ("binary XML")

[2019-10-14 16:59] Nadahar commented on #1856
I think I've finally figured this one out, with a little help from @Sami32. The file is definitely bad, it contains inconsistent level information. Which version each tool use it probably quite "random", it depends on the specific implementation. The values are supposed to be consistent, so there's no way to claim that "one is better than the other".

After digging around with a hex editor and cha

[2019-10-14 17:20] Nadahar commented on #1856
@ltGuillaume By setting the 4 headers to 4 different levels (L4, L4.1, L4.2 and L5.1) I got the following parsing output:
[code]

As you can see, the 3. header is the one that ends up being used - but the first is also read as `Container profile`. If you're lucky and only the first 3 entries are "wrong", you should be able to use H264 Level Editor to modify the files. It seems to have a maximum li

[2019-10-14 17:41] ltGuillaume commented on #1856
Wow, never would have thought that the files would be this botched, strange stuff.  Thanks for going through all this to figure it out. I had a look with mkvinfo, too, including the hex viewer, but that will probably only relate to the "Container profile", as UMS calls it.

It makes a lot of sense to repeat this metadate for streaming purposes, hadn't thought of that.

I'll have a look with H264 L

[2019-10-14 18:05] ExSport commented on #1856
The difference between MediaInfo library used in UMS and MediaInfoGUI can be also due to ParseSpeed: https://github.com/UniversalMediaServer/UniversalMediaServer/issues/432#issuecomment-67083204
UMS uses (used in past) lower value to speed up parsing (def was 0.5).
Changing it in UMS code to the default value probably will result in consistent output with Gui version :)

[2019-10-14 18:56] Nadahar commented on #1856
@ExSport Yes, that's what I tried to say above :wink:

[2019-10-14 19:03] ExSport commented on #1856
@Nadahar Too long for me to read all the discussion carefully but as I participated on this analysis depth I tried to find it and found so posted here😁
Exactly as you wrote, I only added the parameter which can be used for further tests (cli/dll) 😇

[2019-10-14 20:58] ltGuillaume commented on #1856
Yes, thank you @ExSport, that makes it more concrete.

I tried `--ParseSpeed=0.5`, (parse 50% of the file to determine all properties) but that actually still give High@L4. Only when I lower to `--ParseSpeed=0.25`, the MediaInfo output for these files shows High@L5.

When looking at the source, apparently, the current setting for ParseSpeed is actually 0, which probably means only the container he

[2019-10-14 21:42] #1856 closed

[2019-10-14 21:43] ltGuillaume commented on #1856
Yes, thank you @ExSport, that makes it more concrete.

When looking at the source, the current setting for ParseSpeed is now 0 (so it was 0.5 maybe), which probably means only the container header is looked at (not sure)?
https://github.com/UniversalMediaServer/UniversalMediaServer/blob/41124a266b592e8e39fee417a539427ff45e97b4/src/main/java/net/pms/dlna/LibMediaInfoParser.java#L64

I tried `--Pars

[2019-10-15 16:51] begleysm opened #1857 "Feature Request: Version Info on Webpage"
As far as I can tell the only way to see what version of UMS is running (from the web GUI) is to inspect the debug.log from gear settings / documentation / view / debug.log.

It would be really handy if the version information was displayed somewhere (perhaps just at the top, on a mouse-over, somewhere in gear settings, or under Server Settings).

[2019-10-15 18:06] ltGuillaume commented on #1856
Apparently, I was wrong to assume that this subset of files are an exception. When going through about 20 other MKV's, __all of them__ exhibited this behavior:

H264 Level Editor for the full file in question:
[code]

Another files outside the "problematic" set:
[code]

Another file that did not give any trouble with UMS:
[code]

etc.

[2019-10-15 18:11] Nadahar commented on #1856
@ltGuillaume I'm not sure to what degree you can "trust" the hits found by H264 Level Editor. To be sure that what it has found is really specifying profile and level, the whole file must be parsed so that headers are separated from image data. I don't think that's what H264 Level Editor is doing, I think it's doing a pretty simple search for a matching pattern of bytes (that COULD be a part of su

[2019-10-15 19:57] begleysm opened #1858 "Ex: Folder name 2.5 ordered before 2"
It is common for TV shows to have each season in a dedicated folder (ie: Season 1, Season 2, Season 3, etc).  Occasionally there is a need to describe an intermediate season (ie: Season 2.5).

UMS defaults to ordering Season 2.5 prior to Season 2 in the web GUI.  I think this should be made to order Season 2.5 after Season 2.  See screenshot below showing the Folder Structure on the right that res

[2019-10-17 04:47] atamariya commented on #1769
@SubJunk Thanks. If you can add me to the project, that would be great.

[2019-10-17 06:40] SubJunk commented on #1857
@begleysm thanks for the suggestion, this will be in the next release

[2019-10-17 06:40] #1854 closed

[2019-10-17 06:53] SubJunk commented on #1769
@atamariya done

[2019-10-17 06:57] SubJunk commented on #1856
Thanks for the investigation guys, interesting to read it. Nice work

[2019-10-18 03:36] #1596 closed

[2019-10-18 07:39] SubJunk commented on #1247
@tcely I can also use macOS for it

[2019-10-18 07:40] SubJunk commented on #796
Closing this issue because it is a duplicate (even though this came first, the newer one has more conversation in it) of https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1247

[2019-10-18 07:40] #796 closed

[2019-10-18 07:45] #1389 closed

[2019-10-18 07:46] SubJunk commented on #1033
Closing this as it seems to no longer be happening (at least I couldn't reproduce it on my Mac)

[2019-10-18 07:46] #1033 closed

[2019-10-18 07:48] #1494 closed

[2019-10-18 21:22] #965 closed

[2019-10-18 23:49] #1640 closed

[2019-10-19 14:39] David-Else commented on #1853
I am not sure the bundling of Java is such a great idea. I have been using `java-1.8.0-openjdk` and UMS with no problems for at least a year in Fedora. I can trust that version, and it is integrated into the system with all the right security settings for things like SELinux.

What if there is a security patch for Java that needs urgent installation? There is no repo for UMS, so we would never kno

[2019-10-19 19:35] SubJunk commented on #1853
On Linux, UMS will fallback to the system Java if the UMS one isn't there, so you can simply remove the folder in UMS

[2019-10-20 10:19] David-Else commented on #1853
@SubJunk Thanks! That works, so now I have 9.0.1 booting up, but for some reason I can't seem to get UMS to work on Centos 8, and it worked great on Fedora 28 that Centos is built from.

I can browse the media OK in the local web browser at `http://192.168.0.2:9001` but it does not show up on any devices on the network. I am not an expert at networking, but I think this shows the status of the fir

[2019-10-20 12:56] Nadahar commented on #1853
Worse than a firewall, Centos also has the dreaded [SELinux](https://en.wikipedia.org/wiki/Security-Enhanced_Linux). It blocks as good as everything that happens on the OS unless you have made explicit exception rules for that particular behavior. The "standard" services come with their "standard" exceptions, so you won't ever notice if you just stick to the basic stuff in the Centos repo.

As soo

[2019-10-20 22:24] David-Else commented on #1853
@Nadahar Fedora also has SELinux and it never caused a problem with UMS. I did disable it temporarily in Centos and afraid it did not do anything to solve the problem. I think it is the Firewall settings, I really need official word on which ports need opening, strange it is not on the main website.

I have had antics with SELinux in the past, it can be a real pain! Thanks for your suggestion.

[2019-10-20 23:43] Nadahar commented on #1853
I can inform you about which ports to open, even if you don't consider if "official" :wink:

The ports I list are incoming ports, outgoing ports will be assigned randomly by the OS so outgoing should be "allow any". Port 1900 (UPnP) must be open for both TCP and UDP, and isn't configurable. Port 5001 is the default port for the HTTP server serving media files, and must be open for TCP. If you've c

[2019-10-21 10:06] David-Else commented on #1853
@Nadahar THANKS! I used the following commands and it worked! Would be great to get them in the docs for Centos:
[code]

[2019-10-22 05:39] atamariya commented on #1853
Added a section in wiki https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/faq#my-device-cant-find-ums . Thanks @David-Else and @Nadahar .

[2019-10-22 13:59] #1583 closed

[2019-10-22 19:20] mzji commented on #1801
Seems like the whole whitelist function is removed in commit 27bcceb199a8ca6f96ff89b7f5352d4527642a10 , so in theory the last working version with whitelist function is 7.5.0 —— @mxyztplk1 could you check this?

[2019-10-26 19:03] mxyztplk1 commented on #1801
My limited test appears to confirm the removal of the subject Whitelist feature subsequent to UMS v7.5.0.  See below for testing details.
Note that my test was limited to testing a Whitelist of a folder by IP address within a general config file (Item 1 above, but not items 2 or 3 above.)

What was the reason that the subject Whitelist function was removed subsequent to v7.5.0?
___________________

[2019-10-26 19:47] Nadahar commented on #1801
I think I can explain that. I used to be a UMS developer, but since I felt that fixing bugs wasn't given priority (adding new features and new bugs seemed to me to be preferred), I made a "fork" called [DMS](https://github.com/DigitalMediaServer/DigitalMediaServer/) where I could focus on crushing bugs without new bugs being added constantly.

The UMS devs still wanted to benefit from my code, and

[2019-10-30 07:27] SubJunk commented on #1801
I think I will just revert those changes soon so we get the previous functionality back, thanks for the investigation guys

[2019-10-30 17:56] ChrisLundquist opened #1864 "Thread exhaustion, UMS created 32k threads"
I don't have a reproducible problem yet, but am reasonably sure I've tracked down the problem.
I was unable to ssh to one of my servers last night (I'd auth and the connection would close, logs later revealed fork was failing). After some debugging I saw that when the server became unresponsive, there were about 32k java threads running. UMS is the only java process.

My configuration is:
UMS is r

[2019-10-31 13:00] begleysm commented on #1844
I had kinda forgotten about this and went to login on my phone (last time was from a Linux laptop) and again, couldn't login, reset my password, activated my account and attempted to login with the new, giant random, password.

Once again I got the "Submitted form was invalid.  Try submitting again."  error.

![Capture+_2019-10-31-05-57-03](https://user-images.githubusercontent.com/1275999/6794873

[2019-10-31 16:58] mxyztplk1 commented on #1801
Great!  Thank you!

[2019-10-31 21:24] SubJunk commented on #1864
Thanks for the info, please post the logs to me on our forum universalmediaserver.com/forum
We do use a lot of memory and some of that should be made more efficient. Often we found it is because there is a renderer spamming requests at us. For example some LG TVs seem to spider through DLNA servers for some reason, requesting every folder and subfolder.

[2019-10-31 22:32] ChrisLundquist commented on #1864
The memory *usage* doesn’t appear to be the problem. I think the RES size
was ~2G which is what I passed to java. The VMEM size was 70G (2MB thread
stack x 32K threads).

Even when the server was unresponsive, it had 12G free, and 13G in cache.

Another theory is that I hit max_pid. The thread count is *slightly* lower
than 32k, so the kernel Task descriptors could have been exhausted. The
system

[2019-10-31 23:09] ChrisLundquist commented on #1864
Consulting folks who know far more than I do, they are very confident
max_pid is the problem, and java exhausted the amount of process
descriptors in the kernel.

You can increase this to ~4M, but that doesn’t really fix the problem, as
UMS probably shouldn’t be spawning ~100 threads a minute :)

So disregard the memory fragmentation hypothesis, I was wrong there.

On Thu, Oct 31, 2019 at 3:32 PM

[2019-11-02 22:07] b0c1 opened #1866 "ffmpeg not executable"
I installed ums using docker. When I start the application I got an error in docker log:
[code]

I mapped out the `/var/log/UMS` and in the debug log I see:
[code]

I checked in the docker container the ffmpeg files are not executable. Please add this to the UMS Dockerfile after the UMS copy
[code]

[2019-11-03 15:14] begleysm opened #1867 "Chomecast causes 40k debug messages per second"
I'm running UMS 9.0.1 under Debian 9 Linux and have a 2nd Generation Google Chromecast.

I run UMS in a Proxmox container.  The other day, as I was getting ready to upgrade to 9.1.0, I was looking at the Proxmox GUI and was surprised to find that the UMS Container was using 99.80% of it's 7.81GB disk space.  Especially since I keep all of my media on a mapped network drive and I haven't actually *

[2019-11-03 20:06] SubJunk opened #1868 "Managing web content is unreliable"
This was reported in https://www.universalmediaserver.com/forum/viewtopic.php?f=3&t=13823#p40362

I haven't confirmed this but it makes sense since I have tried to make the interface sync with the filesystem and there might be race conditions there depending on hardware configurations

[2019-11-03 20:07] SubJunk opened #1869 "Splash screen stays open until click"
Reported at https://www.universalmediaserver.com/forum/viewtopic.php?f=3&t=13823#p40362

[2019-11-03 20:08] SubJunk commented on #530
My understanding is that this has been fixed. If that's not the case please reopen

[2019-11-03 20:08] #530 closed

[2019-11-03 20:11] SubJunk commented on #1864
We have generously been given access to the Java profiling tools YourKit and ThreadSafe to help us with these kinds of problems, I think it would be a good idea to use one or both of them when we look into this.
I am very interested in making UMS more efficient.

[2019-11-07 19:27] esabol commented on #1781
Not everyone wants every application to be in /Applications/. On some Macs, I intentionally install some applications in $HOME/Applications/ instead, for example.

What you really want to do is to detect if the application is being run **from the disk image** and then offer to copy it to /Applications. Just my two cents....

[2019-11-08 02:52] SubJunk commented on #1610
Related to https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1611

[2019-11-08 02:53] SubJunk commented on #1610
and https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1798

[2019-11-12 20:52] jefrotone opened #1870 "Crash After Language Selection Menu v9.1"
[hs_err_pid6856.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3838172/hs_err_pid6856.log)

Windows 10 x64 Build 18362
AMD 3800x Processor
X570 Aorus Elite Motherboard

[2019-11-12 20:57] jefrotone commented on #1870
[hs_err_pid7632.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3838198/hs_err_pid7632.log)

This is another log but with the AdoptOpenJDK JRE runtimes.

[2019-11-19 03:29] SsJVasto opened #1871 "Web player isn't centered"
I noticed this issue on my PC using FireFox, creating an issue so a commit can be attached to it.

![image](https://user-images.githubusercontent.com/1872764/69114208-ceb84400-0a52-11ea-831b-d48171e4c81d.png)

[2019-11-19 03:44] SsJVasto commented on #1871
Well, it seems I can't push a commit to a branch of this repository, but the fix is as follows:

**/src/main/external-resources/web/web.css**, line 81
[code]
should be
[code]

The result:
![image](https://user-images.githubusercontent.com/1872764/69114923-e264aa00-0a54-11ea-94f9-f716634b9acf.png)

[2019-11-19 06:25] atamariya commented on #1871
@SsJVasto You should ideally fork the repo and create a Pull Request (PR).

[2019-11-23 13:15] rubin55 opened #1872 "BRAVIA KD-65AG9 media renderer not recognized"
UMS 9.1.0, all rendererers enabled. Log messages about every few seconds come by like the following:

[code]

This is the european variant of the A9G in the US I think. The TV runs Android 8 Oreo. Most content plays, although I did notice certain mkv files did not, which did play on my older TV (that was a Bravia KDL-55HX820).

[2019-11-28 21:51] SubJunk commented on #1872
@rubin55 thanks for making this issue.

I've made a renderer profile for you to test, please let me know how it goes. It can be unzipped and placed in the `renderers` folder in your UMS installation.
[Sony-BraviaAG.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3903079/Sony-BraviaAG.zip)

[2019-11-28 21:56] SubJunk commented on #1870
@jefrotone hi, thanks for providing the dumps. Are there any logs in `ProgramData/UMS`?

[2019-11-29 06:37] jefrotone commented on #1870
no logs , just conf files.

On Thu, Nov 28, 2019 at 3:56 PM SubJunk <notifications@github.com> wrote:

[2019-11-29 07:57] SubJunk commented on #1870
@jefrotone can you try running UMS via the Windows command prompt with the following command, from within the `C:\Program Files (x86)\Universal Media Server\` folder:

`"C:\Program Files (x86)\Universal Media Server\jre-x64\bin/java.exe" -Xmx1280M -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8 -classpath update.jar;ums.jar net.pms.PMS`

Then we might see some useful detail

[2019-11-30 15:32] felsen2011 opened #1874 "UMS 9.1.0 fails to start up on linux with arm processor"
The startup script fails to check for arm devices.
It tries to start with the provided x86 binaries and aborts due to the incompatible java version.

[2019-12-01 16:03] StuckInLimbo commented on #1870
Also experiencing the same issue on 9.1. Attaching my log as well.
[hs_err_pid15000.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/3908390/hs_err_pid15000.log)

[2019-12-02 06:41] SubJunk commented on #1870
@StuckInLimbo same message to you, please try running it manually with `java.exe` and let us know the output of that

[2019-12-02 06:47] atamariya commented on #1870
Guess it's related to D3D drivers on win10. This might help.
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=13773&p=40097#p40097

[2019-12-02 06:51] SubJunk commented on #1871
@SsJVasto that code change breaks it for me in Chrome and Firefox, which already have it centered for me. I'm not sure what the difference is here. I have tried to reproduce it with widescreen and non-widescreen video but it is still already correct for me. Can you attach the MediaInfo data for the video?

[2019-12-02 13:20] jefrotone commented on #1870
it started working on version 9.1.0 and update Windows 10 x64 1909 Pro.

... not sure what happened.. but it works great now after the update.

On Mon, Dec 2, 2019 at 12:47 AM atamariya <notifications@github.com> wrote:

[2019-12-02 15:53] StuckInLimbo commented on #1870
Yeah this fixed my issue, creating an exception in RTSS did it for me. This wasn't a problem on 1903, 1909 is just buggy I guess.

[2019-12-03 05:20] #1870 closed

[2019-12-04 04:14] SsJVasto commented on #1871
@SubJunk Sorry, where can I get the MediaInfo?  Do you mean something like the output of ffprobe, or is it something verbose in ums?  (I use a headless Debian server, so I don't have a UI to explore the options)

[2019-12-04 06:01] Nadahar commented on #1871
[code]

[2019-12-04 19:59] infr-automation opened #1875 "Samsung 4K UHD 2019 models and transcode logics"
1. New profile is needed that excludes dts and divx for the 2019 4K Samsungs
2. default behavior should be to transcode first dts soundtrack to ac-3 640 currently there is no setting for this so the remuxing defaults to second ac-3 which is usually with commentary for the visually impaired
3. transcode folder contains too much useless formats and no useful formats.
Useful formats are:
-> container

[2019-12-04 20:07] infr-automation opened #1876 "DLNA initialization with UPnP on windows logic amendment"
the programmatic logic for DLNA servers with UPnP on Windows needs to be like this:

1. check for enabled IGMP
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters\
IGMPLevel needs to be set to 2 (default) (with restart)
2. Check for enabled UPnP and SSDP Services
3. Check for firewall rules that may prevent it

Maybe also check for LLMNR
Software\Policies\Microsoft\Windows NT\DNS

[2019-12-04 20:30] Nadahar commented on #1876
1. IGMP is irrelevant unless you intend to route multicast, and is not required for normal use.
2. UPnP and SSDP services are Windows services that handles Windows Media Player "Media Sharing/Home Group" and isn't relevant for UMS.
3. DNS isn't used at all.

The only thing of the above that is correct is that the firewall can't be configured to block UMS. Microsoft seems to favor resetting firewal

[2019-12-05 11:16] infr-automation commented on #1876
the IGMP setting is relevant when it's off it prevents multicast and UPnP, DLNA uses mutlicast

[2019-12-05 13:51] Nadahar commented on #1876
UPnP uses multicast for discovery, but I didn't think IGMP was needed since it's a protocol used to *exchange* multicast routes between network devices. In "normal use", the server and the clients/renderers are on the same IP subnet so that no routing is necessary.

It's not entirely clear to me how IGMP is "defined". If it means that the UMS host must exchange group membership information with ro

[2019-12-05 14:27] infr-automation commented on #1875
OK so why TranscodeVideo = MPEGTS-H265-AC3 why does it need to be mpegts (broken not working with the TV)  why cant it be MKV ?!

[2019-12-05 18:11] ExSport commented on #1875
MKV container is nothing about transcoding. If renderer doesn't support MKV itself you have two options. Remux it to e.g. ts/m2ts/mpg whatever compatible or transcode it if e.g. h.265 is not supported at all.
In such case you must set what transcoding option should be used. Should stream be encapsulated as transport stream or program stream? Is mpeg2/h.264/h.265 supported? Is ac3/aac supported? Re

[2019-12-05 19:12] infr-automation commented on #1875
I understand this however the UMS architecture and logic is retarded. Who came up with it ?

The TV supports mkv but UMS trasncodes to ts. Just send the MKV, transcode only the audio (the tv does not support dts).

With mpegts and mpegps it does not work.

[2019-12-05 19:14] hamedsbt opened #1877 "Failed to send action "SetAVTransportURI" to [LG] webOS TV UH850V"
[code]

[2019-12-05 19:31] ExSport commented on #1875
Unfortunately UMS doesn't support transcoding audio only so when e.g. DTS is not supported, whole file including video is transcoded to achieve audio transcode too. If I remember right it is due to audio sync issues when only audio was transcoded. But maybe situation changed with recent FFmpeg engine.
Btw. your renderer must support at least one of them (ts/ps) but maybe some coding parameter make

[2019-12-05 20:00] infr-automation commented on #1875
I am OK with passing both audio and video through ffmpeg, I understand that it needs to sync it. However CPU must be used only for audio, video must be direct copy.

Also the problem is the container. The correct container that I want to pass to the renderer is the original mkv or a recreated mkv by ffmpeg.

[2019-12-05 20:05] Nadahar commented on #1875
You simply can't do that with UMS. There's a ton of potential problems that would have to be solved to do that, and I doubt anybody has the time and will to invest. That said, I don't understand why you care what container it is as long as the content is displayed correctly. Since DLNA has been developed by commercial companies, MKV support is very slim while MPEG support is mandatory. Thus, all D

[2019-12-05 20:11] infr-automation commented on #1875
Can I pass video to the TV and audio keep at PC for output ?

[2019-12-05 20:15] ExSport commented on #1875
When I was talking about sync issues it was for both, transcoded audio+video and transcoded audio+direct copy of video. Both were out of sync so it was stated video must be transcoded too and so UMS does it like that. But as I said, maybe recent FFmpeg does job better than in past, who knows. But then whole UMS logic must be changed, introducing more buggy behaviour like now.
Also you can't create

[2019-12-05 20:18] infr-automation commented on #1875
This is horrible. Now I have to buy a Chromecast ultra and that does not have DTS either ?

[2019-12-05 20:20] ExSport commented on #1875
New Nvidia Shield TV 2019 😄

[2019-12-05 20:22] infr-automation commented on #1875
During my tests I found reencode settings that reencode only the audio. The remaining problem was the container format.

[2019-12-05 20:25] ExSport commented on #1875
Yeah, you can customize encoder parameters directly in UMS Gui or renderer.conf files. Unfortunately there is a limited container support as not all can be created on the fly (some have index at the end so partial file is like corrupted for any player)

[2019-12-13 13:35] simonjonnemeth commented on #1829
When streaming to my Android box. Like I said, I found the corresponding files within UMS and changed them my self but it needs sorting on your end.
![xbmc](https://user-images.githubusercontent.com/1496797/70804042-5e7cb400-1dad-11ea-80ab-d7df2213860f.png)
![xbmc2](https://user-images.githubusercontent.com/1496797/70804047-62103b00-1dad-11ea-98d4-ff7bad87d0a8.PNG)

[2019-12-15 22:18] SubJunk commented on #1829
It would be useful if you would provide us with your fix

[2019-12-15 23:05] simonjonnemeth commented on #1829
I already have. Very first comment dated 31st August.

[2019-12-16 08:40] valib commented on #1829
@simonjonnemeth as @SubJunk asked you we need your log because the Kodi conf is included in the UMS. It seems like incorrect detection.

[2019-12-24 03:08] #1872 closed

[2019-12-27 13:05] bmferreira commented on #1829
If you're using the kodi version that came with your android box, remove it completely and install the latest apk from KODI or download from the play store. If it still detects it as xbmc It's a UMS bug otherwise I doubt it.

[2019-12-27 13:12] bmferreira commented on #1877
WebOS version?

[2020-01-01 21:21] SubJunk commented on #1877
@hamedsbt please follow the instructions given when you create a new issue - we need more details than this

[2020-01-01 21:21] #1877 closed

[2020-01-01 21:26] SubJunk commented on #166
I've added those labels and removed the Java 8 one because we are now using Java 8

[2020-01-01 21:26] #225 closed

[2020-01-01 21:30] SubJunk commented on #1844
@begleysm I'm not sure what it could be, maybe there is a maximum password length or something. Can you try a more simple one as a test? Also it's weird that the forum is sending your password in an email, I'll attempt to disable that, I'm amazed they do this by default

[2020-01-01 21:48] SubJunk commented on #1842
@headius I have merged the fix

[2020-01-01 21:48] #1842 closed

[2020-01-01 21:48] Nadahar commented on #1844
@SubJunk I've had similar problems logging in to the forum several times since you demoted me. I never had these problems when I had "developer status", so I suspect that permissions are involved in some mystical way - together with cookies I suspect.

I don't remember what I did to suddenly be able to log in again, but I think deleting the cookies should be the first step. At one time, I could lo

[2020-01-01 21:54] SubJunk opened #1879 "java.lang.IndexOutOfBoundsException: Index: 0, Size: 0"
I started getting this error in the logs after https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1828 was merged @valib

[code]

It seems to only happen with broken files (that particular file is 0 bytes) so it is good it is not added to the library, but we shouldn't get that exception

[2020-01-01 22:18] SubJunk commented on #1876
@infr-automation thanks for your suggestions and @Nadahar for the discussion. If anyone is interested in adding these checks via a Pull Request I would welcome it. I'm going to close this issue as I don't think it will be worked on but I would be very happy to be surprised on that :)

[2020-01-01 22:18] #1876 closed

[2020-01-01 22:19] SubJunk commented on #1781
@esabol I agree and have edited the issue to match what you said

[2020-01-01 22:23] SubJunk commented on #1874
@felsen2011 I'm not sure what you mean by "incompatible java version", can you explain?

[2020-01-01 22:27] SubJunk commented on #1844
I see there is an available update to the forum software we use which has modified login forms for security so I'll update to that.
We are using a mostly unmodified version of the forum so it may be a bug with that software.

I have been testing on a regular user account by the way, I registered and logged in and out.

[2020-01-01 22:29] Nadahar commented on #1874
@SubJunk All native code needs to be compiled for the target CPU architecture, which means that things are compiled either for x86, ARM, MIPS, PPC etc. These days most people use x86/x86-64 binaries, but hardware using other CPU types do exist, like for example the RPi.

When you bundle Java, you probably only bundle x86 versions, which aren't runnable on other architectures.

[2020-01-01 23:56] felsen2011 commented on #1874
From the startup script:

    if [ "$(uname -m | grep '64')" != "" ]; then
        if [ -f linux/jre-x64/bin/java ]; then
            JAVA="linux/jre-x64/bin/java"
        fi
    else
        if [ -f linux/jre-x86/bin/java ]; then
            JAVA="linux/jre-x86/bin/java"
        fi
    fi

it tries to run the shipped java just by distinguishing if the system type contains the string "64" or not a

[2020-01-02 01:33] SubJunk commented on #1874
I see. Do you have a suggestion for what to change it to? Maybe something like:

[code]

[2020-01-02 01:51] SubJunk commented on #1875
As the others said, it seems that the original poster has no idea about DLNA.
I am however interested if new Samsung TVs have stopped supporting DTS. I'll check

[2020-01-02 02:02] SubJunk commented on #1875
I've verified that DivX and DTS support has been removed in 2019 Samsung TVs so will make a profile for that

e.g. http://downloadcenter.samsung.com/content/UM/201909/20190919132100565/MUSATSCR-4.0.0_EM_MUSE_USA_ENG-US_190731.0.pdf

[2020-01-02 02:44] SubJunk commented on #1844
I have updated the forum software now. Not sure if that will fix it but it's worth a try

[2020-01-02 03:03] begleysm commented on #1844
@SubJunk I'm shocked but... the update worked!  I clicked "I forgot my password", put in my email, got a new super-long random password, and was able to login with it.  I was the able to change my password, logout, and the successfully login with the new password that I created.

Thanks for circling back around to this and not letting it rot forever.

@Nadahar thanks for confirming I'm not a lunat

[2020-01-02 03:28] SubJunk commented on #1844
@begleysm yay, thanks for confirming! Updating that software is a PITA so I'm really happy it was worth it :)

[2020-01-02 11:42] felsen2011 commented on #1874
That would resolve my problem, but I don't think that these architecture strings are standardized.
Therefore it would be possible that a 64bit capable arm system also has a string containing "64" and would still fail.

You could grep for the whole arch string but afaik there are different strings for 64bit capable x86 systems so it might be that as a result some of these would not use the shipped

[2020-01-03 06:57] SubJunk commented on #1874
@felsen2011 can you let us know your uname?

[2020-01-03 07:00] SubJunk commented on #1875
That's done in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1882

[2020-01-03 11:48] felsen2011 commented on #1874
It is now: armv7l
it used to be: armhf

[2020-01-05 14:24] skupfer commented on #1875
@SubJunk I see this profile is only for "QN[...]". I have a new UE43RU7179UXZG, which is 4k handled by Samsung-UHD.conf.
From what I have seen or heard it doesn't support DTS, too (which is in there). Shouldn't the other configs be optimized, too? I guess this UHD.conf works for old TVs which still support DTS, but as it has been said not new ones.
I guess I can simply copy everything from 4k exce

[2020-01-05 18:33] Nadahar commented on #1522
I rest my case :laughing:

[2020-01-06 06:51] SubJunk commented on #1522
This was closed automatically in error

[2020-01-06 06:53] SubJunk commented on #1875
@skupfer I will add your TV to the recognition in the new files in #1882 :) thanks for commenting

[2020-01-06 08:20] SubJunk commented on #1875
That's done now so should be in our next release

[2020-01-06 15:31] maryadavies commented on #1607
I was the one who mentioned this. Thought I'd add a update.

Was trying to get it to work and no luck, took me a while to get the file too. http://finalfantasystation.com:8000/stream.mp3.m3u ..Can someone check and see if we can finally get this to work?

[2020-01-08 20:59] SubJunk commented on #1874
There's a list of unames at https://en.wikipedia.org/wiki/Uname that suggests to me that change above would be safe. I'm happy for more robust options to be submitted but I'll go with this for now as it is better than what we currently have.

[2020-01-08 21:06] SubJunk commented on #1874
@felsen2011 would you please try running `getconf LONG_BIT` and let me know the output? I got that from https://askubuntu.com/questions/41332/how-do-i-check-if-i-have-a-32-bit-or-a-64-bit-os (though it should be noted the top-voted answer is for `uname`)

[2020-01-08 21:14] #1874 closed

[2020-01-08 22:27] SubJunk opened #1886 "Error when transcoding with current FFmpeg, fixed in new ones"
When using a command like:

[code]

I get the error:

[code]

and the transcoding fails.
I have confirmed it is fixed with newer FFmpeg versions, with no changes to the commands, so we should try to update to a newer version.

[2020-01-08 22:41] felsen2011 commented on #1874
I don't have a script named getconf in my linux distro.

Here is the list for debian releases:

https://www.debian.org/releases/stretch/i386/ch02s01.html.en

The troubling thing is that everyone seems to define their uname response differently.
You might get lucky for some time by sorting "non x86" with a system fallback + "x86" and "x86-64/amd64" with provided binaries but the more linux users th

[2020-01-08 22:43] felsen2011 commented on #1874
Your current fix will fail for "arm64" though

[2020-01-08 22:56] headius commented on #1842
@SubJunk Sorry I never replied when you couldn't reproduce it. Seems like that changed and this is in process now. Thanks!

[2020-01-09 06:36] SubJunk commented on #1874
Thanks for checking. Do you have any ideas for a more robust method?

[2020-01-09 15:24] valib commented on #1886
@SubJunk have you tried to use example from  https://trac.ffmpeg.org/wiki/HowToBurnSubtitlesIntoVideo especially `"[0:v][0:s]overlay[v]" -map "[v]" -map 0:a` ?

[2020-01-09 19:24] felsen2011 commented on #1874
Not really.
Thats the thing with the linux world.
All dependency issues are usually taken care of on the distribution level.
So you don't ship your preferred version of a dependency but the distribution ships a fitting version and takes care that all installed software is up to date and secure (most of the time).

Of course one could produce a *.deb or *.rpm package that has some jre version as mi

[2020-01-12 09:18] SubJunk commented on #1874
Maybe we can make the `uname` method more robust by checking for `x64` instead of just `64`

[2020-01-12 12:55] felsen2011 commented on #1874
When you have a look into the Debian architecture list, they're naming it "amd64"

[2020-01-12 13:14] Nadahar commented on #1874
You'll probably find amd64 other places as well, it has historical reasons for who came up with what, and I think x64 is a later "collective name" often used but not entirely accurate.

In short, it's probably not possible to make something that works properly in all circumstances, maybe it would be better to document where to find this logic so that users can alter it themselves in "tricky circum

[2020-01-13 06:58] SubJunk commented on #1874
Maybe it would be better to take a different approach on Linux and prefer to use the Java they have installed, and only attempt to use the bundled one if they don't have Java

Thoughts?

[2020-01-13 20:08] felsen2011 commented on #1874
100% Pro
Is there a method to check for high enough java version?

Maybe also a third step that if the bundled java version isn't working to ask the user to install a working java version? Or even take this as second step?

[2020-01-13 20:11] felsen2011 commented on #1874
java -showversion
openjdk version "1.8.0_232"

is JRE working the same way?

[2020-01-15 07:47] #1671 closed

[2020-01-15 07:48] #1661 closed

[2020-01-15 07:48] #1664 closed

[2020-01-15 07:49] #1612 closed

[2020-01-15 07:50] #1577 closed

[2020-01-15 07:50] #1557 closed

[2020-01-15 07:51] SubJunk commented on #1479
Is this still happening?

[2020-01-15 13:29] pipin77 commented on #1479
Yes, still the same error.

[2020-01-15 20:47] mokalovesoulmate opened #1888 "Can seek video on Windows but cannot seek on Linux version"
**System:**
Intel i5-2400
RAM 8GB
SSD 256GB
UMS version: ums-9.2.0 for both OS below
OS (dualboot):
- Windows 10 version 1909
- Linux Mint 19.3 Tricia

**Debug file:**
[ums_dbg.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/4067435/ums_dbg.zip)

**Problem and steps taken:**
- Windows version can seek videos just fine. VLC for Android renderer can play normally
- Linux vers

[2020-01-15 20:49] SubJunk commented on #1479
Can you please attach a trace log? I just checked and there is good logging there which should tell us what the fix should be

[2020-01-15 20:55] SubJunk commented on #1888
@mokalovesoulmate from the logs it looks like there is a problem with your installation of MediaInfo on Linux. Having that installed and working, along with libzen (a dependency of MediaInfo), is likely to fix this

[2020-01-15 21:04] SubJunk commented on #1866
Thanks for reporting this, I think it is fixed now. Please feel free to reopen if you experience it again.

[2020-01-15 21:04] #1866 closed

[2020-01-16 01:50] mokalovesoulmate commented on #1888
Right, `sudo apt install mediainfo` is fixing the problem. Thanks!

[2020-01-16 01:50] #1888 closed

[2020-01-20 10:57] dizer commented on #1855
Confirming. As a workaround, you can click on "Open Anyway" in System settings (Security & Privacy)

[2020-01-20 16:49] richstokes commented on #1855
I dont see that option on latest MacOS. Probably because it thinks the package is "damaged" as opposed to being from an unknown developer?

[2020-01-20 16:53] Nadahar commented on #1855
The whole "damaged" claim is a red herring. Apple knows exactly what is "wrong" with the file, and that is that the developer didn't pay Apple to issue a "certificate" what would make it perfectly fine. It's strange how easy you can fix things simply by paying Apple.. without actually changing the application.

[2020-01-20 16:54] richstokes commented on #1855
Well, checking security settings after attempting to open the app I see no option to "open anyway"

[2020-01-20 16:59] Nadahar commented on #1855
I don't use macOS so I'm not sure what version this started, but they have claimed that unsigned software is "damaged" for many versions now. I think it started around 10.10 - 10.11 somewhere. However, in the earlier versions you could just Apple + click the icon and run it anyway, but that's long gone I think.

[2020-01-20 17:03] Nadahar commented on #1855
This is related, although this software is signed, but the developer has since stopped paying Apple so the certificate is "expired": https://apple.stackexchange.com/questions/262355/xxx-cant-be-opened-you-should-move-it-to-trash-for-flash-projector-applicat

The cause is the same though.

I think step 4 here still works, although the first 3 are bullshit options IMO: http://osxdaily.com/2019/02/13

[2020-01-20 17:03] richstokes commented on #1855
OK, so this is essentially a "will not fix" situation? I am running UMS in a Linux VM for now, seems kinda crazy but it works!

[2020-01-20 17:06] Nadahar commented on #1855
"Will not fix" from whom? Apple will not fix it as it is intentional. Free software can not "fix" it since it requires paying Apple money for a "subscription".

[2020-01-20 17:17] richstokes commented on #1855
Maybe should be phrased "Cannot fix".

How do other FOSS manage this? For example I install a ton of random packages on Mac via homebrew - I'd be very surprised if they have an official Apple certificate but they seem to run OK

[2020-01-20 17:19] Nadahar commented on #1855
I don't know, maybe homebrew handles this somehow? Maybe those "attributes" are set automatically by homebrew?

[2020-01-21 01:17] dizer commented on #1855
So I had 7.8 (from long time ago, pre-Catalina for sure) and upgraded to 9.2, which doesn't work. So I reinstalled old 7.8 and got the "Run anyway" button.

Now, for a test, I tried other versions between 7.8 and 9.2 and none of them was allowed to run. Maybe because I had UMS 7.8 during Catalina update or it just the last working version, not sure.

[2020-01-22 04:36] fgimenezm commented on #353
Looks like that merge broke the SupportedExternalSubtitlesFormats functionality.
I'm using an LG WebOS TV and up to 9.1.0 I could stream with external SRT subtitles without transcoding but in 9.2.0 I get something like this in the logs:
[code]

The renderer config for LG WebOS TV doesn't have the new "si:" and "se:" parameters but it does have the old SupportedExternalSubtitlesFormats one which th

[2020-01-23 07:30] SubJunk opened #1890 "Add current directory name in web interface"
At the moment there is the name as the webpage title, but not actually on the page.
It would probably be good as a breadcrumb.

[2020-01-23 20:01] pipin77 commented on #1479
Will do.

[2020-01-24 02:47] SubJunk commented on #1855
Can you download a very old version just to check that? There are really old ones at the bottom of https://sourceforge.net/projects/unimediaserver/files/Official%20Releases/OS%20X/

[2020-01-24 09:34] dizer commented on #1855
Just checked some older versions - only 7.8 which I had before Catalina is allowed to "run anyway"

[2020-01-24 16:38] richstokes commented on #1855
Sounds like the real question is why does MacOS think the package is "damaged" ? CRC or some other check maybe?

[2020-01-24 16:46] Nadahar commented on #1855
As said before, it's "damaged" because it isn't signed with an Apple issued developer certificate.

[2020-01-24 16:48] richstokes commented on #1855
Thats a different error. Security/missing cert error is different from being "damaged" as you can normally hit "run anyway" to bypass that issue.

Same reason it lets you open older versions - something else is going on here

[2020-01-24 16:50] Nadahar commented on #1855
What is going on is that Apple is gradually tightening the screws. So, they intentionally change error messages from "missing cert" or whatever to "damaged". Have you even tried changing the attributes? If so, I'm pretty sure you'll see that the file will suddenly run just fine.

[2020-01-24 17:00] richstokes commented on #1855
That works! In which case, can you not ship the app that way?

[2020-01-24 17:02] Nadahar commented on #1855
I doubt that would work, it would render Apples extortion scheme useless. I'm pretty sure they have found a way to prevent applications setting this, or everybody would just do that instead of paying them.

[2020-01-24 17:04] richstokes commented on #1855
Maybe ship it with a bash script or something that people can run - with instructions on how to do it. Right now there is no point shipping the Mac version of the app as it wont work for anyone on a modern MacOS version without running the above command :-)

[2020-01-24 17:10] Nadahar commented on #1855
This is the case for all software that doesn't pay Apple - it's not unique for UMS. As I said above, I think that in the end the users will have to decide if then want to work around Apples limits, abandon macOS, or simply submit and just use "App store" software.

[2020-01-24 17:19] richstokes commented on #1855
Fair enough, well thanks for your help.

[2020-01-24 17:20] Nadahar commented on #1855
This is just my opinion, the UMS developers will have to speak for their stance. I just think it's obvious that anyone that moves beyond the "App store" will have to get used to this.

[2020-01-25 08:32] SubJunk opened #1891 "Add option to avoid first-run wizard by just choosing default settings"
Users shouldn't be forced to do that

[2020-01-25 08:36] SubJunk commented on #1868
I have confirmed this on macOS, needs some work for sure

[2020-01-25 08:53] SubJunk commented on #1855
I have confirmed I'm getting this bug too.

We are working on a general knowledge base for UMS to consolidate our help resources, that will include that `xattr` script that worked.

I am also interested in other options that don't involve paying Apple, so if you know about any cool tricks/scripts @richstokes I'm all ears :)

[2020-01-27 07:12] SubJunk opened #1892 "SupportedExternalSubtitlesFormats not working as of 9.2.0"
Any ideas about this @valib ?

The following is copied from https://github.com/UniversalMediaServer/UniversalMediaServer/issues/353#issuecomment-577003563

Looks like that merge broke the SupportedExternalSubtitlesFormats functionality.
I'm using an LG WebOS TV and up to 9.1.0 I could stream with external SRT subtitles without transcoding but in 9.2.0 I get something like this in the logs:
[code]

[2020-01-27 07:12] SubJunk commented on #353
@fgimenezm thanks, I have created a new issue for this so we can track it better https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1892

[2020-01-27 07:12] #353 closed

[2020-01-27 08:17] SubJunk opened #1893 "Prioritize OpenSubs hash results over filename"
If we find metadata about a video by just passing in its filesize and OSDb hash (not with search terms), we should try trusting the result more than we trust the filename, or at least manage priorities differently. That way more filenames that don't match our conventions will have correct metadata.

Or that's the idea anyway, it will need good manual testing.

[2020-01-27 14:00] fgimenezm commented on #1892
There is another report of issues with subtitles here in the forum: https://www.universalmediaserver.com/forum/viewtopic.php?f=8&t=13938#p40742

[2020-01-27 21:36] valib commented on #1892
@fgimenezm can you provide the full log with the renderer config? The External subtitles format undefined in Supported lines should mean that there is the si: or se: parameter in the .conf without the value.

[2020-01-27 22:57] fgimenezm commented on #1892
The renderer config is the one that comes with UMS for LG WebOS TV. I haven't made any changes to it: https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/external-resources/renderers/LG-WebOS.conf

I'll capture logs with both 9.1.0 and 9.2.0 and upload them later tonight.

[2020-01-27 23:29] fgimenezm commented on #1892
I sanitized the logs to make them upload-ready but I'm not confident that I removed everything I wanted to remove.
Just in case I'm uploading the logs to a private repo here: https://github.com/fgimenezm/UMS-logs
I've sent you an invite to that repo @valib so you can get the logs from there.

[2020-01-27 23:48] fgimenezm commented on #1892
I've noticed there are some request from the TV that show up as "must be transcoded" but I think those are from the TVs thumbnail slideshow thinghy.

Here's what I think is the relevant part from 9.1.0 (found by looking for "Started playing testfile.mkv" string and then searching backwards for "Final verdict: "testfile.mkv"")
[code]
same file but with 9.2.0:
[code]

[2020-01-28 07:59] SubJunk opened #1894 "Make Watched and Unwatched folders nested"
Before:
Media Library > Videos > Unwatched > TV Shows

After:
Media Library > Videos > TV Shows > Unwatched

etc.

[2020-01-28 08:10] SubJunk commented on #1886
@valib I have referenced that article before but not this time

[2020-02-01 07:05] SubJunk commented on #1892
The fix for this (hopefully) is merged to master now, please feel free to open this if it is still happening after the next release

[2020-02-01 07:05] #1892 closed

[2020-02-02 07:34] SubJunk opened #1896 "Dark mode theme"
We should probably look different in dark mode... darker

[2020-02-02 19:34] infr-automation commented on #1875
webm looks stable as default format for these model rather than mkv or mpeg

[2020-02-02 19:59] Nadahar commented on #1875
WebM is a subset of Matroska (MKV) that lacks most of the stuff you need. It doesn't support any of the popular codecs (H264, H265, AAC, AC3, DTS etc.), so it's a quite terrible choice. On top of that, no efficient encoders exist for VP8/VP9/AV1 for now (I don't know if AV1 hardware chips are anywhere close to reaching consumers, but I don't think so), so real-time encoding to these simply isn't v

[2020-02-03 07:28] esabol opened #1899 "vlc transcoding always displays subtitles"
This is with UMS 9.2.0 on macOS using a PS4 as the DLNA client, playing an mkv file with an embedded subtitle track.

If I go into the #TRANSCODE# folder, there are options for `[VLC Video] { Audio: Enhanced AC-3/English }` and `[VLC Video] { Audio: Enhanced AC-3/English } { Int. Sub: SubRip/English (English) }` among others. If I select the first of those two options, the video displayed on my PS

[2020-02-03 21:50] SubJunk commented on #1899
Thanks for the report, this should be fixed.
Most of our efforts for transcoding engines go into FFmpeg and MEncoder so I would recommend using those in general.

[2020-02-03 21:55] LeandroStanger opened #1900 "Flatpak build"
Please, consider supporting [Flatpak](http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak) and publishing Universal Media Server on [Flathub](https://github.com/flathub/flathub/wiki/App-Submission).

[2020-02-04 00:58] SubJunk commented on #1900
Thanks for the suggestion, I would be interested in doing that in an automatic way, are you able to help with the setup?

[2020-02-04 03:31] esabol commented on #1899
I would, but, at least on my Mac and PS4, VLC (other than this issue with subtitles) actually consistently works better than ffmpeg and mencoder. I’m routinely encountering files on which ffmpeg seemingly just chokes.

[2020-02-05 03:28] polygirl opened #1901 "Change fully played action option from video to media in GUI"
On the `navigation settings` tab there's a dropdown for `fully played action`.

One option is `hide video`

For consistency with `mark media` and for relevance to other filetypes this should be updated to `hide media`

- [ ] option should say `hide media`

[2020-02-05 21:03] valib commented on #1901
@polygirl good idea. Thanks

[2020-02-06 21:31] SubJunk opened #1904 "Extend "hide fully played" feature to all formats"
At the moment we exclude non-video formats from that but I imagine it's useful for other formats too

[2020-02-06 21:51] SubJunk commented on #1901
This is merged and I made a followup story to make it actually do that

[2020-02-06 21:51] #1901 closed

[2020-02-06 23:17] SubJunk commented on #166
There is an old bug for this on OpenJDK's tracker, not sure if anyone will work on it but it periodically gets updates https://bugs.openjdk.java.net/browse/JDK-7094193

[2020-02-07 02:40] georgedorn opened #1905 "Large file causes crash on startup"
I'm testing this with a 36GB file downloaded from twitch.tv.  Obviously I can't grab logs from the `Logs` tab, but I can include the console output and debug.log.

To isolate the problem, I move the file into its own folder, deleted the database and cache and configured UMS to only share that folder.

Mediainfo output for the file:
[code]

The file read error at the beginning doesn't seem to stop

[2020-02-07 02:46] georgedorn commented on #1905
Additional info:

I'm on a fresh install of Ubuntu 18.04 server.  I've tried using both the bundled JRE and openjdk-8.  Mediainfo is v17.12, which is do see is a bit behind where the windows and os x builds are pinned.  I'll try building mediainfo from source to see if that helps.

[2020-02-07 03:45] SubJunk commented on #166
I have done a fix at https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1906 and it works for me on Windows 10. I can test it on macOS and I need someone to test on Linux.

[2020-02-07 03:48] georgedorn commented on #1905
Just confirmed that building libmediainfo from source (https://github.com/MediaArea/MediaInfo) and removing libmediainfo0v5 provided by ubuntu fixes this problem.  It's not a great fix as that build is not easy, but this should be a workable solution for somebody...

Maybe bundling this library like ffmpeg and tmux would solve this going forward?

[2020-02-07 07:51] SubJunk commented on #166
Testing passed on macOS. I'm going to try to do a similar thing we do with LookAndFeels to allow us to continue to support OpenJDK

[2020-02-08 09:38] Lincoln-G opened #1907 "Cannot play wav on PS3"
I have wav (44KHz, 16bit) on my Windows 7 PC running the latest version of UMS.

My PS3 is connected to the network via ethernet, as is my pc.  It plays stereo from the analogue out, to a standard stereo amplifier.

When I click to play a wav audio all I get is white noise, mp3 plays fine

If I navigate to the transcode folder and play from FFMPeg it plays fine, however I have FFMPeg set as my def

[2020-02-09 07:24] polygirl commented on #228
@PaulKlumpp It's been a while since you reported this, but we are closing this issue because we need full TRACE logs in order to diagnose and fix this potential bug. Please feel free to re-open this issue and provide them if it's still an issue.

[2020-02-09 07:24] #228 closed

[2020-02-09 07:45] polygirl commented on #229
@PaulKlumpp It's been a while since you reported this, so we are closing this for now, but if it's still an issue for you, please feel free to reopen it, including the full TRACE logs we need to fully investigate this issue.

[2020-02-09 07:45] #229 closed

[2020-02-09 07:57] polygirl commented on #236
@Simone98RC it's been some time since you reported this so we hope it's still not an issue for you, but on the General settings tab we have an option to  force the port of the server, which is 5001 by default to any other port and this may fix your issue.  If it doesn't please feel free to reopen this issue by attaching full TRACE logs as described in the new issue template.

[2020-02-09 07:57] #236 closed

[2020-02-09 08:05] polygirl commented on #237
Thanks for your suggestion which you made some time ago.  For the reasons Nadahar mentioned, it doesn't look as though this will be worked on so I'll close the issue.

[2020-02-09 08:05] #237 closed

[2020-02-09 08:12] polygirl commented on #238
@divanikus @n4pst3rking thanks for reporting this. It appears that this has now been resolved so we are closing, but if you continue to experience the same issue, please feel free to reopen with full TRACE logs

[2020-02-09 08:12] #238 closed

[2020-02-09 08:19] polygirl commented on #241
@mWaltari thanks for reporting this, unfortunately the link has expired.  If you are still experiencing that issue, please reopen and attach the file again so that we can look into it for you.

[2020-02-09 08:19] #241 closed

[2020-02-09 08:24] polygirl commented on #245
Closing as TRACE logs never arrived.

[2020-02-09 08:24] #245 closed

[2020-02-10 01:31] SubJunk commented on #253
@mfulgo @Ranger187 are you guys still around? We have an open Pull Request (https://github.com/UniversalMediaServer/UniversalMediaServer/pull/902) for updating to newer Netty versions and I would be interested in getting that tested by one of you to see if it affects this. I can build and upload it if you are available

[2020-02-10 01:32] Ranger187 commented on #253
Still around!Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: SubJunk <notifications@github.com> Date: 2/9/20  8:31 PM  (GMT-05:00) To: UniversalMediaServer/UniversalMediaServer <UniversalMediaServer@noreply.github.com> Cc: Ranger187 <Ranger187@Gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [UniversalMediaServer/UniversalMediaServer] Vizio Smart TV -
 

[2020-02-10 01:35] SubJunk commented on #253
@Ranger187 thanks for the reply, are you still using Windows? I can make you a Windows build to test

[2020-02-10 01:36] Ranger187 commented on #253
Yes sir, but I no longer have a Vizio. This only affects that model?Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: SubJunk <notifications@github.com> Date: 2/9/20  8:35 PM  (GMT-05:00) To: UniversalMediaServer/UniversalMediaServer <UniversalMediaServer@noreply.github.com> Cc: Ranger187 <Ranger187@Gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [Univer

[2020-02-10 01:37] SubJunk commented on #253
Ah I see, I'm not surprised about that given all these problems :) Yes I think this is only relevant for Vizios. Let's see if @mfulgo still has his one