[2021-12-26 11:50] Maelep opened #2753 "Cannot run program "ping""
Customized docker image.

[code]

[2021-12-26 20:45] SubJunk commented on #2753
Is this on Ubuntu? `ping` isn't installed on Docker by default so you'll need the `iputils-ping` package, see https://stackoverflow.com/a/39901446/2049714

[2021-12-26 22:20] Maelep commented on #2753
Yes, it's Ubuntu, thank you for your answer.

[2021-12-26 22:20] #2753 closed

[2021-12-28 21:35] SubJunk commented on #2741
This is fixed

[2021-12-28 21:35] #2741 closed

[2021-12-28 21:36] SubJunk opened #2761 "ConcurrentModificationException on CI tests"
[code]

[2021-12-28 21:57] #2761 closed

[2021-12-28 22:20] SubJunk commented on #2742
@SurfaceS your fix has made it less common but it still happens sometimes, so I have reopened the issue

[2021-12-29 20:58] SubJunk commented on #2687
@valib how are you?

[2021-12-30 17:35] valib commented on #2687
Thanks for the interest. I am at home, my wife takes care about me and I am exersizing the leg to be able to walk without a stick.

[2021-12-31 00:04] SubJunk commented on #2687
@valib I'm relieved you're at home now at least. Is it getting better? Is the exercise painful?

[2022-01-01 21:21] SubJunk opened #2766 "Broken connection to web interface playback"
When a video is played on the web interface, it marks as "started playing" correctly, but then it says "stopped" after a few seconds, which also causes some other bugs like broken resuming and broken UPnP pushing.

Edit: I thought it was specific to some versions but I couldn't narrow it down so I'm looking at it directly now

[2022-01-03 00:36] SubJunk commented on #2766
I think I have identified the cause of the bug as https://github.com/UniversalMediaServer/UniversalMediaServer/commit/2ef34120e3e0b98a08bad344f5ecb772a84bfa16 which means it has been around since 5.1.0, though certain other changes may have made it more likely to appear. It's basically a race condition where the `RemoteMediaHandler.handle` method starts and stops (via `dump`) playback. If `stop` h

[2022-01-03 00:52] #2258 closed

[2022-01-03 00:52] #2766 closed

[2022-01-05 02:17] SubJunk commented on #2697
@UMSGirl this is fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2771 which will be in the next release, thank you for reporting it!

[2022-01-05 08:28] UMSGirl commented on #2697
Thank you for your good Work :1st_place_medal:

[2022-01-07 05:13] #2697 closed

[2022-01-08 07:44] SubJunk opened #2778 "Shared folder set in wizard does not set on macOS"
Reproduced in 10.15.0, I selected a folder to share but instead the defaults got shared. Not sure if it's platform-specific

[2022-01-08 14:03] valib commented on #2687
Yes to be at home is much better and yes exercising is a little bit painful. You know when you not use your extremities the tendons are shortened and need to extend them. Of course with some pain. 🙂

[2022-01-08 17:40] Nadahar commented on #2687
@valib It sounds like you've had a really bad situation. It's a bit strange to take in that a "small accident" can give so serious consequences. It's certainly a reminder that we should think twice before taking unnecessary or be unfocused.

I hope you will make a full recovery and that you won't ever be this unlucky again. It's so easy to forget that we're getting older, when I was 20 I could fal

[2022-01-09 03:41] SubJunk commented on #2687
@valib that's good news you are at that stage, please keep us updated on your recovery! We have collaborated for over a decade now so you feel a bit like family, I want you to do well.

[2022-01-09 07:09] SubJunk commented on #380
This is being implemented in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2699

[2022-01-11 09:30] SurfaceS commented on #2462
I think changing Cling to jUPnP is not so hard to do, just few class to create / extends.
So if it's just replacing Cling by jUPnP, tell me I'll push something.

The fact is that UMS use only a small part of Cling, and Cling run the full service.
For now, it seems it is just used to discover the device/services from the network datagram messages.
Otherwise, only classes are used to build own messa

[2022-01-11 12:37] ik666 commented on #2742
I had a look at this issue: Seems like a race conditions leads to this sporadically appearing error due to synchronizing against 2 different objects (once against the class file and once against a member attribute). Since the member attribute is already a Lock implementation, it just needs to be implemented as intended.

[2022-01-12 00:04] SubJunk commented on #2462
@SurfaceS yes I think it would be good to change, because Cling is unsupported.
It would also mean that we are free to use the latest version of Maven, because the Cling 4thline repository holds us back

[2022-01-12 02:48] SubJunk opened #2782 "Add ability to allow/block renderers in the GUI"
There would be a boolean to control the default status of unrecognized renderers, named e.g. `Enable new renderers by default`.
Then there would be a way to enable/disable the renderer in the GUI, on this screen:
![image](https://user-images.githubusercontent.com/584228/149054733-d7d77012-b00f-4017-90c6-5b06bba0936b.png)

When it is disabled, it should show a visual indication on the Status tab, p

[2022-01-12 02:57] #1879 closed

[2022-01-13 07:13] SurfaceS commented on #2462
Done on my side.
I'm waiting the #2777 commit to make a pull request for this, then I don't have to refactor again and again.
It add latest jUPnP dependency and remove Cling 4thline one.

I also have a media server RequestHandler V3, cleaned, and based only on java internal httpserver (no dependency).
It should work the same than V2 (that need netty dependency).

[2022-01-13 08:05] SubJunk commented on #2462
@SurfaceS great work, I'm reviewing #2777 now, sorry for the delay

[2022-01-13 09:20] Atalantia opened #2785 "Disable all transcoders"
UMS 10.14.1
macOS 10.13.6

Open the tab "Transcoding Setting"
Disable all transcoders
Press Restart Server
Quit UMS
Restart UMS
Open the tab "Transcoding Setting"
All transcoders are enabled again.
Solution: Edit "~/Library/Application\ Support/UMS/UMS.conf" to:
engines =false
engines_priority =false

[2022-01-14 05:53] Atalantia commented on #2785
But anyway the DLNA doesn't work reliable on my system. The last version I can use reliable is 6.8.0

[2022-01-15 07:30] SubJunk commented on #2462
@SurfaceS #2777 is merged now, looking forward to seeing that jupnp PR! I see the v3 one too which I'll look at now

[2022-02-03 23:56] SubJunk opened #2815 "Possible regression: Resume file not playing unless network is reset"
I have been encountering a strange problem lately where `Resume` files don't play at first, but if I unplug my network cable and plug it in again they work. I'm not sure if it's related to recent changes or is existing, so this is waiting on me to test further.

[2022-02-05 01:56] SubJunk commented on #2565
This has been happening

[2022-02-05 01:56] #2565 closed

[2022-02-06 04:15] SubJunk commented on #2815
@UniversalMediaServer/developers any idea why this would happen?

[2022-02-06 04:17] SubJunk commented on #1074
I think this has been fixed, please reopen if not

[2022-02-06 04:17] #1074 closed

[2022-02-07 02:38] SubJunk opened #2819 "Clean up web interface player toolbar"
There's a separate toolbar below the web interface player that can probably be removed, along with its related flash player code, since Flash has been dead for a while. Users who still rely on it on older systems can stick with older UMS versions, but I doubt there is anyone still using that.

The other custom buttons on the row are the Download, Previous and Next buttons. We shouldn't lose that f

[2022-02-11 06:18] SubJunk opened #2823 "Graphical glitches in Java interface"
I have noticed some strange glitches in the UMS interface lately where elements overlap, I'm not sure if it's because of a recent JRE update, or if it's my new PC. Needs investigation and this is here to remind me to do that.

Example, but it happens on any tab
![image](https://user-images.githubusercontent.com/584228/153545829-6524bf18-5496-4a3d-aefb-79254f561bf7.png)

[2022-02-12 23:11] JK98062 opened #2826 "[UMS v10.15.0] 'Media Library' Subfolders no longer populated + Start-Up Media Scan now incredibly slow."
[ums_dbg_2022-02-13-09-20.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8054670/ums_dbg_2022-02-13-09-20.zip)

Since updating from v10.13.0 to v10.15.0, the Subfolders inside the "Media Library" Directory are no longer being populated. (ie, Recently Added/Played etc.)

Additionally, the Media Scan that occurs upon Application Start-Up now takes significantly longer. Prior

[2022-02-13 04:11] JK98062 commented on #2826
@SubJunk I thought that as well, so I made sure to kill all processes related to UMS (javaw.exe _**was**_ running even though UMS was closed) but the issue still persists.
Restarted PC, made sure all UMS processes weren't running then opened UMS and issue still persists.

Checked UMS' database directory (with and there's 4 files in it (thought was only meant to be 2).
![UMS](https://user-images.gi

[2022-02-13 04:59] SubJunk commented on #2826
@JK98062 yeah I think removing the lock file should fix it. Strange that it is still there. I guess we could try to remove it when UMS starts since if it is really being used, that operation will just fail. I'll make an issue for it
Please let me know if removing the file fixes it

[2022-02-13 05:37] JK98062 commented on #2826
Too easy, I’ll try deleting it when I get back on my Desktop.
Not sure how many other people, if any, have had the same issue, but I know I’ve had identical problems before when doing upgrade-installs of UMS. From memory, it occurred 4 times during a v9.x.x install and once during a v8.x.x install.
Would implementing a step during Setup; after it checks whether UMS is running and kills the process

[2022-02-13 07:17] SubJunk commented on #2826
@JK98062 good idea, once you confirm whether that fixes it I'll put that detail in an issue

[2022-02-13 09:42] JK98062 commented on #2826
**_Can confirm_** that deleting 'medias.lock.db' completely fixes the issue. Installed v10.15.0, deleted lock file, ran UMS, and DB Migration appears to execute successfully. I let it finish then updated to v10.16.0, and zero issues as yet.

Rolled back to v10.13.0 then tried updating to 15 or 16 out of curiosity to see if the same issue returned and it did indeed. So it might be worth implementin

[2022-02-14 21:41] SubJunk commented on #2826
@JK98062 can you make another issue for the last paragraph please?

[2022-02-15 08:16] SurfaceS commented on #2826
This file was created before H2 v2 was released, so it's not related to the upgrade.
But it can explain why the auto upgrade failed.

Default lock mode for version 1.4 and newer : This database file locking mechanism uses native file system lock on the database file. **No `*.lock.db` file is created in this case**, and no background thread is started.

So I presume this file was left from a hard s

[2022-02-16 20:06] MTOakey opened #2836 "Port change NOT accepted/implemented"
# How to contribute

In order to help diagnose and fix your issue we often need your "debug information". It's easy to save this information and attach it to a GitHub issue:

  * Start UMS.
  * Go to the `Logs` tab.
  * Press the `Create TRACE logs` button which restarts UMS in the "TRACE" mode. If that doesn't work for some reason, either select `Trace` from the `Log Level` dropdown at the bottom

[2022-02-17 08:42] SurfaceS commented on #2836
@MTOakey
Thanks for your issue.
UMS have 2 servers : the core media server and the web interface http server.
They run on different server / ip port.

UMS does not have a gui way to change the IP port for the web interface, but only for the core media server.
So, if you change the port here, you create a mistake as you have changed the core server port, that is launched after the web interface one

[2022-02-17 19:21] MTOakey commented on #2836
Yeah, I DON'T share with anyone, it is only for my access, even if I am at
a friends location, I can access through his Browser enabled Smart TV for
movies mainly, but all my music is also available through UMS, total of
both exceeds 4 terabytes... so, IF anyone hacked their way in they could
download ALL my content which would then hog my bandwidth and exceed my
ISP's allocation to me.
I do use a

[2022-02-17 19:48] Nadahar commented on #2836
I think you're mixing the ports a bit. UMS use two configurable ports (and port 1900 for UPnP which is fixed): 5001 and 9001. Port 5001 is used for the DLNA/UPnP AV services, to serve content to your local renderers. It isn't related to the web interface at all, and allowing access to it in your router would be pointless, as it only works "in concert with" UPnP which is based on multicast and does

[2022-02-17 20:03] SubJunk opened #2838 "Attempt to remove medias.lock on install/startup"
Sometimes the h2database lockfile is getting left behind during the upgrade to h2 v2, which breaks the upgrade and leaves UMS in a very broken state.

The Windows installer should be able to remove the file after it kills the process, which it already does. Then we should also try to remove it on UMS startup, for other operating systems. If it fails because of permissions it could leave a note in

[2022-02-17 22:57] MTOakey commented on #2836
Cool, Thanks,
So let me ask now, could the fact that I changed that "5001" field to
"9001" be the reason why my ROKU can never see my UMS server ?
Because NOW, with that field blank/5001, the ROKU sees the UMS !!!  ***Does
that mean that 5001 is the DLNA required port ???***
Maybe that should be more clearly stated somewhere in some documentation,
maybe, so people like me won't change it ?
I was o

[2022-02-18 00:12] Nadahar commented on #2836
"9001" be the reason why my ROKU can never see my UMS server ?

Probably. When you changed the UPnP AV/DLNA server port to 9001, both it and the web interface tried to use the same port. That probably didn't work very well, so at least one of them must have failed. There's nothing special about 5001, the only port that is mandated is 1900 for UPnP (which is why it's not configurable), so I guess t

[2022-02-18 00:29] MTOakey commented on #2836
Thanks again for all your help, attention and explanations.

On Thu, Feb 17, 2022 at 7:12 PM Nadar ***@***.***> wrote:

--
“A truth’s initial commotion
is directly proportional to how deeply the lie was believed.
When a well-packaged web of lies has been sold gradually, to the masses,
over generations,
the truth will seem utterly preposterous,
and its speaker, a raving lunatic.”  ~Dresden James

M

[2022-02-18 08:27] SurfaceS commented on #2836
@MTOakey
UMS is not intended to be accessible over the internet.

The web interface could be browse from the internet, but for security concern it should not.
If you want to do so, as for all software that are not intended to be accessible from the internet, the security need to be handle by your own (VPN, router, firewall, front-end server, etc).

**So everything under this is outside of UMS conc

[2022-02-18 17:38] Nadahar commented on #2836
UMS isn't intended to be used over the Internet, but you are of course free to do so. Its intended use is to deliver media content to smart TVs, game consoles, audio receivers, mobile devices, computers etc. on your local network/in your home.

I'm not sure if you're aware, but you have been communicating with more than one person ;)

[2022-02-19 11:15] SurfaceS opened #2840 "FFmpeg releases"
[FFmpeg 5.0 "Lorentz"](https://www.ffmpeg.org/download.html#release_5.0), a new major release, is now available.

5.0 was released on 2022-01-17. It is the latest stable FFmpeg release from the 5.0 release branch.

UMS should use the latest stable FFmpeg releases on all arch.

We find easily all arch ffmpeg for Linux and Arm.

But that can be difficult to have the 32 bits versions for mac and wind

[2022-02-19 21:35] SurfaceS commented on #2615
I'll post something for that after JUPnP merge.

[2022-02-20 00:26] Mik-S-UMS commented on #2615
I wonder if this is similar to what was happening to me when I was using my phones hotspot for internet in #2334 (and #2338) last year. a server restart would fix it for me too.

[2022-02-20 21:53] SubJunk commented on #2840
@SurfaceS this looks good, I will bump our versions soon. Since we use their development builds instead of release versions we aren't that far behind

[2022-02-22 23:46] SubJunk commented on #2840
Our source for Linux binaries seems to not be updating with changes since January 8. They did do a v5 release but nothing since then so I'll wait to see what has happened there https://www.johnvansickle.com/ffmpeg/

[2022-02-24 11:14] SurfaceS commented on #2662
#2813 done

[2022-02-24 11:14] #2662 closed

[2022-02-24 11:46] SurfaceS commented on #2030
#2764 fix this

[2022-02-24 11:46] #2030 closed

[2022-02-24 12:09] SurfaceS commented on #1004
#1992 fixed this

[2022-02-24 12:09] #1004 closed

[2022-02-24 12:25] SurfaceS commented on #464
@valib port 80 may be a problem when users have multiple services that will try to use this port on their computer.
And, their is nowhere user can change this port (not in gui).
I agree that the "console" should be moved on the web interface, or maybe the all web interface under the media server.

[2022-02-24 12:46] SurfaceS commented on #2838
I don't think that the h2database lockfile delete can fail as the db folder don't need root privileges.
The only way it can fail is if an old version of UMS is started on the same time (it will lock the file).

I will add a h2database lockfile delete if exist on the #2843

[2022-02-26 05:03] purevertigo opened #2848 "Web Page isn't working."
"This page isn’t working"
"10.0.0.2 didn’t send any data."

Happens on multiple browsers

[ums_dbg_2022-02-26-16-02.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8145930/ums_dbg_2022-02-26-16-02.zip)

[2022-02-27 00:11] #2343 closed

[2022-02-27 00:11] #2826 closed

[2022-02-27 00:11] #2838 closed

[2022-02-28 19:36] aawood commented on #2631
Just adding that I have had the same issue of ages, presumably as long as everyone else.

UMS 10.16.0 on Win 10.
Roku Express 3900EU running system software 10.5.0, build 4208-51.
Roku Media Player version 5.5, build 13.

[2022-03-01 20:14] SubJunk opened #2855 "Endless socket hanging logs"
I have a hung process with logs:

[code]

It repeats the `UPnP network exception: socket closed` and `Final UPnP network exception: Socket is closed` logs endlessly. It is on d40dd0427 which may no longer be relevant given the v11 branch, but I thought I would mention it while I saw it @SurfaceS
If it's no longer relevant we can close it

[2022-03-01 21:00] SubJunk opened #2856 "Regression: Since 10.16.0, metadata tables are not populated for files"
I have confirmed that since 10.16.0 the metadata tables (like `VIDEO_METADATA_ACTORS`) are not having values added for files, despite the logs saying they are. I have verified it with the h2database inspector tool.

It is still adding the values for TV series, just not files.

I'm looking into it now but wanted to post here in case you have any ideas @SurfaceS since that was the release with the h

[2022-03-01 21:31] SubJunk commented on #2856
To reproduce, just make sure a movie that receives API metadata is shared and scanned. The logs should show e.g.

[code]

But when you open the database in h2 that entry is not there, only entries for TV series are there. Maybe h2 no longer allows `-1` values in v2

[2022-03-02 07:13] #2856 closed

[2022-03-02 20:34] SubJunk commented on #2848
I've been noticing that lately too but I'm not sure why. It started recently, possibly as a result of the recent refactorings. Any ideas @SurfaceS ?

[2022-03-03 07:47] ik666 commented on #2848
Usually the "web" resource folder is not accessible in the config directory.

[2022-03-03 08:34] SurfaceS commented on #2848
The web interface is up, running and serve the webpage.
2022-02-26 16:01:48.579
`StartHandler root req /`
`Using resource: file:web/start.html`

The bug come from web folder.

[2022-03-03 08:58] SurfaceS commented on #2855
already fixed in v11
https://github.com/UniversalMediaServer/UniversalMediaServer/blob/687586bd8f9e08ecfd05b1bcc4aa7401df82ec07/src/main/java/net/pms/network/mediaserver/socketssdpserver/SocketSSDPServer.java

[2022-03-03 08:59] #2855 closed

[2022-03-03 11:36] ik666 commented on #2709
I think I got it. It came from class BrowseHandler around line 393+-  : `dlna = root.getDLNAResource(id, null);` The passed renderer is null, leading to NPE. Probably fixed this "en passant" with PR #2822.

[2022-03-04 07:36] SubJunk opened #2864 "Wizard folder selection not working"
I just installed UMS fresh and chose a folder, but the program started with the default folders instead.

Reproduced by removing UMS.conf

[2022-03-04 23:05] SubJunk commented on #2864
Fixes #2865

[2022-03-05 22:40] #2864 closed

[2022-03-05 22:40] SubJunk commented on #2840
It looks like the builds are happening again so I'll do this soon

[2022-03-06 11:10] SurfaceS opened #2866 "Piped ffmpeg InputStream give rubbish bytes at end"
When I tried to made HLS working, I was not understand why it's not working as I expected.
To debug, I created files directly from ffmpeg with the same command as the transcoder do (from log). And when I HLS directly from that files it worked as expected.
Then, I downloaded the files from the transcoder and compare hex in files.
The file are identical at start, but UMS transcoder's file have rubbi

[2022-03-06 11:28] SurfaceS commented on #2866
A bit more investigation :
`WebInterfaceServerUtil.dump` use a 32*1024 bytes buffer (32768 bytes).
It's like the `bytes = in.read(buffer)` return the full buffer size for the last `read` instead of the total number of bytes read into the buffer.

[2022-03-06 19:50] Mik-S-UMS commented on #2866
Would this have effected all transcoding before or is this just for HLS?

[2022-03-06 20:54] Nadahar commented on #2866
As far as I know, this is a problem that has been there since PS3MS and that probably affected a lot of things. That said, I'm not sure if these "irregularities" are caused by only one bug.

[2022-03-06 21:28] Mik-S-UMS commented on #2866
I'm just wondering if this has been the cause of transcoded videos not resuming after being paused on the PS4.

[2022-03-07 04:07] #2866 closed

[2022-03-07 04:24] Mik-S-UMS opened #2871 "GUI not opening on Linux after upgrading from 9.x to 10.17"
There is a user on the forum that can no longer open the GUI after upgrading.
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15027

I can't see any reason in the logs but there are several errors that will need looking at. I don't see how they can effect the GUI though but may be relevant to recent refactoring.

[2022-03-07 07:34] SubJunk commented on #2871
I think I see the problem, I'll post a build for that user. Thanks for posting this here and for your work to get those logs!

[2022-03-07 07:44] SubJunk commented on #2738
We went with Liberica for everything instead because I had problems with Zulu

[2022-03-07 07:44] #2738 closed

[2022-03-07 07:44] SubJunk commented on #2742
This was fixed

[2022-03-07 07:44] #2742 closed

[2022-03-07 07:45] SubJunk commented on #2778
This got fixed

[2022-03-07 07:45] #2778 closed

[2022-03-07 07:45] SubJunk commented on #2687
@valib how are you doing?

[2022-03-07 08:59] SurfaceS commented on #2866
@Mik-S-UMS

all transcoding

[2022-03-07 17:52] valib commented on #2687
@SubJunk thanks I am fine. The doctor allowed me to start walking so I am trying. My walk looks like the penguin but it is going better and better.

[2022-03-07 19:52] SubJunk commented on #2687
@valib that's so great! Now that there is a new Batman movie franchise you could audition to be The Penguin?

[2022-03-07 20:09] SubJunk opened #2874 "Timeouts while browsing during first-time scan"
I noticed yesterday that I was getting timeouts if I browsed during a first-time startup scan, and I think that is something that was better when we had reentrant locks. I'll do some testing before and after to see if it makes a difference.

Any other ideas about how to give priority to the browse actions during scan are welcome. It's a tricky one since the scan basically just "browses" all the sh

[2022-03-07 20:41] dln949 commented on #2871
I'm the person who originally asked about the problem on the UMS forum.

Thanks for doing this.

I am sorry, but I am a novice, I must ask these two questions:

1)  Briefly, in layman's terms, what was the problem?

2)  Exactly what am I supposed to do now so I don't have this problem?  Is there now a new version of UMS at the UMS download web page that I need to download????

[2022-03-07 22:17] Mik-S-UMS commented on #2871
He has reported that the GUI is still not opening (but the errors in logs are gone)
I think he might need a newer version of openjdk but I'm just guessing. Any Ideas?

[2022-03-07 22:53] Krakinou opened #2875 "UMS.conf overwritten at service start"
Hi,
I'm using UMS on a headless server on a Debian Buster
Since 10.17.0 (or 10.17.1 not sure): any changes done on file UMS.conf is systematically overwritten when restarting the systemd service that run UMS. For example if I add a new folder in the "folders" parameter, it is not taken into account and disappear from the settings. Same for changing the log level. I did not try other settings.

I s

[2022-03-07 22:54] Krakinou commented on #2875
maybe related to #2864 and #2865?

[2022-03-08 06:36] ik666 commented on #2874
Didn't we remove all locks? Introducing locks again doesn't sound like a speed update.

If you'd like to change Thread priority, you can do that by `Thread.setPriority()` method, giving the "LibraryScan" a `MIN_PRIORITY` and/or given the RequestV2 Thread a `MAX_PRIORITY `

[2022-03-08 07:09] SubJunk commented on #2875
@Krakinou yes that seems related, especially if UMS was unable to write to UMS.conf, since it needs to record that it ran once

[2022-03-08 07:11] SubJunk commented on #2848
I have this now too but there isn't much more in my logs to help:

[code]

[2022-03-08 07:14] SubJunk commented on #2848
I noticed in general that some exceptions on the web interface are never being caught, I'm not sure if that is new, but this bug is new. I have some changes running locally to hopefully stop uncaught/unlogged exceptions

[2022-03-08 07:20] ik666 commented on #2875
Actually, I see the same behaviour, same setup like Krakinou. If you change any setting on the command line while UMS is running, they get overwritten after a `systemctl restart ums` call. As a workaround I stop UMS, make all changes and start it again.

[2022-03-08 11:46] Nadahar commented on #2874
I very much doubt thread priority will make much of a difference, it only affects CPU scheduling and this isn't really CPU bound - it's I/O bound. I'm not aware of any mechanism to "prioritize" I/O, I think it's first come first serve for the most part. But, I think I/O will usually be slower the more tasks you do in parallel, as it will spend more time "switching" between the different tasks. In

[2022-03-08 11:47] Mik-S-UMS commented on #2871
Seems like a problem in 10.5.0, 10.4.1 is working for him.

[2022-03-09 07:59] SubJunk commented on #2874
Ah yeah, I think it's related to Java serialization since I have a lot of log entries about mismatched hashes, which stops caching from happening. I must not have updated or cleared a cache before building, I've had these nightmares before. Or sometimes an IDE does its own serialization and comes up with a new UUID for the same code or something... I'll debug it soon.

[2022-03-09 08:01] SubJunk commented on #2871
@Mik-S-UMS I don't think the java version will change anything since we bundle java for his operating system. I'll look at the code changes in 10.5.0. Thanks for communicating that in here, it's very helpful

[2022-03-10 07:06] SubJunk commented on #2874
@Nadahar do you remember why this line was added instead of adding a UUID to the file? https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/image/ExifInfo.java#L19

[2022-03-10 07:27] Nadahar commented on #2874
@SubJunk I assume I was the one who did it..?

I can't say exactly why I did this, but I can speculate as to what might have been my idea. The thing is that the whole serial version ID and Java serialization is a mess.

If you don't specify a serial version ID, Java will generate one from the class using some algorithm. This was originally meant to be "automatic". But, small differences in the JVM

[2022-03-11 04:00] SubJunk commented on #2848
Worth noting too that it still happens in v11 @SurfaceS

[2022-03-11 07:07] SubJunk commented on #2848
I noticed something, I'm not sure if it's the same bug or a similar one, but the web interface was launching via the button to the wrong IP address. It was going to `http://169.254.46.99:9001/` instead of my usual `http://192.168.1.128:9001/`

[2022-03-11 07:36] SubJunk commented on #2874
That makes sense and matches my understanding of serialization. It also makes sense that this is happening while I'm switching between Java 8 and Java 17 during development - it will be generating different versions of the same files.

The main problem I have now is that it breaks caching and it never recovers; if I restart UMS, the same errors happen for the same files, and so browsing is permane

[2022-03-12 17:42] Goten87 opened #2881 "Reset watched show in watch list (PS3-4)"
i need some help with this back in the day i think i was able to reset watched eps with a folder/option in the list of the show i was watching on my ps3-4 and it went away with i think a setting i changed

my question is was it a setting or did you remove this function from the program if its still here what settting is it and how do i get it back (i dont want to reset my compleet database/setting

[2022-03-12 23:56] SubJunk commented on #2848
It's happening for me in master every time the computer wakes from sleep. It didn't happen a few versions ago

[2022-03-13 20:12] SubJunk commented on #2874
I thought I had fixed it but I'm seeing inconsistency - there seem to be two values that JRE 8 is coming up with for ExifInfo: `3552335722258681536` and `7572357352308556233`. But when I set either of those values, it complains. I either get:

`java.io.InvalidClassException: net.pms.image.ExifInfo; local class incompatible: stream classdesc serialVersionUID = 7572357352308556233, local class seria

[2022-03-13 21:55] Nadahar commented on #2874
As far as I understand it, generating these "default" IDs is really quite pointless. All it does is to generate the value that the Java version that you're running in your IDE at that point would generate "automatically". It doesn't mean that this UID would match what had been automatically generated on other platforms/Java versions.

When I specify manual IDs I simply set it to `1`. After then it

[2022-03-13 22:16] SubJunk commented on #2874
@Nadahar given that we almost never (maybe even never in the future) make changes to these files, maybe serialization is overkill. As you can tell I'm inexperienced with serialization, can we easily remove it?

[2022-03-14 03:11] Nadahar commented on #2874
@SubJunk The reason for using serialization isn't so that they can be easily modified, it's to not make storing them in the database a huge undertaking. To store this information in the database without serializing them, you'd need to create database fields for each and every field in the corresponding classes. Then you'd have to write code that stores each of them and that retrieves them, much li

[2022-03-14 04:31] SubJunk commented on #2874
@Nadahar I see, thanks for explaining. I think I understand the motivation behind the serialization now.

I'll work on reproduction steps for the problem I was seeing with the UUID not persisting correctly to the database when changed, and when I'm sure that's either not happening or is fixed, I'll look to give each subclass of ExifInfo its own UUID. I'll try to match the existing ones I have on W

[2022-03-16 09:24] SurfaceS commented on #2848
The interface web server is running under the IP address 0.0.0.0 (all available IPs).
The IP address under the button is taken on the fly from the UPnP HTTP server.
169.254.x.x are self assigned IP for "Link-Local" (Network interfaces that does not have a valid IP address received from DHCP).

[2022-03-16 09:27] SurfaceS commented on #2815
Timeout on first run request ?

[2022-03-16 10:40] SurfaceS commented on #2725
Should be implemented in V11

[2022-03-16 14:55] gchristian commented on #2453
Yes it works. I think it would be beneficial to remove the VOLUME and EXPOSE commands from the dockerfile though. Those are defined at run time anyway. And the /profile one is extra confusing because the docker image doesn't do anything with that path - you need to map to /root/.config. If the docker image also set an environment variable for UMS_PROFILE that told it to create/look for the profile

[2022-03-16 16:08] SurfaceS commented on #2875
Their is no `FileWatcher` on the `UMS.conf` and the conf is saved at shutdown.
So it is a "normal" behavior as it is implemented.

When you change any setting from the command line while UMS is running, UMS doesn't know it, and doesn't apply this settings.
If it was, it can break itself (ex headless / gui, etc).
As the conf is implemented, their is no easy way to handle a reload.
So the best way t

[2022-03-17 07:12] SubJunk commented on #2815
Thanks for the interest guys. I noticed it happening only with certain files, and they didn't have subtitles. I can message logs on the forum if anyone wants

[2022-03-17 07:16] SubJunk commented on #2453
Please feel free to contribute any improvements via pull request :)

[2022-03-17 07:19] SubJunk commented on #2848
@SurfaceS as a user it is a regression, since it didn't happen before. Am I wrong?

[2022-03-17 10:33] SurfaceS commented on #2848
@SubJunk
Their is 2 things here :

This one work as before. The Interface server run on all interface.
The GUI button ask the IP from the MediaServer and the port from itself.
Before, the MediaServer was not updating his IP and show the one asked from conf or found.
Now it ask the current (instantly) IP bounded on MediaServer.
The IP under the button may/should be "localhost" as this one is always

[2022-03-18 19:30] Mik-S-UMS opened #2899 ""UPnP network exception: Socket closed" error on server restart"
A user on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15034) has reported this error coming up repeatedly after restarting the server since 10.17.0 and 2 others have the same issue. I tested this on mine and it happens to me too.
As far as I can tell it is coming from UPNP-AliveMessageSender, maybe that is not reset when the server is?

My logs are posted on the foru

[2022-03-18 19:59] SubJunk commented on #2899
It happens to me too

[2022-03-20 03:14] SubJunk commented on #2874
I think this was partially fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2896 too for the rootfolder browsing

[2022-03-21 03:36] SubJunk commented on #2874
It looks like the part that doesn't recover is the TV series thumbnails/posters, so I'm fixing that now

[2022-03-22 20:47] mailinglists35 commented on #1380
I've been successfully able to run it under a `xrdp` session. No xrdp defaults altered - just installed the ubuntu or centos package and started the service.

[2022-03-23 06:47] ik666 commented on #2875
@SurfaceS It's not about reloading. I think in the past, the config wasn't saved at shutdown. Now, even though GUI config chances couldn't have possibly been made by a user in a headless environment, the config is overwritten by the GUI values and that without any user interaction. This is the bug.

[2022-03-23 07:01] ik666 commented on #2875
@valib I think you might have done the change in PMS.java around line 724 (6 month ago):

[code]

[2022-03-24 18:49] ExSport commented on #2874
Hi guys.
Long time I wasn't checking UMS progress and see it is still in developmenet, great 👍
Hopefully all you are well.
For parents I installed new UMS version to share new photos on TV and I saw same issue like years ago and another new one as well :)
I shared one folder with 6000 photos and video files from mobile camera and shared it.
When tried to browse such folder (still not fully scanned

[2022-03-25 02:30] SubJunk commented on #2874
Good to see you @ExSport !
Good thoughts too.

I think this got worse in the last few released versions, I am working hard to get these things resolved. It might be worth trying 10.14.1 since we introduced a few bugs in 10.15.0 that are still not fixed.

18:59:33 TRACE Searching for thumbnail in THUMBNAILS with "SELECT ID FROM THUMBNAILS WHERE MD5 = '77854f146212506e883499c30099c889' LIMIT 1" befo

[2022-03-26 19:51] SubJunk commented on #2881
Yes I think you're right we have lost the ability to do that on the renderer.
You can mark a folder as "fully played" in UMS itself still, by right-clicking on the folder.

[2022-03-26 20:24] Goten87 commented on #2881
I don’t want to set it as fully played i want to remove that so I can rewatch it again also I cannot right click on a PlayStation

[2022-03-26 21:32] SubJunk commented on #2874
The deserialization problem is fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2905
I have been testing it and it works for me - I am able to change the UUID of `ExifInfo` and `JpegInfo` and it recovers from the error.

I have also merged https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2904 and found it to make a big difference too - if I delete my data

[2022-03-27 07:29] SubJunk commented on #2881
You can also mark it as "unplayed" with that right-click menu. But the limitation is that the GUI doesn't let you go into subfolders. It would be great if it did, but no one has made that yet.

You can change the name of the folder and then UMS will see them as new unplayed files

[2022-03-27 20:11] afpr252 opened #2907 "Cannot use "Downloads" folder as shared folder on macOS"
After adding the Downloads folder as a shared folder, the following error appears in the logs:

Full debug logs: [ums_dbg_2022-03-27-21-01.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8358372/ums_dbg_2022-03-27-21-01.zip)
I'm using the latest version of macOS, 12.3.

When I go to System Preferences > Security & Privacy > Privacy > Files and Folders, the UMS application i

[2022-03-31 22:08] esabol opened #2912 "HTTP console interface error: The element type "meta" must be terminated by the matching end-tag "</meta>"."
UMS 10.19 (but I've seen this with all the versions I've tried going back to 10.13, for the record) TRACE-level debug log:
[code]

[2022-04-04 01:54] SubJunk commented on #2912
@esabol thanks for reporting this, will fix it in the next version

[2022-04-05 08:42] SubJunk commented on #2848
@purevertigo are you able to install older versions to see when this problem first started? That would really help us to fix it

[2022-04-05 10:02] purevertigo commented on #2848
It currently not doing it for me with the current version. I will continue to monitor.

[2022-04-06 06:24] SubJunk commented on #2874
This is resolved now, details above

[2022-04-06 06:24] #2874 closed

[2022-04-06 06:30] SubJunk commented on #2907
That's strange. For me on macOS, it asks me whether it can have access when UMS starts. However I'm still on 11.6.4 and Apple seems to lock down each major version more than the last.
I'll update to 12 soon so I can investigate this

[2022-04-07 08:08] SurfaceS commented on #2912
It is not an error.
HTML answer is not XHTML or XML.
Closing with "</meta>" will break on some browser as it doesn't comply with HTML.
This error is due to the trace (and only trace) logger that try to parse the answer as XML (for soap) to nicely show the answer.

You will have the same problem with <img>, <br> etc as HTML is not XML.

[2022-04-08 08:08] MRiCEQB opened #2916 "Virtual Folders don't merge subdirectories"
Hi everyone.

I got an issue with the virtual folders.
When I add paths from multiple sources with the same subdirectory folder structure, they show up multiple times on the DLNA client.

For example, I have a few drives which all follow the same folder structure - like this:

[code]

Now, when I setup a Virtual Folder called "Movies" with all the drives like this...:

`virtual_folders =Movies|C:\

[2022-04-08 08:35] SubJunk commented on #954
This was finally fixed in VLC 3.3.1! Over 6 years later, but better late than never :)

[2022-04-08 08:35] #954 closed

[2022-04-08 08:51] griffrawk commented on #954
@SubJunk Thanks, yes I noticed VLC was a bit more reliable after the new version the other week, and they've pushed a couple more patches since then. Everything comes to those who wait eh!?

Ofc, they've broken something else now and JPG streaming doesn't work the same; just a blank screen. Though I suspect that is more their issue than anything UMS can do, as UMS still works fine streaming JPG to

[2022-04-08 12:32] Mik-S-UMS opened #2917 "Detected Media Renderers not showing custom renderers"
A user on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15072) has found that if using a custom conf for their renderer then it will not appear in under the Detected Media Renderers on the Status tab since 10.16.0 when it was working previously.

I see an exception error in his logs referring to nettyserver right after the renderer is detected.

[code]

[2022-04-09 05:35] SubJunk commented on #954
@griffrawk yes we are rewarded for our patience :)
Ah yeah, that JPG thing is us detecting JPG compatibility based on DLNA spec, which is VERY strict. I have been meaning to make a renderer setting to allow renderers to be less strict since I think many devices probably don't care about those things.

[2022-04-09 13:58] SurfaceS opened #2918 "Bump MediaInfo from 21.09 to 22.03"
https://mediaarea.net/en/MediaInfo/Download

Tested on windows 64, seems to work without change

[2022-04-09 13:59] SurfaceS commented on #2918
MediaInfo change log:

Version 22.03, 2022-03-31
-------------
+ NSV (Nullsoft Video): full featured support
+ NSV: support of proprietary StarDiva metadata (by reverse engineering)
+ HEVC: CEA-608/708 support
+ Dolby Audio Metadata: First frame of action, binaural render modes
+ Dolby Audio Metadata: 5.1 and 5.1.x downmix, 5.1 to 2.0 downmix, associated video frame rate, trim modes
+ MOV/MP4, TTM

[2022-04-10 03:08] SubJunk commented on #2917
Probably one for @SurfaceS

[2022-04-11 01:36] Mik-S-UMS commented on #2917
I managed to replicate this.
It is the `Device = IP number` setting that is automatically added when creating a custom conf from an existing renderer inside UMS.
[code]

[code]

[2022-04-12 19:14] Jille opened #2922 "mencoder in docker"
Hi @SubJunk and @wegotshrimp.

wegotshrimp wrote on https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1841#issuecomment-679272360:

SubJunk wrote on https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1841#issuecomment-747142726:

So naturally I was challenged.

I sent a patch to mplayer/mencoder upstream to fix the static build. (Still pending mailman moderation,

[2022-04-12 20:49] SubJunk commented on #2922
@Jille nice writeup and investigation, thanks! The reason I prefer static versions is to prevent hard to catch bugs caused by different versions of dependencies.
That command looks promising, can you check which capabilities that version of MEncoder has enabled? Ideally it would have `libass` and `libx264` since that will let it handle subtitles.

[2022-04-12 21:34] SubJunk commented on #2918
I'll do this ASAP

[2022-04-12 21:36] SubJunk commented on #2875
I guess a fix could be to only run that line in GUI mode, or remove that line. I wonder why it was added

[2022-04-13 17:04] Jille commented on #2922
That was surprisingly difficult to check. In the end I manually built the APK package and grabbed these lines from the `configure` output:

[code]

So it seems included. I've sent #2924 to add it to the Dockerfile, that seems easier than https://github.com/Jille/UniversalMediaServer/commit/c9fa879d76b6bc862fd6bad920f4632db9f4beaf.

[2022-04-15 03:28] SubJunk commented on #2922
Great work, thank you! :D

[2022-04-15 03:28] #2922 closed

[2022-04-15 03:28] #2875 closed

[2022-04-15 03:30] SubJunk commented on #2912
My mistake, thanks

[2022-04-15 18:30] esabol commented on #2912
If it's not an error, then words "fatal error" should not appear in the logs! Maybe don't validate your HTML as XML? Either way, that's a bug in my book, but, hey, I've just been a professional programmer for 27 years, so what do I know.

[2022-04-15 20:27] #2918 closed

[2022-04-15 20:50] SubJunk commented on #2912
Actually yeah I think you are right @esabol
I have started a branch for this. One problem was we were not declaring a doctype with the HTML. I will do some more testing of it

[2022-04-15 21:16] SubJunk commented on #2912
After looking at it some more I think we need to check the content-type header before attempting to parse it as XML. The only reason we are parsing it is for logging anyway so the stakes are very low but it will be more tidy this way

[2022-04-15 21:54] SubJunk commented on #2912
This should be resolved now in #2928
There was no bug related to it since it only affected our logging, but it was nice to tidy it up so code that was in 6 files is now in 1 file, and it will only prettify the XML if the right content-type header exists

[2022-04-16 13:00] acvlwe opened #2929 "No response when a folder include 32bit float wav audio file"
OS:win10
UMS version:10.19.0

when a upnp client try to open a folder that include a 32bit floating point wav file or  server push to a client and the program dead.
a scan will trapped at that folder too.
nothing appear in the log.

[2022-04-16 13:08] SurfaceS commented on #2929
To debug, please attach a log in trace mode.

[2022-04-16 13:25] acvlwe commented on #2929
sure i think i do that
this is the last related log.

TRACE 2022-04-16 21:21:03.705 [HTTPv1 Request Worker 104] Matched format WAV to "D:\1\1.wav"
DEBUG 2022-04-16 21:21:03.706 [HTTPv1 Request Worker 104] Reading enable_archive_browsing: true (default: false)
TRACE 2022-04-16 21:21:03.707 [HTTPv1 Request Worker 104] Matched format WAV to "D:\1\1.wav"

[2022-04-16 18:48] SurfaceS commented on #2929
With that 3 lines of log, I can't do nothing :)
I only see that you use the socket engine, maybe you should use the "default" one, as socket engine is not updated since a while.

I personally work/run on V11, and can't reproduce your bug on it.

But mediainfo is updated on this version and I see on the latest version [changelog ](https://mediaarea.net/MediaInfo/ChangeLog):
x WAV: fix freeze with 3

[2022-04-16 19:41] SurfaceS commented on #2929
If you want to try if it doesn't failed with the latest mediainfo dll, close UMS, download the [mediaInfo64.dll](https://www.universalmediaserver.com/svn/binaries/win32/MediaInfo64.dll) and replace the one in your install folder.

[2022-04-16 23:21] SubJunk commented on #2912
this is fixed in the upcoming v11 release

[2022-04-16 23:21] #2912 closed

[2022-04-17 03:22] acvlwe commented on #2929
no luck from replace the [mediaInfo64.dll](https://www.universalmediaserver.com/svn/binaries/win32/MediaInfo64.dll).
i restore the engine to "default".
here is the whole log
[debug.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8500935/debug.log)

[2022-04-17 03:53] j675wy commented on #2631
I have exactly same issues as aawood gave on my Roku 3 which I updated to latest version of firmware today.
Roku Media Player was installed new today as well.
UMS 10.19.0 installed today.

[2022-04-17 04:09] acvlwe commented on #2929
i try the mediainfo given example with my problem wav and the latest version dll the results came out good:
[out.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8500964/out.txt)
it did freeze when i change it to the old version.

[2022-04-17 05:10] j675wy commented on #2631
Additional Info:  Using the Roku Media player app that I updated, I selected other media servers on my network (5 other computers). One was a Plex Media player (vrs 1.3.3) installed on a Windows 7 computer and it also would not pause, skip or rewind. A Windows Media Server on Win 7 DID pause, rewind and skip while playing a movie. Food for thought and it is time to sack out. Hope this helps.

[2022-04-17 07:40] SurfaceS commented on #2929
It's definitely mediainfo version problem.
Your log run under old mediainfo version.
Maybe you need to replace the dll in program/win32 folder.

I'll not be available for few days.
I'll check that then.

[2022-04-17 08:55] acvlwe commented on #2929
the problem solved when i replace MediaInfo64.dll at the root of the pragram folder.
previously i repace the program/win32 folder one which the wrong one to replace.
thank for your time.

[2022-04-17 08:55] #2929 closed

[2022-04-17 09:05] SubJunk commented on #2907
On 12.3.1 it is working for me:

<img width="547" alt="image" src="https://user-images.githubusercontent.com/584228/163707916-d0b3b4af-abb2-4d71-ac42-9f49e650199c.png">

I guess there must be some setting that needs to change. Can you try reinstalling? That might trigger macOS to renew permissions

[2022-04-17 09:06] SubJunk commented on #2929
@acvlwe thanks for confirming. That MediaInfo update will be in our next release, probably this week

[2022-04-17 09:33] acvlwe commented on #2929
good to hear that,appreciate your work

[2022-04-19 12:14] Jille commented on #2922
:)

My mplayer patch still wasn't let through mailman moderation. I'll set up a reminder to myself to link it here once it's finally approved.

@SnoozeThis mplayer-dev-eng@mplayerhq.hu has new message from jille@quis.cx

[2022-04-19 12:14] SnoozeThis commented on #2922
(https://snoozeth.is/zdv8nbAOYa0) I will wait until mplayer-dev-eng@mplayerhq.hu has a new post from jille@quis.cx and then add a comment.

[2022-04-24 03:23] SubJunk commented on #1841
Closing this because it seems to be working well for many people. More questions can always have new issues or discussions.

[2022-04-24 03:23] #1841 closed

[2022-04-25 15:59] purevertigo opened #2942 "Redundant Flash Player"
Just took notice in the web player that 'Switch to flash player' is still a thing. Shouldn't this be removed now that the world doesn't use flash in anything?

[2022-04-26 00:44] SubJunk opened #2943 "Duplicate TV series entries"
There is a bug caused by #2930 that makes duplicate entries for TV series based on how many years they have been going for. I am working on a full fix for it but that will take a little while, so in the meantime I will rollback that change.

[2022-04-26 02:13] SubJunk commented on #2942
Yeah that's mentioned in https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2819

[2022-04-26 02:13] #2942 closed

[2022-04-26 02:28] SubJunk commented on #2631
@j675wy in v11 we have a better way to transcode that uses HLS, I will be interested to see if that changes anything for Roku. Are you willing to test?

[2022-04-26 04:03] SubJunk opened #2946 "Error in RealFile.resolve: Text 'Encoded_Date' could not be parsed at index 0"
From our logs in v11:
[code]

[2022-04-26 04:05] SubJunk commented on #2946
@SurfaceS it looks like this bug may have been introduced around https://github.com/UniversalMediaServer/UniversalMediaServer/commit/a15e47279d986a3b475859370a5de5606770c336

[2022-04-26 05:49] ThatStuart commented on #2631
Yes!

On Tue, 26 Apr 2022 at 03:28, SubJunk ***@***.***> wrote:

[2022-04-26 08:08] SubJunk commented on #2631
Ok great, I don't know what everyone's operating system is here but here are a couple of builds to get started.
We are close to releasing the first public alpha so these can be considered pre-alphas, though I use this version personally and find it very stable. Alpha in this case just means it isn't feature-complete

https://www.universalmediaserver.com/uploads/UMS-11.0.0-roku-hls-044b1a3.exe
http

[2022-04-26 14:57] j675wy commented on #2631
I am no programmer or technician, but if testing the Alpha vrs 11 release for this issue then maybe I can help. JB

[2022-04-28 20:46] ThatStuart commented on #2631
Hi,

Tried the build but it's not working, no video file is recognised using the
Roku.  However, it works if using a PS3 but there is no audio.

Thanks anyway.  Happy to try again :)

On Tue, 26 Apr 2022 at 09:08, SubJunk ***@***.***> wrote:

[2022-04-28 21:54] SubJunk opened #2950 "Ability to import/export settings"
I think this was a good suggestion in this discussion https://github.com/UniversalMediaServer/UniversalMediaServer/discussions/2949

[2022-04-29 05:36] esabol opened #2952 "10.20: "A serious error occurred during Universal Media Server initialization: null""
[code]
Note: I have _all_ options under Navigation Settings' "Virtual folders / files" section turned off _except_ for "Show the '#--TRANSCODE--#' folder".

That's a very informative error message.

Back to 10.19....

[2022-04-29 07:59] #2952 closed

[2022-04-29 19:52] j675wy commented on #2631
It is pretty much the same as the last version. I did get a lot of Transcode errs I was not getting in vrs 10 and the same results with the "no pause" problem yet still being able to pause on a Windows media server. Thanks for letting me try. JB

[2022-04-30 19:55] SubJunk commented on #2631
Interesting, can you provide logs please? Instructions are at https://github.com/UniversalMediaServer/UniversalMediaServer/blob/69b757e03ee4ea4d746aa4dc5a43173a968c4dea/CONTRIBUTING.md#reporting-an-issue

[2022-05-01 02:59] SubJunk commented on #2907
I'm closing this since I believe it is a macOS problem. Feel free to reopen if reinstalling UMS doesn't work

[2022-05-01 02:59] #2907 closed

[2022-05-03 05:24] esabol commented on #2952
The fix for this error is not in 11.0.0-a1, unfortunately. The error message is at least a bit more informative in 11.0.0-a1:
[code]

[2022-05-03 06:53] ik666 commented on #2952
Ups, `getLibrary()` is null. Didn't guess that, sorry ... thanks for the more precise log info! I have updated #2953.

[2022-05-03 08:34] SurfaceS commented on #2946
was fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2843/commits/96a7caae2d68da50cdf5657aa13f962160d541b7

[2022-05-03 08:34] #2946 closed

[2022-05-03 08:49] SubJunk commented on #2952
I'll do another release soon with that fix

[2022-05-03 11:35] RobertoD91 opened #2957 "MacOS - sudo xattr - wrong permission on jdk files"
I am using macOS 12.3.1
I tried to install UMS either by downloading the .dmg from github and from homebrew with the command `brew install universal-media-server`

in both cases i get the error `"Universal Media Server.app” is damaged and can’t be opened. You should move it to the Trash."`

workaround:
[code]

then ums starts

some files in `/Applications/Universal Media Server.app/Contents/PlugIn

[2022-05-03 12:24] favorit5503 opened #2958 "Web interface problem. ERR_EMPTY_RESPONSE"
Hi,

i installed the 10.20 version. I tried clean install aswell. After the initial setup it works fine but after a 1 day the web interface wont work.
This is the error what i got. Chrome: ERR_EMPTY_RESPONSE

The log shows this.

14:19:22 DEBUG Got a browse request found id 0
14:19:22 DEBUG Make browse page 0
14:19:22 DEBUG Cookie 'UMS=' not found: [_ga=GA1.2.40731887.1623241630]
14:19:22 DEBUG au

[2022-05-03 21:21] SubJunk commented on #2958
@favorit5503 hi, sorry you're having that problem. Can you please provide full trace logs? Instructions at https://github.com/UniversalMediaServer/UniversalMediaServer/blob/907c0b60ce422293dcac4e81b6a5522589e935a6/CONTRIBUTING.md#reporting-an-issue

[2022-05-03 21:23] SubJunk commented on #2957
Thanks for reporting this. I'll try to fix it. Also we should be bundling JRE not JDK so I'll fix that too.
Can you try 11.0.0-a1 and see if that fixes it?

[2022-05-03 22:44] SubJunk commented on #2952
@esabol if you let me know your operating system I can upload a build for you ASAP

[2022-05-04 00:03] RobertoD91 commented on #2957
[code]

However it starts without sudo xattr

[2022-05-04 04:27] esabol commented on #2952
Oh, thanks for the offer. I use the Mac pre-10.15 dmg build.

[2022-05-04 06:01] favorit5503 commented on #2958
[ums_dbg_2022-05-04-07-59.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8618164/ums_dbg_2022-05-04-07-59.zip)

Hi here it is.

[2022-05-04 08:30] SubJunk commented on #2952
No problem, I hope this works https://www.universalmediaserver.com/uploads/UMS-esabol.dmg

[2022-05-04 09:32] MX10-AC2N opened #2960 "Help for conf Harman Kardon AVR265"
Hi,
I'm new user of UMS and try to config for streaming music to my old amp Harman Kardon AVR265
I create file HK-AVR265.conf in renderers but there is problem again and I need your help
This is my HK-AVR265.conf
[code]
and this is log info
[code]
and this is the dd.xml found in my amp (192.168.1.240/dd.xml)
[code]
Thank for your help.

[2022-05-04 11:17] ik666 commented on #2960
Hey, and what is your issue?

[2022-05-04 11:30] MX10-AC2N commented on #2960
I can't see my amp HK-AVR265 when I access on webpage of ums..
On my amp, i can connect to ums and see my music folder but failed to access song and play, I think there is something wrong in my conf.
Can I launch play music on upnp renderer directtly from webpage of ums ?
Thank again..
What is the 'Process ping has a return code of 159!' ?

[2022-05-04 11:33] ik666 commented on #2960
I see. Can you please provide full trace logs?

Instructions at :

https://github.com/UniversalMediaServer/UniversalMediaServer/blob/907c0b60ce422293dcac4e81b6a5522589e935a6/CONTRIBUTING.md#reporting-an-issue

[2022-05-04 12:20] MX10-AC2N commented on #2960
[code]
With full trace the log file keeps growing, I need stop service
`-rw-r--r-- 1 ums ums 271270929  4 May 14:12 debug.log`

[2022-05-04 12:27] MX10-AC2N commented on #2960
sorry for this long post.. ;-)

[2022-05-04 12:58] ik666 commented on #2960
could you attach the compressed debug.log file ?

[2022-05-04 14:01] ik666 commented on #2960
FYI: The ping is only for calculating the network speed and should not affect the main functionality.

[2022-05-04 14:25] esabol commented on #2952
Thanks! This bug is fixed in that version.

However, an hour after I launched It, I couldn't browse any of my shared folders on my TV and had to quit/relaunch UMS again to get it to respond to any directory request other than the top-level listing of my shared folders. From my inspection of the logs, it sure seems like UMS is too busy scanning my hard drives (shared folders) to respond. I was real

[2022-05-04 15:07] SurfaceS commented on #2960
Can I launch play music on upnp renderer directtly from webpage of ums ?

1 : Not all UPnP clients can be remotely played on.

2 : I see that you have 2 devices on your network, 1 LG and 1 Harman.
LG (LG DLNA DMC v0.1) that is recognized under Harman profile, so your regex fail (`UserAgentSearch` and `UpnpDetailsSearch` use regex).
eg for you :
`UserAgentSearch = FSL DLNADOC\/1\.50 UPnP Stack\/1\.

[2022-05-04 15:37] MX10-AC2N commented on #2960
Thank @SurfaceS I do some change in my HK-AVR265.conf according to your reply
This is debug.log with TRACE log.
[debug.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8621891/debug.zip)

[2022-05-04 20:29] SubJunk commented on #2952
@esabol can you please attach a debug package for this problem? I suspect that you have a combination of settings that makes that happen, but I need to see the config to be sure. Instructions are at https://github.com/UniversalMediaServer/UniversalMediaServer/blob/fd7534d220b854d0f0e164c8cf30de1df0b8172f/CONTRIBUTING.md#reporting-an-issue

[2022-05-04 21:01] SubJunk commented on #2952
Actually I don't think I need the config because this issue proves it. The problem is that you have the cache disabled, which means that UMS scans your drives but never remembers the things it scanned :D
I will work on preventing that in the program, but basically you have two options:
- enable the cache on the `Navigation Settings` tab, or
- disable startup scanning on the `Shared Content` tab

I

[2022-05-05 07:34] esabol commented on #2952
I have the "Scan shared folders at startup" option disabled in the Shared Content tab. I think I've always had it disabled. Frankly, I don't believe that option has ever worked as advertised.

I tried enabling the cache in the Navigation Settings tab for a couple weeks a few versions ago (somewhere between 10.13 or 10.17), but the cache would get corrupted almost every day presumably when UMS woul

[2022-05-05 08:03] SubJunk commented on #2952
28TB of content is a lot, nice work!
I have noticed on macOS that UMS can spend a lot of time scanning because I back up my iPhone to the machine, and so UMS takes a long time to go through all the images. That can also lead to out of memory problems with the default shared folders.
Ok I'll take a look at your config when it's up and we can go from there. I am sure we can solve it.

[2022-05-09 23:16] esabol commented on #2952
@SubJunk : Here it is: [ums_dbg_2022-05-09-19-13.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/8655932/ums_dbg_2022-05-09-19-13.zip)

[2022-05-10 00:47] j675wy commented on #2631
I have had a computer problem. A computer that has been working fine since 2015 told me this A.M. that it is not  genuine Windows????  I will need to fix this somehow before I can continue on your  request. I will get back to you. JB

[2022-05-10 04:13] SubJunk commented on #1864
@SergiusTheBest can you please try it with 11.0.0-a2? That doesn't use Cling anymore

[2022-05-10 04:19] SubJunk commented on #2952
@esabol thanks. I can see in the config there that the startup scan is disabled, and so is the cache. There isn't any scanning happening. So it all appears fine in those logs.
Can you enable the cache then reproduce a problem with it?

[2022-05-10 04:21] SubJunk commented on #2957
@RobertoD91 can you please check it now? I have included JRE in the v10 build instead of JDK. I didn't do anything with xattr, I just want to know if it starts please

[2022-05-10 16:50] RobertoD91 commented on #2957
same as 11.0.0-a1, it don't start

[2022-05-10 22:49] SubJunk commented on #2957
I'm confused, I thought when you said

that meant a1 started. Did you still have to do something?

[2022-05-11 01:07] RobertoD91 commented on #2957
Sorry, i meant: the alpha version start after `xattr -rcv /Applications/Universal\ Media\ Server.app` (known bug) but i don’t need `sudo xattr …` (which is a new bug)

[2022-05-11 20:41] jerry1970 opened #2965 "Error on Linux makes UMS crash"
Since today, UMS crashes with the following response:

I have been using UMS versions 10.8.2 for some months now and the error came up today. I installed UMS 10.21.0.1 and the same thing happens.

The error is at the very end. This is the last line of the output of `./UMS.sh`:

I cannot start UMS (splash screen visible, dock icon does not even appear or for a fraction of a second).

The log file m

[2022-05-13 05:56] SubJunk opened #2966 "Phantom renderers"
It seems that renderers aren't being purged properly when JUPnP does multiple detections at a time. It may be a thread safety problem:
![image](https://user-images.githubusercontent.com/584228/168219833-69218c46-17f2-4b85-8f1c-99968165f22a.png)

I can see this in the logs:

[code]

@SurfaceS any ideas since you did the JUPnP implementation?

[2022-05-13 05:59] SubJunk commented on #2965
Do you get any more details if you set this in `UMS.conf`?
`log_level=TRACE`

[2022-05-13 11:07] jerry1970 commented on #2965
Thanks for the feedback! Yes, the regular log was 100 K, now it's 130 K. I attached the latest one.

There's but a few lines about libmediainfo. I am not sure which other software uses libmediainfo0v5 but I am using several apps that fetch metadata from media files. It is on version 19, which has been around since 2020-03-24 and definitely not new on my machine.
`libmediainfo0v5/focal,now 19.09+df

[2022-05-13 21:17] SubJunk commented on #2965
@jerry1970 which operating system are you on? You might have already tried this, but there is a list of operating systems on the MediaInfo website that might have more current versions than OS package managers https://mediaarea.net/en/MediaInfo/Download

[2022-05-13 22:22] SubJunk opened #2967 "V11: sometimes videos don’t mark as stopped on web interface"
Not sure why it happens sometimes and not others yet but I notice during testing that sometimes the transcoding process continues long after I left the page

[2022-05-13 22:24] SubJunk opened #2968 "V11: use new endpoints"
There are v2 api endpoints to plug into that will reduce API CPU load

[2022-05-13 22:26] SubJunk opened #2969 "V11: API lookups happen too much"
This is a regression since v10
It seems that API lookups are retrying too frequently so I think the matching logic for failed lookups may be a bit broken. Needs investigation for more detail

[2022-05-14 06:57] jerry1970 commented on #2965
@SubJunk , I am on Xubuntu (Ubuntu 20.04.4 LTS with XFCE 4.4):
[code]
Thanks for that link! No, I have not tried that yet. Will do and report back when I have!

[2022-05-14 08:24] SubJunk opened #2970 "V11: Resume files do not work in web interface"
HLS is working really well for me, but resume files don't load at all. Any ideas @SurfaceS

[2022-05-15 00:49] heater19 commented on #1841
I would like help in installing UMS on an openmediavault server;

In short, when i run the web interface at the port :9001, i'm not seeing the directory for my videos and I'm not seeing the media server on the PS3;

Thanks in advance;

the details are below::::::::::::::::::  👇

the installation was done via portainer with the following settings:

image: universalmediaserver/ums:latest

added 3 po

[2022-05-15 01:14] heater19 opened #2972 "help getting UMS up and running using Docker/Portainer installation"
I would like help in installing UMS on an openmediavault server;

In short, when i run the web interface at the port :9001, i'm not seeing the directory which contain my videos, what i do get are ums, root and Web as the folders, furthermore, I'm not seeing the media server come up on the PS3;

Thanks in advance;

the details are below::::::::::::::::::

the installation was done via portainer wit

[2022-05-16 02:10] heater19 commented on #2972
ok, was able to make some progress;

by using atamariya's suggestion in this post: https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=12922&p=44808&hilit=docker#p44808 and set the UMS_PROFILE environment variable to /profile, I am now able to view the video files and it does stream through the web interface on port 9001 on my pc;

But, the PS3 is still not seeing the media server;
[_um

[2022-05-17 00:24] SubJunk commented on #1864
@SergiusTheBest that's great news! I will link this issue to v11 so that it will close when it gets its final release. Thanks

[2022-05-17 01:15] SubJunk opened #2973 "10 year anniversary"
@UniversalMediaServer/developers the 10-year anniversary of this project is coming up on the 27th! Here is the original announcement post. https://www.universalmediaserver.com/forum/viewtopic.php?f=8&t=2
I am thinking of ways to celebrate. One way is to release v11 final on that day. Any other ideas? I think we have a lot to be proud of

[2022-05-17 04:49] SubJunk commented on #2969
This was fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2843/commits/76799cb87fc8741033026c2e557322da763ff0ca

[2022-05-17 04:49] #2969 closed

[2022-05-17 12:43] Hypnos-CH opened #2974 "4K scale"
Theres is a problem with the scale 4K, Win 11 scales 300% in 4K, but UMS doesn't follow the scale.

[2022-05-18 02:22] SubJunk commented on #2974
Which version of UMS? It might be better in v11 alpha

[2022-05-18 17:09] Pysis868 commented on #1841
Where should the docs be added?  In what format?  Let's get it started, and can always improve it over time.

Also, my docker headless installation is still having issues.  Should we really create a new post for it?  Having a single one amongst many for this 1 install type seems convenient.

[2022-05-19 05:09] SubJunk commented on #1841
@Pysis868 docs should ideally be added to https://support.universalmediaserver.com/
If you are interested in that I can add you, I'll need an email address to invite. You can message it to me on our forum if you want it kept private

[2022-05-19 05:19] Pysis868 commented on #1841
I can take a look, just thinking about reducing the effort needed to finally get some docs added for this pathway. I would probably mostly just add the main `pull` command and the `run` one from this thread, even if I don't have it working myself yet, although my environment may be different enough to cause some problems.

[2022-05-19 08:16] renovate[bot] opened #2978 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update actions/cache action to v3
 - [ ] Update actions/checkout action to v3
 - [ ] Update actions/setup-java action to v3
 - [ ] Update

[2022-05-20 07:03] SubJunk commented on #1841
Great, any help at all is greatly appreciated! I have had a goal for a long time to integrate our docs into one place, since they have historically had many different places, which is confusing. My dream is to link everything to that support subdomain when it has more content.

[2022-05-20 07:52] Hypnos-CH commented on #2974
10.21.0.1 public build

[2022-05-20 09:14] ik666 opened #2987 "UPnP: DeviceDetails.BaseURL not set in 11.0.a2"
It seems like the baseURL is not set in the UPnP DeviceDetails attribute with configured `server_engine = 4` (JUPnP Netty).

[2022-05-21 02:08] SubJunk commented on #2987
@SurfaceS can you look at this please?

[2022-05-21 08:18] SubJunk commented on #2974
Can you try v11?

[2022-05-22 05:08] SubJunk opened #2991 "Add support for matching API results for country variations"
The API does support it already, i.e. these two URLs both return the correct result despite the series title being the same:
https://api.universalmediaserver.com/api/media/series/v2?title=Lego%20Masters%20US
https://api.universalmediaserver.com/api/media/series/v2?title=Lego%20Masters%20UK
But this program rejects the results because it is expecting an exact match "Lego Masters US" when the title

[2022-05-22 08:17] #2968 closed

[2022-05-22 08:18] SubJunk commented on #2970
Fixed in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2843/commits/f0d52d9cf29bedf1a3f78488167f61ca48528343

[2022-05-22 08:18] #2970 closed

[2022-05-22 08:20] #2819 closed

[2022-05-23 08:06] SurfaceS commented on #2987
From UPnP Device Architecture 1.0

URLBase
Optional. Defines the base URL.
Use of URLBase is no longer recommended.
If URLBase is empty or not given, the base URL is the URL from which the device description was retrieved (which is the preferred implementation)

From UPnP Device Architecture 1.1
Use of URLBase is deprecated in UPnP 1.1
UPnP 1.1 devices MUST NOT include URLBase in their description

[2022-05-23 10:23] ik666 commented on #2987
OK, then we probably don't need it ...

[2022-05-23 10:23] #2987 closed

[2022-05-23 19:06] schroef commented on #2899
I tried it on OSX and check the web interface button, nothing loaded. Then noticed tons of errors in the log panel. Also this same error

[2022-05-23 19:14] schroef opened #2993 "Cant navigate OS when adding folder on OSX"
ums 10.21.0.1
OSX
10.11.6

Description
When adding a source folder on OSX, i cant traverse folders. I can only add folders give by the popup menu
see image. The folders cant be traversed, double clicking them doesnt open them neither. Therefor it adds all sub-folders etc etc resulting in to much data

Steps
01 Open UMS > Shared Content
02 Add New source folder
03 Cant navigate system to custom fol

[2022-05-23 19:20] schroef commented on #2993
Therefor UMS keeps crashing, ive added the main folder Document which has lots of folders which dont matter. Currently UMS crashes now on start as it scans all folders

[2022-05-23 19:43] schroef opened #2994 "Web Interface doesnt show control once it starts playing OSX"
UMS 10.21.0.1
OSX 10.11.6
Chrome 101.0.4951.64

Description
When start watching a video using the web interface. It will show the video controls when buffering starts. However once it has buffered and video starts playing. No controls are shown and it acts like its a live feed without only a pause and play button to control the video. This happens on both desktop and mobile

Controls show before p

[2022-05-23 20:56] schroef commented on #2994
On OSX chrome browser i can rightclick and use "show all controls" it will show a timeline now, hardly usable since its locations is below other buttons. Not sure how to reach this on mobile though

![Screen Shot 2022-05-23 at 15 45 46](https://user-images.githubusercontent.com/6923008/169894930-dc170ceb-3364-4d3d-8169-3334a50f948e.png)

The issue is in the div with VJS settings (video.js), it has

[2022-05-23 21:25] SubJunk commented on #2994
@schroef we have greatly improved the web interface player in v11 and I think that will fix this for you. Please try the latest alpha version and let me know.

[2022-05-23 21:35] SubJunk commented on #2993
Both double-clicking and using the `Choose` button works for me. Can you try with UMS 11.0.0-a2?

[2022-05-24 05:20] SubJunk commented on #2108
@UniversalMediaServer/developers I'm planning on making this change soon - it is already the default for new repos and not having it makes our repo look outdated (amongst other issues)
Any disagreement?

[2022-05-24 08:16] SubJunk commented on #2108
Done

[2022-05-24 08:16] #2108 closed

[2022-05-24 08:19] #1485 closed

[2022-05-24 08:19] #2338 closed

[2022-05-24 08:19] #2549 closed

[2022-05-24 08:19] #2615 closed

[2022-05-24 08:19] #767 closed

[2022-05-24 08:19] #2190 closed

[2022-05-24 08:19] #2608 closed

[2022-05-24 08:19] #2677 closed

[2022-05-24 08:19] #1864 closed

[2022-05-24 08:19] #2372 closed

[2022-05-24 08:19] #2725 closed

[2022-05-24 08:37] sken130 commented on #2677
Thanks!

[2022-05-24 17:15] schroef commented on #2993
That DMG is empty for me, i cant install it on 10.11.6

[2022-05-25 08:16] SubJunk opened #3000 "Thumbnails while seeking on web interface"
There are some video.js plugins that add thumbnails to the seek bar on hover, we should use one

e.g.
https://www.npmjs.com/package/videojs-preview-thumbnails
https://www.npmjs.com/package/videojs-thumbnails
https://www.npmjs.com/package/@filmgardi/videojs-seek-thumbnails
https://www.npmjs.com/package/pthumbnails

[2022-05-25 14:26] schroef commented on #2994
Ah nice! I was trying that out as well. But the page kept reverting to original code. I didnt understand where vjs-live came from all the time.
But that was exactly what i was testing with video.js

[2022-05-26 23:33] SubJunk commented on #2125
Closing this as it's been over 2 years now, feel free to reopen

[2022-05-26 23:33] #2125 closed

[2022-05-26 23:35] SubJunk commented on #707
This didn't happen, will make a new issue for new direction

[2022-05-26 23:35] #707 closed

[2022-05-26 23:43] SubJunk opened #3004 "Implement current Java UI in web interface"
It will be a big job but it just needs to be done. The Java UI has *always* been ugly, and only looks more dated over time, making us now look like a dinosaur.
People also have problems with it related to different pixel densities of their screens.
Also my day job involves working heavily with JavaScript, so it will make it much easier for me to develop on than the current UI.
Also there are a lot

[2022-05-27 15:14] #2994 closed

[2022-05-27 19:17] SubJunk commented on #2125
Yes definitely. I can move pretty fast in the browser

[2022-05-27 22:03] SubJunk opened #3005 "Change aspect ratio of TV series and movies section thumbnails when API is enabled"
Having the 16/9 aspect for posters wastes a lot of space, so for those folders that are very likely to be mostly posters we should have a thinner aspect, and maybe more height to them to prevent looking too crowded

[2022-05-28 10:17] SubJunk opened #3006 "Link to new docs on web interface"
On the web interface there should be a link to our Knowledge Base at support.universalmediaserver.com since that's our maintained documentation

[2022-05-29 03:59] SubJunk opened #3007 "Java 18"
How do we know when we should use Java 18? Should we make a list of high risk dependencies to check compatibility with?
In Node.js we have package.json that lists version compatibility, is there a similar thing for Java?

[2022-05-30 08:30] soulnick opened #3009 "Apple Silicon M1"
Hi all, thank you for tour effort.
I would like to know if there is any plan to release a version that runs natively on the new apple cpu.

[2022-05-30 20:22] SubJunk commented on #3009
@soulnick yes I am planning that, there is a discussion at https://github.com/UniversalMediaServer/UniversalMediaServer/discussions/2989 too
I don't know how long it will take but this issue can be the place for updates on it, and of course we welcome code contributions as we are open source :)

[2022-05-31 07:42] tfagundess commented on #3009
Since this is going to be the issue to discuss that, I leave the Apple official link for the matter here as well: https://developer.apple.com/programs/universal/

[2022-05-31 15:24] Pysis868 commented on #1841
Added https://support.universalmediaserver.com/books/installation/page/docker.

[2022-06-02 01:53] Mik-S-UMS commented on #2815
Not sure. I can't remember watching anything that had forced subtitles. I just tried transcoding with different subs but same result. Transcoding with no subs works first time.

Last time I watched anything with subs was Squid Game last year and I don't think I had any difficulties with that. I might try going back to a v10 version when I have the time and see if that is any different.

Interestin

[2022-06-02 02:42] SubJunk commented on #2815
Ah yeah I think you are describing a very old problem where FFmpeg has to parse a whole file before it starts burning subtitles, like @Nadahar mentioned earlier https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2815#issuecomment-1069391211

This is the issue for that bug https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1721

[2022-06-02 02:46] SubJunk commented on #2840
This was done

[2022-06-02 02:46] #2840 closed

[2022-06-02 18:41] vss-devel opened #3018 "start.html utf-8"
start.html needs <meta charset="utf-8"> tag to show the unicode correctly when {{serverName}} is substituted.

[2022-06-03 21:39] #3018 closed

[2022-06-03 21:41] SubJunk commented on #3018
@vss-devel thanks for reporting it, this fix will be in our next release thanks to @SurfaceS

[2022-06-05 22:37] #2643 closed

[2022-06-07 12:25] ik666 opened #3034 "build issue with JDK 17 on MacOS"
Hi guys: I've a build issue on MacOS (12.4) using Amazon JDK with the current main branch (11.x).

Using JDK 17 I get a `javax.net.ssl.SSLHandshakeException` error while downloading some files from `[...] src="https://www.universalmediaserver.com/svn/binaries/linux/x86_64/ffmpeg/ffmpeg?p=155" [...]`. I believe JDK 17 has other (intermediate) certificates and the provided certificate from `www.univ

[2022-06-07 13:04] ik666 commented on #3034
Strange: Using same JDK on Linux (Ubuntu) works ...
On Mac: I am using the following

`MAVEN_OPTS='-Xms512m -Xmx1024m -Djavax.net.ssl.trustStoreType=KeychainStore -Djavax.net.ssl.trustStoreProvider=Apple'`

[2022-06-08 04:00] SubJunk commented on #3034
Hmm not sure about the extra flags you're using, I don't use any flags. This is the entire script I use on macOS:

[code]

[2022-06-08 06:24] ik666 commented on #3034
ok, i see ... thanks for the build script ... I deleted the MAVEN_OPTS opts and this made it work again ...

The maven opts were set for using the apple keystore in the maven build. This is not neccesary for UMS.

[2022-06-08 06:24] #3034 closed

[2022-06-08 22:15] SubJunk commented on #2709
Fixed in #3035

[2022-06-08 22:15] #2709 closed

[2022-06-09 23:29] SubJunk commented on #2993
@schroef you are using an older version of macOS so please try the `pre-10.15` release of v11 here https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/11.0.0/UMS-11.0.0-pre10.15.dmg

[2022-06-09 23:35] schroef commented on #2993
Not really sure that matters. A DMG can always be mounted. I can use the smh from the website, but none of the version here in the release section

[2022-06-10 01:29] SubJunk commented on #2993
@schroef the reason I said it is that, among other differences, each DMG is compiled with a different filesystem which can really affect compatibility. The `pre-10.15` releases are made with the `HFS+` filesystem target.

We are very actively working on a new release that allows you to manage folders via web browser so that should fix any of these kinds of problems - we won't have to rely on these

[2022-06-10 01:45] schroef commented on #2993
Yeah already figured out that i can adjust the config manually. I just found it weird the osx app interface is so limitied compared to windows

[2022-06-10 20:39] SubJunk opened #3046 "Web settings: Remove initial user"
This is a task to complete for https://github.com/UniversalMediaServer/UniversalMediaServer/issues/3004

At the moment there is a default user `ums` with a default password that is changed manually on first login. This allows anyone to create the initial user, but also requires hidden knowledge of the username and password.

Instead, it would be just as secure and more user-friendly to have no def

[2022-06-13 15:34] vrtlspd opened #3050 "docker container: Could not create the Java Virtual Machine"
Error when running via docker container.
please add: JAVA_OPTS="-XX:+UseContainerSupport"
[code]

[2022-06-13 16:55] vrtlspd opened #3051 "docker container error updating database"
I'm running UMS 11.0.0 on a pc running debian bullseye.

[code]

[2022-06-13 19:28] Mik-S-UMS opened #3052 "Media metadata does not show in logs if exists in DB"
Something I miss from the logs that is helpful to track down problem files for users is seeing the media info for that file in the logs.
When a new file is scanned it's mediainfo is shown in the logs but if a file has already been scanned and it's metadata is stored in the database it does not log them so I have no idea why some videos is not playing on the renderer.

Could it be possible to show

[2022-06-13 21:04] SubJunk commented on #3052
Yeah that would be possible to do it when it's read from the database, as long as it's in TRACE mode so that we don't bloat the logs for the average user

[2022-06-13 21:12] SubJunk commented on #3051
It looks like it has failed to do the database update for v11 and I can see why. I'll release the fix in the next version. Can you please let me know which release of UMS you use? Then I can give you a link to a fixed version

[2022-06-13 23:33] SubJunk commented on #3050
@vrtlspd thanks for reporting this problem!
It looks like `UseContainerSupport` is enabled in Java by default, so enabling it wouldn't fix this. I have instead removed `UseCGroupMemoryLimitForHeap`

[2022-06-14 01:00] #3050 closed

[2022-06-14 08:11] #3051 closed

[2022-06-14 21:54] brgbrg opened #3056 "Unexpected error in BrowseHandler.handle(): Cannot invoke "net.pms.dlna.DLNAMediaInfo.getFirstAudioTrack()" because the return value of "net.pms.dlna.DLNAResource.getMedia()" is null"
Hello,

I use UMS since at least 2014; last version was 10.7.0.
Currently I installed opensuse 15.4, and ums 11.0.0. I used this to configured to a tiny music repository of only 13 .mp3 files.

- I start UMS, it opens, GUI active
- I start the web browser firefox, got to the UMS page - ok
- I click on the one music directory and get a totally blank page.

- Same experiment with UMS 10.7.0 displays

[2022-06-14 22:23] #3056 closed

[2022-06-14 22:27] SubJunk commented on #3050
@vrtlspd if you pull latest from Docker it should have fixes for both of the bugs you reported. Thanks again

[2022-06-15 08:51] Theo-user commented on #3050
Issue still occurs with the updated version 10 hours ago

Unrecognized VM option 'UseCGroupMemoryLimitForHeap'

Error: Could not create the Java Virtual Machine.

Error: A fatal exception has occurred. Program will exit.

[2022-06-15 08:55] Theo-user commented on #3050
Fixed. Thank you.

[2022-06-15 12:11] antekeli opened #3059 "Program window scaling problem"
On a 4K monitor, the buttons and texts in the program look very small. Windows 10 scaling does not work in this program.

![1](https://user-images.githubusercontent.com/35841233/173823830-70f9a2bf-3013-4a2a-8567-f1dbf32c205e.jpg)

[2022-06-15 23:10] SubJunk opened #3060 "Unknown transcoding engine "ffmpeghlsvideo""
The user Paradox has reported this bug since v11 https://www.universalmediaserver.com/forum/viewtopic.php?p=45702#p45702
Probably one for you @SurfaceS when you're back

[2022-06-15 23:11] SubJunk commented on #3059
@antekeli thanks for reporting this. You might find it is better if you update to v11, please let us know

[2022-06-15 23:22] Mik-S-UMS opened #3061 "Audio not playing in web interface in V11"
Another [user](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15158) has an issue playing audio from the web interface and I can confirm it happens to me too in all V11s so far but works fine in 10,21.0
The length of the track is shown as 0:00 and pressing play does nothing for mp3 and flac.

[2022-06-17 13:24] SurfaceS commented on #3060
This message is only an information that the player is not found.

HLS was first on it's own player (v11 alpha), then it was included in ffmpeg player.
If someone change settings (enabled players, player's order) from v11 alpha, it can have this message.

To completely remove this message, remove `,ffmpeghlsvideo` from the `ums.conf` file, on line starting with `engines =` and `engines_priority =`

[2022-06-17 13:49] SurfaceS commented on #2958
@favorit5503 can you try v11 to see if you can reproduce this ? thx

[2022-06-17 13:50] #2973 closed

[2022-06-17 13:53] SurfaceS commented on #3059
was already reported and closed on java 8.
V11 has solved that.

[2022-06-17 13:53] #3059 closed

[2022-06-17 13:54] favorit5503 commented on #2958
Yep. On V11 no such issue. I will close this now.

[2022-06-17 13:54] #2958 closed

[2022-06-17 14:05] SurfaceS commented on #3046
I add some code #3063 to allow that but I'm not confident with react, so I cannot do a lot on this side.

When react app will handle the session data, we can delete the user creation on db creation.

I think that the "change password" should be replaced by "accounts", with 2 tabs on the page ("users", "groups").
Then on the "users" tab, a user can change his (or other if he have permission) passwo

[2022-06-18 02:57] #3060 closed

[2022-06-20 01:00] leff32 commented on #2957
Hey guys, sorry, not sure if I should open a new issue.

In my case UMS won't start after updating to 11.0.0 or 11.1.0.
Had to roll back to 10.21.1 which works fine.

I suspect it may be because of the JRE you mentioned here.

I'm running macOS 12.4.
Debug.log shows just 6 lines before app quits.
[code]

Any ideas?

[2022-06-20 03:48] SubJunk commented on #2957
@leff32 can you please try the commands from this thread and let me know if that changes anything?

[2022-06-20 04:07] leff32 commented on #2957
Thx for the reply, but yes, I tried them and nothing changed.
The app starts and quits straight away within 1-2 sec, writing 6 lines to log file (see above).

[2022-06-20 08:15] SubJunk opened #3071 "v11 not starting on macOS"
From @leff32
In my case UMS won't start after updating to 11.0.0 or 11.1.0.
Had to roll back to 10.21.1 which works fine.

I suspect it may be because of the JRE you mentioned here.

I'm running macOS 12.4.
Debug.log shows just 6 lines before app quits.
[code]

Any ideas?

[2022-06-20 08:15] SubJunk commented on #2957
@leff32 I've started a new issue at https://github.com/UniversalMediaServer/UniversalMediaServer/issues/3071 for this

[2022-06-25 08:20] SubJunk opened #3082 "Web settings firstLogin cleanup"
There are still references to `firstLogin` since that logic was used to force a password change. That is no longer needed anymore so the associated logic should be removed, from the API and client.

[2022-06-25 09:49] SurfaceS commented on #3082
`firstLogin` was first intended to force a password change. The associated logic was already removed.
Now it check for the first admin on the db (as a user can delete all the admin users or the db itself) to create the first admin account.
Maybe we can rename it to `noAdminFound` or something like that to be more explicit ?

[2022-06-25 22:53] SubJunk commented on #3082
Good idea. We can also rename the `FirstLogin` React component to `CreateUser`, or even merge it with the `Login` component since they are very similar

[2022-06-27 21:28] #3082 closed

[2022-06-27 21:39] SubJunk opened #3099 "Translation keys"
Our source language file https://github.com/UniversalMediaServer/UniversalMediaServer/blob/b69a5f0d07984ff20ad7890120e608df3a09cef0/src/main/resources/i18n/messages.properties is a mess, as one would expect from 14+ years of translations without refactoring.
I propose it would be nicer to have simple keys that are an abbreviation of the value. I do that on another large project and it is more read

[2022-06-28 10:46] SurfaceS commented on #3099
I agree that the source language file is a mess.
Especially because of the unreadable numbered keys.

Grouping have pros and cons.
This makes it easier for us to find if there is a word/phrase that would say the same thing.
On the other hand, sometimes we recreate a new entry because it is not based on the same group.

The thing to be careful is :
For the same word/phrase in English, you can have

[2022-06-29 20:18] #3046 closed

[2022-06-29 22:02] Nadahar commented on #3099
@SubJunk There are more problems, but I don't know if you use all the features. If you use Crowdin "branches" (the crowdin plugin supports making Crowdin branches for git branches), Crowdin won't be able to correctly "merge" them when you merge the git branches. Also, you will lose comments, explanations, context information etc. provided for the strings you delete.

If you still want to do it des

[2022-06-29 22:49] SubJunk commented on #3099
Oh yeah that's a good idea to export/import the languages as files, thanks. I don't use the branches feature so it should be safe. The comments have usually been suggestions and have been actioned so I'm not sure there is any value lost there.

[2022-06-30 23:00] SubJunk commented on #3099
I'm using this regex in VS Code. Seems to work so far

<img width="512" alt="image" src="https://user-images.githubusercontent.com/584228/176792274-12221c73-d5f9-4c10-b043-8c27ba5d6574.png">

[2022-06-30 23:07] Nadahar commented on #3099
@SubJunk As long as you get a preview first, it's probably "safe". Was was thinking of doing the code and the language files separately, in which case you could require that it was at the start of the line. But, I guess those labels are very unlikely to match anywhere they shouldn't...

[2022-06-30 23:19] SubJunk commented on #3099
Tweaked to be a bit safer
<img width="513" alt="image" src="https://user-images.githubusercontent.com/584228/176794006-e48096d2-60d6-4ed0-bfaa-3a26119d7193.png">

[2022-07-02 01:16] SubJunk opened #3125 "HackerNews comments"
We got a big traffic spike 3 days ago from this page https://news.ycombinator.com/item?id=31907161
It might be good to pull out any useful comments as issues.

One thing I see being talked about here and elsewhere a lot, is integrations. We already integrate with almost every device but we don't make that obvious enough on our front page, so I think there is a design task for me to get the informa

[2022-07-02 23:01] SubJunk opened #3129 "Remove unused translations"
We should remove all unused translation keys/values from our messages.properties file *after* we are done with https://github.com/UniversalMediaServer/UniversalMediaServer/issues/3004
There are already quite a few but there will be more after that

[2022-07-03 02:33] derekjax opened #3130 "Unable to play audio from web interface"
I had installed UMS on my last computer, and it worked perfectly. That computer died, I got a new one and have been trying to get UMS set up but am having an issue. The program is installed, I added my iTunes, music, and video folders, and the program went through scanning the folders. When I go to the web interface now, I can see all my music and videos there, but either one of two things happen:

[2022-07-03 02:37] SubJunk commented on #3130
@derekjax I think this is fixed in the upcoming update which should be released within the next few days

[2022-07-03 02:57] derekjax commented on #3130
Oh okay, good to know - thanks! I did try uninstalling 11.1.0 and reinstalled the old version which I still had the install file for (10.8.2) hoping that it would work, but I couldn't get it to scan for my media in the files I designated. I tried restarting the server a few times hoping to prompt it into scanning the files but it didn't. So I'll just uninstall everything and wait for the new versi

[2022-07-03 03:18] SubJunk opened #3132 "Database "medias" error while writing in "VIDEO_METADATA_POSTERS" for """
I see this error in my logs from time to time, doesn't seem to do noticeable damage but would be good to figure out why

[code]

[2022-07-03 03:19] SubJunk commented on #3130
I'll attach a link to a preview version if you let me know your OS?

[2022-07-03 03:21] derekjax commented on #3130
Thanks!
Win 11

On Sat, Jul 2, 2022, 11:20 PM SubJunk ***@***.***> wrote:

[2022-07-03 04:02] SubJunk commented on #3130
https://www.universalmediaserver.com/uploads/UMS-derekjax.exe
Please let me know when you have downloaded it and if it fixed your problem

[2022-07-03 13:11] Demonsthere commented on #3071
Running it from the binary:

[code]

[2022-07-03 13:36] Demonsthere opened #3134 "playing Youtube streams causes java exceptions"
Hello there, and thanks for the active development of this project!

Small issue I found when using the web content. Adding a new web based source using the feed xml method (`https://www.youtube.com/feeds/videos.xml?channel_id=UChmm356a5qe1luUsoatAgjA`) is generating a valid object in the UI, with proper video data. However when playing one of those streams in the logs I can see a ffmpeg based err

[2022-07-03 22:51] derekjax commented on #3130
Thanks for the file. It does seem to have worked for my audio files. The
app installed and I can now access my audio files through the web
interface. Unfortunately, it has not worked for videos. I still get " The
media could not be loaded, either because the server or network failed or
because the format is not supported." when I try to play videos online.
(When I try to play a video and get this

[2022-07-04 13:10] Mik-S-UMS opened #3137 "UMS not showing on TV"
A user on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15189) is having difficulty getting UMS to show on his TV. It appears UMS can see the TV but as far as I can tell it is being unregistered after a certain amount of time.
I'm not used to the logging from Jupnp so could be totally wrong but I don't see anything obvious that it could be.

[2022-07-04 20:19] SubJunk commented on #3134
@Demonsthere thanks for reporting this, I have reproduced it too on macOS. I'll do some digging

[2022-07-05 01:34] SubJunk commented on #3009
Our first Apple Silicon build was just released, 11.2.0.
It included an ARM binary for FFmpeg which seems to give around 3x transcoding speed improvement. We will continue to add more native binaries as we find them, and please feel free to help us locate them.

[2022-07-05 06:43] tfagundess commented on #3009
That was fast! I will try it and see if it works without issues and report back. Thanks!

[2022-07-06 23:10] MTOakey opened #3140 "Customize Browser Tab name/title"
I here was one other thing I have not been able to figure out ...
Web page tab "title" on hover ... VERY easy in plain HTML, but THIS little bugger is evasive...
I can "Inspect" with Developer tools in Chrome, make the change I want in/on the TAB - looks Great - but does not "keep" or stay the way I want, obviously, since THAT doesn't actually write to the file, and since the pages are dynamically

[2022-07-07 02:11] SubJunk opened #3142 "Web settings: Option to opt-out of authenticated access"
On the first page when a user is given the option to create their admin user, there should also be an option to opt-out. Think of a scenario like a person living alone on a private network, or just someone who doesn't care about such things.
We should encourage the use of auth, and default to it, but not enforce it IMO.

[2022-07-07 02:14] SubJunk commented on #3099
Done in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/3123

[2022-07-07 02:14] #3099 closed

[2022-07-07 07:37] SubJunk commented on #3137
@Mik-S-UMS thanks for posting this here, I have replied on the forum now :)

[2022-07-10 12:54] #3142 closed

[2022-07-10 16:45] SurfaceS opened #3155 "User renderer's config"
For now, the renderer configs are loaded from `"project.renderers.dir"` from `project.properties`.
This end in the `renderers` folder inside app directory.

Problem is that this folder, in most of OS, will be read only.

For the databases or logs, we use the profile directory to be able to write on it.

It may be a good idea to have the renderer configs provided by UMS in the current folder (under

[2022-07-11 23:30] Mik-S-UMS opened #3158 "Several web interface video problems"
A user on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15195 ) has had problems with the web interface recently. They were using 10.4 to access from an external network then it suddenly stopped working. Nothing on his system changed or updated. My guess is something on his network has changed but I have no idea what.

He has tried V11 and gets the "The media could not

[2022-07-12 02:47] js-kyle commented on #3000
I had a look at what this would take. In the play.html file i had used https://www.npmjs.com/package/videojs-preview-thumbnails with.

[code]

The output.jpg sprite was generated by running these commands manually

`ffmpeg -i "file.mp4" -vf fps=1/120 -s 280x180 img%03d.jpg` - this would create a thumbnail every 2 minutes

Next step was to use imagemagick to combine the thumbnail to a sprite, `conv

[2022-07-13 20:32] MTOakey commented on #3140
A full week goes by and NO reply ... Thanks.

[2022-07-13 22:11] #3158 closed

[2022-07-15 22:50] js-kyle commented on #3140
I replaced that variable with what I want as the name/title of my tabs... and nothing changed, it didn't work.

Where on your system is the `browse.html.orig` file you are manually editing? If you just want this working on your current install you should be able to edit the `browse.html` within the `/resources/web` folder to remove the `{{name}}` and replace it with whatever you like in the title

[2022-07-15 23:47] MTOakey commented on #3140
Thanks for the reply !!!

 - "Where on your system is the browse.html.orig file you are manually
editing?"

My file exists at: "C:\Program Files (x86)\Universal Media Server\web\" -
there is no directory named "resources"...

I did replace the {{name}} variable with what I wanted ... it did not work,
nor do anything, not even an error...

The variable {{name}} is a call or push from some other - p

[2022-07-15 23:51] MTOakey commented on #3140
SOB !!!
I just tried it again, but this time I removed the outer set of brackets,
last time I kept that outer set...
That did exactly what I was looking for !!!

Thank You Sir !!!

On Fri, Jul 15, 2022 at 7:46 PM Matthew Oakey ***@***.***> wrote:

--
“A truth’s initial commotion
is directly proportional to how deeply the lie was believed.
When a well-packaged web of lies has been sold gradually, t

[2022-07-15 23:55] MTOakey commented on #3140
If you would like, I could send pics of the results of the very basic
changes I made to the browser interface, just so it looked nicer on my
screen, but also fixed an issue with the Left sidebar NOT implementing a
Vertical scrollbar when the list is longer than the viewport.

On Fri, Jul 15, 2022 at 7:51 PM Matthew Oakey ***@***.***> wrote:

--
“A truth’s initial commotion
is directly proportional

[2022-07-16 00:04] MTOakey commented on #3140
And still cannot figure out why the Links in that left sidebar - when
hovered - move the text to the left off the screen...
Also, why the "folder.ico" {or .jpg or .png} image is NOT the actual image
that is in the folder, but an internally produced ridiculous flower.

On Fri, Jul 15, 2022 at 7:54 PM Matthew Oakey ***@***.***> wrote:

--
“A truth’s initial commotion
is directly proportional to how

[2022-07-16 00:57] Nadahar commented on #3140
As far as I remember, the hover "movement" is in the CSS somewhere.

I'm not sure what exactly you're trying to achieve, but it's impossible to change just one page like `browse/52`. It would also be futile as the ID's (52) are dynamic. Remember that what you "browse" when you browse the media, isn't the physical files on your drive, it's the "media tree" that UMS has constructed (in memory) since

[2022-07-16 02:28] MTOakey commented on #3140
Sorry, what I would like to have happen is NO MOVEMENT OF TEXT to the left,
it also does an "Invert" - White Text to Black and Black Background to
White, which is enough, and fine.
So, if I can fix that in or for all pages that would be great then.
As far as the "browsing" issue - for the MOVIES, which show in the sidebar,
that is fine, but for the "folder.ico" which is listed by NAME in the code,

[2022-07-16 04:19] #3155 closed

[2022-07-18 09:14] SubJunk commented on #3009
We have also just released 11.3.0 which is has signed and notarized macOS builds, hope you enjoy :)

[2022-07-18 09:14] #3009 closed

[2022-07-18 09:16] SubJunk commented on #1855
We have also just released 11.3.0 which is has signed and notarized macOS builds, so there should be no more workarounds needed. Hope you enjoy :)

[2022-07-18 09:16] #1855 closed

[2022-07-18 09:17] SubJunk commented on #1611
I think this has been done now. If there are any remaining ones found they can have more specific issues created

[2022-07-18 09:17] #1611 closed

[2022-07-18 09:18] #1247 closed

[2022-07-18 09:23] SubJunk opened #3171 "ServerSentEvents ping NPE"
Seeing this in logs:

[code]

Might be one for you @SurfaceS

[2022-07-18 10:08] soulnick commented on #3009
task manager says intel executable, is it normal?

[2022-07-18 13:52] jconley commented on #3009
@SubJunk seeing the same, [UMS-11.2.0-arm.dmg](https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/11.2.0/UMS-11.2.0-arm.dmg) is only a x86_64 binary
[code]

[2022-07-18 20:39] SubJunk commented on #3009
It's 11.3.0 that is signed, not 11.2.0

[2022-07-18 20:49] #3171 closed, assigned to nobody

[2022-07-20 08:57] derekjax commented on #3130
Any thoughts on what the issue could be?

[2022-07-23 05:02] SubJunk commented on #3071
That's a useful log, we should be able to fix it now. I will make a test file for you soon @Demonsthere

[2022-07-23 06:17] SubJunk commented on #3071
@Demonsthere please try https://www.universalmediaserver.com/uploads/UMS-3071.dmg

[2022-07-24 01:08] dmitche3 commented on #2899
Same here.  Doing a restart causes with nothing connected to the socket causes the following message to repeat with the thread # changing, of course.

ERROR 2022-07-23 21:06:59.930 [UPNPHelper] UPnP network exception: Socket closed
TRACE 2022-07-23 21:06:59.930 [UPNPHelper]
java.net.SocketException: Socket closed
	at java.net.TwoStacksPlainDatagramSocketImpl.receive0(Native Method)
	at java.net.Tw

[2022-07-24 15:11] AndrasJanurik commented on #767
V11.2.0 on a 64 bit windows with the included JRE 64 bit still creates the windows service with wrapper.exe (32 bit). Therefore the service does not start.
Wrapper.log:

[code]
Replacing wrapper.exe and .dll with the included -x64 versions solves the problem.
Maybe the service should be created with wrapper-x64.exe.

[2022-07-25 08:17] Demonsthere commented on #3071
Hui @SubJunk, the hotfix works and I can run the app :) However, i do run into a migration error, judging from the logs during data migration from the previous version:

[code]

[2022-07-25 08:46] SubJunk commented on #3071
Thanks for confirming the fix!

The first new problem you mentioned is something we are aware of, it doesn't seem to cause any bugs other than an ugly log entry (the poster is still set one time, but it fails the second time, I think. There is an issue for it at https://github.com/UniversalMediaServer/UniversalMediaServer/issues/3132

The second new problem seems like it is common in Java 17 (whic

[2022-07-25 08:46] #3071 closed

[2022-07-25 21:43] SubJunk opened #3194 "Web settings: Mantine 5.0.0"
This just got released. I had a scroll through the changelog and it doesn't seem like many changes will be needed, but I guess it will be easier to do those now instead of when we have done the whole migration
https://github.com/mantinedev/mantine/releases/tag/5.0.0

[2022-07-26 08:21] SubJunk opened #3195 "Web settings: Fix console errors"
There are some console errors that appear on page load after login on the new settings page to be fixed

[2022-07-27 11:17] ExSport commented on #543
Old issue, it should not be relevant anymore...

[2022-07-27 11:17] #543 closed

[2022-07-27 11:28] ExSport commented on #708
Very old issue was fixed in some recent versions already :)

[2022-07-27 11:28] #708 closed

[2022-07-27 11:33] ExSport commented on #860
old one, closing...

[2022-07-27 11:33] #860 closed

[2022-07-27 21:35] SubJunk commented on #481
This has been fixed a while ago

[2022-07-27 21:35] #481 closed

[2022-07-28 00:21] Goten87 opened #3197 "why youtube-dl"
why do you use youtube-dl.exe in the project and not yt-dlp witch is a lot beter i think
i also back in the day used youtube-dl but sins i use yt-dlp i cannot go back

[2022-07-28 05:46] SubJunk commented on #3197
@Goten87 I hadn't heard of that, can you explain why it's better for us?

[2022-07-28 08:18] SubJunk opened #3199 "Windows Service does not work on x64"
This was marked as fixed in v11 but it seems something was missed, based on this comment https://github.com/UniversalMediaServer/UniversalMediaServer/issues/767#issuecomment-1193336950
@SurfaceS can you please look into it?

[2022-07-28 11:47] Goten87 commented on #3197
@SubJunk i dont realy know why you use it for but from what i see yt-dlp is more up to date (now i see that youtube-dl is being updated again as well) but at my time of switching youtube-dl had not had a update for 1 or 2 months

also the functions are beter in yt-dlp for what i wanted to do with it but again i dont know why you use it

[2022-07-29 01:29] #3199 closed

[2022-07-29 03:52] SubJunk commented on #3197
@Goten87 it allows live YouTube videos to be played via UMS

[2022-07-29 09:49] NeelakshSharma commented on #2353
Hi @SubJunk, I'm looking for an Open Source Contribution. Can you help me out in giving the required context for this issue? Thanks.

[2022-07-29 13:42] neutric commented on #3197
`yt-dlp`, a fork of `youtube-dl`, is an order of magnitude more active than `youtube-dl` and improvements on the latter are being pulled into `yt-dlp`. Please compare https://github.com/yt-dlp/yt-dlp/pulse/monthly with https://github.com/ytdl-org/youtube-dl/pulse/monthly.

[2022-07-29 13:53] Goten87 commented on #3197
i was not able to say it beter then neutric haha

[2022-07-30 22:47] SubJunk opened #3203 "Web settings: Mobile app"
We should release our web settings as a mobile app for iOS and Android.

A promising solution is Capacitor https://capacitorjs.com/solution/react

[2022-07-30 23:48] MGAnton opened #3204 "Web feeds and streams don't ply video"
I have installed UMS-11.3.0, Debian 11-Xfce and openjdk-11. Web feeds and streams work fine with pictures, podcasts and radio, but when I play video, if I run UMS from terminal, system returns:
INFO  01:07:43.873 [ServerSentEvents ping] Exception in thread "ServerSentEvents ping" java.lang.NullPointerException: Cannot invoke "java.io.OutputStream.close()" because "this.os" is null
INFO  01:07:43.8

[2022-07-31 18:30] pataquets opened #3206 "Docker: use ENTRYPOINT instead of CMD to allow parameter passing"
As a common practice, the main executable artifact/binary/script on a Docker container is expected to be on `ENTRYPOINT`, although you might find lots of cases being in the `CMD` as this is now. If you want to just run the container with the default options, there is no noticeable difference.
Using `ENTRYPOINT`, however has some differences:
- You can still customize the init command, but just by

[2022-07-31 18:37] pataquets commented on #2453
Cross-linking to related #3206.
Also, exposing the run defaults via environment vars with default (eg.` ${UMS_PROFILE:-/profile}`) would allow easily overriding them on run:
[code]

[2022-07-31 22:26] SubJunk commented on #3206
This seems ok to me, without knowing a lot about it. Please submit a PR for it :)

[2022-07-31 22:31] SubJunk commented on #2353
@NeelakshSharma this is actually not a good time for this story because in v12 we have a big rewrite of our GUI, so I will close this issue for now. Please feel free to contribute to another story :)

[2022-07-31 22:31] #2353 closed

[2022-08-01 08:26] SubJunk opened #3208 "Web settings: Split tabs into components"
settings.tsx is over 1,000 lines long, let's split each tab into its own component

[2022-08-01 09:51] SurfaceS commented on #3208
Maybe the settings should be rearranged?
I always thought it was messy.

[2022-08-01 15:34] SurfaceS commented on #3208
@SubJunk I think about something like :

In **General settings** :
  - Application settings
  - Services settings
  - Advanced Network settings
  - External outgoing traffic settings

Application Settings : language, tray, etc Prevent sleep (moved here).

Services settings : Server name (move here), Upnp on/off, server engine for Upnp, mDNS (chromecast) on/off (if upnp on)

Advanced Network settin

[2022-08-01 17:10] pataquets commented on #3206
@SubJunk: submitted #3212.

[2022-08-01 21:17] SubJunk commented on #3208
Yes definitely the settings are messy, I look forward to rearranging them too. I find it hard to work with Java GUI so didn't make the improvements I wanted to, but with Mantine I think it will be easy for us

I was waiting until we had finished migrating so I wouldn't lose track of what was done, but since we only have the Shared Content tab left, maybe we can start improving the layout now

[2022-08-01 22:07] SurfaceS commented on #3208
I started it

[2022-08-01 22:22] SurfaceS commented on #3208
#3213 something like that

[2022-08-01 22:25] SurfaceS commented on #3208
Also, I try to take care that the GUI is working well from mobile.
Going to sleep now

[2022-08-01 22:51] esabol commented on #1247
I downloaded https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/11.3.0/UMS-11.3.0-pre10.15.dmg, and it wasn't signed. Are you only signing macOS releases for >= 10.15?

[2022-08-01 23:04] SubJunk commented on #1247
@esabol yes, I thought it wasn't needed until 10.15. I can start signing that release too though

[2022-08-01 23:35] esabol commented on #1247
No, macOS's Gatekeeper goes all the way back to 10.7.5.

I'm on 10.13, and I would very much appreciate it if you would start to sign the "pre10.15" release as well. Thanks!

[2022-08-01 23:50] SubJunk commented on #1247
@esabol ok, thanks for the info, I will start signing that one as well

[2022-08-02 16:53] Mik-S-UMS opened #3214 "Automatically load *.srt/*.sub subtitles option seems broken"
A couple of users on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=4&t=15206) have been trying to disable this option but it is not working.
I Tested this on my system and it appears the checkbox is always enabled after UMS is restarted no matter what the setting is in UMS.conf
It may be UMS is no longer respecting this setting.

[2022-08-03 17:02] Mik-S-UMS opened #3215 "Dates not shown on renderer after updating to 11.x"
A [user](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15233) has found that dates are no longer being sent to the renderer after upgrading to V11. I thought it was a database problem as there were errors about missing a column in the logs but after a database rebuild it still happens.

From what I can tell UMS is sending CREATIONDATE=0 for each file to the renderer as part of the

[2022-08-03 18:01] Mik-S-UMS commented on #3208
I had some similar ideas for improving the GUI a while ago and wanted to attempt to learn Java to help but gave up. Some of them might be easier to do now if relevant. #2125

I think the Shared folders tab needs a lot of improvement from what is there in the program GUI. I was thinking it might be better to treat all folders as virtual folders from now on so this gives the option to rename them fo

[2022-08-04 03:58] SubJunk commented on #3215
Ah yeah, I can see that will have been happening since 11.2.0, and somewhat since 10.20.0
I'll make a fix

[2022-08-08 04:48] #3215 closed

[2022-08-08 06:35] SubJunk opened #3221 "Web settings: i18n@none in renderers list"
This entry has snuck into the list of renderers

<img width="719" alt="image" src="https://user-images.githubusercontent.com/584228/183354439-750ac6f1-8c5f-423f-b6b7-4d7caab9651f.png">

[2022-08-09 10:30] #3221 closed

[2022-08-09 10:30] #3194 closed

[2022-08-11 13:41] Barabba11 opened #3225 "Black screen on LG TV"
Hi, my goal/dream si to watch the rtsp stream of a local IP DVR to LG TV, I've wasted lo of time searching for an app with rtsp support (none), use Serviio (works but output stream is out of control, 600k input 20 mega output without transcode), SimpleDLNA (doesn't support input streams) and UMS (streams but I have black screen).

So I've tried with new 65" oled with latest WebOS, low and high res

[2022-08-11 14:43] Barabba11 commented on #3225
I'm now debugging it with VLC locally, I can't see the "file" of stream under the web folder, I've completely restarted 2 tiemes, not working, then this tie chosing reset fro the app window showed the stream.
Open without transcode is not possible "VLC can't open MRL 'http://192.168.111.74:5001/get/66/qqq'"
inside transcode, choosing "without transcode": same result,
VLC works but with mpg1/2 (Mpg

[2022-08-18 00:30] SubJunk opened #3260 "Language priorities not working"
This is something I have experienced lately on 11.3.0+
The issue needs more investigation to see when it first broke

[2022-08-18 00:32] SubJunk opened #3261 "Fully played overlay on TV series thumbnail sticking"
I think this is a regression but that needs to be confirmed.
If I have watched all episodes, I correctly get the overlay, but then if a new episode is added, the overlay does not disappear, making it seem like there are no new episodes in that directory via DLNA

[2022-08-19 08:27] SubJunk commented on #3260
This was user error by me, it was respecting my settings perfectly

[2022-08-19 08:27] #3260 closed

[2022-08-31 07:31] Djdfy14 commented on #1899
Hello, I have the same problem as the author of the topic, when using vlc as a render, all subtitles are displayed on my TV and it cannot be turned off. I have an old computer and ffmpeg render makes the CPU load 100% and the video freezes. With vlc render, CPU usage is at 40%, everything works fine, but I can't turn off subtitles.

[2022-09-01 13:51] Barabba11 commented on #3225
no news/support here?

[2022-09-02 01:27] SubJunk commented on #3225
What does this mean?

[2022-09-02 01:29] SubJunk commented on #1899
@Djdfy14 I think at the time we implemented VLC, they did not support a third party overriding their preferences. So the way to switch subtitles on/off was to change the preferences in VLC itself.
I'm not sure if they have expanded their capability since then

[2022-09-02 06:15] Djdfy14 opened #3316 "Sound disappears when using ffmpeg"
# How to contribute

In order to help diagnose and fix your issue we often need your "debug information". It's easy to save this information and attach it to a GitHub issue:

  * Start UMS.
  * Go to the `Logs` tab.
  * Press the `Create TRACE logs` button which restarts UMS in the "TRACE" mode. If that doesn't work for some reason, either select `Trace` from the `Log Level` dropdown at the bottom

[2022-09-02 06:21] Djdfy14 opened #3317 "Sound disappears when using ffmpeg"
Hello, when playing some mkv files, after about 1 minute of watching the video, the sound is turned off when using FFmpeg, after that the image disappears for a few seconds, so it repeats every minute. How to fix it?

[ums_dbg_2022-08-31-22-45.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/9475332/ums_dbg_2022-08-31-22-45.zip)

[2022-09-02 06:21] esabol commented on #1899
https://superuser.com/a/1283822 seems to suggest that removing `--sub-track=-1` from the vlc command line options would stop the subtitles from being displayed at least.

[2022-09-02 06:22] #3316 closed

[2022-09-02 07:00] Djdfy14 commented on #1899
@esabol Turning off subtitles completely is not a problem, I did it in the vlc settings, but I want only forced subtitles to be shown. I checked, before version vlc 2.1.5 subtitles worked correctly (showed only forced ones), starting from version vlc 2.2.0 they began to show ALL subtitles at once. But version vlc 2.1.5 is not very stable...

[2022-09-02 07:10] esabol commented on #1899
Well, but that's what this issue is about, and it's a problem for me.

[2022-09-02 07:34] Djdfy14 commented on #1899
@esabol Your issue is very old and the solution is not published in this thread, I thought that if there are more people with such a problem, they will help us faster, or during this time you found a solution but did not write about it here. Sorry if I confused you.

[2022-09-02 23:08] SubJunk commented on #1899
I found this list of command line arguments that VLC accepts, maybe you guys can look through it and see if they support passing subtitle language overrides yet? https://wiki.videolan.org/VLC_command-line_help/

[2022-09-03 03:56] SubJunk opened #3318 "High CPU use while idle on macOS during development"
<img width="482" alt="image" src="https://user-images.githubusercontent.com/584228/188254870-5aa036af-efc5-415e-95e8-336c5fcb5a8b.png">
Doesn't happen when running the app from `Applications` directory, so this is not affecting users, only from within VS Code. Kills my battery

[2022-09-04 01:59] SubJunk opened #3325 "Files locked on filesystem if parsing fails"
I think what happens is that if I am copying a group of videos to another hard drive that is monitored by UMS, UMS fails to parse the partial file, and then doesn't release it afterwards.
We have talked before about using a scheduling mechanism for file parsing too, where failed parses are stored temporarily in the database for retry. At the moment we retry after 3 seconds but often more time is n

[2022-09-08 15:02] SurfaceS opened #3350 "Web settings: Language EN"
On GUI or web interface, select the application language (on settings) other than EN (US/GB).
Restart app.

Now, selecting the web interface language (on top) to EN (US or GB) will end in the current default started language.

[2022-09-08 15:08] SurfaceS opened #3351 "Web settings: Shared directories"
On "shared web directories"

Can't add shared web directory if none is set (no new line).

Fail to add stream as it will never have name (always try to use the feed funct).

Maybe we should add a button + modal to create a new one, instead of table row. (shared dir as well).

Save button will always try to send "shared web settings", even if not changed.

[2022-09-08 20:34] SubJunk commented on #3351
Nice issue. Modal would be ok if you want, I have mixed opinions about them

[2022-09-09 12:28] #3351 closed

[2022-09-10 22:36] SubJunk commented on #3317
I can reproduce the problem, I'll look into it

[2022-09-11 00:13] SubJunk commented on #3317
It happens for me on my TV but not if I open the file on my PC. I'll keep digging

[code]

[2022-09-11 18:49] ETERNALBLUEbullrun opened #3366 "Pinch-to-zoom works in all media apps except VLC"
If you tell me which folders and files need touched, I do not mind writing support myself and submitting a pull request if you promise to merge it.

[2022-09-13 03:25] Mik-S-UMS opened #3367 "Errors in log caused by switching to trace mode"
I was trying to help a user on the [forum](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15320) and found database initialization and unable to bind errors in the logs. I have noticed the same thing from other users the past few versions.

I also noticed that most of the recent logs are not in trace mode at the start. Then UMS is switched to trace mode and the logs continue showin

[2022-09-13 08:27] SubJunk commented on #3317
I have a fix for it now, it should be in the next release

[2022-09-13 08:40] Djdfy14 commented on #3317
@SubJunk When is the release with the fix planned?

[2022-09-13 12:34] leranp commented on #1841
Tried to run the docker without "network_mode: host" but there is an error with the UPnP
'''
ums  | INFO  15:27:32.765 [main] Starting UPnP service...
ums  | ERROR 15:27:32.807 [main] Unable to initialize network router: org.jupnp.transport.spi.InitializationException: Could not initialize UmsMulticastReceiver: java.net.BindException: Address in use
ums  | ERROR 15:27:32.808 [main] Cause: org.jupn

[2022-09-13 21:47] SubJunk commented on #3317
I'm not sure, but I can build it for you later today, I'll attach it here

[2022-09-15 05:23] #3317 closed

[2022-09-15 08:15] SubJunk commented on #3317
@Djdfy14 please let me know when you have downloaded it so I can remove it
https://www.universalmediaserver.com/uploads/UMS-Djdfy14.exe

[2022-09-15 08:37] SubJunk commented on #3367
@Mik-S-UMS weird that would start now, I thought we were getting better at shutting down reliably

[2022-09-15 08:41] SubJunk commented on #3367
I just tried to reproduce it but switching between debug and trace modes works for me, both with closing UMS and not closing it

[2022-09-15 13:33] SurfaceS opened #3386 "Web interface replacement"
What we call "Web interface" handled by `WebInterfaceServer` may be replaced by the web player part of the react client.
It should not contain any hole that allow any bad things against ums server.

The current "web interface" contain :
- player
- documentation that contain only Browser-to-UMS Media Player (bump) help.
- subtitle translator with a big sec hole in it.
- tools
  - Log viewer
  - Pac

[2022-09-15 14:16] Mik-S-UMS commented on #3367
I have not tried to replicate this myself but definitely seen it in a few peoples logs. I'll have a look later to find the posts on the forum that have this so you can see if there is anything common between them that could be causing it.

[2022-09-15 17:45] Djdfy14 commented on #3317
@SubJunk thank you very much, everything works. The file can be deleted.

[2022-09-16 20:58] Mik-S-UMS commented on #3367
Here are a few other logs that show this from the first page on the forum and I'm sure there are more going back further.
https://www.universalmediaserver.com/forum/viewtopic.php?p=45984#p45984
https://www.universalmediaserver.com/forum/viewtopic.php?p=46044#p46044
https://www.universalmediaserver.com/forum/viewtopic.php?p=45797#p45797

[this](https://www.universalmediaserver.com/forum/viewtopic.p

[2022-09-19 05:13] SubJunk commented on #1247
@esabol I'm sorry but it seems it's not possible to sign those older releases. The Apple servers give an error because the binaries are too old to sign. I don't think there is anything we can do about it since the error comes from Apple itself

[2022-09-19 05:34] esabol commented on #1247
SubJunk wrote:

Hmmm. I'd like to investigate this. Can you tell me the exact error message please? What version of macOS are you doing the signing on? And what version of XCode do you have installed?

[2022-09-19 08:23] SubJunk commented on #1247
Sure, I'll be happy if you can solve it. The errors are:

[code]

macOS version is always close to latest, 12.5.1 now
XCode version is 14.0

[2022-09-19 13:51] ExSport commented on #3317
@SubJunk Are you sure there is not a better fix? "**tune zerolatency**" and "**preset superfast**" makes UMS much more responsive for start of playing and FF/RW actions or UMS response on Wifi networks. Without it I am afraid some renderers will lose the benefit of UMS app, to rewind with transcoded files with some renderers like Panasonic, etc....
Maybe it is an issue of current FFMPEG build only

[2022-09-19 18:14] esabol commented on #1247
And recompiling mencoder and tsMuxer using the 10.9 SDK isn't an option? I assume that would fix these errors.

[2022-09-19 20:26] SubJunk commented on #1247
The source code for that tsMuxeR version was never released AFAIK so we can't do that one, but someone could theoretically do `mencoder` and `tsMuxeR-new`, and do a workaround to not use the older tsMuxeR.
Are you interested in compiling those binaries? It would likely be a significant time investment for whoever decides to try it.

[2022-09-20 06:51] SurfaceS commented on #3367
After a quick look at that, it is a "normal" things with the current code.

When someone restart from the app, the app launch a process before it exits, so the port is maybe not free / db not yet closed, etc. depending on the luck.

Also, the log file is never closed.

What can be done is
- shutdown all services before calling the new process.
- delay a bit the startup on the new process to let th

[2022-09-20 15:04] SurfaceS commented on #3367
Should be fixed

[2022-09-20 15:04] #3367 closed

[2022-09-20 15:32] #3350 closed

[2022-09-20 23:25] robsco opened #3418 "Pincode Howto"
I've tried to enable the pincode feature on v11.4.0 but all I get on my TV is a selection of "files" numbers 0-9 and clear.mpg

So it looks like it's kinda working, but how the heck do we enter the pin code?

My TV reports as a "Samsung 6 Series (65)" renderer.  Is this only available on newer TVs?

![IMG_3810](https://user-images.githubusercontent.com/1743301/191381958-8ab91415-f48d-4b32-82f1-4f2

[2022-09-21 04:15] Mik-S-UMS commented on #3418
I had never used pincode before but just tried it myself using the instructions from [here](https://support.universalmediaserver.com/books/configuration/page/security-and-privacy#)
The plan is to enter the code by playing the numbered files in order then content will be shown in the folder with the same name otherwise it will be empty.

I tried this on my PS4 and could not get it to work properly.

[2022-09-21 10:38] robsco commented on #3418
You gave me hope with the shorter pincode but no joy, I tried just setting "1" as the pincode, select that numbered file to watch, then hit Stop on the remote (after a few seconds on a blank screen), then try the video, but I just get "An Error Has Occurred" on the TV.

[2022-09-21 19:53] SurfaceS commented on #3214
Force external subtitles override this setting.

[2022-09-21 22:40] SubJunk commented on #3418
To be honest I forget we had that feature, I didn't work on it. It would be good to fix and improve it for sure

[2022-09-24 13:52] Barabba11 commented on #3225
Blurry, full of artifacts

[2022-09-24 22:06] SubJunk commented on #3317
@ExSport I tried a lot of options to narrow down the bug and only this combination worked. My theory is that there is something common to `ultrafast` and `zerolatency` that Panasonic TVs don't like.

Normally I would have made a renderer override for it just for Panasonic TVs but then I realised that `superfast` is probably a good setting for most people, though I'm interested in disagreement as a

[2022-09-24 22:54] SubJunk commented on #3225
The error in the logs:
[code]
is strange because youtube-dl is supposed to support rtsp.

Can you replace `C:\Program Files (x86)\net\Universal Media Server\win32\youtube-dl.exe` with https://github.com/yt-dlp/yt-dlp/releases/download/2022.09.01/yt-dlp.exe ? Just rename the file to match, and see if the same error happens with that.

If it works, it would be a reason to switch to yt-dlp per https:

[2022-09-26 07:33] SubJunk commented on #3317
I also found https://www.reddit.com/r/ffmpeg/comments/bhs6vf/comment/elve4xg/?utm_source=reddit&utm_medium=web2x&context=3 which says:

  --no-8x8dct --aq-mode 0 --b-adapt 0
  --bframes 0 --no-cabac --no-deblock
  --no-mbtree --me dia --no-mixed-refs
  --partitions none --rc-lookahead 0 --ref 1
  --scenecut 0 --subme 0 --trellis 0
  --no-weightb --weightp 0

  --no-mbtree --me dia --no-mixed-refs

[2022-10-02 03:42] SubJunk commented on #3208
These are good ideas. I'm really looking forward to being able to iterate faster on the GUI with our web interface and can certainly do some of these ideas

[2022-10-02 03:42] #3208 closed

[2022-10-02 03:44] SubJunk commented on #2823
Closing this because we are deprecating the Java interface

[2022-10-02 03:44] #2823 closed

[2022-10-02 03:45] SubJunk commented on #2700
Stale

[2022-10-02 03:45] #2700 closed

[2022-10-02 03:45] SubJunk commented on #2683
Stale

[2022-10-02 03:45] #2683 closed

[2022-10-02 03:45] SubJunk commented on #2652
I think this is fixed now

[2022-10-02 03:45] #2652 closed

[2022-10-02 03:48] SubJunk commented on #2618
@CodeLover254 I think this is waiting on you, will you return to it?

[2022-10-02 03:49] SubJunk commented on #2603
Closing this because of upcoming web GUI

[2022-10-02 03:49] #2603 closed

[2022-10-02 03:50] SubJunk commented on #2558
This was done

[2022-10-02 03:50] #2558 closed

[2022-10-02 03:50] SubJunk commented on #2557
I don't remember what I meant here

[2022-10-02 03:50] #2557 closed

[2022-10-02 03:50] SubJunk commented on #2561
Deprecated by web GUI

[2022-10-02 03:50] #2561 closed

[2022-10-02 03:52] SubJunk commented on #2416
I think this has been fixed

[2022-10-02 03:52] #2416 closed

[2022-10-02 03:52] SubJunk commented on #2265
Done

[2022-10-02 03:52] #2265 closed

[2022-10-02 03:53] SubJunk commented on #2253
Stale

[2022-10-02 03:53] #2253 closed

[2022-10-02 03:55] SubJunk commented on #2059
Done

[2022-10-02 03:55] #2059 closed

[2022-10-02 05:26] CodeLover254 commented on #2618
Hello @SubJunk. I have been swamped of late but I am happy to take on the task. Quick question,  the cache in reference here is the H2 database, right? My previous implementation had been relying on the in-memory cache.

[2022-10-02 05:54] SubJunk commented on #2618
@CodeLover254 it's ok I understand being swamped :) yes, I think your in-memory cache was a good improvement, but the h2 database would be even better

[2022-10-02 06:14] CodeLover254 commented on #2618
Thanks for the clarification. I will use H2 for that.

[2022-10-02 10:50] SurfaceS opened #3461 "Branches cleanup"
@SubJunk Can I delete all merged/closed/stale branches ?

I already deleted all branches without any commit ahead main (that mean no new/changed code in it, or already merged)

[2022-10-02 19:56] SubJunk commented on #3461
Yes that sounds good

[2022-10-02 20:48] SubJunk commented on #1761
I think this is fixed now, please reopen if not

[2022-10-02 20:48] #1761 closed

[2022-10-02 20:49] SubJunk commented on #1736
This is being done in the new web interface

[2022-10-02 20:49] #1736 closed

[2022-10-02 20:50] SubJunk commented on #1703
I think this is fixed now, please reopen if not

[2022-10-02 20:50] #1703 closed

[2022-10-02 21:12] SubJunk commented on #1573
This is done now

[2022-10-02 21:12] #1573 closed

[2022-10-02 21:13] #1561 closed

[2022-10-02 21:19] SubJunk commented on #1480
This is working better now with HLS transcoding

[2022-10-02 21:20] #1458 closed

[2022-10-02 21:21] SubJunk commented on #1367
Stale

[2022-10-02 21:21] #1367 closed

[2022-10-03 02:07] SubJunk commented on #1473
Stale

[2022-10-03 02:07] #1473 closed

[2022-10-03 02:09] SubJunk commented on #1331
Browsing archives is working for me, please feel free to reopen this if it is still a bug

[2022-10-03 02:09] #1331 closed

[2022-10-03 02:09] SubJunk commented on #1346
Unfortunately we didn't respond to this for 5 years, whoops

[2022-10-03 02:09] #1346 closed

[2022-10-03 02:16] #1290 closed

[2022-10-03 02:17] SubJunk commented on #1168
I don't think this will get worked on, iTunes doesn't exist anymore

[2022-10-03 02:17] #1168 closed

[2022-10-03 02:18] SubJunk commented on #1010
Stale

[2022-10-03 02:18] #1010 closed

[2022-10-03 02:22] SubJunk commented on #960
This will be better on the new web interface

[2022-10-03 02:22] #960 closed

[2022-10-03 02:27] SubJunk commented on #904
We have done a lot of work on performance and stability in the last 2 years so I'm closing this. Feel free to reopen if this isn't addressed

[2022-10-03 02:27] #904 closed

[2022-10-03 02:27] SubJunk commented on #872
Never got logs

[2022-10-03 02:27] #872 closed

[2022-10-03 02:27] SubJunk commented on #862
I think we fixed this, and anyway the problem doesn't exist with the browser interface

[2022-10-03 02:27] #862 closed

[2022-10-03 02:29] SubJunk commented on #841
Never got logs

[2022-10-03 02:29] #841 closed

[2022-10-03 02:30] SubJunk commented on #3325
Potentially fixed by https://github.com/UniversalMediaServer/UniversalMediaServer/pull/3464 I'll test it after merge

[2022-10-03 02:39] SubJunk commented on #586
We have made some improvements in the upcoming v12 browser-based settings so closing this

[2022-10-03 02:39] #586 closed

[2022-10-03 02:39] SubJunk commented on #787
We have made some improvements in the upcoming v12 browser-based settings so closing this

[2022-10-03 02:39] #787 closed

[2022-10-03 02:39] SubJunk commented on #768
Stale

[2022-10-03 02:39] #768 closed

[2022-10-03 02:40] SubJunk commented on #741
The upcoming v12 browser-based settings should fix this

[2022-10-03 02:40] #741 closed

[2022-10-03 02:41] SubJunk commented on #2063
The upcoming v12 browser-based settings is a different direction for this

[2022-10-03 02:41] #2063 closed

[2022-10-03 02:41] SubJunk commented on #666
Logs never arrived

[2022-10-03 02:41] #666 closed

[2022-10-03 03:57] SubJunk commented on #3325
Tested it sooner, it does fix it

[2022-10-04 01:00] SubJunk commented on #1206
Stale

[2022-10-04 01:00] #1206 closed

[2022-10-04 01:01] SubJunk commented on #838
Stale, If it is still a problem please reopen

[2022-10-04 01:01] #838 closed

[2022-10-04 01:02] SubJunk commented on #973
We have been doing fast and targeted database updates lately, and there are code changes to prevent freezing too (UMS will prioritize the user browse request above the scan) so I don't think this is needed anymore

[2022-10-04 01:02] #973 closed

[2022-10-04 13:35] Zishan-Rahman opened #3468 "Cannot build 11.5.0"
Hi! I'm trying to build version 11.5.0 of UMS on my Linux Mint 21 system (by running `mvn package -P linux-x86_64`), with everything I need installed (JDK, MediaInfo, Git and Maven), but I'm getting the following error(s?):

[code]
What do I do and how do I fix this?

[2022-10-05 00:59] #3325 closed

[2022-10-05 01:04] SubJunk commented on #3468
I did a search online and it seems like others have had that problem when they didn't have enough memory allocated. Do you have swap memory set up on your machine?
Some also say to use a lower number for -xmx
https://stackoverflow.com/questions/6773726/command-mvn-package-fails-with-status-137
https://stackoverflow.com/questions/36218635/maven-fails-with-error-process-exited-with-code-137?lq=1

[2022-10-05 10:36] Zishan-Rahman commented on #3468
I have a 2097148kB (~2.1GB) swap partition that was created on the day I installed Mint into my laptop (20.2, to be exact). I have 8GB RAM, at least half of which is in constant use, and around 590GB left in my 1TB SSD. Do I need to increase the size of my swap file or create a new one? If so, where do you suggest I look up on how to do that?

I have not heard of -xmx before so I did some searchin

[2022-10-05 18:50] animekai opened #3475 "(FEATURE) get back the plugins or turn off PC from ums dlna"
I want a feature to turn off PC server from the ums device, like my PS4, it was possible with my ps3 when plugins were available, but now plugins don't exists, but some feature to turn off PC from my ps4 would be appreciated 👍

[2022-10-05 23:43] SubJunk commented on #3475
Thanks for the issue @animekai I will work on this

[2022-10-06 00:18] SubJunk commented on #3475
@animekai which operating system? I'll make a build for you to test

[2022-10-06 11:15] Manishpandey11 commented on #2383
Hi ,I want to work on this issue
please assignee this issue to me

[2022-10-06 14:06] animekai commented on #3475
I use windows 10, and I use my ps4 fat to watch movies thought ums

[2022-10-06 20:54] SubJunk commented on #2383
@Manishpandey11 first it should be reproduced because maybe it works in the latest UMS, can you do that?

[2022-10-06 21:44] SubJunk commented on #3475
@animekai please let me know when you have downloaded https://www.universalmediaserver.com/uploads/UMS-remote-shutdown.exe

[2022-10-07 01:39] SubJunk commented on #3468
@Zishan-Rahman can you try appending ` -DskipTests` to the mvn command? That might workaround the bug

[2022-10-07 21:07] SubJunk commented on #3468
It seems likely it is related to your operating system and maybe one of our third-party dependencies interacting with each other. I say that because every pull request on here runs the tests on Windows, macOS, and two versions of Ubuntu, so I am confident that the test suite is stable on those operating systems.
Maybe you can look into it further as practice for your future career :) we welcome co

[2022-10-08 07:45] SubJunk commented on #2383
I just tested and it is working already, closing

[2022-10-08 07:45] #2383 closed

[2022-10-08 07:45] SubJunk commented on #759
This is fixed

[2022-10-08 07:45] #759 closed

[2022-10-08 18:05] threedguru opened #3486 "(FEATURE) On-the-fly 2D to 3D Video Conversion for VR Headsets"
Hi,

I posted this as a new feature suggestion:

https://www.universalmediaserver.com/forum/viewtopic.php?f=13&t=15369

mik_s suggested that I come over here to Git hub. I am not sure if this is the right place. I have already developed the solution, but it needs broader proving (e.g. on AMD GPU). It's in my local git repository. I developed it against 11.4.1.

https://www.universalmediaserver.com

[2022-10-09 04:14] CodeLover254 commented on #2950
I am willing to take on this one.

[2022-10-09 08:20] SubJunk commented on #2950
Ok great. How would you do it?

[2022-10-09 08:34] SubJunk commented on #3486
@threedguru great idea, I would love to see the code, can you submit a pull request so we can see it?

[2022-10-09 09:14] threedguru commented on #3486
Hi @SubJunk, thanks for replying. I have never done a "pull request"
before, but it sounds like the right next step though. I have just read a
brief overview of how a "pull request" works. I can certainly have a go. I
git cloned the 11.4.1 version of UMS as a starting point. Is there a better
link to follow on "pull requests" than this one?

https://docs.github.com/en/pull-requests/collaborating-w

[2022-10-09 16:10] threedguru commented on #3486
Hi @SubJunk. I have created a pull request as requested. I have created a local fork to perform the pull request. I could not figure out how to make the request against tag 11.4.1 so there are probably some conflicts with main. Anyway, you can see the code. Comments appreciated. The screen shots and my commentary in the video will help to understand what I have done. See video link again below:

h

[2022-10-10 08:28] CodeLover254 commented on #2950
I am still trying to find out if the settings are saved somewhere in a db table(s). If they are we can export the settings to a JSON file maybe. I am not sure of the term 'drives' the user suggested in the discussion. Did it mean the shared folders where media is stored?

[2022-10-10 16:29] threedguru commented on #3486
Hello again @SubJunk. I have updated the pull request after merging with main, testing and fixing the conflicts. I have provided a more detailed overview in the description of the pull request, a video link and some screen shots. See here:

https://github.com/UniversalMediaServer/UniversalMediaServer/pull/3490

[2022-10-13 16:17] SurfaceS opened #3501 "Remove old engines"
UMS use the `JUPnP (Netty)` engine as default since v11.0.0.
It's maybe time to remove old upnp engines :
`Sockets` that is not up to date.
`Netty` and `Java` that use the `SocketSSDPServer` (datagram) instead of `JUPnP` one.

I may add `ContentDirectory` service implementation to `JUPnP`, and put this engine in alpha for now to test it.

@SubJunk what do you think about this ?

[2022-10-15 08:42] SurfaceS commented on #2950
Normally, all settings, databases and temp files are located on profile folder or appdata folder.

**On the root :**
UMS.conf (apache conf file) : Most of the settings are stored here.
WEB.conf (web feeds and streams)
VirtualFolders.conf (virtual folders)
UMS.cred : creds for opensubtitles and web interface
ffmpeg.webfilters : ffmpeg web filters

UMS.dat : file that keep the WindowProperties -> no

[2022-10-15 09:37] threedguru commented on #3486
Hi @SubJunk, just for info I have added, to the end of the pull request description, a bit of theoretical background and links to previous work on the topic (on which I have built). I think this was needed to help understand what is going on. I know that this is a bit of an unusual new feature addition and is a little different from a straight small incremental enhancement to the UMS product. I al

[2022-10-17 13:26] SurfaceS opened #3508 "Uniformizing settings files format"
UMS use a lot different file format to store settings.

`/UMS.conf` use java properties file format.
`/renderers/*.conf` files use java properties file format.

`/ffmpeg.webfilters` use custom file format
`/UMS.cred` use custom file format
`/data/UMS.tmpmgr` use custom file format
`/data/dynpls/*.ups` use custom file format
`/data/resume/*.resume` use custom file format

We may look if it is possi

[2022-10-17 21:08] falves1 opened #3509 "App never shows up in Windows 2022 Datacenter via RDP"
Cab Id: 0

Problem signature:
P1: javaw.exe
P2: 17.0.4.1
P3: 10.0.20348.2.0.0
P4:
P5:
P6:
P7:
P8:
P9:
P10:

Attached files:
\\?\C:\Users\ADMINI~1\AppData\Local\Temp\RDR4256.tmp\empty.txt
\\?\C:\ProgramData\Microsoft\Windows\WER\Temp\WER.1cd78c2d-0a15-47c4-9211-4cc64e474448.tmp.WERInternalMetadata.xml
\\?\C:\ProgramData\Microsoft\Windows\WER\Temp\WER.f320a611-ea2f-4507-8d84-08cd5ca2d779.tmp.xml
\\?

[2022-10-18 18:45] SubJunk commented on #3508
Good idea

[2022-10-18 21:13] SubJunk commented on #3501
@SurfaceS yes that sounds good to me

[2022-10-21 00:59] SubJunk opened #3517 "Web settings design tweaks"
This is to track progress on design tweaks for new web player

- [x] Scale thumbnails to containers, there is a lot of extra space now vs before - keep in mind many different possible monitor resolutions and window sizes
- [x] Fit items on front page to one line, at the moment they wrap
- [x] Make left panel a set size instead of percentage, otherwise it will get huge on big resolutions
- [x] Make

[2022-10-21 22:02] SubJunk opened #3522 "Web settings: Shared Content tab moved to its own page"
Users will sometimes need to change settings but I think the Shared Content tab would be the most frequently used, so I think we should make that selected and expanded by default. I'm interested in opinions from @UniversalMediaServer/developers about it too

[2022-10-21 22:08] SubJunk opened #3523 "Web settings: Fix shared content not updating on web"
Reproduction steps:
1) Add a new shared folder in the new web settings area and click Save
2) Go to the Player area, observe the new folder isn't there, even if you refresh the page

I can see the update if I go to port 9002, but not 9001

[2022-10-22 03:04] SubJunk opened #3524 "Web player: Update location bar while navigating"
Currently in the new web player, the location bar in the browser does not change while navigating.
This means a user can't refresh the page, or copy/paste the location to somewhere else - it will just load the front page.

[2022-10-22 09:08] SurfaceS commented on #3522
In my opinion, Shared Content tab should be moved to it's own Shared Content on the menu.
It is on the same goal than #3508

[2022-10-22 20:58] SubJunk commented on #3522
Yeah that's good too

[2022-10-24 05:28] SubJunk commented on #3517
@SurfaceS I need to do some heavyish reformatting of Player.tsx for this to clean up the run order of functions, just letting you know in case of code conflicts

[2022-10-24 11:26] SurfaceS commented on #3522
fixed in https://github.com/SurfaceS/UniversalMediaServer/commit/35551e8cf372f35b832329fc795f0237839a4ff7

[2022-10-24 11:26] #3522 closed

[2022-10-24 15:52] SurfaceS commented on #3524
This one will need a lot of change as browse / play is handled by SSEProvider.
Also, changing page will cut/load SSE each time.

[2022-10-24 20:11] SubJunk commented on #3524
@SurfaceS we don't have to do a page load each time, just store a reference to the page. Often websites do it with hash, so like `localhost:9001/#id=123`

[2022-10-24 20:19] #3475 closed

[2022-10-24 21:08] SubJunk opened #3533 "Web player: Download button not working"
The download button on the play video page doesn't work, just goes to an empty React page

[2022-10-25 09:45] SurfaceS commented on #3533
On my side, it works (Firefox, Chrome and phone Samsung browser).

The link open a new tabs, so it should not have something to do with React.

Do you have any errors ?

[2022-10-25 20:51] SubJunk opened #3541 "Broken thumbnails in Web folder"
On first load, the thumbnails are broken:
<img width="500" alt="image" src="https://user-images.githubusercontent.com/584228/197878568-ab32ed27-7368-49eb-9b40-ef72df43c867.png">

But they work the second time:
<img width="500" alt="image" src="https://user-images.githubusercontent.com/584228/197878715-36d7765f-e34f-47c0-9a9c-48e88dc397f6.png">

It seems to happen on the old web player too, so I'm

[2022-10-25 20:55] SubJunk commented on #3533
I tested more and it works for me if I use the compiled version (port 9001) but not the live development version using `yarn start` and port 3000

[2022-10-27 07:28] SurfaceS commented on #3541
Maybe try to see if #3507 fix this as this was a lot of non sense code fixed their.

[2022-10-27 20:50] SubJunk commented on #3533
The new window opens but it's just an empty React shell with no content, instead of a file. I can look into it more later

[2022-10-28 03:49] SubJunk commented on #3509
Are there any logs generated in `C:\ProgramData\UMS`?

[2022-10-28 20:04] SubJunk commented on #3541
@SurfaceS yes that fixes the bug, good timing!

[2022-10-28 20:04] #3541 closed

[2022-10-30 06:44] paultheman opened #3549 "Subtitles not transcoded in 11.5.0, woking fine in 11.4.0"
With version 11.5.0 the subtitles are no longer transcoded for Roku streaming stick. They are working with version 11.4.0

[ums_dbg_2022-10-30-08-42.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/9895258/ums_dbg_2022-10-30-08-42.zip)

Thank you for your work!

[2022-10-30 07:49] paultheman commented on #3549
If HLS is deleted from TranscodeVideo = HLS-MPEGTS-H264-AAC in Roku-4640x.conf file, the subtitles are transcoded.
The Play/Pause and Rewind buttons no longer work without HLS.

[2022-10-30 16:10] rhayy commented on #3197
I would to argue in favor of yt-dlp.
- Statistics aside, as neutric said, youtube-dl updates are pushed into yt-dlp. You should have at least the same capabilities.
- Bandwith is limited to a few kb/s with youtube-dl for some reason whereas yt-dlp can play videos smoothly.
- As it is updated more actively and people contributing more in this project, it supports more video platforms.
At the moment

[2022-11-01 04:10] SubJunk commented on #3197
@rhayy I think it's a good idea, it just has to be done :) Will you contribute a PR?

[2022-11-01 07:11] SubJunk commented on #3523
@SurfaceS I think this should be fixed before we merge the branch for v12, because it will affect every new user who uses the web player, which is a lot of people

[2022-11-01 12:25] SurfaceS commented on #3523
@SubJunk : Have a try on this one https://github.com/UniversalMediaServer/UniversalMediaServer/pull/3561.
It is a confs cleanup that I was working on, and that should handle shared changes differently.

[2022-11-02 10:22] #1752 closed

[2022-11-03 08:20] #3524 closed

[2022-11-05 07:01] SubJunk opened #3575 "endyear, firstairdate, numberofseasons, and originaltitle always missing for TV series in database"
Not sure without investigation whether it is a problem with the Java code or API

[2022-11-11 12:40] ik666 commented on #3523
@SurfaceS I've merged the new branch. I do not see my configured shared resources in the root folder any more. I'm using a headless environment. The files are available over the media library though.

[2022-11-11 13:33] SurfaceS commented on #3523
@ik666
can you post your SHARED.conf and what is missing on your root ?

[2022-11-11 19:06] SubJunk commented on #3523
My problem is fixed, but I'll leave it for this new one and delay the release until it's resolved

[2022-11-12 12:29] ik666 commented on #3523
@SurfaceS Maybe I've missed something, but I don't see a SHARED.conf ... where should it be and what is the content? If this is a new config element, maybe the folder settings (UMS.conf) from 11.x can be merged?

And I am missing the "My Album" folder displayed in the RootFolder.

[2022-11-12 14:18] goremykina opened #3600 "Gnome: "JavaEmbeddedFrame" is vilible in the dock"
This issue is reproducible in vanilla fedora 37 and PopOs.
Steps to reproduce:
1. Start the app
2. Check the dock

![image](https://user-images.githubusercontent.com/91681871/201478348-78dcf173-e2c5-4d12-b75d-bb5ed50b75dc.png)

[2022-11-12 21:30] SubJunk opened #3601 "Automatically merge dependency patch releases"
Our dependency management tool Renovate supports automatic merging, and I thought it would be nice to configure it with the logic "merge patch updates (e.g. 1.2.3 to 1.2.4, but not 1.2.3 to 1.3.0) if tests pass". I want to check that you guys agree before I do that.

I can't think of any cases where I wouldn't want to merge that kind of update so it could save time.

@UniversalMediaServer/develope

[2022-11-12 22:22] SubJunk commented on #3600
Thanks for reporting it

[2022-11-13 07:34] SubJunk opened #3603 "Mark directory as fully played feature gone from Java GUI"
@SurfaceS this probably happened in the refactoring of the shared content tab. You used to be able to right-click a directory and mark it as played or unplayed, but now nothing happens on right-click. Can you look?

[2022-11-13 11:23] ik666 commented on #3523
@SubJunk @SurfaceS I think my issue is fixed now. I had a NPE during scan (see #3604). Maybe this is why nothing showed up. Also the SARED.conf is now being created and merged as expected ... Thx all.

[2022-11-13 12:45] SurfaceS opened #3606 "DLNAMediaInfo cleaning"
I was looking to fix #3521 properly.
I found `DLNAMediaInfo` is mixed of everything.

`DLNAMediaInfo` may be audio only, image, video or mix of it.
And only part of it's member will be filled.
I my opinion, `DLNAMediaInfo` is (or should be) like the container.

I think that video streams should be like audio streams, in an `DLNAMediaVideo` array.
Same for Images in an image file.

It will also all

[2022-11-13 12:45] #3501 closed

[2022-11-13 18:50] #3523 closed

[2022-11-13 18:52] #3603 closed

[2022-11-14 00:33] SubJunk commented on #3606
Yes I have often thought this too

[2022-11-14 07:20] #3601 closed

[2022-11-14 07:32] SubJunk opened #3607 "file is null test failure"
The last 2 test runs in main are failing https://github.com/UniversalMediaServer/UniversalMediaServer/actions/runs/3459327505/jobs/5774610765#step:5:412

[2022-11-14 11:03] SurfaceS commented on #3607
Rerunning the check pass.

I think the problem is on SearchRequestHandler :
[code]
where resultSet.getString("FILENAME") is rubbish.

[2022-11-14 12:04] ik666 commented on #3607
@SubJunk I agree. Because "FILENAME" is not in the filesystem you get a "NULL" filename. Howeer, I think the code should be mature enough to get along with it. The #3608 PR at least fixes this. Or would you rather like to adjust the test ?

[2022-11-15 06:15] Mik-S-UMS opened #3613 "UMS crashes when monitor turned off"
[This](https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=15423) is a strange one that has me stumped. When the monitor is turned off UMS (or java) crashes but I don't see how that can happen. It does not happen when the monitor goes to sleep.

I'm not sure if the problem is with their computer or some weird interaction with the graphics card. It also happens with an older version of U

[2022-11-15 06:50] ik666 commented on #3607
@SurfaceS I also added the fix for your commented line to the PR  ...

[2022-11-18 00:32] SubJunk opened #3620 "Open web interface on double-click of tray icon"
At the moment it still opens the Java GUI

[2022-11-18 00:36] SubJunk opened #3621 "Change words in right-click menu"
At the moment it is:
- Web player
- Web interface
- Main panel
- Quit

I'm open to suggestions but here is one to get started:
- Web player
- Settings
- Settings (old)
- Quit

[2022-11-18 19:14] SubJunk opened #3622 "Startup freeze"
I got a startup crash while building the 12.0.0 release. I'm fixing it now and will abort the release and do 12.0.1 instead
[code]

[2022-11-18 19:29] SubJunk commented on #3622
On startup on macOS after fixing this bug, I get another one where I have to click this popup about 20 times in a row. In v11 you just click it one time on startup.

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/584228/202786411-6adb6dac-f79c-401f-979c-33fe4faa5630.png">

[2022-11-18 19:36] SubJunk commented on #3622
Looking at the logs after each time I click `OK`, it is re-prompting for the permission when it adds a new `file watch` in that folder

[2022-11-19 00:33] SubJunk opened #3626 "Lookup warning in Renovate logs"
[code]

[2022-11-19 01:40] SubJunk commented on #3626
Hopefully fixed now

[2022-11-19 01:40] #3626 closed

[2022-11-19 01:42] SubJunk commented on #3607
I merged the fix

[2022-11-19 01:42] #3607 closed

[2022-11-19 06:18] SubJunk opened #3631 "Multiple permissions prompts on macOS since v12"
Using the default shared directories, the OS prompts me repeatedly for access to Photos. It pops up about 30 times until it's done, and it starts again each time I open the app. It also does it for the Downloads folder if I share that, screenshots are in https://github.com/UniversalMediaServer/UniversalMediaServer/issues/3622#issuecomment-1320442520

In v11 it only prompts one time.

<img width="4

[2022-11-19 07:49] SubJunk opened #3632 "Can't add folders via Java GUI in v12 on macOS"
After I select the folder, the popup closes and nothing happens, and the logs say:

[code]

It works correctly for me on Windows, just not macOS

[2022-11-20 07:33] SubJunk commented on #3632
@SurfaceS I looked into it a bit, I'm not that familiar with the refactored code but it seems to me that it is trying to use GSON to deserialise something that isn't always JSON, so it might not be a safe thing to do. A lot of people have run into this problem in Java 17+ because it is more strict.
Do you have any ideas?

[2022-11-20 11:36] Mik-S-UMS commented on #3613
Update:
It appears to have fixed itself after running as administrator and turning off UAC.
I have suggested turning UAC back to default to see if the problem has gone and looks like it has.

Something must have needed admin rights on their system, and that was causing UMS to crash for some reason. I don't know if this is an isolated problem unique to them or hints to a bug/config problem somewher

[2022-11-21 00:18] #3622 closed

[2022-11-21 00:20] SubJunk commented on #3613
@Mik-S-UMS I'm glad it's resolved, thanks for the update. It's a weird one and maybe we will never know what happened. If it happens again to another user we might learn more

[2022-11-23 10:09] ik666 opened #3646 "audio file thumbnails should not have an overlay"
I've an issue with v12: thumbnails of audio and image items get an overlay:

This is a thumbnail for an `object.item.audioItem`:

<img width="192" alt="Bildschirm­foto 2022-11-23 um 10 58 02" src="https://user-images.githubusercontent.com/8244468/203518836-c2701a5e-cc33-489b-8783-8e5a5adf45bc.png">

This is a thumbnail for an `object.item.imageItem`:

<img width="268" alt="Bildschirm­foto 2022-11-

[2022-11-24 07:40] #3632 closed

[2022-11-24 07:44] SubJunk commented on #3646
Depends if they have been played/viewed?

[2022-11-24 07:56] ik666 commented on #3646
@SubJunk Nope, I deleted the database before testing this ... Images can't be played anyways ... And for audio items it makes no real sense either, does it?

[2022-11-25 06:19] #3631 closed

[2022-11-29 10:05] ik666 commented on #3646
@SubJunk @SurfaceS  With the current `main` branch, this issue doesn't come up any more. I'll close it.

[2022-11-29 10:05] #3646 closed