[2020-10-23 02:14] SubJunk commented on #2232
Now that I looked more closely, these might be two unrelated errors

@Smoker1 yours may be related to a firewall or something else (or another instance of UMS) using the same port, going by this link https://www.techinpost.com/an-established-connection-was-aborted-by-the-software-in-your-host-machine/

Please let me know if it happens again.

@purevertigo please try this version https://www.univer

[2020-10-23 04:19] SubJunk commented on #2153
@UniversalMediaServer/developers I have decided to do this before the release of v10, since that will give us a lot of modern features so we should have a more modern website to go with it. I'm trying out an implementation using Bootstrap 5 now and I'll update on progress here.

I have also been checking out competitors' websites to get ideas.

If you have any ideas to suggest please let me know.

[2020-10-23 20:14] valib commented on #2153
@SubJunk it could be nice to have there also the UMS setup.

[2020-10-24 22:55] #2247 closed

[2020-10-24 23:58] Neocazen commented on #2265
It would also be interesting to have an html5 player replacing the "almost deceased" flash.

[2020-10-26 01:49] SubJunk commented on #2265
@Neocazen it already uses HTML 5 by default, we just support manually changing to Flash for browsers that don't support HTML 5

[2020-10-26 02:01] SubJunk commented on #2258
I got this again today and if I click on a clickable video, I can see in the logs:

[code]

which is likely an important clue

[2020-10-26 03:05] SubJunk commented on #2153
It should also offer more installation options like `brew` https://formulae.brew.sh/cask/universal-media-server#default and Docker https://hub.docker.com/repository/docker/universalmediaserver/ums

[2020-10-27 02:58] SubJunk commented on #1978
I noticed in the logs that the exception seems to happen whenever we let the renderer know about subtitles. So we do:

[code]

Which is then following by:

[code]

Usually about 120-150ms later.

Would you please try editing the renderer config file `Philips-AndroidTV.conf` to remove the lines:

[code]

[2020-11-01 11:13] carlosvsilva commented on #1978
Hi seems to still  happen with subtitles completely disabled both in conf file and in Transcoding options. Logs are attached.
[ums_dbg_2020-11-01-11-08-noclosedcaptions.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5470621/ums_dbg_2020-11-01-11-08-noclosedcaptions.zip)
[ums_dbg_2020-11-01-11-10-nosubsatall-9.8.2.zip](https://github.com/UniversalMediaServer/UniversalMediaS

[2020-11-01 23:05] SubJunk commented on #1978
@carlosvsilva thanks, what about if you set `ChunkedTransfer` to false in the renderer config?

[2020-11-02 05:39] purevertigo commented on #2232
New Logs are attached.

[ums_dbg_2020-11-02-16-14.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5472982/ums_dbg_2020-11-02-16-14.zip)

[2020-11-03 02:04] SubJunk commented on #2232
@purevertigo did the problem still happen?

[2020-11-03 05:06] purevertigo commented on #2232
@SubJunk yes it did.

[2020-11-07 20:49] SubJunk commented on #1978
Another idea I had is to try another renderer like using the VLC app on your phone, or anything, to see if the connection resets are unique to your TV

[2020-11-09 06:18] purevertigo commented on #2232
Any news @SubJunk?

[2020-11-12 09:10] paul-hammant opened #2284 "BUILDING.txt needed"
I get:

[code]

I looked in the README for a "building ums" section, but couldn't see it. Noobs should be catered or :)

I was going to go on and do the Docker step after that, as the Dockerfile isn't getting a release from anywhere, it's assuming ums.jar exists (relatively?) meaning it must have been locally built.

[2020-11-12 12:23] valib commented on #2284
@paul-hammant see the Wiki https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/How-to-build-UMS

[2020-11-12 13:20] paul-hammant commented on #2284
https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/pom.xml says that cuelib is not mavenized (as a comment inline). I'll try building that first.

Cuelib is not mentioned in the "How to build UMS" page.

I will report back.

[2020-11-12 13:27] paul-hammant commented on #2284
Cuelib was on GoogleCode. On GitHub, `tnozaki/cuelib` is the one of three with the most recent commits (6 years ago). It is an Ant project though, not Maven.  I'm thinking there's some other place that the fine UniversalMediaServer devs are maintaining their fork of Cuelib though.  Advice?

[2020-11-12 17:32] paul-hammant commented on #2284
FindJar thinks that the only public reference for Cuelib classes is here - https://www.findjar.com/class/jwbroek/cuelib/CueSheetToXmlSerializer.html

There's many independent copies of Cuelib in git - https://github.com/search?q=CueSheetToXmlSerializer&type=code - some embedded inside other projects

[2020-11-12 17:35] Nadahar commented on #2284
You don't have to handle cuelib or any other dependency manually. Just follow the instructions given, point 6 should solve this particular problem: https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/How-to-build-UMS#6-resolve-and-install-external-libraries

[2020-11-12 17:57] paul-hammant commented on #2284
This one works - https://github.com/carlwilson/cuelib - if the GAV and package are changed to match expectations.

[2020-11-12 18:01] paul-hammant commented on #2284
I was following "Quick builds" -

![image](https://user-images.githubusercontent.com/82182/98977838-fc728480-2510-11eb-80b3-1ceb99a4dfab.png)

[2020-11-12 18:16] paul-hammant commented on #2284
Conclusion: Acquisition of the cuelib jar allows the quick build to go from start to finish with **no other setup steps**, and yield:

[code]

I've not tried out those binaries yet, but I am guessing they work.

[2020-11-12 20:41] Nadahar commented on #2284
The "quickbuild" works once you have followed the full procedure at least once. You must however run `mvn external:install" at one point to download non-Mavenized dependencies. If you do that, there's no need to manually fetch anything.

[2020-11-12 20:43] paul-hammant commented on #2284
I didn't run `mvn external:install` at all. Probably an accident that I had ffmpeg and others setup already.

One choice the project has is to include https://github.com/carlwilson/cuelib - as a sub-module.

[2020-11-12 20:45] Nadahar commented on #2284
FFmpeg etc gets pulled during "normal" build. The "external:install" step is only needed for non-Mavenized Java dependencies like cuelib and a few others. I would still run it to make sure you don't get problems with your builds.

[2020-11-12 21:09] SubJunk commented on #2284
Instead of BUILDING.txt we have https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/BUILD.md which points to the article Nadahar mentioned. If it doesn't work after you follow the full instructions please let us know.

[2020-11-12 21:11] paul-hammant commented on #2284
ok, thanks

[2020-11-12 23:45] SubJunk commented on #2284
Feel free to reopen in that case, thanks for your interest in UMS :)

[2020-11-12 23:45] #2284 closed

[2020-11-15 22:45] valib opened #2285 "Wrong recognition of the VLC on the Android TV"
@Subjunk I think that we have a problem to properly recognise the VLC running on the Android TV. It is reported in http://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14422. At the beginning is the TV recognised properly as the Sony Bravia TV but when user starts the VLC their requests are still recognised as Sony Bravia TV requests even if  the VLC sends the different USER-AGENT like `U

[2020-11-15 23:53] Nadahar commented on #2285
IP addresses only are used for consecutive matches, to speed things up I assume. So, once a renderer is "recognized" on a certain IP, UMS won't even try to re-evaluate this - which is a logical fallacy for any device that can run more than one "renderer software". This goes for computers, mobile phones, Android TVs etc. I pointed this out many years ago.

The fact is that it's a bit tricky since t

[2020-11-19 17:23] fu2x opened #2291 "NullPointer Exception when using VLC Web Video Engine"
java.lang.NullPointerException: Cannot invoke "net.pms.dlna.DLNAMediaAudio.getAudioProperties()" because the return value of "net.pms.io.OutputParams.getAid()" is null
	at net.pms.encoders.VLCVideo.getEncodingArgs(VLCVideo.java:264)

[Here](https://github.com/UniversalMediaServer/UniversalMediaServer/blob/6373d57e0d4461be95f5b9f9c8f536c7b21c1989/src/main/java/net/pms/encoders/VLCVideo.java#L264) a

[2020-11-21 18:17] lupinx commented on #2134
Hello,
i am still facing the exact same issue,
i am using both: **UMS 9.8.1** and the Old **PMS 1.90.1**
i have noticed that time to time something is triggering the **"javaw.exe"** continuous CPU spike at almost the same time, and remains like that till i restart the applications.

After thorough investigation, i found out the culprit;
in my case, it was the "**HTTPDebugger v9.9**" _**Service**_

[2020-11-22 02:31] SubJunk commented on #2134
Thanks for letting us know. It makes sense that an external debugging program would increase CPU use in some programs, and often those debugging and profiling tools have warnings about that.

[2020-11-22 02:38] SubJunk commented on #2291
Thanks for reporting it and finding the fix in the code, it will be in the next release

[2020-11-22 20:58] #2291 closed

[2020-11-22 21:02] SubJunk commented on #2052
@valib any interest in looking into this?

[2020-11-22 22:11] SubJunk commented on #2232
@purevertigo sorry for the late response. I have added some more logging since I can't see what is happening yet. Please try this and make a new set of logs https://www.universalmediaserver.com/uploads/UMS-connection_reset-1de0172.exe

[2020-11-23 21:45] valib commented on #2052
@SubJunk I will check it.

[2020-11-23 22:14] SubJunk commented on #2052
I looked into it yesterday and it seems like it might be a case where we fixed a bug, but the bug had been causing a good user experience. It seems like that renderer for the user is set up to receive external subtitles, but then when we try to construct the headers, we find that the renderer config has no subtitle header defined.

I guess the old version that worked for the user (7.9.0) had been

[2020-11-24 11:36] purevertigo commented on #2232
Thanks, @SubJunk for continuing to work through this issue.

I have attached new logs.

[ums_dbg_2020-11-24-22-33.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5589544/ums_dbg_2020-11-24-22-33.zip)

[2020-11-24 22:15] SubJunk commented on #2232
@purevertigo thanks for the logs. It seems that we are receiving communication from VLC that it is done with the stream but I'm not exactly sure about that, please make logs from this, I have added more logging. https://www.universalmediaserver.com/uploads/UMS-connection_reset-951107b.exe

[2020-11-25 06:27] esabol commented on #1960
Ugh. It's doing it again. Version 9.8.2. "Scan shared folders at startup" is NOT checked and all Media Library options are disabled, but it's still clearly scanning all of my drives again.

[2020-11-25 21:58] SubJunk commented on #1960
Can you please attach logs for this? I can't reproduce

[2020-11-25 22:32] esabol commented on #1960
My debug.log file is 1.76 GB. I doubt you want it all.

[2020-11-25 22:55] valib commented on #1960
@esabol please delete the database start the UMS and after e.g. 5 or 10 minutes stop the UMS and send the log.

[2020-11-26 00:14] esabol commented on #1960
I can't seem to reproduce it after restarting UMS, of course. I think it's actually initiated by my TV? It's hard to tell, but I think this is where it seems to start scanning the whole drive:
[code]
It then proceeds to scan the whole drive and then my other drives. After some time, I start to see thousands of lines like these:
[code]

[2020-11-26 01:17] SubJunk commented on #2052
@valib I have a possible fix for this so I will post it to the user so they can test it

[2020-11-26 01:30] SubJunk commented on #458
This is already how it works afaict

[2020-11-26 01:30] #458 closed

[2020-11-26 01:32] SubJunk commented on #738
Closing this as it went stale. If anyone is still interested in this please reopen and I will work to resolve it.

[2020-11-26 01:32] #738 closed

[2020-11-26 01:36] SubJunk commented on #2285
Yeah I'm not sure there is anything we can do about this, it's more a limitation of DLNA itself, isn't it? Please close the issue if you agree, or suggest a way to improve it

[2020-11-26 01:40] Nadahar commented on #458
@SubJunk This was implemented during the "images/thumbnails" refactoring.

[2020-11-26 01:47] Nadahar commented on #2285
I don't quite know where to "place the blame". UPnP AV never intended to use User-Agent for "renderer detection", so that in itself is somewhat of a "hack". Much more responsibility was supposed to be with the renderer, so the server wasn't intended to have to "adapt" to the renderer - which would mean that identifying the renderer isn't important.

That model doesn't quite work in the real-world

[2020-11-26 01:55] SubJunk commented on #1960
Ah yes, this is a known problem with LG TVs, they like to browse all of the server folders by themselves. Unfortunately we have no way to know whether they are legitimately browsing (because a person is doing it), or if the TV is doing it automatically.
I don't know why they do it. Maybe there is a setting for it on the TV? Or maybe contact LG support about it?

[2020-11-26 22:12] valib commented on #2052
@SubJunk you were faster 👍

[2020-11-28 01:16] #2052 closed

[2020-11-28 04:14] purevertigo commented on #2232
@SubJunk  Didn't do it this time around so I'll keep testing, but the shares never show up the first time. I have to exit and then re-enter the app (VLC) about 10 or so times before they show. No other DLNA share program does this and it is getting annoying, and it has been doing this since the start.

I have attached logs.

[ums_dbg_2020-11-28-15-09.zip](https://github.com/UniversalMediaServer/Un

[2020-11-28 04:28] SubJunk commented on #2232
I think you are describing a known issue with VLC detection. We have an issue on our tracker https://github.com/UniversalMediaServer/UniversalMediaServer/issues/954 and the VLC forum about it. I just re-posted on their forum to see if there are any updates https://forum.videolan.org/viewtopic.php?f=36&t=134806&p=511446#p511446

It seems to be a timing issue, since if I wait around 15 seconds befor

[2020-11-29 22:13] valib commented on #2232
@purevertigo can you check which VLC version is using your TV?

[2020-11-30 06:51] purevertigo commented on #2232
@valib 3.0.12 (414)

[2020-11-30 13:26] valib commented on #2232
This is the latest version which should not have this problem. Strange.

[2020-11-30 14:24] maz4200 opened #2299 "Issues with external disks and updates osx"
# How to contribute

In order to help diagnose and fix your issue we often need your "debug information". It's easy to save this information and attach it to a GitHub issue:

  * Start UMS.
  * Go to the `Logs` tab.
  * Press the `Create TRACE logs` button which restarts UMS in the "TRACE" mode. If that doesn't work for some reason, either select `Trace` from the `Log Level` dropdown at the bottom

[2020-11-30 14:36] maz4200 commented on #2299
After updating to 9.8.2 from working version of 9.8.1 (It took 8 attempts as auto downloads failed  {10.14.6} and manual downloads reported damaged dmg file) UMS can no longer access sub folders on my external media disk.
Can open root disk but no subfolders are ever shown. Share scan reports no files.
Attempted to reinstall download of 9.8.1 dmg from github - same error with corrupt dmg file repo

[2020-12-01 00:53] SubJunk commented on #2299
@maz4200 where were you downloading from manually? Auto downloads in the program come from SourceForge, and our main official mirror is FossHub. They are both pretty good, and especially FossHub seems to have exceptional speed and availability.
Can you try both versions from FossHub?

As for the actual bug, please attach TRACE logs. If you are concerned about privacy you can PM me on our forum.

[2020-12-01 09:11] valib commented on #2299
Possible answer is here http://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14448

[2020-12-01 12:31] maz4200 commented on #2299
In reply to SubJunk.
First attempt was autoupdate from 9.8.1 in Mojave - autoupdate crashed when partly complete. (Several times) Then tried manual update to all available 9.8.2 versions for mac at Fosshub and Github hub - all reported damaged dmg file.
Opened 9.8.1 in Big Sur and it completed an autoupdate to 9.8.2 and relaunched. App would no longer access any subfolders on my external usb hard

[2020-12-01 15:33] Nadahar commented on #2299
The chance that a file is genuinely damaged is very slim - especially when you download it multiple times. HTTP (the transfer protocol used by "web servers") is using TCP, and TCP has built-in error correction. That means that everything is transferred in chunks (on the protocol level) and a checksum is created for each chunk. The recipient calculates the checksum as well, and if it doesn't match

[2020-12-01 16:49] maz4200 commented on #2299
Ok found a fix to the damaged dmg file error.
Tried again to install 9.8.1 dmg and got dmg file corruption header.
Opened disk utility and converted the dmg (no changed options) and then opened 9.8.1 converted dmg this worked .
Looking at the get info of the two dmg files shows that the conversion in disk utility strips info from the file header.
<img width="257" alt="Screen Shot 2020-12-01 at 16

[2020-12-01 19:36] Nadahar commented on #2299
There is no need to rebuild the image. Just clear the attribute with 'xattr' (it gets set whenever you download files from the Internet, which is why this isn't set on images you "create").

The first 3 steps here is just the usual clueless mumbo-jumbo, but step 4 is the real solution. No need to be an "advanced" user, Apple has chosen to make it so that you can't clear this attribute using the GU

[2020-12-01 21:39] SubJunk commented on #2232
Last time I looked into this I compared what we are doing with what one of our competitors are doing via Wireshark, and I couldn't see any difference, but there obviously must be a difference. I'll do it again soon and see if I notice anything I missed last time.

[2020-12-01 21:45] SubJunk commented on #2299
Thanks for the support in this thread everyone. As for the bug with external drives, would you be willing to test versions if I build and upload them for you @maz4200 ?
There was a big refactoring done from 9.8.1 to 9.8.2 so it would be good to test before and after that to see if that was the cause of the problem. We also bumped Java from 14 to 15 so that would be my next thing to try.

[2020-12-01 22:56] efermi opened #2300 "DLNA server not discoverable after sleep"
This is happening on the current version 9.8.2 running on a Linux machine installed with this https://aur.archlinux.org/packages/ums/ package. The web interface still works, only DLNA server is affected.

The log:
[code]
This is all before sleep, after it when trying to discover nothing new appears.

[2020-12-01 23:12] valib commented on #2300
@efermi this is fine to know but why do you force your PC to sleep during the UMS initialization until it is finished?

[2020-12-01 23:19] efermi commented on #2300
@valib, you are referring to the pool thread errors I presume? If so you can ignore them because it happens even when it has properly initialized. I tried to create a cleaner log and put it to sleep too fast I guess.

[2020-12-01 23:34] valib commented on #2300
@efermi maybe we can add to the log that the UMS was finally initiated to avoid this problem.

[2020-12-01 23:47] efermi commented on #2300
That would certainly be helpful, but is not directly related to the problem at hand I think.

[2020-12-02 00:25] valib commented on #2300
@efermi only after the message "Universal Media Server is now available for renderers to find" it is the time to set the PC to sleep not before. We can update this message to "Universal Media Server has been initialized and now is available for renderers to find" to be clear.

[2020-12-02 00:46] efermi commented on #2300
I did a new capture where I waiter for the message to appear and then played a file in VLC:
[code]
Then I put the machine to sleep and after resuming the server is not discoverable anymore. As I told before the pool thread errors seem unrelated to me as it happened many times before when the service worked without any artificial interruptions.

[2020-12-02 03:04] purevertigo commented on #2232
thanks @SubJunk

[2020-12-02 12:44] maz4200 commented on #2299
Many thanks for all the responses and certainly I am very happy to test any future builds.
However, and perhaps someone can point out errors on my part the attribute removal command operation did not go smoothly for this app - although it seemed to for other app downloads I tried.

MacBook-Pro:~ maz3$ xattr -cr //Users/maz3/Downloads/internet/UMS-9.8.1.dmg
(This coomand seemed to work - however at

[2020-12-02 14:11] Nadahar commented on #2299
I don't have a recent enough macOS available to test, so it's a bit of a guesswork for me. The idea is to remove the attribute for the file that macOS claims is "damaged". I thought that was the DMG file. However, you must do this to the DMS and then "install" the application.

When it comes to spaces in file names in terminal, you must either escape each space with a `\` (so that each space is wr

[2020-12-04 00:40] SubJunk commented on #2232
Sorry, I realised that I was talking about the iOS app while you were talking about the Apple TV app, and I don't have an Apple TV to test, sorry.

[2020-12-04 00:43] SubJunk commented on #954
I did some testing of this and reproduced the problem with Plex too. Just noting it for diagnostic purposes since I had thought it wasn't a problem when using them.

[2020-12-05 12:28] purevertigo commented on #2232
@SubJunk @valib I have attached the latest logs about the original issue of video stopping randomly.

[ums_dbg_2020-12-05-23-27.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5647035/ums_dbg_2020-12-05-23-27.zip)

[2020-12-05 22:46] valib commented on #2300
@efermi it seems to me that we need the log in the TRACE mode to see what is going on.

[2020-12-05 23:27] FY13 opened #2305 "Cover Art"
In order to avoid having hundreds or thousands of files all called cover.jpg or folder.jpg, can the logic be amended to search for *cover.jpg or *folder.jpg, thus allowing for unique filenames with regards to cover art?

It's not always feasible to have an image file the exact same name as the folder, therefore it would be very useful if the logic could search for CONTAINS cover, rather than EQUAL

[2020-12-06 06:24] efermi commented on #2300
I have set `log_level` to TRACE before submitting the issue, every log here was taken in trace mode.

[2020-12-06 11:26] pablocarle opened #2307 "Failed to send stream to [LG] webOS TV"
Hi,
Very similar to #1877

UMS detects my LG Web OS TV correctly, when trying to play a video with this renderer it fails with a Http 500 error, I'm interpreting as LG TV replying this.

- WebOS version 05.00.02

Attached to the issue my current UMS.conf and log with startup and attempt at playing video in LG renderer.
192.168.1.10 is the ip address of my UMS headless server running under Arch Lin

[2020-12-06 22:34] valib commented on #2300
@efermi can you provide it?

[2020-12-06 22:40] efermi commented on #2300
I repeat every log I posted here was taken in trace mode. What else should I provide?

[2020-12-06 22:50] valib commented on #2300
@efermi We need the full file not only extract of it.

[2020-12-06 23:33] efermi commented on #2300
The first log I posted was taken from the start of the process and until after the bug was reproduced, I don't think the full log should be needed here if there is nothing different in the controlled run. Anyway, here is the file, ignore earlier records when the program wasn't configured yet.
[ums.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5649758/ums.log)

[2020-12-07 00:09] valib commented on #2300
@efermi it seems to me like the wrong instalation of the UMS. See
[code]
which means that the UMS is not able to read the main  configuration and that is why the sleep manager is not set properly. Also the log is not in the TRACE mode because of that.

[2020-12-07 00:18] efermi commented on #2300
As I said, ignore earlier records, the program wasn't properly configured then. Start looking from around Nov 28; the trace mode wasn't enabled until Dec 02 when I decided to open the issue.

[2020-12-07 00:22] valib commented on #2300
@efermi if you don't send the latest full log to see not only debug.log but also other setting like the UMS.conf etc. we are waisting the time.

[2020-12-07 01:29] efermi commented on #2300
I've looked about and it seems that the unit's log (which is what I posted here) doesn't contain any of the tracing info and the proper place to look for it the ~/.config/UMS/debug.log. I'll attach it here. What I gather from it is that the problem is not with the program but with the driver for my network adapter (r8168). The workaround seems to be is to reload the unit after suspend, I'll try it

[2020-12-07 01:43] efermi commented on #2300
It is strange however that while the server is not discoverable after suspend it is still possible to navigate and play content if I remain inside the server on a client. Maybe my earlier conclusions weren't correct then?
[debug.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5649971/debug.log)

[2020-12-07 02:42] Nadahar commented on #2300
Content is delivered via HTTP/unicast, while discovery works using UPnP/multicast. It's possible that the driver doesn't reinitialize multicast properly, or that it for example fails to resubscribe to unicast groups.

Regardless of what the specific cause might be, I doubt it is "solvable" from UMS, as these things happen on the driver/OS/Java network stack level, which are all "abstracted away" b

[2020-12-07 02:50] efermi commented on #2300
That would explain it. Thank you all for participation, I'll close the issue now.

[2020-12-07 02:50] #2300 closed

[2020-12-09 21:06] SubJunk commented on #2305
Thanks for the suggestion. I'm interested in the reasoning here.

Why?

[2020-12-14 08:14] SubJunk commented on #2299
Thanks @maz4200
Those before and after testing versions are https://www.universalmediaserver.com/uploads/UMS-605f7c0.dmg and https://www.universalmediaserver.com/uploads/UMS-e883f32.dmg
If you can let me know how they go, I can try to make a fix

[2020-12-14 20:29] jkl16 opened #2315 "Support for Samsung The Frame QLED TV (partially solved)"
Samsung The Frame QLED TVs are not being recognized correctly by UMS. I have tried both 9.8.2 and 9.8.3-SNAPSHOT from master.
I believe that `Samsung-UHD-2019.conf` is the correct renderer for those devices (4K, no DTS, etc.)
Some examples of model numbers are:

- GQ43LS03TAUXZG (2020 model, German version)
- QE43LS03TAUXXH (2020 model, European version)
- QE55LS03RAUXXH (2019 model, European vers

[2020-12-15 04:26] SubJunk commented on #2153
The pre-release for this website is up at https://www.universalmediaserver.com/v2/
I will be working on it a lot over the next few days hopefully so that at least a first version can be released. I will also add it to GitHub so that contributions can happen.

[2020-12-17 01:20] SubJunk commented on #2250
We send a bunch of icon options to TVs including 256x256 PNGs, so it seems your TV is choosing a lower quality one. I wonder why. Are you still around to help test this?

[2020-12-17 01:21] SubJunk commented on #1841
@wegotshrimp I have been unsuccessful at compiling a static version of MEncoder for Linux in the past after spending a long time trying. If you have any success with that we would love the contribution!

[2020-12-17 03:01] purevertigo commented on #2250
@SubJunk yes definitely still around.

[2020-12-17 04:35] SubJunk commented on #2232
I just had a look through your logs @purevertigo and I wonder if you can try unchecking "HTTP Engine V2" in the General Settings tab?
I noticed that the connection reset happens after VLC sends a UPnP SUBSCRIBE request and we respond, but maybe it doesn't like the response, and that is handled differently between those two engines

[2020-12-17 04:40] SubJunk commented on #2232
Another thing is while I was trawling the internet for this issue, I saw a possible hint, that often this problem is caused by something that wouldn't show up in the UMS logs because it is out of the scope of UMS. Would you be able to capture the network activity with Wireshark and upload it or send it to me? I would need to know the time that the connection error happened.
That would show us the

[2020-12-17 07:49] SubJunk commented on #2250
Cool, can you try https://www.universalmediaserver.com/uploads/UMS-icon-standard-dimensions-a3c572d.exe

[2020-12-18 02:17] SubJunk commented on #2197
A possible fix for this was just merged to master so it should be in 9.8.3 and 10.0.0-a1

[2020-12-18 12:30] purevertigo commented on #2250
no that didn't solve the issue @SubJunk stil pixelated.

[2020-12-18 13:49] purevertigo commented on #2197
OK. I won't be able to look at it for the moment as I am working with you on 2 other bugs currently.

[2020-12-18 18:19] SubJunk commented on #2197
Trust me I understand how hard it can get to work on lots of different bugs at once :) no pressure at all

[2020-12-18 18:20] SubJunk commented on #2250
Hmm ok, do any other media servers have a clear logo up there? If we can find one that works we can use Wireshark to see how they did it

[2020-12-19 06:30] purevertigo commented on #2250
yes. HDhomerun has a clear logo.

[2020-12-19 13:12] romario74 commented on #2307
I have the same issue.

UMS 9.8.2, jre 15
Ubuntu 20.10

- LG TV Softwareversion 5.05.70
- webOS TV Version 1.4.0-2532 (afro-ashley)

[code]

This works fine on an old Samsung TV but not with this newer LG.
Maybe LG TVs do not support this?

[2020-12-21 09:31] anthraxn8b opened #2322 "cuelib resource crashes build"
Trying to build UMS on Fedora 31.

    mvn clean
    mvn external:install
    mvn package -P linux-arm64

Fails with:

    [ERROR] Failed to execute goal on project ums: Could not resolve dependencies for project net.pms:ums:jar:9.8.3-SNAPSHOT: Could not find artifact jwbroek.cuelib:cuelib:jar:1.2.1-2008-06-13 in 4thline-repo (http://4thline.org/m2) -> [Help 1]

The instructions to build do not in

[2020-12-21 09:33] anthraxn8b opened #2323 "DLNAMediaInfoTest crashes build"
Building on Fedora 31a test crashes:

[ERROR] Failures:
[ERROR]   DLNAMediaInfoTest.testContainerProperties:95
Expecting:
 <"Size: 1325017, Overall Bitrate: 0, Mime Type: video/mpeg">
to be equal to:
 <"Container: MP4, Size: 1325017, Overall Bitrate: 676979, Video Tracks: 1, Video Codec: h264, Duration: 0:00:15.658, Video Resolution: 640 x 360, Display Aspect Ratio: 16:9, Scan Type: Progressive, F

[2020-12-21 12:28] valib commented on #2322
@anthraxn8b is seems like the MediaInfo library is not properly installed or initialized.

[2020-12-21 12:30] valib commented on #2323
@anthraxn8b it seems that the MediaInfo library is not properly installed or initialized.

[2020-12-21 19:22] anthraxn8b commented on #2323
@valib maybe, but IMHO everything that is used within a build should be provided and set up correctly by the build.

[2020-12-21 20:54] SubJunk commented on #2323
Unfortunately it is tricky on Linux because there are so many different distros to consider. We do include MediaInfo for Windows and macOS, but on Linux we leave that to the users themselves. I just noticed that MediaInfo was missing from our prerequisites on our Build wiki so I have added it https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/How-to-build-UMS

[2020-12-21 20:54] #2323 closed

[2020-12-21 21:34] valib commented on #2323
@SubJunk I think you should add to Wiki at least basic instructions how to install the MediaInfo on Linux.

[2020-12-21 21:42] SubJunk commented on #2322
That's strange, it is supposed to be taken care of by `external-maven-plugin`. Which version of Maven are you using?

[2020-12-21 22:07] SubJunk commented on #2323
I have added a link to their download page which contains links to instructions for many different operating systems - it's their job to document their instructions IMO, and they have already put a lot of work into that

[2020-12-21 22:12] SubJunk commented on #2250
Cool, can you please use Wireshark to capture the packets that HDhomerun sends? It seems that is a paid product so I can't test it myself.
You don't need to know how to use Wireshark, just start recording, then start HDhomerun and the TV, then stop the recording and send/attach the dump. Then I can see what they're sending to the TV to make it display better quality.

[2020-12-21 22:20] SubJunk opened #2324 "Different video playback UI in web interface between some videos in Chrome"
When transcoding videos, some of them show the "Live UI" in video.js (no scrollbar) and others show a scrollbar. I'm not sure why there is a difference. It seems so far that movies are showing the live UI while TV series are showing the scrollbar.

It is something I'm trying to figure out while looking into supporting seeking in the web interface.

Any ideas on why the difference is happening woul

[2020-12-22 22:11] SubJunk commented on #2153
The new website is released now, and uploaded to GitHub https://github.com/UniversalMediaServer/website
It can still be improved a lot so I hope that having it on GitHub will encourage collaboration

[2020-12-22 22:11] #2153 closed

[2020-12-23 03:52] purevertigo commented on #2250
@SubJunk tried this and then I realised HDHOMERUN doesn't come from my server but from the network.

[2020-12-24 09:13] purevertigo commented on #2197
@SubJunk have been testing and v10 seems to have resolved this issue now.

[2020-12-26 10:18] purevertigo commented on #2197
@SubJunk still not fixed in 10. Sorry.

[2020-12-26 22:59] valib opened #2327 "UMS.deny feature was broken"
@SubJunk this is reported in https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14510 and was broken in PR 91bc9a6ca179c66aa90ef7a5469e2607fada619e

[2020-12-27 04:37] SubJunk commented on #2327
Yes we have an issue at https://github.com/UniversalMediaServer/UniversalMediaServer/issues/1801 after we had some comments last year about it being removed https://github.com/UniversalMediaServer/UniversalMediaServer/pull/1623#issuecomment-545119006

If you have time maybe you could look at reverting that change to bring it back?

[2020-12-27 09:24] Nadahar commented on #2327
As I've explained before somewhere, this was removed from DMS because the implementation was problematic. Since I didn't think it was a frequently used feature, I simply removed it until it could be replaced by a better implementation some time in the future.

The "problem" is rather that you didn't check what you cherry-picked from DMS.

[2020-12-27 21:57] SubJunk opened #2328 "Stream copying on the web interface"
We should support stream remuxing on the web interface to save CPU cycles, like we do via DLNA

[2020-12-28 05:29] SubJunk commented on #2327
No one is blaming you, and there is no need to mischaracterise me like that. I did check and I also didn't think anyone used it either, so I was happy to remove it until I realised later that people did.

[2020-12-28 17:39] Nadahar commented on #2327
@SubJunk  I got the impressions that you weren't aware of this when you merged it the last time this was discussed. There are also many examples of other things that you've merged only to reverse them later, so it's a bit hard for me to believe that you had gone through what you cherry-picked.

That said, if you claim that you knew this and still went ahead, I certainly shouldn't feel the need to

[2020-12-28 20:02] SubJunk commented on #2327
@valib are you interested in doing that reversion? I have a few other things I'm working on in UMS so that would be helpful if you could do it

[2020-12-29 14:40] valib commented on #2327
@SubJunk I am on holiday so I will check it after New Year's Eve.

[2020-12-30 05:31] SubJunk commented on #2250
Ok, maybe this is a limitation with your TV then, and not something we can fix

[2020-12-30 15:50] Nadahar commented on #2250
UMS offers multiple resolutions. Renderers are supposed to pick the most suitable for their use, but it seems to me that some implementation are "lazy" and simply picks one - probably the first.

[2020-12-30 22:12] valib commented on #2250
@Nadahar for me it seems that it picks the last one. The 48x48 PNG or JPG. To confirm that we need the log. I have one question. Why do we offer the 256x256 PNG but not the 256x256 JPEG?

[2020-12-30 22:29] valib commented on #2250
@SubJunk we can try to change the order and start with the 48x48 and finish with 256x256 and we will see. Just change the `PMS.xml`

[2020-12-31 00:53] Nadahar commented on #2250
@valib I'm pretty sure I've come across others that picks the first, so I don't think it's possible to "hack" this to work optimally.

[2021-01-01 22:07] SubJunk commented on #2250
If anyone is interested, this is the branch I had @purevertigo test https://github.com/UniversalMediaServer/UniversalMediaServer/compare/icon-standard-dimensions?expand=1

I had a look in the DLNA standard PDFs and I couldn't see anything about which sizes are recommended, but yeah I am inclined to think this is the fault of the device

[2021-01-01 22:07] SubJunk commented on #2250
Maybe we could try removing the 48x48 images from PMS.xml too, so that renderers can't choose that one

[2021-01-02 03:35] SubJunk opened #2330 "Translate web interface"
Some text on the web interface, like the dropdown menus, is not translated so that should be fixed

[2021-01-02 03:46] SubJunk opened #2331 "Disable "Web interface" button until the web interface is browsable"
At the moment it is possible to click the button too early and then the web interface fails to load

[2021-01-02 12:27] romario74 commented on #2307
UMS 9.8.3 and UMS 10.0.0 a1
show same behaviour.

[2021-01-03 02:27] SubJunk commented on #2307
Thanks for creating the issue. It looks to me like that 500 error is coming from the TV, and we are just logging it. I'm not sure if that is ultimately our fault or the TV's. Please let me know exactly which TV you have @romario74 and I will look into it

[2021-01-03 17:21] romario74 commented on #2307
Thanks for your answer. The model is:

**LG 42LB630V-ZA**

I'm here in my vacation home until 6th of january, until I can test. Then around in 3 months again.

[2021-01-03 22:13] valib commented on #2307
@SubJunk my Panasonic TV also respods with error 500 when I try to push media from the UMS control panel to my TV. I think they did that also from the web interface like is descripted in https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/Pushing-Media-to-a-Renderer.
Maybe there is a bug in the UMS or renderers do not support this feature.

[2021-01-03 23:17] SubJunk commented on #2307
@valib can you try on older versions of UMS like v5 or v6? To see if it ever worked on your TV

[2021-01-04 09:40] purevertigo commented on #2250
I can test if you need @SubJunk @valib

[2021-01-04 11:21] pablocarle commented on #2307
Hi all,
Thank you for taking a look into this.
My TV model is LG `55UM7450PLA` with webOS TV version 4.9.0-53903 (goldilocks2-gyeryongsan)

I can run a test with previous versions of UMS

[2021-01-04 14:53] valib commented on #2307
@SubJunk with BubbleUPnP on my phone it works so there could be some "non-standard" tag which is ignored by BubbleUPnP but not by our renderers.

[2021-01-04 23:35] SubJunk commented on #2250
I'm not sure if it's a good idea to remove the 48px one since even if that works for your renderer, it might break some others. I'm sorry to say it looks like the device is at fault here and I don't see how we can safely do a workaround. I'll close this issue. Maybe you could contact their support and see if they have any firmware patches available

[2021-01-04 23:35] #2250 closed

[2021-01-05 00:06] SubJunk commented on #2307
I reproduced it on my Panasonic but I don't know if it ever worked. It has given me some more useful errors though:

[code]

I will play some more

[2021-01-05 00:59] SubJunk commented on #2307
I think we are not sending the correct format for it, so you are right @valib . I am knee-deep in UPnP specs now to try to fix it

[2021-01-05 04:03] SubJunk commented on #2307
Looks like this has been around for ages, with the same errors I saw https://github.com/UniversalMediaServer/UniversalMediaServer/issues/880#issuecomment-219311052

[2021-01-05 04:49] Mik-S-UMS opened #2334 "UMS not being detected after PC woken up from sleep"
Something I have noticed the past few days is that when I go to watch something on my PS3, UMS is not getting detected. A quick server restart fixes it so just ignored it.

I happened again today so thought I should look into it and see what the logs say.

The only thing I could see at the end of the log was just "Sending ALIVE..." messages for hours, up till when the computer was woken up.

Just

[2021-01-05 06:49] purevertigo commented on #2250
@SubJunk the app is VLC on the apple tv

[2021-01-05 07:11] SubJunk commented on #2307
I can use Cling Workbench to play UMS streams on my TV, so it seems the bug is with UMS not the TV. I will use Wireshark to investigate the difference soon.

[2021-01-05 07:13] SubJunk commented on #2307
Also worth noting that if I start the video playing via Cling Workbench, I can then control it (pause and play) via UMS itself

[2021-01-05 07:20] SubJunk commented on #2307
This is what Cling sent to the TV which worked:

[code]

[2021-01-05 19:12] SubJunk commented on #2307
It works on the Panasonic if the `CurrentURIMetaData` field is left empty. I tried making the metadata be different, for example I tried using this https://github.com/pimpreneil/nano-dlna/blob/master/nanodlna/templates/action-SetAVTransportURI.xml as well as stripping out parts of what we send, but the only thing that works for my TV is sending it empty, like Cling Workbench does.

I think I also

[2021-01-05 19:21] SubJunk commented on #2307
@valib can you test https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2335

[2021-01-05 20:04] pablocarle commented on #2307
If it helps, I tried #2335 with a custom build with my TV, it's still failing but I think the error message changed, it's `Illegal MIME-type` now

[code]

[2021-01-05 20:58] SubJunk commented on #2307
Ok so some renderers must need the metadata. Which I guess would mean that Cling Workbench wouldn’t work for you either, could you try it? I can give instructions

[2021-01-05 21:06] pablocarle commented on #2307
Sure, I can try it. I do need some direction though to set it up.

[2021-01-05 21:12] Nadahar commented on #2307
AFAICR DLNA requires the metadata to be there. The problem very likely isn't that the renderer can't handle the metadata, but the content of the metadata is wrong. This goes back to the same old problem with the very lacking, and often directly wrong, DLNA implementation. The metadata are supposed to be the same as those served during `ContentDirectory:browse`. You can serve multiple sources here

[2021-01-05 21:42] valib commented on #2307
@SubJunk we send information about the file but also info about thumbnails which is nonsens in this case. I think that renderers need to know only information about the file which is pushing to them.

[2021-01-05 22:10] SubJunk commented on #2307
@pablocarle you can download Cling Workbench from Softpedia https://www.softpedia.com/get/Network-Tools/Misc-Networking-Tools/Cling-Workbench.shtml#download and this screenshot by @skeptical helped me to do my testing with it https://github.com/UniversalMediaServer/UniversalMediaServer/issues/880#issuecomment-220171613

@valib @Nadahar I already tried manually editing the metadata response, includ

[2021-01-05 22:16] Nadahar commented on #2307
@SubJunk That's of course a possibility, but before concluding I would try to "manually" make one that is correct - using a DLNA profile that the renderer supports according to what it reports in GetProtocolInfo and that actually matches the file in question. There are quite a few requirements that has to be fulfilled for some of the DLNA profiles, so I would try to find a file that matches one of

[2021-01-05 22:33] SubJunk commented on #2334
Would you please try an older version like v9.7? We did some refactoring recently in 9.8+ that may have affected this and it would be good to know if that was the cause

[2021-01-05 22:54] valib commented on #2307
I tested the PR #2335 and it works also when the external subtitles are there and the file is converted to MPEG-TS with hardcoded subtitles. I think that removing other resources than the original one will solve the problem.

[2021-01-05 22:57] Mik-S-UMS commented on #2334
I have been using the latest versions as they have been released, but this has only been happening since trying the alpha version.
I was on 9.8.2 before then skipped 9.8.3 to try 10.0.0-a1

[2021-01-05 23:09] SubJunk commented on #2334
@Mik-S-UMS I can't think of anything in v10 that would cause that, so would you please check with 9.8.3?

[2021-01-05 23:21] Mik-S-UMS commented on #2334
OK I give it a try next time

[2021-01-06 00:37] SubJunk commented on #2307
I tried this `CurrentURIMetaData` with a mpg file from a DVD and it did not work on my TV which reports `http-get:*:video/mpeg:*` in its `GetProtocolInfo`

[code]

Can anyone see any problems with that?

[2021-01-06 00:41] SubJunk commented on #2307
Also tried it with `http-get:*:video/mpeg:DLNA.ORG_PN=MPEG_PS_PAL;DLNA.ORG_FLAGS=8d100000000000000000000000000000` which is another thing that matches the media and was reported by the TV's `GetProtocolInfo`

[2021-01-06 02:43] SubJunk commented on #2307
Ok after trying some servers to find that this functionality seems quite rare (I couldn't find it on Plex or Kodi), I found one that supports it, and uses metadata, and it works on the Panasonic. So I'm comparing now. The payload from them (Home Media Server) was:

[code]

[2021-01-06 02:45] SubJunk commented on #2307
Ok after trying some servers to find that this functionality seems quite rare (I couldn't find it on Plex or Kodi), I found one that supports it, and uses metadata, and it works on the Panasonic. So I'm comparing now. The payload from them (Home Media Server) was:

[code]

[2021-01-06 11:35] romario74 commented on #2307
I have downloaded Cling Workbench and started it. Any direction I can find the content directory of UMS here?

![Bildschirmfoto zu 2021-01-06 11-34-11](https://user-images.githubusercontent.com/5823410/103764345-2fb62900-5013-11eb-8f03-491e181a08ac.png)

[2021-01-06 11:46] romario74 commented on #2307
Btw I'm here in vacation home until 30th of January now - and here I have access to this TV. I have prolonged my stay and I can test gladly.
As I said; at home I have an ancient Samsung Smart TV which works flawless in this regard - when sending stream it asks for permission to play the file and just works.

[2021-01-06 15:56] Nadahar commented on #2307
I really can't read XML when it's not converted, so here it is:
[code]

I don't see any PN or flags or other DLNA info there, so I would expect that one to be rejected by a "DLNA-only" renderer. Renderers only supporting UPnP AV would probably be fine with it. DVD files are MPEG-TS files AFAICR, and they are probably the worst to use when it comes to DLNA compatibility, as I said above. There are

[2021-01-06 16:05] Nadahar commented on #2307
Again, "translated" this is:
[code]

Still no `DLNA.ORG_PN` as far as I can see, so I would be surprised if that worked.

I think I have to explain how I understand one thing: UPnP AV is based on the MIME-type - which is way too imprecise which made concrete renderer implementations all but impossible for anything except players with very broad format/codec support like Kodi, VLC etc. Game console

[2021-01-06 16:12] Nadahar commented on #2307
"Translated":
[code]

This still isn't DLNA, so if it works, the problems must be that some of the other fields are missing:
[code]

[2021-01-06 16:18] Nadahar commented on #2307
`dc:date` is a potential culprit, I think I remember having read that it's mandatory in the DLNA spec, but I'm not certain.

[2021-01-06 21:28] valib commented on #2307
The problem is that we sent the `<item>` but not the main profile `<DIDL-Lite>`. I tried to fix it in the #2336

[2021-01-07 00:51] SubJunk commented on #2307
@Nadahar thanks for the feedback. I will keep trying. The testing is quite bizarre since it seems to get into a state where everything starts working after a while, even MKV files from an unmodified UMS. So it is seemingly inconsistent but I will try to discover some cause of that.

@valib hose code snippets that I posted above all have the `<DIDL-Lite>` tag surrounding them; that is something I a

[2021-01-07 01:04] SubJunk commented on #2307
I also tried sending that exact response that Home Media Server sent, and it still failed. However when Home Media Server sends it, it includes some headers in the body, so the whole body is actually:

[code]

I can't see any option to do that via Cling but doing it manually to test might be worthwhile.

[2021-01-07 01:05] SubJunk commented on #2307
I also tried sending that exact response that Home Media Server sent, and it still failed. However when Home Media Server sends it, it includes some headers in the body, so the whole body is actually:

[code]

I can't see any option to do that via Cling but doing it manually to test might be worthwhile.

[2021-01-07 01:47] Nadahar commented on #2307
@SubJunk Regarding the headers, unless the Content-Type sent by UMS is wrong, SoapAction is the only one "out of the ordinary". I don't think that is relevant in this context (`SetAVTransportURI`), but nothing is guaranteed I guess.

That said, there are quite a few "rules" to how this is supposed to work. The renderer must be in a state where it accepts the specific command in question. I thought

[2021-01-07 05:31] purevertigo commented on #2232
I haven't got this in a while now so I'm going to close this issue for now.

[2021-01-07 05:31] #2232 closed

[2021-01-07 05:32] purevertigo commented on #2197
new screenshot

![Screenshot 2021-01-07 163213](https://user-images.githubusercontent.com/6506461/103855087-fc07fb80-5105-11eb-97c6-63a96e270c72.jpg)

[2021-01-07 07:32] Mik-S-UMS commented on #2334
OK tried with 9.8.3 with same result which I guess is no surprise if it was due to some refactoring in 9.8+
[ums_dbg_2021-01-07-06-50.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5780145/ums_dbg_2021-01-07-06-50.zip)

I'll try again with 9.8.2, I'm sure that didn't have the problem.

[2021-01-07 09:01] Neocazen commented on #2328
Hello good day. Would it be too complicated to improve the web player with options for changing subtitles, audio and the possibility of being able to fast forward and rewind videos? Something like Plex or Jellyfin player.

[2021-01-07 23:16] valib commented on #2307
the PR  #2337 coud fix the problem.

[2021-01-08 04:03] SubJunk commented on #2307
Didn't fix it for me sorry

[2021-01-08 04:09] SubJunk commented on #2328
It can certainly be done, and that is something I would love to see. I really want to keep improving the web interface. Maybe you can help?

[2021-01-08 04:09] SubJunk commented on #2334
Ok great, I'll wait to hear from you about that

[2021-01-08 07:35] SubJunk commented on #2307
I'm getting better at Wireshark finally so I can see more of the big picture of communication. So in `master` we send:
[code]

and the TV responds:
[code]

then:
[code]

then the error:
[code]

Now hms starts by sending "Stop":
[code]

TV responds to confirm:
[code]

HMS sends an empty SetAVTransportURI request:
[code]

TV responds to confirm:
[code]

HMS asks TV what it's doing:
[code]

TV respon

[2021-01-08 15:48] Mik-S-UMS commented on #2334
9.8.2 was the same.
[ums_dbg_2021-01-08-03-40.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5788030/ums_dbg_2021-01-08-03-40.zip)

I skipped back a few versions to 9.7.2 and that is working correctly.
[ums_dbg_2021-01-08-05-12.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5788043/ums_dbg_2021-01-08-05-12.zip)

Instead of just alive messages I see

[2021-01-08 16:03] Mik-S-UMS opened #2338 "GetProtocolInfo not being recieved"
Going back to 9.7.2 and looking at the logs I noticed that in newer versions UMS is not receiving the GetProtocolInfo data from my TV. Also  UpnpDetailsSearch does not seem to work any more as UMS has gone back to detecting my TV as a Samsung CD
 series instead of using my F series conf.

This is the bit that is missing from newer versions, full log is in issue #2334

[code]

[2021-01-08 17:13] Nadahar commented on #2307
@SubJunk That's quite useful, although I am a bit unsure where the UMS transaction stops and the HMS transaction starts. I assume the "error" is the last in the UMS transaction?

The reason they send `stop` first is probably just to make sure they fulfill this requirement:

[GUIDELINE] If a UPnP AV MediaRenderer receives an AVT:SetAVTransportURI request and the
current value of the AVT.TransportSt

[2021-01-08 23:16] ahmedadan commented on #1891
Hi @SubJunk I am interested in taking this on, I am new to contributing to OSS and I was wondering if you could provide some context on where to start.

[2021-01-09 00:38] SubJunk commented on #2307
Yes

[2021-01-09 00:40] SubJunk commented on #1891
@ahmedadan hi, welcome :) have you managed to build the program yet? The instructions are at https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/How-to-build-UMS

[2021-01-09 00:46] SubJunk commented on #2338
@Mik-S-UMS that's interesting since my TV is still sending that. Do you know which newer versions don't work for that? Is it 9.8.0 that doesn't trigger that?

[2021-01-09 01:05] SubJunk commented on #2334
I suspect this might be related to ad850a8e7ac4b23b29f8325864d9fd3dd506e530 @valib any ideas?

[2021-01-09 01:10] ahmedadan commented on #1891
I haven't yet, I'll get that squared away right now.

[2021-01-09 01:27] Mik-S-UMS commented on #2338
so far 9.7.2 appears to be the last time it worked. I'll start working though 9.8.0+ to try and pinpoint exactly when it stopped behaving.

[2021-01-09 02:02] ahmedadan commented on #1891
I have successfully built from source, anything else I should do to prepare?

[2021-01-09 02:24] Mik-S-UMS commented on #2338
Yes it looks like 9.8.0 has broken it. Also getting error from Movian

[code]

[ums_dbg_2021-01-09-02-15.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5790044/ums_dbg_2021-01-09-02-15.zip)

[2021-01-09 03:01] Mik-S-UMS commented on #2334
a bit of weirdness with 9.8.0. possibly due to me installing wireshark.
Putting my PC to sleep then waking it up straight away, the IP for my Ethernet connection changed to 192.254.14.48 for some reason.
then UMS started giving this

[code]

Disabling then re-enabling the network adaptor in windows fixed the IP and UMS was detected without restarting the server.
I think this is down to something w

[2021-01-09 21:28] valib commented on #2334
@Mik-S-UMS I see that you run the Movian Media Center on the same PC like the UMS. It is not a goog idea. They must share the same interface and it confuses the UMS. If you need to test the UMS on the same PC use the web interface.

[2021-01-09 21:33] Nadahar commented on #2334
@valib I don't think you can run Movian on Windows. Also, it this causes problems that itself is a new bug. I've always ran renderer software on the same computer when testing (Kodi, VLC, foobar2000 etc). I've never had issues caused by the fact that they're on the same computer.

[2021-01-09 21:35] valib commented on #2334
@Nadahar I edited my comment because I think that he set the same IP address for the PC and alo for the PS3.

[2021-01-09 21:59] valib commented on #2334
Yes this could be the reason why the UMS fails. We should check if it happens. I will check the code.

[2021-01-09 22:47] Mik-S-UMS commented on #2334
@Nadahar There is a Movian plug-in for chrome, not tried that version though as I use Firefox.
 https://chrome.google.com/webstore/detail/movian/nmgfcbigejokjgholnnnipegblickgnp

[2021-01-09 22:58] Nadahar commented on #2334
@Mik-S-UMS Nice to know I guess, although I stay as far away from Chrome as possible, the surveillance tool that can also be used to browse web pages.

[2021-01-09 23:21] Mik-S-UMS commented on #2334
@Nadahar yeah me too LOL

I can confirm that it was wireshark changing the IP. I used Autoruns from the SysinternalsSuite to see if anything had been left behind when uninstalling. npcap and USBPcap services were still running so I turned them both off.

Unfortunately turning off USBPcap stopped all my USB ports from working. Had to hunt down an old PS/2 mouse to login and turn it back on.

With n

[2021-01-10 18:07] Mik-S-UMS commented on #2334
I've found the version where this started happening. 9.8.1 is the first version with this problem.

[2021-01-10 21:03] SubJunk commented on #2334
@Mik-S-UMS are you able to test #2339 ? If not I can upload a build for you

[2021-01-10 21:04] #1850 closed

[2021-01-10 21:04] #1894 closed

[2021-01-10 21:04] #1968 closed

[2021-01-10 21:04] #1969 closed

[2021-01-10 21:04] #2097 closed

[2021-01-10 21:04] #2122 closed

[2021-01-10 21:05] Mik-S-UMS commented on #2334
could you upload a build for me? not set up to build it myself anymore.

[2021-01-11 05:51] SubJunk commented on #2334
No problem, here https://www.universalmediaserver.com/uploads/UMS-update_the_network_interface_checking-4dfabc6.exe

[2021-01-11 20:04] SubJunk opened #2340 "How to play my files"
We should have a knowledge base article to explain all of the different ways to play files.
1) Play via DLNA
2) Push/cast to another device via the UMS GUI (web interface or program interface)
3) Play via the web interface

[2021-01-11 22:10] valib commented on #2334
I installed this version on my PC and the Android version on my phone. The result is the same. The Movian UPnP implementation fails. This was my first feeling when this issue was created. I also tested the previous UMS versions like 9.7.0 and 9.8.0 with the same result. The UMS works on thousands renderers without any problems and only this SW fails.

[2021-01-11 23:26] valib commented on #2334
@SubJunk the Movian seems to have a problem with the UPnP implementation but it uses the "themoviedb.org" to obtain the info about the video media. It is implemented to get the info about the video in the preffered language the user set. Pleae try Movian and maybe we can implement this feature.

[2021-01-12 00:26] Mik-S-UMS commented on #2334
@SubJunk Unfortunately that didn't do the trick, I still have restart the server after waking up PC for my TV or Movian to detect UMS. I know my network setup is probably an edge case (Off-line wired network on one interface and wireless internet on another) but someone else is bound to have something similar.

[ums_dbg_2021-01-11-23-52.zip](https://github.com/UniversalMediaServer/UniversalMediaSe

[2021-01-12 04:52] Mik-S-UMS commented on #2334
@valib Just remembered one thing about Movian, media servers won't appear on the home screen until they are enabled in the settings. At the bottom of the settings is "Discovered media sources" and in each option you can turn them on.

[2021-01-12 15:13] valib commented on #2334
@Mik-S-UMS myabe my comment was too short. Generaly the Movian works. It found the UMS, browses folders and plays media. But e.g. the `GetProtocolInfo` doesn't respond even if this feature is offered (tested also with the UPnP tool). The same is for `GetPositionInfo`.

[2021-01-12 19:24] Mik-S-UMS commented on #2334
@valib np, I have very little knowledge about the protocols so can't really comment on if Movian follows them correctly.

AFAICR I don't remember any reply from Movian to  `GetProtocolInfo` in the logs but is only recently in the last few versions of UMS that `GetPositionInfo` has caused errors like no response
[code]

and bad request

[code]

I'm guessing that `GetPositionInfo` is the current tim

[2021-01-12 22:17] valib commented on #2334
@Mik-S-UMS yes it is true and other renderers respond with `0` only Movian sends "Bad request"

[2021-01-13 08:14] pipin77 opened #2343 "Deinstallation does not remove autostart entry for wrapper.exe"
The deinstallation routine does not remove the autorun entry for the wrapper.exe;

HKLM\System\CurrentControlSet\Services

Digital Media Server	Universal Media Server: Java UPnP AV/DLNA Media Server		File not found: D:\ums\Universal Media Server\win32\service\wrapper.exe -s D:\ums\Universal Media Server\win32\service\wrapper.conf

If I delete it by myself I do need administrator rights.

[2021-01-13 10:17] pipin77 opened #2344 "Fully played marking broken on Samsung?"
It seems that in 10.0 the fully played marking with an overlay is broken.

[2021-01-13 20:14] SubJunk commented on #2344
@pipin77 I just tested and it works for me, can you attach logs from when it broke?

[2021-01-13 20:16] SubJunk commented on #2343
Ah yeah I can see we haven't handled that in the code, good catch

[2021-01-13 22:17] SubJunk commented on #2334
@valib We merged that refactor of UPnPHelper in 9.8.1 so that is the likely cause. That happened in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2112

[2021-01-13 23:05] valib commented on #2334
@SubJunk why the #2112 is working on other renderers but not only on Movian? As I wrote in this issue I tested the Movian on the PC and Android phone with the same result. I tested UMS versions before the 9.8.1 and the result is the same. Can you also test it to confirm it?

[2021-01-13 23:49] Mik-S-UMS commented on #2334
@valib It's not just Movian, but my Samsung TV too. Must have something to do with how my PC is connected to the internet is stopping it seeing the local network?

[2021-01-14 00:12] valib commented on #2334
@Mik-S-UMS I have two Samsung renderers like Q9 TV and sound bar connected to my PC and those works without any problems. It seems to me that you have poblem with your PC e.g. changing the IP address of the network interface is strange. I also had a problem to open your log zips when my PC says that those files are corrupted. Can you check your PC for viruses?

[2021-01-14 00:32] Nadahar commented on #2334
@valib You seem to miss the fact that this applies only after waking the PC from sleep. It's not necessarily reproducible on all computer systems either, because NIC drivers seems to vary somewhat as to how they handle "wake up".

That said, there was a thread on the forum not long ago about basically the same issue as far as I can remember, but as I wasn't aware that you had changed anything rela

[2021-01-14 02:42] SubJunk commented on #2334
I can't reproduce it on my machine - my computer goes to sleep frequently, after 10 mins of inactivity, so it is constantly going to sleep and waking up, but I never restart UMS unless I need to for testing/development

@valib do you have any ideas for other fixes? If not I can try to come up with something to test

[2021-01-14 02:47] SubJunk commented on #1891
@ahmedadan that's great. The wizard file is at https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/newgui/Wizard.java
Feel free to ask questions and I will do my best to answer them

[2021-01-14 02:52] Nadahar commented on #2334
It's important to note that there are "different levels of sleep". In some setups, the screen might be shut of and the computer going to a "low power mode" while still having the system running. This is unlikely to cause any problems as the drivers aren't actually stopped. It's only when the NIC's are actually powered down (and the drivers stopped) the issues when resuming is likely.

My laptop se

[2021-01-14 03:00] Mik-S-UMS commented on #2334
@valib the IP changing was my fault trying wireshark, thought it might give me some indication if there are any problems with the communication between them. I don't know what I'm doing with it and it had changed the expected outcome of my test so I removed it.

which log is corrupted? Just scanned all my local copies and nothing is out of the ordinary. Maybe one didn't upload correctly?

I just h

[2021-01-14 03:05] Nadahar commented on #2334
@Mik-S-UMS If you make sure that all network adapters are kept powered on during "sleep" I doubt you will have any issues. But, that doesn't really change the fact that this works with older versions of UMS...?

[2021-01-14 03:48] SubJunk commented on #2334
@Mik-S-UMS please try https://www.universalmediaserver.com/uploads/UMS-fix-sleep-connection-abdd839.exe
It is not a fix but a partial reversion, so if it works it will narrow down how we can fix it

[2021-01-14 04:25] Mik-S-UMS commented on #2334
OK. Got a few ideas myself to test with my setup to see if I can narrow down what is different for me. Will report back later.

[2021-01-14 12:43] pipin77 commented on #2343
I noticed that ums was still running as service although I had it installed new (same folder/location).

And it had two autostart entries.  Still not sure, if this relates to the same bug.

[2021-01-14 12:45] pipin77 commented on #2344
I will test it on my second TV but I have only Samsung and with version 9.8.3 because I had the same problem with the alpha version.

Will attach the logs after this.

[2021-01-14 20:05] SubJunk commented on #2334
In my opinion it is better to leave your setup at least until we can fix this regression. It would be a shame if we lost the ability to reproduce this bug

[2021-01-14 20:43] valib commented on #2334
@Mik-S-UMS in fact I saw this warning for the first time and it could be the Firefox warning. I have no idea. I open those zips and inside is all OK. I only tried to warn you.

[2021-01-14 23:09] Mik-S-UMS commented on #2334
@SubJunk oops, I had already tried a few things and now it is no longer happening. Tried putting everything back the way it was but cannot reproduce the bug :( on the plus side I think I have found the cause of the other issue but will post about that in that thread.

I'll go though what I tried and see if anything makes sense to you.

I disabled "allow the computer to off this device to save powe

[2021-01-14 23:31] Mik-S-UMS commented on #2338
Looks like UMS is only getting `GetProtocolInfo` from my TV when I have disconnected my WiFi dongle

[ums_dbg_no wifi dongle.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5817478/ums_dbg_no.wifi.dongle.zip)
[ums_dbg_wifi dongle.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/5817479/ums_dbg_wifi.dongle.zip)

As for Movian, for `GetProtocolInfo` cau

[2021-01-15 02:31] ahmedadan commented on #1891
@SubJunk A few questions after reading the code.

- Do you have an idea of what a desired default configuration should be?
- I have no experience with Crowdin, it looks like that's whats used for localization. Is there a outsource you could provide, or is that handled at a later time?

[2021-01-15 03:38] SubJunk commented on #1891
@ahmedadan the defaults are already in the code, for example this line sets the default option to the second option https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/newgui/Wizard.java#L96 so I would use those same defaults

For Crowdin, you can just add your new translation string to `Messages.properties` and then I can upload it to Crowdin when the br

[2021-01-15 03:40] SubJunk commented on #2334
Closing the issue, feel free to open it again if anyone reproduces it

[2021-01-15 03:40] #2334 closed

[2021-01-15 03:42] SubJunk commented on #2343
Yeah the service is basically ignored on uninstall right now. It wouldn't be hard to fix

[2021-01-15 19:27] Rebel154 opened #2346 "UMS 10.0.0 - Problem with TV Show Episode File Names."
Hi,

I was using V9.8.3 successfully to stream my TV series and movies to my TV and when V10 was released, I updated my installation.

Afterwards, I found that I could not see my TV Series Episodes on my TV's media player (Panasonic 55HZ1500B). I could go into the individual series and seasons, but no episode titles/files appeared. It was the same with the Web Interface - no episode files.

After

[2021-01-15 21:01] Neocazen commented on #2328
I wish I had Master Yoda. I'm just a Padawan... lol

[2021-01-15 22:32] valib commented on #2334
Just for record. The Firefox recognized the zip file like corrupted because the full URL is
`https://github-production-repository-file-5c1aeb.s3.amazonaws.com/4591214/5768154?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210110%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210110T224255Z&X-Amz-Expires=300&X-Amz-Signature=2d90b6d359412ca52ed7826891a023f4f344021d93f76d494

[2021-01-15 23:00] valib commented on #2338
@Mik-S-UMS I check the Movian log you provided and it still seems to me like the Movian problem. There are a lot of errors in the Movian initialization and errors in the NET communication. What that errors mean we cannot say because the log shows only the Movian internal error numbers. Maybe to contact the Movian developers can help to fix your problem.

[2021-01-16 01:45] SubJunk commented on #2346
Thanks for reporting this, I will look into this as a priority

[2021-01-16 02:24] SubJunk commented on #2346
@Rebel154 unrelated, that looks like a custom renderer file, does it work well for you? If so I will add it to the next release

[2021-01-16 02:44] Mik-S-UMS commented on #2338
Yeah quite possibly. Could not make any sense of the extra debugging, just thought it may to you.

Movian looks abandoned anyway although there is someone that does some updates to the PS3 version as closed source.
I'll see what forum he is on and send a message to ask if he will come on and have a look, but I think the things he focuses on is paid plug-ins for things like IPTV.

[2021-01-16 02:54] Nadahar commented on #2338
I think it's overwhelmingly likely that they simply haven't implemented neither `GetProtocolInfo` nor `GetPositionInfo`. The UPnP spec is quite extensive, and they have probably just implemented the parts they think they needed - much like UMS has. These are things that aren't "primary" functions for playback, thus they are probably not there.

As I see it, the only "problem" here is that UMS does

[2021-01-16 03:05] SubJunk commented on #2346
@Rebel154 I think I have fixed the bug you described but I suggest that if you're naming these files yourself that you use a more standard naming convention like Series.Title.S02E01.Episode.Title which we will be able to parse and fetch metadata on. The current folder and filename structure you have is hard to parse, since even if we looked at the parent folder we would still not have the series t

[2021-01-16 03:13] SubJunk opened #2348 "Send api metadata via upnp properties"
The UPnP spec at http://www.upnp.org/specs/av/UPnP-av-ContentDirectory-v4-Service.pdf defines several properties that we could be sending. I'm not sure if there are many or any clients that do anything with the data, but maybe they do. I'm particularly thinking of the ones we have added in v10 for movies and episodes like rating, director, genre. description/longDescription

[2021-01-16 03:15] SubJunk opened #2349 "Send played statuses via upnp"
There are some properties in the UPnP spec http://www.upnp.org/specs/av/UPnP-av-ContentDirectory-v4-Service.pdf like `lastPlaybackPosition` and `lastPlaybackTime` that we could be sending. The first one is possibly used by some clients for native resume functionality (at a guess)

[2021-01-16 04:17] ahmedadan commented on #1891
@SubJunk Opened a draft PR, functionality is complete just having issues with passing the linter checks. I'd love a second pair of eyes.

[2021-01-16 10:51] Rebel154 commented on #2346
@SubJunk Thank you for the quick update. I have completely uninstalled both previous versions and installed the bug-fix version from your previous post - and it now seems to be working correctly. I can see TV episodes on both my TV and the web interface.

As for my naming process, I use Sonarr and have been using it for some time without issue, with UMS, Mezzmo and Serviio. I've settled on using U

[2021-01-16 17:54] mbentley commented on #2346
I'm with you there @Rebel154 I ran into this as well and I have a similar situation of also using Sonarr for auto-renaming in `SxxExx.Title.ext` format.  And I do so for the same reason of the file names being too long to quickly see and parse which episode is which as my TV will only show about 15 characters max for most items in the poster style view my TV has.  Otherwise I would need to have an

[2021-01-16 18:51] SubJunk commented on #2346
Thanks both of you for the feedback. It’s very valuable for me to be aware of the different use cases for the program.

Have you seen that in the Media Library, if we parsed the file correctly it would show up the short way too? For example for the filename “Series.Title.S01E01.Episode.Title.mkv” it could be found in “Media Library > Video > TV > Series Title > Season 1 > 01 - Episode Title”.
The

[2021-01-16 23:02] #2346 closed

[2021-01-17 14:10] pipin77 commented on #2344
Ok its strange.
Its working now. Kind of any way.

Some files are only marked if I play them through on fast forward.

[2021-01-17 19:54] SubJunk commented on #2344
@pipin77 that is strange. I think that timing code has a lot of room for improvement on some devices. It can depend on what the client sends to us, and probably depends on whether the file is being transcoded too.
Can you post logs from when you fully play a file and it is not marked fully played?

[2021-01-18 07:37] SubJunk opened #2352 "Change systray icon when an update is available"

[2021-01-18 07:37] SubJunk opened #2353 "Poll for updates every 24h"

[2021-01-19 23:03] ahmedadan commented on #1663
@SubJunk Is this something I could give a try? Any context on where to begin would be great!

[2021-01-24 19:18] SubJunk commented on #1663
@ahmedadan sure you can try :) I was thinking it would be a function that accepts two parameters - the name of the setting, and the notes, and it returns the html string to use. That way we don't have to update the translation strings if we change the defaults

[2021-01-25 07:19] SubJunk opened #2365 "Fix TV episode data not displaying on web interface"

[2021-01-25 21:23] ahmedadan-youi commented on #1663
@SubJunk Seems simple enough, where would I add this functionality?

[2021-01-25 23:16] valib commented on #2338
@Nadahar agree with you that the impIementation of those features are wrong in the Movian. The `GetProtocolInfo` implementation in the UMS  is OK and the result is properly managed. I made a PR #2366 which fix the implementation of the `GetPositionInfo` to not only fix the report of the failure but also fix the recognition of this renderer.

[2021-01-26 02:46] SubJunk commented on #1663
Maybe just in https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/util/UMSUtils.java and then apply it to tooltips in the `newgui` folder

[2021-01-29 07:07] #2365 closed

[2021-01-30 23:33] valib opened #2370 "Use the VLC"
@SubJunk do you think that we need the VLC engine in the UMS? It is not maintained for years. It may cause some problems like here http://www.universalmediaserver.com/forum/viewtopic.php?f=9&p=43233#p43233.  Do we maintain it or it should be removed from the UMS?

[2021-02-01 07:55] SubJunk commented on #2370
Good question. I'm interested in keeping and maintaining it. In rare cases it can be the only engine that transcodes a file.

[2021-02-01 21:57] SubJunk commented on #2370
@valib I didn't know that. Are you sure they don't use other things too? With FFmpeg you sometimes have to wait for the whole file to be parsed before subtitles are available, but I have never seen that with VLC

[2021-02-01 22:09] valib commented on #2370
@SubJunk they implemented it in the C++ but we can try to investigate what they make differently.

[2021-02-01 22:18] Nadahar commented on #2370
I think that's a huge oversimplification. AFAIK VLC doesn't use "FFmpeg" as such, they use FFmpeg's libraries (AVCodec etc). This still leaves them with a lot of control of the details that you don't get when you call FFmpeg's command line tool like UMS does.

With the same logic, you could argue that MEncoder "use FFmpeg" too, because it can also use some of FFmpeg's libraries. The thing is that

[2021-02-01 22:55] valib commented on #2370
@Nadahar thanks for the comment which it is true but we still can check the VLC code to find the difference. I am not an expert in the C++ but somebody can help us.

[2021-02-02 03:16] SubJunk commented on #2370
If you want to go to that level then I think that would be great. I had a brief period of time in C++ land where I contributed to FFmpeg mostly with their integration of the libass project, and I hacked at some MEncoder things, but that was a long time ago and I have enough on my list to do already.

I know that years ago I made an issue on the FFmpeg tracker about the subtitle parsing slowness an

[2021-02-02 04:05] SubJunk opened #2372 "Show the address of the web interface on the Status tab"
At the moment we have a button to open the web interface in the Java GUI, and we list the address of it on the Logs tab, but it would be useful to have the address visible on the Status tab itself so it is easier to see.

The same text as the logs can be used, e.g.
`Web interface is available at: http://192.1.1.1:9001`

[2021-02-02 04:09] SubJunk opened #2373 "v10 stats"
@UniversalMediaServer/developers I just wanted to share with you guys that since v10 final was released, our daily unique website visits have increased from around 10k to over 14k, so that is very promising and it validates all of the hard work we did for that. Congratulations :)

[2021-02-02 05:29] SubJunk opened #2374 "Raise limit on queue of API lookups"
At the moment we use ThreadPoolExecutor to queue API requests, but there seems to be some upper limit on the queue since if I do a full library scan, it stops adding them after a time. Memory use at that point is not noticeable so I think the limit can be increased.

I'm not really familiar with it so help would be appreciated.

[2021-02-02 22:41] valib commented on #2370
@SubJunk I must change my recommendation. It seems to me that the FFmpeg is much more tihgt to the VLC than we expected. See https://github.com/FFmpeg/FFmpeg/search?p=1&q=vlc. Maybe we can try to use the VLC as the default engine and check the setting to fix some problems

[2021-02-03 23:55] SubJunk commented on #2370
I don't know if this is still the case, but last time I was working on our VLC integration, there were some barriers due to the way they exposed their settings, so it was not possible for example to specify which subtitles to burn in or disable. Basically VLC would use their own settings/preferences for that. Also I think stream copying/remuxing wasn't available.

This was back in VLC v1 or v2 so

[2021-02-04 22:05] #2373 closed

[2021-02-05 05:30] SubJunk opened #2377 "Renderer for Android TV"
We have had a request for support for Android TV support

[2021-02-05 07:52] extrowerk commented on #1380
The PERPIXEL_TRANSLUCENT problem exists on Haiku too:
[code]

Any workaround other than run it in headless mode?

[2021-02-06 01:27] purevertigo commented on #2197
Any updates on this?

[2021-02-06 01:37] Mik-S-UMS commented on #2197
I am getting multiple icons for my Samsung TV (usually 2 but got a third one now, probably because the router changed its IP for some reason.)

[2021-02-07 03:13] SubJunk opened #2381 "Add nested "Filter by" folders"
If I'm already filtering by progress or information, I should be able to filter by progress or information (like "show me all unplayed dramas")

[2021-02-07 03:15] SubJunk opened #2382 "Make iOS app"
We should make an app for iOS that is designed to be a client for UMS.
Ideally we can fork another app that is close to what we want so we don't have to start from scratch.
I'll be doing a POC soon

[2021-02-07 20:58] SubJunk opened #2383 "Fix web interface video playback in Edge"
Edge doesn't understand the format we send it. We already send different formats depending on the browser so we just need to do the same for Edge

[2021-02-07 21:08] SubJunk opened #2385 "Add renderer setting to ignore Resume feature"
Some renderers have built-in resuming functionality, so in that case we should ignore the user setting to create Resume files ourselves, especially since our implementation of resuming is not great.
The number of devices that have build-in resuming is likely to increase when we do https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2349

[2021-02-11 23:04] #2349 closed

[2021-02-15 22:58] valib commented on #1663
@SubJunk I am not sure that this is the right way to speed up the UMS. It could simplify the translation of the default messages.properties but it needs to make new messages in it which interpretation should slow down the respond of the UMS.

[2021-02-16 01:00] SubJunk commented on #1663
@valib you might be right but I don't think we have problems with the speed of the UMS interface do we? I am interested in making it faster for media use but the GUI seems fast enough?

[2021-02-16 20:29] valib commented on #1663
@SubJunk that is OK

[2021-02-17 22:21] valib opened #2397 "Use automatic bitrate setting as default."
@SubJunk why we not set the automatic bitrate as default when we stated  in tooltip `The automatic settings will serve the maximum quality for your system and are highly recommended`? We can add to the notes that user can experiment with the default bitrate to achieve better video quality. There are several users dealing with the problems  that the video is not working properly because the bitrate

[2021-02-18 00:26] SubJunk commented on #2397
Yup let's do it

[2021-02-18 10:45] meratkha opened #2398 "A serious error occurred during Universal Media Server initialization: Resource "button-restart-requiredF٠.png" not found"
DEBUG ٢٠٢١-٠٢-١٨ ١١:١٨:٠٩.٢٩٧ [main] Could not create "/var/log/UMS/meratkha": Unable to create directory /var/log/UMS/meratkha
DEBUG ٢٠٢١-٠٢-١٨ ١١:١٨:٠٩.٢٩٨ [main] Default logfile folder set to: /home/meratkha/.config/UMS
DEBUG ٢٠٢١-٠٢-١٨ ١١:١٨:٠٩.٣٦١ [main] LogBack started with configuration file: /home/meratkha/ums-10.1.0/logback.xml
DEBUG ٢٠٢١-٠٢-١٨ ١١:١٨:٠٩.٣٦٦ [main] Starting services
DEBUG

[2021-02-18 21:25] SubJunk commented on #2398
@meratkha thanks for reporting this. Do you get the same error on 10.0.1 or is this new to 10.1.0?

[2021-02-18 21:27] SubJunk commented on #2398
I have reproduced this by changing my language to Arabic

[2021-02-18 21:51] SubJunk commented on #2398
This bug was introduced in 9.6.0

[2021-02-19 09:49] meratkha commented on #2398
I think that the problem is related to the so-called Indian numbers, which we see here:
java.lang.IllegalArgumentException: Resource "button-restart-requiredF٠.png" not found.....
so the real name of the png is: button-restart-requiredF0.png not button-restart-requiredF٠.png... Because in the Indian numbers the (0) is written (.), and the rest of the numbers (1,2,3,4,5,6,7,8,9) are written (١,٢,٣,

[2021-02-19 23:27] valib commented on #2398
@SubJunk to fix it the Locale should be set in the AnimatedIcon class. In the https://github.com/UniversalMediaServer/UniversalMediaServer/blob/bef93d36a60915ee0d69d7225fb1fc4018a5cee1/src/main/java/net/pms/newgui/components/AnimatedIcon.java#L552 the Locale should be used like `Icon icon = LooksFrame.readImageIcon(Locale.ROOT, String.format(resourceNamePattern, idx));` or something else. I am not

[2021-02-20 01:03] Nadahar commented on #2398
@valib I had no idea that `String.format()` could do this, I thought locale was only needed for decimal symbol, grouping and for changing character case.

The numbers aren't "Indian numbers" (which is something entirely different, but [Eastern Arabic/Indic numerals](https://en.wikipedia.org/wiki/Eastern_Arabic_numerals). It seems that the correct fix is applying a `Locale`, so your suggestion shou

[2021-02-20 02:26] SubJunk commented on #2398
That fix worked @valib thanks, please review

[2021-02-20 20:37] valib commented on #2398
Fixed in #2400

[2021-02-20 20:37] #2398 closed

[2021-02-20 20:39] valib commented on #2398
@Nadahar thanks for comment.

[2021-02-22 15:58] elmeriniemela commented on #1374
I have the same error, except my renderer is not nokia, i'm trying to render in firefox:

DEBUG 2021-02-22 17:55:54.333 [pool-5-thread-25] Sending RealFile [id=143, name=GOPR0130.MP4, format=MPG, discovered=false, player=FFmpeg Video] with mime type video/mp4 to null
DEBUG 2021-02-22 17:55:54.333 [pool-5-thread-25] Starting transcode/remux of GOPR0130.MP4 with media info: Container: MP4, Size: 728

[2021-02-22 21:57] valib commented on #2397
Done in #2399

[2021-02-22 22:27] SubJunk commented on #2397
Let's leave the issue open until the code merges? Then it's easier to track

[2021-02-22 22:49] valib commented on #2397
@SubJunk it depends on you if you approve the #2399

[2021-02-23 01:09] SubJunk commented on #2397
The PR goes beyond this issue so I'll need to test and review the other changes

[2021-02-27 22:12] #1891 closed

[2021-03-08 10:09] valib commented on #2397
#2399 merged

[2021-03-08 10:09] #2397 closed

[2021-03-08 22:10] Mik-S-UMS opened #2416 "Database errors"
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14642

Looks like there is a missing column "MODIFIED" somewhere.

here are some of the errors i have found in his first log.
He couldn't post the full trace log as it was too large so he cut out the first half. I have asked him to post the first half.

[code]

[2021-03-09 14:46] valib commented on #2416
This is not the database problem. I have the same error which is made by wrong parsing of the `http://api.flickr.com/services/feeds/photos_public.gne?id=14362684@N08&format=rss2` from the Shared WEB content.

[2021-03-09 20:20] valib commented on #2416
@SubJunk I think that api.flickr.com has made some changes and it causes problem. The same is for YouTube.

[2021-03-09 23:02] treylav commented on #801
At the moment, the glossary formally exists, but is completely unusable. 26 terms for the whole project perfectly illustrate the problem. I propose to discuss this issue again if you have the chance to involve active translators.

[2021-03-10 05:07] SubJunk commented on #801
I'm very open to discussion about it

[2021-03-10 09:58] treylav opened #2420 "Crowdin glossary needs updating"
I ran into a problem with a lack of terms when I tried to correct the Russian translation. The current version of the translation contains several terms, which, in my opinion, are not translated accurately ("application", for example). The problem is that Crowdin has no mechanism for suggesting a term in a glossary.
How should I suggest new terms? Post in a discussion section or a pull request to

[2021-03-10 09:59] treylav commented on #801
Okay, I will never write an issue late at night again.
Here we are talking about the reference in the wiki, but I was talking about Crowdin translation glossary. Forgive me this mistake.
I started a [separate issue about translation](https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2420).

[2021-03-10 20:45] Mik-S-UMS commented on #2416
He has posted the full log file. It was nearly 1GB in size which is why he couldn't post it one go.

I have replied with what I have found on the forum, but it looks like an issue browsing the media library organised by date I think.

like "2020 09 27" for example, yet for "###" there is no issue even though the browse request from his TV is the same.

[2021-03-10 22:28] SubJunk commented on #2383
Maybe. I was using Edge on Windows 10 when I reproduced it

[2021-03-10 23:04] #2331 closed

[2021-03-12 04:55] DanielHeath opened #2424 "Chromecast discovery fails"
I'm running UMS 10.2, the latest release, on ubuntu focal 20.04 .

[ums_dbg_2021-03-12-15-51.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6127688/ums_dbg_2021-03-12-15-51.zip)

This machine can definitely see the chromecast (eg can cast to it from chrome), but it doesn't appear in the receiver list on UMS.

I can also see it with `avahi-browse --all`, so it's definitely

[2021-03-12 05:02] Nadahar commented on #2424
The Chromecast implementation in UMS is kind of half-way done only. There's a lot to dive into there if you feel like it, but before you do, you should make sure that Chromecast discovery is enabled. Because this code has issues, I think it's disabled in the configuration by default.

[2021-03-12 05:26] DanielHeath commented on #2424
What setting controls that?

Thanks,
Daniel Heath

[2021-03-12 05:29] Nadahar commented on #2424
I don't have UMS available here now, but I think you must set
[code]
in `UMS.conf`

[2021-03-12 06:07] DanielHeath commented on #2424
Ahh that works, thanks :)

[2021-03-12 06:07] #2424 closed

[2021-03-12 06:08] DanielHeath commented on #2424
That would be a good thing to add to the "Chromecast" wiki page or other documentation (I read it before raising an issue, but it wasn't mentioned there that it's disabled by default)

[2021-03-12 20:14] SubJunk commented on #2424
@DanielHeath that's a good idea. If you could please let us know if you find any bugs after enabling that, they would be good to document too

[2021-03-12 20:33] SubJunk opened #2425 "Knowledge base"
Me and @js-kyle have been playing around with a new support website for us to consolidate our documentation. I had originally intended to use the GitHub Wiki but this is way more powerful. I'm interested in thoughts about it from anyone

https://support.universalmediaserver.com

Also @valib would you be interested in adding Czech translations of articles? When we have more articles, we can also do

[2021-03-12 22:24] valib commented on #2425
@SubJunk I can try to do it but you know that I am 63 years old man (now one year retired) and you still should be aware that I can suddenly stop answer your questions because I can be dead (Covid or whatewer) 😄

[2021-03-13 05:03] DanielHeath commented on #2424
Thanks. Seems to work well after enabling the feature.

[2021-03-14 00:06] valib commented on #2425
@SubJunk the https://support.universalmediaserver.com/ is automatically translated to the Czech language. Only topics in the "Last actualized page" and "Last books" are not translated.

[2021-03-14 03:30] #2385 closed

[2021-03-14 03:59] SubJunk commented on #2425
@valib congratulations on your retirement! does your country have a covid vaccine rollout? I hope you can get one soon

[2021-03-14 04:30] SubJunk commented on #2420
@treylav that's weird that you can't suggest changes to the glossary. I assume that has been possible at some point, since that would be how the existing ones got made.
I can change them manually if you let me know which ones on here

[2021-03-14 06:08] Nadahar commented on #2420
I made the existing ones.

[2021-03-14 10:49] valib commented on #2425
@SubJunk thanks. I may get a vaccine at the end of August or May.

[2021-03-14 12:26] treylav commented on #2420
Okay, I found it. You need to select a section of the original text, a drop-down menu will appear. It does not always drop, which is a bit confusing.
![glossary](https://user-images.githubusercontent.com/617704/111068384-948d7400-84d9-11eb-8d16-a7a58b6e1b49.gif)

[2021-03-14 12:26] #2420 closed

[2021-03-16 21:00] SubJunk commented on #1479
I reproduced this just now and I can see our logging has this chain of events which ultimately seems like the renderer has done a wrong thing, but maybe that's not a full interpretation:

VLC asks for the file:
[code]

We respond:
[code]

VLC asks for the end of the file:
[code]

We interpret that and send the remaining last chunk:
[code]

Then the renderer sends us a stop playing event and we get

[2021-03-16 21:37] Nadahar commented on #1479
I guess that depends on how you see it. Would you say that starting a video, fast forwarding close to the end and watch parts of the credits before stopping should constitute "fully played"?

I actually don't see a "simple" way to get this right. You'd need to somehow map "what parts" of the video has been watched, and then mark it when a certain threshold was met. The question is of course, shoul

[2021-03-16 22:15] ExSport commented on #1479
The behaviour seems like VLC is checking if file played is partially or fully downloaded so it can play correctly also files streamed/downloaded in the background (well known "feature" of VLC for a decade) up to the end (as the position of the end of file is changing).
If it is the reason then marking file as fully played is not the right decision but as you guys already wrote, it will need some m

[2021-03-17 00:34] SubJunk commented on #1479
Yeah I agree with you guys it isn't perfect, and some renderers make it difficult for various reasons. However it works most of the time and the penalty for getting it wrong isn't huge - by default you get a little thumbnail overlay and are still able to continue playing that file. Some of the other non-default options would make that penalty worse though.

With regards to the behaviour I saw from

[2021-03-17 03:15] Nadahar commented on #1479
@SubJunk This is just a guess, but could it be related to MP4 files where some have the metadata at the end of the file? It would make sense if VLC requested the end if it determined that to be the case, to fully parse the file before starting playback.

[2021-03-18 04:37] SubJunk opened #2431 "UMS not closing properly"
The process for UMS on Windows 10 isn't closing most of the time when I close the program via the GUI. It has always happened very occasionally for me and has been discussed before, but now it seems much worse. Needs more testing to figure out when it started.

[2021-03-18 04:48] Nadahar commented on #2431
I assume that you use `Executor`s/thread factories for your API work. These must be shut down in the shutdown hook, or they will keep working their queues even though the GUI has been closed. I'd start looking at that.

[2021-03-18 07:07] SubJunk commented on #2431
Thanks for the tip. It looks like that is already happening here https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/util/OpenSubtitle.java#L169

[2021-03-18 14:57] Nadahar commented on #2431
It was just a suggestion, I hadn't actually looked at any code. Are you sure you're only using that executor? Another things is that the code running in the threads must respect `InterruptedException`s and actually wrap up and return when they receive one - otherwise asking the executor to shut down won't help much, as I'm pretty sure it will just interrupt all workers and wait.

[2021-03-18 23:01] SubJunk commented on #2431
@Nadahar cool I will check if that's the case. It's also a good opportunity for me to upskill with using profiling tools as I think they will show which things remain

[2021-03-20 08:43] thedude911 opened #2433 "tsmuxer fails with HEVC"
Ubuntu 20.10 / 10.3.0:

I have a HEVC encoded video, mediainfo shows HEVC (Main@L3.1@Main) video with HE-AAC audio. Nevertheless, when transconding with tsmuxer the UMS will create a .meta file that contains "V_MPEG4/ISO/AVC", which is IMHO wrong. Correct would be "V_MPEGH/ISO/HEVC". The not-so-surprising result is that the H264 code of tsmuxer will fail to accept the transconding:

[tsMuxeR-6-2]

[2021-03-20 21:56] #2433 closed

[2021-03-20 22:13] valib commented on #2433
@thedude911 thanks for info. Fixed in #2434

[2021-03-21 12:12] mbentley opened #2435 "ffmpeg transcoded files are no longer playing as of 10.3.0"
## Problem
I am running UMS headless inside of a Docker container.  With what I assume is the new capability of "Improved automatic maximum bandwidth setting and enabled it by default", it looks like this is causing videos that were previously rendering fine to fail transcoding with `ffmpeg`.  In taking a look at the differences, I found that it worked as of `10.2.0` but stopped working in `10.3.0

[2021-03-21 20:51] valib commented on #2435
@mbentley using `mpeg2_main_settings = keyint=5:vqscale=1:vqmin=2` in the UMS.conf together with the `automatic_maximum_bitrate = true` doesn't make sense. We set not only max bitrate automatically but also the mpeg2 setting.
Anyway thanks for info. There is a bug and I will try to solve it.

[2021-03-21 20:57] valib commented on #2435
@mbentley I see other problem in your log. The automatic max bitrate doesn't work because the Ping returns error because of permission. See
[code]

[2021-03-21 21:06] SubJunk commented on #2435
@valib I will do an urgent deployment when there is a fix for this

[2021-03-21 21:07] mbentley commented on #2435
Thanks for taking a look valib!  Much appreciated.

Yeah, that makes sense.  Previously with `automatic_maximum_bitrate` defaulting to `false`, that wasn't the case in 10.2.0 and earlier but with 10.3.0 and later, that would be true since I am not explicitly setting that option in my config.  At this point, I don't even recall what all of the settings do - I did a lot of tweaking early on back whe

[2021-03-21 21:54] valib commented on #2435
I check the code and it seems to me that the whole problem is made by not working Ping. The `mpeg2_main_settings = keyint=5:vqscale=1:vqmin=2` is overriden and not used.

[2021-03-21 21:59] SubJunk commented on #2435
@valib I think we should also not allow this to happen:

[code]

[2021-03-21 22:01] valib commented on #2435
@SubJunk yes I agree. I will check the Ping implmentation.

[2021-03-23 10:07] Woodstock6969 opened #2441 "Media Library TV Show Metadata"
Hi There,

Firstly great work on this project!

I've an issue that started since 10.2 which is that the API TV Show search isn't selecting the correct TV show.  My file names are 'ShowName S01E01 EpisodeName.ext'
[ums_dbg_2021-03-23-09-56.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6188540/ums_dbg_2021-03-23-09-56.zip)
 and I have used MetaX to update the files metadata

[2021-03-23 20:24] SubJunk commented on #2441
@Woodstock6969 thanks for this report and your kind words, I have moved this issue to our API repository https://github.com/UniversalMediaServer/api/issues/477

[2021-03-23 20:24] #2441 closed

[2021-03-23 22:31] #2340 closed

[2021-03-23 22:38] SubJunk commented on #2315
@jkl16 thanks for this, I will update the renderer regex you provided. Also I think the bug you described has been fixed. Please let us know if it is still there in the latest release

[2021-03-23 22:38] #2315 closed

[2021-03-24 00:58] #2374 closed

[2021-03-25 06:01] vandpurnama opened #2445 "ERROR Unexpected error in RemoteBrowseHandler when play any video"
I always got error ERROR Unexpected error in RemoteBrowseHandler.handle i don't know why so i can't play any video (.Mp4 /.MKV) on via web  interface but if i play audio (.mp3) files it can be played normally

So, what should I do ?

UMS Ver : 10.4.0
Build : 2021-03-19

LOG :
[ums_dbg_2021-03-25-12-43.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6202337/ums_dbg_2021-03-2

[2021-03-25 21:34] valib commented on #2445
@vandpurnama which web browser do you use?

[2021-03-26 03:06] vandpurnama commented on #2445
mozilla firefox ver. 86 on EndeavourOS

[2021-03-26 15:05] pipin77 commented on #2344
Sorry,

couldn't do some logs.

But the behaviour seems to be restricted to smaller files.

[2021-03-26 21:20] SubJunk commented on #2344
@pipin77 ok, but there's not much I can do without logs. I'll close this issue since it seemed stalled but please reopen it if you manage to get logs

[2021-03-26 21:20] #2344 closed

[2021-03-26 22:13] SubJunk commented on #2435
@mbentley this fix is deployed to Docker Hub now

[2021-03-30 04:40] marksjc opened #2447 "Odd Permission"

[2021-03-30 07:25] SubJunk commented on #2447
?

[2021-03-31 20:23] SubJunk commented on #2441
@Woodstock6969 this should be fixed now, thank you for reporting it

[2021-03-31 20:51] #2447 closed

[2021-03-31 20:52] #2435 closed

[2021-03-31 22:39] Woodstock6969 commented on #2441
Thanks for the update.

On Wed, 31 Mar 2021, 21:23 SubJunk, ***@***.***> wrote:

[2021-04-03 03:27] esabol opened #2449 "10.4.1: OpenSubtitles java.lang.NullPointerException error"
I'm seeing a lot of errors like this in my logs:
[code]
Looking in the full debug log, I see this:
[code]

[2021-04-03 03:44] esabol opened #2450 "10.4.1: Failed to send action "GetPositionInfo" to [LG] webOS TV"
Seeing a lot of this error in the logs:
[code]
Looking in the full debug logs, I see this:
[code]
Any ideas?

[2021-04-03 22:24] valib commented on #2450
@esabol it means that your LG TV doesn't support it. I made the PR #2366 which could fix it.

[2021-04-04 08:52] SubJunk commented on #2449
Thanks for reporting, this should be fixed in the next version

[2021-04-04 20:02] esabol commented on #2450
Fwiw, I think it’s likely that my TV was on, but the DLNA app on the TV wasn’t running at the time.

[2021-04-04 21:14] valib commented on #2450
@esabol can you test it running?

[2021-04-04 23:26] esabol commented on #2450
I do whenever I watch anything via UMS, obviously.

[2021-04-05 05:40] SubJunk opened #2452 "StreamSubsForTranscodedVideo broken"
This post https://www.universalmediaserver.com/forum/viewtopic.php?p=43614#p43614 describes it being broken since 9.8.3

[2021-04-06 06:17] #2449 closed

[2021-04-07 03:06] js-kyle opened #2453 "Improve Dockerfile"
As per some comments on the forum, some enhancements could be made to the Dockerfile

https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=12922

[2021-04-07 03:22] SubJunk commented on #1908
This is done

[2021-04-07 03:22] #1908 closed

[2021-04-07 03:23] SubJunk commented on #2453
Any interest @atamariya?

[2021-04-07 21:19] rpeinl opened #2454 "Transcoding problem with Quest2 / DeoVR"
Hi there,
I'm trying to use UMS 10.4.1 on Windows 10 to stream 360° videos from my PC to my Quest 2 in the local network using DeoVR as a client app. I have video files in MP4 format, different codecs (h.264, h.265, VP9) and in quite a high resolution (4k, 5k, 6k, 8k). If I navigate to the #--transcode--# virtual folder and then play the file with "no transcoding", everything works fine. This is a

[2021-04-07 23:23] valib commented on #2454
@rpeinl first of all we need the log in the TRACE mode. See the https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=556. It seems that your renderer is not properly recognised and all video is transcoded. In the WiKi is guide https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/faq#my-device-is-not-supported-by-ums-how-can-i-create-a-custom-rendererconf-to-make-ums-recogniz

[2021-04-08 08:33] #2229 closed

[2021-04-08 08:34] SubJunk commented on #2212
This is done

[2021-04-08 08:34] #2212 closed

[2021-04-08 08:38] SubJunk commented on #1797
We have done a lot of fixes since this issue was made. I'm sorry for letting it fall off my radar. If you're still around and interested @phd21 please reply and I'll reopen this and try to help some more.

[2021-04-08 08:38] #1797 closed

[2021-04-08 08:43] SubJunk commented on #973
I have been avoiding bumping db versions because of this but it's still a good idea

[2021-04-08 08:47] SubJunk commented on #810
Closing this due to inactivity

[2021-04-08 08:47] #810 closed

[2021-04-09 05:21] atamariya commented on #2453
~/.config/UMS/UMS.conf (Only change network_interface to correspond with the one on host)

[code]

[code]
I tested today and this works for me. I can browse media on my LG TV. So hopefully no change to Dockerfile. Can somebody confirm?

[2021-04-15 19:36] valib commented on #2450
Fixed in #2366 and merged to master branch.

[2021-04-15 21:06] esabol commented on #2450
Wonderful! Thanks, UMS team!

[2021-04-15 21:36] esabol opened #2459 "10.4.1: Bad memory leak on Mac"
Since somewhere in the 10.x range of releases, I've been seeing a very bad memory leak with UMS to the point that I have to "Force Quit" UMS and restart it every few days. I never had to do this with UMS 8.x or 9.x, which I'd often leave running for weeks and would only restart when upgrading to a new UMS release. This on my Mac running High Sierra.

In the most recent example, after 4 days of run

[2021-04-15 21:48] FY13 opened #2460 "Gapless Audio"
I use renderers that support gapless playback of audio files but with UMS there is always a pause between tracks.

I believe there is an element within upnp called SetNextAVTransportURI that tells the renderer the uri of the next track, which it can prefetch and play seamlessly without delay.

It'd be good if UMS could utilise this.

[2021-04-16 00:55] #2450 closed

[2021-04-16 00:58] SubJunk commented on #2459
@esabol thanks for reporting this. Are you able to try running the initial v10 release so we can see if it was introduced there, or in some release after?
I am trying to get better with Java memory profiling so this is a good reason to keep going

[2021-04-16 00:59] SubJunk commented on #2460
That seems like a good suggestion, thanks

[2021-04-17 22:57] SubJunk opened #2462 "Try JUPnP"
Cling is unsupported and doesn't work well with JRE 11+. JUPnP has some fixes related to that, but still only claims to support JRE 8. It may be closer to what we want though, and because it is maintained, we can submit code changes to them instead of creating our own fork of Cling, which is what I've been doing.

This is a path to being able to fix bugs related to UPnP, so I am marking it as a bu

[2021-04-17 23:10] SubJunk commented on #2462
I made an issue on JUPnP to ask questions and say hi https://github.com/jupnp/jupnp/issues/137

[2021-04-18 06:45] esabol commented on #2459
At the very bottom of the UMS window, I see a single line which shows messages like “Getting API Info for <<mkv file>>”. This seems to be new, post-9.8.3 certainly. These messages oddly sometimes slightly change the size of the UMS window vertically, which is weird and unwelcome. When I see a lot of these messages, I notice that the Memory Usage bar just keeps on growing.

[2021-04-18 08:27] SubJunk commented on #2459
It's looking up metadata about the files as they scan, for example to get the posters for thumbnails, actors, directors, ratings, etc.

[2021-04-18 18:58] esabol commented on #2459
Well, it seems to be doing it for every single file in every shared directory tree, and it seems to be storing all this information in memory. And it keeps doing it until it runs out of memory.

Why is it doing this? None of this information is visible on my TV’s DLNA interface. Is this for the UMS web interface? I don’t use that. Is there an option to turn this off?

[2021-04-19 00:04] SubJunk commented on #2459
That information is available via DLNA. For example in the Media Library folder you can filter movies and TV shows by genre. An overview of the v10 changes is at https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/Version-10-Release-Notes

You can disable it via the Navigation Settings tab, by disabling the "Get info from our API" setting.

I am still interested in figuring out this

[2021-04-19 00:12] esabol commented on #2459
OK, but I have "Enable the Media Library" option disabled.

Cool. I think the option is labeled "Use info from our API". I've disabled it.

That would be nice. I restarted UMS this afternoon, and, just a few hours later, the memory usage was up to 700 MB in use.

Will do.

[2021-04-19 00:25] SubJunk commented on #2459
Some features work outside of the Media Library too, like the poster thumbnails, so that's why it's a separate setting.

Cool, that's totally fine, and that's why we aim to make settings to disable features users don't want

[2021-04-19 14:36] valib commented on #2462
@SubJunk made in #2464

[2021-04-19 20:15] esabol commented on #2459
I think we have a winner. One day later, the "Memory Usage" bar in UMS actually shows 39 MB, slightly less than what it showed shortly after I started UMS yesterday (43 MB, IIRC). Contrast that with the 700+ MB it showed after just 3-4 hours of running before I turned off the "Use info from our API" option.

[2021-04-19 23:23] SubJunk commented on #2459
That's good news, it narrows that down. I will try to reproduce but I couldn't last time. Can you please reenable the setting and attach TRACE logs, or send them to me on the forum?

[2021-04-20 04:16] SubJunk commented on #2459
Ok. I understand your position, but it doesn't leave me with much to work with if I can't reproduce the problem. I'll still try to reproduce it some more

[2021-04-24 01:20] ZZKJInc opened #2465 "Javaw.exe opening files and stopping parent folders being moved/deleted (Win 10 permission denied error)"
this is a very random bug, maybe once every 24 fours, sometimes a little more.

I tried to move and delete a folder in a directory that was being scanned by UMS as a shared folder.

In windows 10 pro I got a permission denied error when trying to move/delete this directory.

Looking into it the files were open in another process.

I used process explorer to ascertain that javaw.exe was opening the

[2021-04-24 22:50] SubJunk commented on #2465
@ZZKJInc this is a bug for sure but I believe it is a bug with Windows or Java itself. We have looked at it before and it seems that we are doing what we can with it.
If it is the same bug, you can work around it by unchecking "Monitor played status of files" on the shared content tab for the parent folder.
If that doesn't work please let us know since that would be a different bug

[2021-04-24 23:56] marksjc opened #2466 "Multiple Errrors Hitting Log - Duplicated or Same Issue Scannning Target Folders"
[ums_dbg_2021-04-24-16-42.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6370935/ums_dbg_2021-04-24-16-42.zip)

I see multiple issues upon runnihg 14.1 for first time.  I'm a dumb user so I would appreciate a simple yes/we're workihg oh it or no/it's not a problem.  I think I provide attached the correct data as specified.  Of course if you need more ihforamatioh simply sa

[2021-04-25 19:55] SubJunk commented on #2466
Why was this closed? Is it working now?

[2021-04-25 23:12] ZZKJInc commented on #2465
OK will do, I'll check back if that doesn't work.

P.S. This always occurs during the same operation. I have files auto downloading, a temp directory is created, all files are decompressed to this temp directory then once complete immediately moved to the final destination folder. The whole process is very quick as its automated. Its the final stage(moving), moving the files that cause Javaw.exe t

[2021-04-30 04:23] SubJunk commented on #2462
@valib since it might take us a while to make JUPnP work with our implementation, maybe in the meantime we should go back to using Java 8, now that we know that Cling has compatibility problems with Java 9+. What do you think?

[2021-05-02 09:06] marksjc commented on #2466
I closed this accidentally and it's still broken  I deleted the old access path to the files (out of hundreds, 5 were actually displaying in the UI).  Got the same 5 and a lot of log errors consistent with the log file attached.  Sorry I closed it, I use Github infrequently, but will be more careful in the future.

[2021-05-02 20:10] valib commented on #2466
@marksjc please try to delete the database at `/Users/mac/Library/Application Support/UMS/database` and start the UMS again. It seems like the wrong database version.

[2021-05-02 21:13] valib commented on #2466
Fixed in  #2482

[2021-05-02 21:36] valib commented on #2466
@marksjc thanks for the report.

[2021-05-02 21:36] #2466 closed

[2021-05-23 21:14] SubJunk commented on #2454
Closing this as it has gone stale. Please reopen if those logs are added

[2021-05-26 10:23] vormav78 opened #2503 ""completed" tag not properly applying to files since 10.0.1"
Hello, I don't know if this is the right place to report the problem but I couldn't find a similar post so here I am.

The tag that says a file has been completed (replay circle) is no longer working since 10.0.1 (windows)
I have also tried 10.5.0 and I have the same issue.

As soon as I install 9.8.0 (clean install) it fixes the problem. Note that the marked files under 9.8.0 stay marked when I u

[2021-05-26 21:11] valib opened #2504 "UMS is looking for external subtitles for Vodcasts media which is nonsens."
see [ums_dbg_2021-05-26-23-03.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6549633/ums_dbg_2021-05-26-23-03.zip)
The error is `Could not find the folder for ...`

[2021-05-26 21:28] SubJunk commented on #2503
@vormav78 can you please provide logs for that? I have seen this bug reported by other people too, but it is working for me when I test it, so I need logs to help

[2021-05-26 21:29] SubJunk commented on #2503
Instructions for logs are at https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=556

[2021-05-26 21:33] vormav78 commented on #2503
Sure, I can reinstall the newest version and reproduce the issue. Do you need the trace to be done on multiple files or will one file be enough?

[2021-05-27 04:26] vormav78 commented on #2503
Here are the logs. I found out that, on a clean install before I personalize my settings, it actually works as intended. I'm suspecting one of the other options has this unintended side effect but I am still trying to find which one that is as I leave "Fully played action" to "Mark Media".

[ums_dbg_2021-05-27-00-12.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6551097/um

[2021-05-27 06:23] SubJunk commented on #2503
Thanks for the logs and notes, that's very helpful. Also you mentioned 10.0.1, does that mean it works properly in 10.0.0?

[2021-05-27 06:30] SubJunk commented on #2503
Can you try enabling the Media Library? It might have got mixed up with that logic somehow in v10

[2021-05-27 06:42] vormav78 commented on #2503
I have not tried 10.0.0  but I reverted back to the last version I had installed that worked which was 9.8.0.

Alright so after at least 5 hours of testing different permutations of settings I think I found the culprit: It seems the function stops working whenever I disable "Enable Media Library". It took me a long time to find since that setting has no reason to even touch such a configuration bu

[2021-05-27 07:21] SubJunk commented on #2503
@vormav78 nice one, thanks for testing. I also realised that that is expected behaviour and it is my fault for using bad naming for the settings :( I'm sorry for wasting your time on this. I'll try to explain now:

In the past (in versions up to v6), the "Enable the Media Library" setting was called "Enable cache", but I renamed it when I started expanding the caching to include more features like

[2021-05-27 07:26] vormav78 commented on #2503
Alright no worries! I thought it had something to do with the media library folder but didn't suspect it was responsible for all local cache. I will just leave it on and turn off the Media Library folder as that was my intent.

[2021-05-27 07:26] #2503 closed

[2021-05-27 17:35] protocrypt opened #2506 "Force reboot"
now in version 1.5.0 to quit from media server I need FORCE QUIT its hangs up...

[2021-05-27 17:42] Nadahar commented on #2506
Version 1.5.0? That's a long time ago.

[2021-05-27 17:49] protocrypt commented on #2506
Sorry its 10.5.0 last one..

[2021-05-27 21:20] SubJunk commented on #2506
I have noticed that too, please feel free to follow the issue we already have for this https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2431

[2021-05-27 21:20] #2506 closed

[2021-05-29 04:46] 4ant00ra commented on #1921
Hi guys,
Just having this kind of issue with my Universal Media Server and did not find yet the origin of the issue.
Did you find out ?

[2021-05-29 04:52] SubJunk commented on #1921
@4ant00ra this never got fixed but is very low priority - the engines still work. It is just logspam

[2021-05-29 08:43] peterhatoz opened #2508 "Bookmarks to advertised folders not working in renderers which support them following UMS restart"
![first_run_kodi_bookmark](https://user-images.githubusercontent.com/382723/120064029-a1b80900-c0ad-11eb-8142-c5a272ced1d4.jpg)
![second_run_kodi_old_and_new_bookmarks](https://user-images.githubusercontent.com/382723/120064035-aaa8da80-c0ad-11eb-8b7d-99ff46b8d672.jpg)
![second_run_vlc_bookmark_failure](https://user-images.githubusercontent.com/382723/120064036-af6d8e80-c0ad-11eb-8236-3d65df724ad4

[2021-05-29 08:48] peterhatoz commented on #2508
Relevant trace files are at https://www.universalmediaserver.com/forum/viewtopic.php?p=43879#p43879

[2021-05-29 13:41] Nadahar commented on #2508
It's no "secret" that the ID's are regenerated each time, this is how the code is written. This goes back to the original PS3 Media Server.

To be able to maintain the IDs, they would have to be stored somewhere, for example in the database. UPnP AV doesn't mandate that the ID's are persistent, but strongly recommends it as far as I remember. You won't find any requirements for this in UPnP DA, an

[2021-05-30 07:24] 4ant00ra commented on #1921
OK, cool. Will try to ignore it.
Thanks for that confirmation.

On Sat, May 29, 2021 at 7:53 AM SubJunk ***@***.***> wrote:

--
What we are today comes from thoughts of yesterday,
   and our present thoughts build our life of tomorrow,
               our life is the creation of our mind

"*When you know yourself, you're empowered. When you accept yourself,
you're invincible.*"

[2021-05-31 04:28] peterhatoz commented on #2508
OK, thanks for the explanation. Your UUID idea sounds like a good seed idea.

Remember, to fix my problem, this only needs to be done for the advertised folders. How about a hash of the path, which is generated initially on startup ... shouldn't need to be too big to guarantee uniqueness, and it would be fast. Also, it doesn't need to be stored anywhere.

[2021-05-31 08:52] SubJunk commented on #2508
@peterhatoz we would welcome contributions, feel free to dive in :)

[2021-06-01 03:27] peterhatoz commented on #2508
@SubJunk, I'd be happy to do that if somebody could point me in the right direction ... where are the container ID's generated?

[2021-06-01 03:36] Nadahar commented on #2508
@peterhatoz Consider yourself warned, this is a bit of a mess. I believe they are actually generated in the [GlobalIdRepo](https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/java/net/pms/dlna/GlobalIdRepo.java)

[2021-06-01 04:06] SubJunk commented on #2508
The main gotcha with the GlobalIdRepo is that the IDs get cleaned up, which is logged by the program. We made that change to use weak hashmaps because of memory use.

We certainly could use any help we can get on this project, as we don't have enough active developers to do the things we want to do, especially on fundamental things like this

[2021-06-02 07:31] peterhatoz commented on #2508
Happy to contribute to such a great product. Skills are a little rusty though, so be gentle with me :-)

Also, nothing happens quickly with me any more ... retirement has ruined me :-)

Will have a look at GlobalIdRepo in the next day or so though.

[2021-06-02 19:55] Chris211313 commented on #2372
I'd love to grab this as a first issue?

[2021-06-02 22:20] SubJunk commented on #2372
@Chris211313 yes please :)

[2021-06-02 22:22] SubJunk commented on #2508
No problem at all, we all just volunteer any time we can. Please let us know any questions.

[2021-06-03 07:34] SubJunk commented on #2299
Closing this due to @maz4200 not getting back to us. Feel free to reopen

[2021-06-03 07:34] #2299 closed

[2021-06-03 07:41] Chris211313 commented on #2372
Seeing some issues when running the setup guide. Executing the Maven commands is failing when it tries to download jaudiotagger from bintray. Looking at bintray, it appears they've retired the service. Are you aware of this?

My solution would have been to install this manually into the Maven repo. Unfortunately I can't seem to find the jar file in the central repo. Do you guys have a workaround a

[2021-06-03 10:37] Nadahar commented on #2372
I have tried to contribute to a solution with this PR: https://bitbucket.org/ijabz/jaudiotagger/pull-requests/67

I have gotten no response in quite a while though, so it doesn't seem like the author/maintainer is interested :disappointed:

[2021-06-03 17:13] Chris211313 commented on #2372
FYI, I compiled the third party library myself and installed it into the local Maven repo. This allows me to compile. I'm happy to continue setting up my development environment and address the issue in this ticket. We can always revisit this issue in another ticket :)

[2021-06-03 20:42] valib commented on #2372
@Chris211313 the issue with the jaudiotagger repository is fixed in #2513

[2021-06-03 20:51] valib commented on #2372
@Nadahar it seems that the developer tried to use different repositories like https://repo.spring.io/plugins-release/ for version 2.2.6 and the current https://repository.mulesoft.org/nexus/content/repositories/public/ for versions 2.2.6 and 2.2.7.

[2021-06-03 20:54] Nadahar commented on #2372
@valib I don't think that's the developer, but other people that have wanted the newer versions. I don't really understand the problem, if he just merges the PR I made and follow the instructions, he could have 2.2.5, 2.2.6 and 2.2.7 available on Maven Central in less than one hour of "work".

[2021-06-03 20:57] valib commented on #2372
@Nadahar maybe this is not the original developer but they continue with this code and it works for us.

[2021-06-03 21:04] Nadahar commented on #2372
@valib Ok, the project you're pointing to is the same that I've made a PR to. But, the one you used comes from here: https://github.com/goxr3plus/jaudiotagger

I don't like to use other repositories anyway, I think everything should be on Maven Central, because you never know when those other repos "die"/are shut down, just like what happened with bintray. Things that are on Maven Central will sta

[2021-06-03 21:09] valib commented on #2372
@Nadahar agree with you.

[2021-06-22 09:25] SubJunk opened #2533 "Extract internal subtitles during initial scan"
This should allow us to workaround FFmpeg taking a long time to parse subtitles before it starts transcoding.

It could also mean we get to remove the code that makes FFmpeg defer to MEncoder for those subtitles, which would also fix bugs related to MEncoder like the audio getting out of sync.

[2021-06-22 18:21] Mik-S-UMS commented on #2533
Could that also be used for streaming the subtitles for transcoded videos? similar to what I suggested in #2123

[2021-06-22 19:53] valib commented on #2533
The subs extraction is implemented in https://github.com/UniversalMediaServer/UniversalMediaServer/blob/72521029a629b2cbc69e6ccdfb02a2927f6b92b7/src/main/java/net/pms/util/SubtitleUtils.java#L201-L220 or https://github.com/UniversalMediaServer/UniversalMediaServer/blob/72521029a629b2cbc69e6ccdfb02a2927f6b92b7/src/main/java/net/pms/util/SubtitleUtils.java#L377-L394
Subs must be extracted only after

[2021-06-22 20:50] SubJunk commented on #2533
@Mik-S-UMS yes it could be a step closer to that

@valib cool thanks for the tips, I will work on this soon

[2021-06-22 21:41] valib commented on #2533
@SubJunk I am not sure if this will speed up the the FFmpeg before playing media. The main problem is the PC power. If it is low than the FFmpeg is producing the video stream slowly and the renderer is buffering the data before it start to play. For example on my notebook I use for testing it can take 10 seconds before the renderer starts to play transcoded media. The time for FFmpeg parsing exter

[2021-06-23 01:11] SubJunk commented on #2533
My understanding is that for some internal subtitles, FFmpeg needs to parse the whole file before it starts burning them, so it creates a delay that is sometimes more than 1 minute while it parses. When a file is parsed once, it will start immediately on a the next play. It has been an issue in FFmpeg for about 8 years and it is on their bugtracker but no one has worked on it yet.
That's why we ha

[2021-06-23 09:12] VIEIRADIAS opened #2535 "Incomplete music filenames"
Good Morning. I have two UMS in my computer. One is the LG SmartShare the other one is the UNIVERSAL MEDIA SERVER. I also have two brand new Smart TV sets, one is LG and the other one is a QUILIVE.

All my musica files have the file name like this: "ARTIST-SONG NAME". Also the ID3 TAG is like that. What happens is that when I use LG SmartShare I can see the song full name "ARTIST-SONG NAME". When

[2021-06-24 08:08] SubJunk commented on #2533
I've got this mostly finished but one thing I noticed is that UMS is clearing the "subs" folder when it closes, do you know where that is being done @valib ?

[2021-06-24 18:24] valib commented on #2533
it is here https://github.com/UniversalMediaServer/UniversalMediaServer/blob/72521029a629b2cbc69e6ccdfb02a2927f6b92b7/src/main/java/net/pms/util/SubtitleUtils.java#L458

[2021-06-25 17:18] cwmcd opened #2538 "ums playing double"
(also posted this to the forums https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14757&p=43998#p43998 )

having a strange issue when trying to play a video via firefox.

when i play a video there seems to be another version of the video playing 'somewhere'.

sometimes when i play it the audio is 'echoing' and sometimes not, but all the time i can pause the video that i see and i'll s

[2021-06-25 19:45] SubJunk commented on #2533
One note for testing is that FFmpeg caches the internal subtitles after the first run, so it can be annoying to reproduce - the bug this fixes only happens once per file. So if you do any testing on it you will likely need to find two similar files (I use two episodes of the same anime), verify the bug on one episode in master, then verify it is fixed on the other episode in this branch.

[2021-06-26 07:53] SubJunk commented on #1978
Closing this due to no replies. Feel free to reopen

[2021-06-26 07:53] #1978 closed

[2021-06-26 07:55] SubJunk commented on #1832
We have fixed a ton of subtitles bugs so I'm closing this, please open another issue if there are still problems

[2021-06-26 07:55] #1832 closed

[2021-06-26 08:01] SubJunk commented on #1642
In some dependency updates I've seen speed improvements to image conversion. I'm not entirely sure if they relate to this but it would be good to recheck on the latest UMS version. I'll close it until it can be verified.

[2021-06-26 08:01] #1642 closed

[2021-06-26 08:04] SubJunk commented on #1401
I recently did a lot of work on ORG_PN values and verified it with a user who was having problems, so I believe this to be fixed. Feel free to reopen if it's not.

[2021-06-26 08:04] #1401 closed

[2021-06-26 08:16] SubJunk commented on #1364
That branch eventually got merged

[2021-06-26 08:16] #1364 closed

[2021-06-26 08:17] SubJunk commented on #1338
This was confirmed fixed a while back

[2021-06-26 08:17] #1338 closed

[2021-06-27 22:39] SubJunk opened #2541 "Transcoding process sometimes gets stuck and doesn't clear buffer"
I had this yesterday and it led to out of memory errors, along with a combination of other events that meant we needed more memory that was available. I think it was a hung process from playing a file but will add more detail as I try to reproduce

[2021-06-28 07:28] #1374 closed

[2021-06-28 23:16] SubJunk opened #2545 "Seeking to wrong place on Panasonic TV"
On my Panasonic TV, if I am not transcoding, sometimes seeking to time doesn't go far enough. For example if I request 40 mins from the start, it might give me 4 mins from the start. I'm not sure if this is a new bug or if I am just using seeking more now, so I need to go back and test older versions of UMS to check.

[2021-07-02 21:22] valib opened #2546 "Translate the IMDB metadata"
@SubJunk is it possible to make in the API that metadata will be returned in the default language set by the UMS? Like use Google translator see
![google translator](https://user-images.githubusercontent.com/1472678/124329634-0c1c0780-db8c-11eb-88a1-213d94a7a8f8.jpg)

[2021-07-03 03:25] SubJunk commented on #2546
@valib it might be possible, maybe you can try?

[2021-07-08 02:28] StingeyNinja commented on #2465
I have exactly the same issue in the same scenario - files downloading into a temp folder before being moved on completion.  About 80% of the time, at least one file in the temp folder will have an open handle from javaw.exe and prevent the file from being moved and the temp folder deleted.

I would like the retain the "Monitor played status of files" feature though, so anything that could be done

[2021-07-08 07:28] valib commented on #2465
Please try to use your own temp folder than the default one for processing the dowloaded files

[2021-07-08 07:56] SubJunk commented on #2465
@StingeyNinja next time it happens can you please attach logs, and let us know which file/s are locked? There may be a clue in the logs

[2021-07-09 02:09] Mik-S-UMS opened #2549 "Font scaling issues on some elements of the GUI for some users"
A few users have reported issues with font scaling for some GUI elements like the title, tick boxes and restart server button.
(either that or everything else is not being scaled when on a 4k monitor) It appears to have started from version 10.5.0

https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14739
![image](https://user-images.githubusercontent.com/66766335/125012814-b69b9b00-e06

[2021-07-11 02:54] SubJunk commented on #2549
10.5.0 is when we switched from Java 15 back to Java 8 in order to fix problems with UPnP via Cling, so that is likely why this has happened.
Having said that, we may still be able to fix it.

[2021-07-11 22:19] #1365 closed

[2021-07-11 22:20] #778 closed

[2021-07-12 07:40] #2322 closed

[2021-07-12 07:41] SubJunk commented on #2242
This got fixed along the way

[2021-07-12 07:41] #2242 closed

[2021-07-12 07:42] SubJunk commented on #2167
This is done but they don't resume from where they stopped, so will leave it open for that

[2021-07-12 07:42] SubJunk commented on #2102
This was done in v10

[2021-07-12 07:42] #2102 closed

[2021-07-12 07:43] SubJunk commented on #2099
This was done in v10

[2021-07-12 07:43] #2099 closed

[2021-07-12 07:43] SubJunk commented on #1890
Done in v10

[2021-07-12 07:43] #1890 closed

[2021-07-12 07:44] SubJunk commented on #2070
Done in v10

[2021-07-12 07:44] #2070 closed

[2021-07-12 07:44] SubJunk commented on #1936
This got fixed recently

[2021-07-12 07:44] #1936 closed

[2021-07-12 07:45] SubJunk commented on #1912
Done

[2021-07-12 07:45] #1912 closed

[2021-07-12 07:46] SubJunk commented on #1911
We are now using these new builds

[2021-07-12 07:46] #1911 closed

[2021-07-12 07:46] SubJunk commented on #1910
We are using the latest

[2021-07-12 07:46] #1910 closed

[2021-07-12 07:47] SubJunk commented on #1871
I think this has been fixed in v10, if not feel free to reopen

[2021-07-12 07:47] #1871 closed

[2021-07-12 07:49] SubJunk commented on #1770
We are including new tsMuxeR builds now, so hopefully this is fixed. Feel free to reopen if not

[2021-07-12 07:49] #1770 closed

[2021-07-12 22:24] SubJunk commented on #1413
This got implemented and released recently

[2021-07-12 22:24] #1413 closed

[2021-07-12 22:25] SubJunk commented on #1409
The answer to use `web_enable = false` was provided, closing

[2021-07-12 22:25] #1409 closed

[2021-07-12 22:29] SubJunk commented on #1527
This is much better now after increasing image compression

[2021-07-12 22:29] #1527 closed

[2021-07-12 22:31] SubJunk commented on #1202
This happens for me too. Usually with subtitles but not always. I suspect it is a timing issue between our code and FFmpeg.
For me, the video always succeeds if I stop and re-play it

[2021-07-12 22:32] SubJunk commented on #1085
This has been fixed

[2021-07-12 22:32] #1085 closed

[2021-07-12 22:32] SubJunk commented on #1030
Closing this stale issue

[2021-07-12 22:32] #1030 closed

[2021-07-12 22:34] SubJunk commented on #2545
I checked on older versions and it has always been this way. My current theory is that there has been an update to MKV files that is causing this for newer files, because it doesn't happen for most of my files, and the ones it does happen for are newer. I will do more testing and hopefully figure out a way to identify the problematic files.

[2021-07-15 07:23] SubJunk commented on #2465
@StingeyNinja I haven't been able to reproduce this so far, and I spent a while on it today, so I need your help if this can be resolved. Please try to reproduce it with this version: https://www.universalmediaserver.com/uploads/UMS-2465-locked-folders-8d3734f.exe
That version has file watching but will not parse the new files for the Media Library automatically - so it's not a solution, but it is

[2021-07-15 07:42] #2128 closed

[2021-07-15 07:42] #1731 closed

[2021-07-15 07:42] #1732 closed

[2021-07-15 19:08] ilopezv opened #2553 "Since version 10.2.0 UMS didn´t work on Samsung ks8000 (year 2016) Tvs"
Since version 10.2.0 UMS didn´t work on Samsung ks8000 (year 2016) Tvs

I tried every single version since this release until 10.7.0 and no one work after 10.2.0

[2021-07-15 19:37] SubJunk commented on #2553
@ilopezv can you please describe the problem more? What does "didn't work" mean?

[2021-07-15 21:43] ilopezv commented on #2553
sorry for the previous bad quality comment.

All seems to be all right in UMS; the tv appears in the panel; no errors in log, but the dlna icon with UMS logo didn´t appear in the TV, so i can´t use it any more.

Like i said before only ultil UMS 10.2.0 the icons appears in tv and all things go ok.

What kind of debug info do you need?

[2021-07-16 07:27] SubJunk commented on #1868
Fixed in #2550

[2021-07-16 07:27] #1868 closed

[2021-07-16 07:27] SubJunk commented on #1604
Fixed in #2550

[2021-07-16 07:27] #1604 closed

[2021-07-16 07:30] SubJunk commented on #2553
@ilopezv can you please post logs from 10.2.0 and 10.3.0 so I can compare what changed? Instructions are at https://www.universalmediaserver.com/forum/viewtopic.php?f=3&t=556&sid=31084e979a309863f7640c2d4ec48f14

[2021-07-16 09:36] SubJunk commented on #2416
I have fixed the flickr bug, it turns out we just needed to use HTTPS for them instead of HTTP

[2021-07-16 20:31] SubJunk opened #2557 "Prepopulate web folder inputs in GUI"
Matching our example file convention

[2021-07-16 20:32] SubJunk opened #2558 "Display names of web feeds and streams in GUI"
Feeds can be dynamic, streams are manually named

[2021-07-16 20:33] SubJunk opened #2559 "Fix web streams"
mms and mmst don't seem to work, but that might just be our example content, either way needs a fix

[2021-07-16 22:02] gligort opened #2560 "Problem with Chapters"
Hi
Since version 10.7.0 I can not use chapters.
Common Transcode Settings - Chapters Support  is checked as 5 minutes, yet it does not appears on my TV Philips 42PFL4007H12.
I'm going to the movie folder, # -TRANSCODE-#, selecting any of the coders, but there are no CHAPTERS anymore.
It worked in previous version (10.6.0).
Thanks
[ums_dbg_2021-07-16-23-57.zip](https://github.com/UniversalMediaServ

[2021-07-16 22:45] SubJunk opened #2561 "Add edit button for web content"
Double-clicking already edits but this would make it more discoverable

[2021-07-16 23:19] valib commented on #2560
I checked it and chapters are showed in the TRANSCODE folder. What is wrong chapters start from beginning not the time the chapter should start.

[2021-07-17 01:02] Mik-S-UMS commented on #2560
@valib when I was using the chapters to bypass the no seeking issue for transcoded videos, sometimes the same would happen to me. sometimes it would play at the right time but could also restart from the beginning. can't remember what version I was using at the time, it was a while ago.

I just checked on my ps4 and the chapters are not displaying for me too. I double checked that they are enabled

[2021-07-17 01:12] Mik-S-UMS commented on #2560
could it have something to do with removal of filenames in the #--TRANSCODE--# folder? #2539

[2021-07-17 19:01] Mik-S-UMS opened #2563 "Fully played broken?"
A user has mentioned that some features like moving or marking fully played videos are not working, and I have noticed marking has not been working for me either at all on 10.7.0
Maybe the fully played logic has been broken when the issue with the cached thumbnails was fixed?
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14768

[2021-07-18 01:49] SubJunk commented on #2563
Thanks, I'm looking into this now

[2021-07-18 02:00] SubJunk commented on #2563
Do you still have the full logs? It would be useful to have the log package

[2021-07-18 02:57] SubJunk commented on #2563
I left a reply in the forum thread since I can't reproduce

[2021-07-18 03:59] Mik-S-UMS commented on #2563
Just finished watching something and made sure it played to the end, the log should also have the section I posted on the forum.

[ums_dbg_2021-07-18-04-54.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6835637/ums_dbg_2021-07-18-04-54.zip)

[2021-07-18 04:48] SubJunk commented on #2563
@Mik-S-UMS thanks for the logs
I can see that the file was in a folder that is not monitored, so the feature is working properly here. If you want it to work for that directory you'll need to enable the "Monitor played status of files" checkbox (step 3 of https://support.universalmediaserver.com/books/use/page/how-to-use-the-fully-played-feature#bkmrk-setup)

[2021-07-18 06:00] SubJunk commented on #598
No longer relevant because we reverted Netty 4

[2021-07-18 06:00] #598 closed

[2021-07-18 06:13] SubJunk opened #2565 "Use newer FFmpeg"
Last time we tried to update FFmpeg was in March, and it caused some crashes for some people. I was not able to reproduce the bug but @valib I think you were?

We rolled it back in https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2432

That build was from https://www.gyan.dev/ffmpeg/builds/ because Zeranoe isn't making builds anymore. Can you please try the latest build from that

[2021-07-18 14:10] Mik-S-UMS commented on #2563
Strange, it should be monitored. That folder is from a virtual directory spanning several drives and has always been monitored in the past. only thing I did differently this version was to use the "reset the cache" button so that all old thumbnails would be flushed. I'll do more testing of a folder listed in the shared content tab later

[2021-07-18 18:41] Mik-S-UMS commented on #2563
It looks to be working for folders listed in the shared content tab, it must just be for virtual folders that it is not working.

[2021-07-18 19:23] SubJunk commented on #2563
It should work for virtual folders too as long as the file is also within a monitored directory. It shouldn't matter if it was started via a virtual folder or not, I think. Can you confirm?

[2021-07-18 22:53] Mik-S-UMS commented on #2563
No the VF is not inside a monitored directory, I thought that if "addToMediaLibrary":"true" was set then that would also track played status, I'm sure it used to. TBH I have not paid any attention to mark as played so could be completely wrong.

If that is not the case then maybe it would be a good idea to add another option to the virtual folder config to monitor played status?

[2021-07-19 08:04] SubJunk commented on #2563
Yeah that's a good idea, can you make an issue for it?

[2021-07-19 15:51] Mik-S-UMS opened #2567 "Option to monitor files in virtual folders"
I had assumed that files were being monitored in virtual folders if "addToMediaLibrary":"true" was set but that is not the case.
Would be good to have another option to monitor these folders too.

[2021-07-19 15:57] Mik-S-UMS commented on #2563
done.
That explains my problem with marked files. once we hear from speckeledegg on the forum to see if his issue is similar, this can be closed

[2021-07-20 15:43] saveli commented on #2549
So I have these problems on Ubuntu too:
![image](https://user-images.githubusercontent.com/18439300/126353109-1ccd28bc-0a26-43f7-a74e-2e8cbf3f0f9c.png)

Following [this](https://superuser.com/questions/988379/how-do-i-run-java-apps-upscaled-on-a-high-dpi-display) I tried using the system java (`openjdk 11.0.11 2021-04-20`)  by commenting out
[code]
in `UMS.sh`, but it didn't work despite being fix

[2021-07-20 20:08] SubJunk commented on #2549
@saveli thank you! Maybe you can help us with that if..else part too?

[2021-07-20 21:41] valib commented on #2565
@SubJunk the latest FFmpeg version works for me but there is only 64bit version. Do we stop support for 32bit version?

[2021-07-20 22:21] SubJunk commented on #2565
Thanks for checking. The way I did it last time was to keep the old 32-bit file

[2021-07-20 22:49] saveli commented on #2549
Well, from [this](https://askubuntu.com/questions/197828/how-to-find-and-change-the-screen-dpi) it is troublesome to provide a single correct solution as all three ways reported different values for my two monitor setup...

But I only found below calculation to result in the "correct" value of 2.5 for my setup with a display scale of 1.25, Xft.dpi of 192 and the GNOME hardcoded base of 96 dpi: 1.2

[2021-07-21 06:20] StingeyNinja commented on #2465
I'll try the build provided, and supply logs and filenames when/if the issue re-occurs

[2021-07-21 20:53] protocrypt opened #2571 "Reboot issue on mac server"
When rebooting UMS from tv server didn’t  restart its just start new instance and didn’t t close old one.
after that you need force quit the server UMS

ps in general settings "only run a single instance' selected
Version 10.7.0, 10.6.0...

[2021-07-21 23:01] SubJunk commented on #2571
@protocrypt thanks for the report, I will try to reproduce

[2021-07-23 07:48] TheQue42 commented on #1841
Is there still no better docs on how to use UMS in docker?? Why even supply a docker image, if there is no docs on how to use it?

Even running with --network=host and --privileged, i end up with a line saying:

"ERROR 07:45:18.956 [main] A serious error occurred during Universal Media Server initialization: null"

[2021-07-23 10:40] gligort commented on #2560
Same with version 10.8.0.
:(
For now I'm staying with version 10.6.0'

[2021-07-23 12:00] saveli opened #2573 "TV doesn't recognise UMS running on dual boot OS with identical configs as the same instance"
So I have a dual boot OS setup (Windows/Ubuntu) with UMS installed on both and configured the same on both OS.
But the TV differentiates between the two albeit they have the same config files, same IP, and same hostname.

So when I connect to UMS, the connection is put to a quick access menu. When I then switch the OS and use that quick access menu, the TV says UMS is offline.
But when I go into n

[2021-07-23 12:35] Nadahar commented on #2573
If you open both `UMS.conf` files (they have different locations for different OSes) you will see that they have different `UUID`s. Make sure they are the same, and your TV should treat them as the same server. The entry looks something like this:
[code]

[2021-07-23 13:02] thistleknot commented on #1652
I run UMS 10.6.0 inside a vm.  I noticed that my cpu usage would spike (and I could hear my servers fans ramp up) when the system was idle, but if I opened RDP to the windows vm to look at it, it stopped.  So I fired up process explorer to observe what process was using the cpu cycles while it was doing nothing and it was javaw

[2021-07-23 15:41] ik666 opened #2574 "UMS is not being discovered by CP any more (10.8.0)"
I have an odd issue: Since version 10.8.0 UMS (linux build / Ubuntu) is not being discovered by control points any more. This issue disappears building and running version 10.7.0.

However: On my development environment (Mac) version 10.8.0 also works as expected ... ?!

Any ideas ?

[2021-07-23 16:31] saveli commented on #2573
Solved it, thanks!

[2021-07-23 16:31] #2573 closed

[2021-07-24 00:45] mbentley opened #2575 "10.8.0 Fails to start UMS"
Starting with 10.8.0, I can't start UMS any longer.  If I roll back to 10.7.0, it starts fine.

[code]

Full log output:  [ums_log.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6871672/ums_log.txt)

Trace logs: [debug.log](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6871676/debug.log)

I have a few Docker images that this can be reproduced with, bas

[2021-07-24 04:25] SubJunk commented on #1841
@TheQue42 thanks for letting us know about this, that is a bug with the recent release on headless environments. I will release a fix today and let you know when it's pushed to Docker Hub.

[2021-07-24 04:32] SubJunk commented on #2575
@mbentley thanks for reporting this, I am in the process of publishing a fix now, and will post here when it's pushed

[2021-07-24 05:02] SubJunk commented on #2575
@mbentley that should be fixed now, please let me know if there are any other problems

[2021-07-24 05:03] SubJunk commented on #1841
@TheQue42  that should be fixed now, please let me know if there are any other problems

[2021-07-24 05:38] SubJunk commented on #1652
@thistleknot I have noticed that too, and it's very confusing. There is nothing in our logs during that time AFAIK, so it is not UMS doing something in the background. It might be a dependency but as you can imagine it's very hard to debug a problem that stops happening when you start looking, it's almost like quantum mechanics :D

Maybe you could run Wireshark since that will record any network a

[2021-07-24 08:15] SubJunk commented on #2574
@ik666 please provide logs :)

[2021-07-24 08:24] SubJunk commented on #2560
@gligort I have a fix, please try https://www.universalmediaserver.com/uploads/UMS-2560-chapters.exe

@Mik-S-UMS you were right, it was that change :)

[2021-07-24 09:05] SubJunk commented on #2549
@saveli thanks for sharing that. I wonder if there is a comprehensive script out there somewhere

[2021-07-24 09:34] Krakinou commented on #2575
Had same issue with 10.8.0, updated to 10.8.1 and still have the same issue :/
Running on a debian buster.
I can provide the log if required but they are similar to those of mbentley.

[2021-07-24 11:57] thistleknot commented on #1652
Alright.  I've downloaded wireshark as well as sysinternals complete suite which comes with tcpview.  There is a windump, but it requires a 3rd party dll I don't have.

[2021-07-24 12:02] Jermolinski commented on #2575
I have the same problem too.
It looks like, that enabled buffered logging doesn't have a timer to write log entries into the log file in case the log data is smaller than 8K.
It leads to the missing log entries in the log file. If the buffered logging is switched off, a null exception will be logged too:

ERROR 2021-07-24 13:29:49.407 [main] A serious error occurred during Universal Media Server i

[2021-07-24 12:11] mbentley commented on #2575
I do see the same behavior with 10.8.1 as well.

[code]

[2021-07-24 14:47] Nadahar commented on #2575
There's no timer - I'm not sure exactly how that would work. However, UMS is supposed to flush the buffer when shutting down, my guess is that the crash leads to the shutdown code never being run. That's always the problem with buffering, when things crash unexpectedly, you don't get the chance to flush - the same would have been true for a timer.

If you run UMS in "trace mode" (either by selecti

[2021-07-24 20:33] SubJunk commented on #2575
@Krakinou @Jermolinski @mbentley can you please provide logs from 10.8.1 in trace mode?

[2021-07-24 20:40] SubJunk commented on #2575
I have reproduced this now and am working on a fix. Will update this thread when it's published

[2021-07-24 20:41] SubJunk opened #2577 "Use latest MediaInfo in Docker"
At the moment it's using the system default 19.04

[2021-07-24 23:01] SubJunk commented on #2575
The fix is published now

[2021-07-25 07:19] Krakinou commented on #2575
Solve it for me. UMS starts without issue.
Tx!

[2021-07-25 11:29] mbentley commented on #2575
^ Same.  Thanks!

[2021-07-25 11:29] #2575 closed

[2021-07-25 13:45] Jermolinski commented on #2575
According to the recent changes in the source code, the error should be corrected now.
But, the https://www.fosshub.com/Universal-Media-Server.html still points to the old version 10.8.1, where the error still persists.
The build from the actual source code fails too:
[ums.build.errors.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6873979/ums.build.errors.txt)

[2021-07-25 19:53] SubJunk commented on #2575
It will be on FossHub in about an hour but for now feel free to get it from https://sourceforge.net/projects/unimediaserver/files/10.8.2/
I'm not sure why that build error happened for you though, we were seeing that on CI at one point too

[2021-07-26 19:20] #2560 closed

[2021-07-27 23:53] mbentley commented on #1864
Is there anything I can possibly do to help debug this situation?  I have had it happen twice in the past week now (currently happening)

![image](https://user-images.githubusercontent.com/414445/127242077-54a7a011-1bdb-494a-a0c7-acb710fe36c5.png)

[2021-07-28 02:32] SubJunk commented on #1864
I would love any help we can get. This is probably the part of Java that I know the least about. I have tried to use profiling tools but I'm not good at them yet. Last time I used one (last week to inspect a process that wasn't closing) it just showed that there were lots of byte arrays open, but not any context for them, so I don't know where they were coming from or what was responsible for clos

[2021-07-28 02:39] SubJunk commented on #1841
Also about the docs situation, maybe you can help us with that. We are open source so we rely on contributions

[2021-07-28 02:58] SubJunk commented on #1864
Looking at those logs I can see that Cling did some things around that time, maybe that somehow caused this

[code]

[2021-07-28 03:01] SubJunk commented on #1864
I guess that means there have been at least 1166 Cling threads and maybe they're not closing properly

Are you able to run a Java profiler like JProfiler or YourKit in trial mode?

[2021-07-28 03:10] SubJunk commented on #1864
I found this which may be helpful https://stackoverflow.com/questions/46083045/too-many-threads-using-cling-upnp-library

[2021-07-28 03:21] SubJunk commented on #1864
@mbentley I made a build for you to test with the suggestion from that thread above. It seems that Cling allows unlimited threads by default. It's a shot in the dark but worth a try

https://www.universalmediaserver.com/uploads/UMS-SmallerThreadPool-x86_64.tgz

[2021-07-28 10:24] mbentley commented on #1864
Awesome, I really appreciate the response.  I wish I knew much about Java besides running apps but I can certainly try to run the build you created and I'll check out trying to get a profiler attached.  I work with a few of guys who have some Spring experience so maybe I can get someone to help take a look as well.  It looks like they added support in JProfiler for attaching to existing JVMs insid

[2021-07-28 14:34] Nadahar commented on #1864
When it comes to getting an overview over the state of the threads, I think `jvisualvm` goes a long way. It comes with the JDK (and possibly the JRE, I haven't checked). It's possible to do a thread dump to file from there, but mostly I just use it to find "problematic behavior", then goes into debug view in Eclipse and then pauses one of the threads in question. This will let me start to debug on

[2021-07-28 17:30] mbentley commented on #1864
I can certainly get a `jstack` dump next time something happens as well, assuming that it might be helpful.

[2021-07-28 19:05] SubJunk commented on #1864
@mbentley cool, I think we have set up some good ways forward, I look forward to seeing that data next time it happens :) thanks

[2021-07-29 00:38] mbentley commented on #1864
Well, it is happening again.  I can't get JProfiler to attach over ssh because the user in the container is non-root and it doesn't seem to understand setting the user on the container, not on the host.  I did get a jstack dump: [jstack.txt](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6897123/jstack.txt)

I'm seeing the problem on my 10.8.2 UMS, not the 10.8.3-SNAPSHOT versi

[2021-07-29 02:40] SubJunk commented on #1864
That's useful and continues to point to Cling. I found an ancient issue on their tracker that might be relevant https://github.com/4thline/cling/issues/3 which mentions a potential fix that would involve compiling a custom Cling version https://github.com/bubbleguuum/cling/commit/1aca3bd7295d8ddbd08fd8b8b21ad55353920df9
Interesting that it hasn't happened on that snapshot yet too

[2021-08-04 03:53] SubJunk commented on #1864
@mbentley is that testing build still running well for you?

[2021-08-04 07:16] alexgurr opened #2593 "macOS icon not conforming to latest design standards"
It seems like the app icon is pretty out of date and doesn't conform to Big Sur+ design standards.

I've made a couple that that conform. Let me know if you like them or want me to open a PR (or even tweak one).

![ums-icon](https://user-images.githubusercontent.com/4161867/128138292-fe3c7f17-98db-4ca3-865b-a596918803bd.png)

![ums-icon-alt](https://user-images.githubusercontent.com/4161867/128276

[2021-08-04 10:52] KishkinJ10 commented on #1964
@SubJunk Sir I am a beginner can I work on this ? And which resources should I refer for adding the code of conduct?

[2021-08-04 12:29] StingeyNinja commented on #2465
I reproduced the issue with v10.8.2.  The log line where it all seems to start is:
`DEBUG 2021-08-04 10:13:56.097 [File watcher]`

Logs attached.  Sorry I wasn't running the build you provided at the time @SubJunk
[ums_dbg_2021-08-04-21-01.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/6931231/ums_dbg_2021-08-04-21-01.zip)
![2021-08-04](https://user-images.githubuserconten

[2021-08-04 14:37] mbentley commented on #1864
So far it has been totally fine.  Unfortunately I haven't had any further issues with the normal `10.8.2` build since those two days in a row to do any more troubleshooting.

[2021-08-04 22:32] SubJunk commented on #1864
@mbentley ok, thanks. I'll run a test of that code too to see if there are any problems that arise long term with the limited threads

[2021-08-05 03:31] SubJunk commented on #2593
@alexgurr good idea, yes please make a PR

[2021-08-05 03:34] SubJunk commented on #1964
@KishkinJ10 that would be really helpful, thank you. There is a section on their website called "How to adopt Contributor Covenant" that describes how to do it https://www.contributor-covenant.org/

[2021-08-05 08:08] alexgurr commented on #2593
Can you point me in the right direction? Where's the current macOS icon? Do you prefer 1) or 2)?

[2021-08-06 04:35] SubJunk commented on #2593
@alexgurr thank you! It will be in the next release

[2021-08-06 04:35] #2593 closed

[2021-08-06 08:12] SubJunk opened #2595 "Implement UPnP feature: GetCurrentConnectionIDs"
It's a "required" endpoint that we don't respond to

http://upnp.org/specs/av/UPnP-av-ConnectionManager-v3-Service.pdf

[2021-08-06 08:13] SubJunk opened #2596 "Implement UPnP feature: GetCurrentConnectionInfo"
It's a "required" endpoint that we don't respond to

http://upnp.org/specs/av/UPnP-av-ConnectionManager-v3-Service.pdf

[2021-08-06 08:13] SubJunk opened #2597 "Implement UPnP feature: GetFeatureList"
It's a "required" endpoint that we don't respond to

http://upnp.org/specs/av/UPnP-av-ConnectionManager-v3-Service.pdf

[2021-08-07 03:06] SubJunk commented on #2465
@StingeyNinja cool, thanks. I can see some possibly-useful details in the logs. It would be great to get you to run that custom build still

[2021-08-07 03:22] SubJunk opened #2598 "Set MediaInfo=true by default"
The default value in RendererConfiguration should be set to `true`, but without changing behaviour for any existing renderers, to avoid breaking compatibility for them.
So existing renderers that do not have that line, or have set it to false, should still have it as false, while those who set it to `true` can have it removed.

The main benefit of this change is that new renderers going forward wi

[2021-08-09 04:33] SubJunk commented on #2465
I have another build for testing if you can https://www.universalmediaserver.com/uploads/UMS-2465-files-locking-a556e9d.exe
This one doesn't have any noticeable differences, it will still parse the files as they're added

[2021-08-10 07:58] SubJunk opened #2603 "Auto updater hogging focus"
The auto updater seems to be greedy with focus so it's always on top of everything, which is annoying. Should be fixed.

[2021-08-10 09:08] SubJunk opened #2604 "Add link to releases page to automatic downloader"
The automatic downloader should have text like "Click here to see the changes in this release" that links to https://github.com/UniversalMediaServer/UniversalMediaServer/releases

[2021-08-11 04:52] ik666 commented on #2574
It was an out of memory ... sorry for the inconvenience.

[2021-08-11 04:52] #2574 closed

[2021-08-11 15:27] trellos commented on #954
Hi all, I was having this exact problem with VLC on my Apple TV and UMS on my Windows 10 PC. Google sent me here, but no solution. I hope a fix hasn't been abandoned, because UMS seems really great. My whole house is wired with gigabit ethernet, so not a wifi issue. Happy to do anything constructive--take logs or sniff with wireshark or anything.

[2021-08-12 01:26] SubJunk commented on #2574
Cool thanks for responding :)

[2021-08-17 20:32] SubJunk opened #2608 "Log splitting"
Sometimes our logs get very large, usually due to bugs or because the user is running UMS in TRACE log mode for debugging. It would be useful to split the logs at an interval (maybe every 100MB) to make it easier to open them in editors

[2021-08-17 20:39] Nadahar commented on #2608
If you look in `logback.xml` you will see that this has already been prepared and only takes a small configuration change, although I believe the limit configured there is 10MB. Either way, it's very easy to change, but it will break the whole "debug.prev" logic.

[2021-08-17 22:07] valib commented on #2608
@SubJunk I tested it and it doesn't work. Logs are not zipped and only first log named `debug.txt` with the defined size is produced. Following logs are replaced by next produced logs. So the setting should be investigated and fixed.

[2021-08-17 22:59] Nadahar commented on #2608
@valib It does "work", but you have to configure it to work like you want it to. I'm pretty sure you can define how the naming should work, but as I said, the "debug.log.prev" functionality is something that is made in our code without logback's knowledge, so it won't play ball. Also, if I remember correctly, the "rolling appender" doesn't start a new log file when you start UMS - it will just con

[2021-08-18 16:13] Mik-S-UMS commented on #2563
He has confirmed it is now working with the test build.

[2021-08-18 16:13] #2563 closed

[2021-08-20 15:07] pyorkie opened #2612 "Denon AVC-X6700H cannot see files on network"
I have had UMS working for a number of years all OK with my ONKYO TX-NR5008 & Windows 10 ... but just bought a Denon AVC-X6700H and now I can no longer see my files that are on the computer. It will sometimes show the drive and sometimes the folders but cannot see any files (Music). I've tried everything.
Any and all help would be gratefully accepted.
And thanks in advance.

pyorkie.

[ums_dbg_202

[2021-08-20 21:05] valib commented on #2612
@pyorkie please use HTTP engine V2 and send the log again.

[2021-08-21 03:13] pyorkie commented on #2612
[ums_dbg_2021-08-21-13-06.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7024773/ums_dbg_2021-08-21-13-06.zip)

I've tried what you said ... but still comes up saying that no files .. even though it finds the folders. I am using UMS v10.0.
Thanks for the reply.
pyorkie

[2021-08-21 04:05] SubJunk commented on #2612
@pyorkie this looks like the same problem we have seen on some other renderers after version 10.6.0.
Please confirm this by installing 10.5.0 from https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/10.5.0/UMS-10.5.0.exe and let us know

[2021-08-21 04:07] SubJunk commented on #2612
Also please try enabling the setting to scan shared folders on startup

[2021-08-21 05:31] pyorkie commented on #2612
Hi

That seems to fixed the problem. I went back to 10.5 ... now works.
Thanks for all your help.
pyorkie

[2021-08-21 07:57] SubJunk commented on #2612
@pyorkie if you don't mind could you try this version? https://www.universalmediaserver.com/uploads/UMS-538d288.exe
Hopefully we can fix the problem so you're not stuck on an old version forever :)

[2021-08-21 08:47] pyorkie commented on #2612
Hi
Thanks .... I've installed it and will report when tested .... by the way .. the 10.5 fixed the missing files prob ... but when tested it was passing my FLAC files as MP3 files to the receiver.
pyorkie

[2021-08-22 20:48] SubJunk opened #2615 "Restart server when network interface becomes available"
A user has a situation where their computer starts with no network access, then it becomes available later on. They want UMS to notice that a viable network connection is there and use it. That seems like it would be a good thing to me.
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14824

[2021-08-22 21:01] SubJunk opened #2616 "Fix colours when transcoding from HDR to SDR"
A user has reported colour glitches when transcoding this way. Possible tips at https://www.reddit.com/r/ffmpeg/comments/p69zyk/hdr_sdr_filters_order/

[2021-08-22 21:05] SubJunk opened #2617 "Preserve HDR when transcoding for supported renderers"
If a renderer supports HDR and we are transcoding an HDR video, that should also end up in HDR. Right now it gets converted to SDR.
Some links I found about it:
https://trac.ffmpeg.org/ticket/7037
https://superuser.com/a/1338726
https://www.reddit.com/r/ffmpeg/comments/g3uucr/how_do_i_encode_4k_hdr_video_as_h265_with_ffmpeg/fnwz491/

[2021-08-22 23:45] SubJunk opened #2618 "Add OpenSubtitles hash to cache"
Some files may have their hashes computed more than once, for example after a failed API lookup is retried. That gives a very small delay (16ms in my testing) per file, but that would be more like <1ms with the cache, and would prevent IO

[2021-08-23 00:20] ahmedadan commented on #2598
Can I be assigned to this @SubJunk ?

[2021-08-23 04:10] SubJunk commented on #2598
@ahmedadan yes that sounds good :)

[2021-08-23 04:56] SubJunk commented on #2465
I have just reproduced this and found something interesting - if I force garbage collection, the file is freed, which is a very good clue.

[2021-08-23 21:50] ahmedadan commented on #2598
So is this issue to make sure every renderer has some default value for `MediaInfo`? If it's `true` to leave it as such and if it's missing or false to explicitly set it to `false`?

[2021-08-29 02:39] SubJunk opened #2625 "Refactor StreamSubsForTranscodedVideo"
This setting is redundant since we already have the ability to define which subtitles are supported for each format in the `Supported` lines, including the format that is used for transcoding. So the setting should be removed in favour of those and `SupportedExternalSubtitlesFormats`

[2021-08-29 04:01] StingeyNinja commented on #2465
In the absence of any other update, just confirming that I've downloaded the build provided above and I'm running it.  I'll report any issues as they occur.

[2021-08-29 05:16] SubJunk commented on #2465
@StingeyNinja thanks! I think it should happen less often now than before, but will still happen sometimes. It seems that we are relying on Java to release the resource when it runs the garbage collector, instead of releasing it ourselves. I can do a kind of hack where we ask Java to run the garbage collector after parsing, which normally works but isn't completely reliable, so I'll try to find a

[2021-08-30 05:20] CodeLover254 commented on #2604
I would love to take on this one

[2021-08-30 07:07] valib commented on #2604
@CodeLover254 please be free to do it. You are welcome.

[2021-09-01 08:22] SubJunk commented on #2598
I have edited the description to provide clarity after the code review on #2621

[2021-09-01 10:53] CodeLover254 commented on #2604
Could anyone guide me on how to deal with dependency issues? Am using IntelliJ and a good number of dependencies cannot be found by maven. Are there additional repositories I need to configure?

[2021-09-01 11:57] valib commented on #2604
@CodeLover254 you need to follow https://github.com/UniversalMediaServer/UniversalMediaServer/wiki/How-to-build-UMS#6-resolve-and-install-external-libraries

[2021-09-02 19:55] #2604 closed

[2021-09-03 08:14] BugExplorer-Plus opened #2630 "Renderer displays image file size as "NaNundefined""
UMS is started in Trace mode.
Powered on renderer/LG TV.
Selected "UMS->Media Library->Fotos->all fotos" as display source.
Displayed the first image (or any image from every path) - the TV shows in the title: "Universal Media Server | NaNundefined | 3244x2160"
Zipped & attached debug files to this issue.
Submitted the issue.
[ums_dbg_2021-09-03-09-54.zip](https://github.com/UniversalMediaServer/U

[2021-09-03 20:05] redtuxuk opened #2631 "No navigation buttons on Roku"
On Roku devices none of the navigation buttons work, only play and exit.
This is since 9.8.2 (at least)

Works fine on Android devices

[2021-09-03 20:13] SubJunk commented on #2631
@redtuxuk thanks for reporting this. Has it worked with a previous version of UMS? If so, it would help us a lot to know which version it was, and to get logs

[2021-09-03 20:42] SubJunk commented on #2630
@BugExplorer-Plus thanks for reporting this. That is because we are transcoding the image in realtime, which means we can't know how big it will be.
The TV should be handling those cases when the size can't be known ahead of time, so this is more a bug of the TV

[2021-09-03 20:42] #2630 closed

[2021-09-03 21:24] mbentley commented on #1864
Figured I should update about a month later - still haven't had any issues popping up with either the `10.8.3-SNAPSHOT` or `10.10.1` versions I am running but it wouldn't be the first time it has gone a month without issue.

[2021-09-04 01:18] redtuxuk commented on #2631
Sorry, should have been clearer, It worked on 9.8.2
Don't think its getting to UMS, so no log, but I will do some tests tomorrow

[2021-09-04 01:49] SubJunk commented on #2631
@redtuxuk ok cool. You can download any older releases from our releases page at https://github.com/UniversalMediaServer/UniversalMediaServer/releases
It would be useful if you could install some so you can let us know which is the last version that works

[2021-09-04 01:51] SubJunk commented on #1864
@mbentley thanks for the update. I think @valib noticed a problem with that beta build I made, where some UPnP functionality stopped working. We will likely end up making a custom Cling build. That would also unfreeze the version of Maven we are stuck on, so it's extra motivation

[2021-09-04 10:52] redtuxuk commented on #2631
Just checked and absolutely nothing shows in log when buttons are pressed

[ums_dbg_2021-09-04-11-46.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7109621/ums_dbg_2021-09-04-11-46.zip)

[2021-09-04 12:05] redtuxuk commented on #2631
Curiously now no version works for me. I have gone back to 7.1 with no change.
Also tried with clean config to no avail.
For info this is the support post about the same issue
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14680&p=43785&hilit=roku#p43785

[2021-09-04 12:20] redtuxuk commented on #2631
Have tested
ums-10.10.0/ ums-10.4/    ums-10.6.0/  ums-10.8.2/  ums-10.9.1/  ums-9.7.2/   ums-9.8.2/
ums-10.10.1/ ums-10.5.0/  ums-10.7.0/  ums-10.9.0/  ums-9.7.1/   ums-9.8.0/   ums-9.8.3/
ums-10.0.0-a1/

Also tried httpv2 enabled and not

[2021-09-04 13:17] valib commented on #2631
@redtuxuk did Roku obtain any update in the mean time?

[2021-09-04 13:59] redtuxuk commented on #2631
Good question, Roku being a bit of a black box difficult to know past last update. Will post last version later (when current episode I'm watching finishes)

[2021-09-04 14:01] redtuxuk commented on #2631
Oh and for info renderer chosen is Roku-Roku3-6-7.conf

[2021-09-04 14:50] redtuxuk commented on #2631
Software version 10.0.0- build 4209-51
apparently rolled out from 21/05/2021
Model 3900EU - Roku Express

[2021-09-04 15:28] redtuxuk commented on #2631
Updated 30 June 16:55 (found where it says so)

[2021-09-05 08:05] SubJunk commented on #2631
@redtuxuk interesting. Any other changes you can remember? Maybe a new router, or changed from wired to wireless network, any kind of change?

[2021-09-05 12:48] redtuxuk commented on #2631
Updated 30 June 16:55 (found where it says so)

[2021-09-05 12:50] redtuxuk commented on #2631
Not as regards the server, no.
Although as per the support thread I posted above it seems Roku seeking/ pausing only worked on 9.8.2 for others too (not before or after)

[2021-09-06 09:17] SubJunk commented on #2631
@redtuxuk but now it doesn't work for you on 9.8.2? Or it still does?

[2021-09-06 10:56] redtuxuk commented on #2631
Sorry, now it doesn't work on 9.8.2, though at one point it did (purely chance that that was the first version I used)
Current Roku doesn't have working navigation buttons with any version between 8.7.1 and current

[2021-09-06 11:28] redtuxuk commented on #2631
More info, as per the support request above, I have downloaded the roku android app and voice commands work. Very  strange. Also remote control works with another media server (minidlna)

[2021-09-06 19:54] ahmedadan commented on #1658
@SubJunk Is this still of interest to get completed? I've done `Jest` tests with `Pupeteer` in the past. Would this be an acceptable solution or should we stick with `WebDriver.io`?

[2021-09-08 04:27] SubJunk commented on #1658
Puppeteer sounds good. I was also thinking of trying Playwright. Please feel free to implement it with any of those options :)

[2021-09-08 14:32] CodeLover254 commented on #2618
I will be glad to work on this one. :)

[2021-09-10 07:50] SubJunk commented on #2618
@CodeLover254 great!

[2021-09-10 23:42] ahmedadan commented on #1658
Just looking for some guidance, I can create the tests using the Page Object Model and that's simple enough the challenge is integrating the tests into out build/deploy. Currently I'll be writing the tests using a version of UMS on my development laptop bit it would be nice to have something I could build and run the entire app.

Any thoughts?

[2021-09-11 05:04] SubJunk commented on #1658
If you can get the tests running locally I can do the part of getting the commands running on GitHub Actions

[2021-09-11 05:17] #2598 closed

[2021-09-12 23:54] cudBwrong opened #2640 "Wrong java binary in x86 packages"
Packages later than 10.10.0 have 64 bit java binaries packaged in the Linux 32 bit x86 tarballs.
10.10.1 and 10.11.0 give exec errors on jre8/bin/java.  For example:
$ ls
ums-10.10.1  UMS-10.10.1-x86.tar  ums-10.11.0  UMS-10.11.0-x86.tar
$ cd ums-10.10.1/
$ cd jre8/bin
$ ls
java  keytool  pack200     rmid         servertool  unpack200
jjs   orbd     policytool  rmiregistry  tnameserv
$ file java
j

[2021-09-14 00:45] StingeyNinja commented on #2465
Using the last test build provided, I just had another re-occurrence at timestamp that seemingly occurred from this line in the debug log:  `DEBUG 2021-09-13 12:24:54.676 [File watcher] ENTRY_CREATE`

I don't see the `javaw.exe` holding a handle open to that file now though, so it appears to have only been temporary.  Maybe UMS needs a little sleep before it processes a file that it's interested i

[2021-09-14 07:34] SubJunk commented on #2465
@StingeyNinja my understanding after debugging it is that javaw.exe will hold onto the file until Java decides to run its garbage collector. It decides when to run it and that timing is non-deterministic AFAIK - sometimes it will be 1 second and other times it can be 1 hour. I can manually request it to run the garbage collector and that will work 9/10 times, and maybe I should do that until the r

[2021-09-14 07:40] SubJunk opened #2643 "Network speed test only runs once per renderer"
My understanding of how the network speed test is that it is supposed to run periodically, or after certain events. But I can see in my logs that it only runs once for each renderer, which has resulted in some non-ideal behaviour for my instance.

Was my understanding wrong @valib or is this a bug?

[2021-09-14 08:02] SubJunk commented on #2465
@StingeyNinja here is a build that has that hack in it, please let me know how it goes :) https://www.universalmediaserver.com/uploads/UMS-2465-gc.exe

[2021-09-14 09:15] valib commented on #2643
@SubJunk you are correct. The test is running only once during the UMS inizialization. The idea to run it periodically sounds good.

[2021-09-16 07:42] SubJunk commented on #2640
@cudBwrong thanks for reporting this, I'm looking into it now

[2021-09-16 07:58] #2640 closed

[2021-09-16 07:59] SubJunk commented on #2640
@cudBwrong that's fixed now and I'll do a release in the next few days. thanks again

[2021-09-16 08:12] SubJunk commented on #2549
Another similar report at https://www.universalmediaserver.com/forum/viewtopic.php?f=13&t=14855&p=44598#p44598

[2021-09-18 07:30] purevertigo commented on #2197
Any news on this? It's still happening

[2021-09-19 04:37] SubJunk commented on #2197
@purevertigo can you please provide fresh logs for this using 10.12.0? I suspect the bug is still there but some conditions have changed so fresh logs would help

[2021-09-19 09:31] purevertigo commented on #2197
The funny thing is @SubJunk that it doesn't happen at all in TRACE mode.

[2021-09-19 16:37] gpascualg opened #2652 "NullPointerException while using Web"
Steps to reproduce (it doesn't always happen):

Open the web and play any video. While it is playing, go back to the list (via browser back button) and then play another video.
The following error happens:
[code]

[2021-09-20 02:45] SubJunk commented on #2197
Yeah that is strange. I tried to reproduce it yesterday on 10.12.0 and couldn't, whether in trace or debug mode, so I think I need logs for this one

[2021-09-20 04:35] purevertigo commented on #2197
@SubJunk What's the best way of getting them if not in TRACE Mode?

[2021-09-24 04:22] purevertigo commented on #2197
any ideas @SubJunk?

[2021-09-24 18:36] FY13 commented on #2460
Sorry to chase. Do you know when this might be added? Thanks!

[2021-09-24 18:46] SubJunk commented on #2460
@FY13 I don't have a timeline for it, we have been adding more UPnP functionality lately but I don't know when this will get done sorry. We are open source and really need more developers so we can get more of these things done. If you know of any send them our way :)

[2021-09-24 18:58] FY13 commented on #2460
I understand. Keep up the stellar work. 🌠

[2021-09-24 19:14] SubJunk commented on #2197
I found a note in the code that might be related:

https://github.com/UniversalMediaServer/UniversalMediaServer/commit/2e2c9a9ad257dbe58c08891fab16c513dde30151#diff-2982e1677a2cd4cf7beba6f449316f2280e1002785bc8f82d1497cabe6006064R551

[2021-09-25 05:22] SubJunk opened #2662 "Fork jaudiotagger"
From https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2661

[2021-09-25 10:57] purevertigo commented on #2197
a possible fix maybe?

[2021-09-30 15:43] Mik-S-UMS opened #2663 "Folders being re-added if deleted from shared content."
A user on the forum only wants to use virtual folders and has tried to delete the default folders set in the shared content tab, but when they are deleted they are added again.
https://www.universalmediaserver.com/forum/viewtopic.php?f=4&t=14874

I have noticed similar behaviour if I try and delete all the items in web content.

I think these should only be auto added if it is a new install but no

[2021-09-30 15:56] Mik-S-UMS opened #2664 "Update folder contents when thumbnail is updated"
I realised that my comment on #2599 might have been forgotten being on a closed issue

I found that on PS4 that it will not reload a folder until the contents of that folder has changed, that means if a file is marked as played the PS4 does not see any change and does not display the updated thumbnail

A solution would be to say that the contents has changed when the thumbnail is updated

[2021-10-03 03:15] SubJunk commented on #2197
It might be, but I haven't done much in that area so would need to become more familiar. I wonder if @skeptical had any ideas when he wrote that FIXME message?

[2021-10-13 02:58] SubJunk commented on #2465
I'm going to close this, happy to reopen it if the bug happens again

[2021-10-13 02:58] #2465 closed

[2021-10-15 04:45] sken130 opened #2677 "Allow to set the log level of FFmpeg in its engine settings in the desktop UI"
The main reason I use Universal Media Server is, it can stream to DLNA clients while supporting external subtitles, which Windows Media Player can't do yet, and this functionality depends greatly on FFmpeg itself, so being able to quickly check the FFmpeg logs is important.

Currently, the FFmpeg's log level is set to "fatal" by default, and if I want to set the log level to have more details, I c

[2021-10-15 04:52] sken130 commented on #2677
Here is a mock-up screen for my suggestion:

![ums_logs_tab_and_suggested_ffmpeg_log_filter_placement](https://user-images.githubusercontent.com/7981861/137434191-7d0013f6-e874-454a-9f9c-a2f1625e806c.png)

[2021-10-15 06:49] SubJunk commented on #2677
@sken130 sounds like a good enhancement. I'm not sure when, if ever, it would be done, but I'll leave it here in case anyone wants to do it. The fastest way is probably for you to learn Java ;)

[2021-10-17 14:00] valib commented on #2553
It seems that the main problem is the network setting on your PC. You use (or the UMS choose) the HyperV Virtual interface for your network. Please try to set the network adapter manually.

[2021-10-17 20:09] valib commented on #2553
The problem is that you have two virtual IP addresses. The `192.168.88.242` on the `eth6, Hyper-V Virtual Ethernet Adapter #2` and `172.22.96.1` on the `eth21, Hyper-V Virtual Ethernet Adapter` and the not working log v10.12 shows that the UMS chooses the IP `172.22.96.1` see
`INFO  2021-10-17 12:58:56.481 [main] net.pms.network.HTTPServer Using address /172.22.96.1 found on network interface: nam

[2021-10-17 23:35] SubJunk opened #2678 "Status line never clears"
Since https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2673 the status line never goes away, even when every action has completed
Can you look at that @valib ?

[2021-10-18 20:51] #2553 closed

[2021-10-19 07:23] #2678 closed

[2021-10-19 09:49] tibetwolfgit opened #2683 "MP4 Video is stuttering"
My problem is quite difficult to explain.

My UMS Configuration:
. no transcode for mp4 Videos
. Version 8.2.0
. Windows 10

My problem:
. Playback of video with variable frame rate
for example: average Frame Rate: 24,558 fps
Minimum Frame Rate: 0.101 fps
Maximum Frame Rate: 25,000 fps

The playback of that MP4 video stops every 10 minutes for about 10 seconds. Meanwhile, a two-time repetition loo

[2021-10-24 03:49] SubJunk opened #2687 "Status bar scanning messages don't go away"
https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2678 didn't resolve the problem. I still see "Scanning Folder:" messages when nothing is happening
@valib

[2021-11-02 15:26] UMSGirl opened #2697 "Folders like Name.1 will not Displayed only when i rename the Folder to Name_1"
Folders like Name.1 are not displayed since Universal Media Server version 10+. Only folders names like Name_1 are displayed correctly on my TV. Are points in folder name a problem?
Now I have to use version 9.5. I operate Universal Media Server with Linux / GNU Debian 11 Bullseys. Please help. The log has no errors displayed. That's why I have none attached.

[2021-11-05 12:49] aemondis opened #2698 "Cannot use UMS: Another program is using port 5001, which UMS needs."
Unable to start UMS due to the port apparently being in-use (which it is not, as confirmed through multiple means including telnet, test-netconnection and netstat).
- Tried restarting computer
- Tried different ports (all same error)
- Tried running as admin
- Tried reinstall
- Tried clean configuration
- Tried reverting version
- Disabling AV
- Validated port is not in use before starting
- Ensur

[2021-11-05 13:28] valib commented on #2698
What is the correct IP address for your network `172.16.1.1` or `192.168.100.102`? Please try to set the network interface manually.

[2021-11-05 13:30] aemondis commented on #2698
It is 192.168.100.102. The logs were from a clean config, just to be sure I didn't have any errors somewhere in there. I normally have it bound to the Intel NIC. Behaviour is unchanged.

[2021-11-05 13:40] aemondis commented on #2698
Updated ZIP following correct NIC binding. Same behaviour.
[ums_dbg_2021-11-06-00-38.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7486364/ums_dbg_2021-11-06-00-38.zip)

[2021-11-06 20:01] SubJunk commented on #2698
@aemondis if it is working using a previous version of UMS, can you please post logs from the previous version too, for us to compare?

[2021-11-06 21:34] aemondis commented on #2698
Will do, I just need to work out what version I had previously as I hadn't updated it in quite some time and used the auto-update. Will upload it once I have found the working version.

[2021-11-07 01:23] KrisCris opened #2700 "Web Interface does not display chinese characters"
[ums_dbg_2021-11-06-20-22.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7491535/ums_dbg_2021-11-06-20-22.zip)

![image](https://user-images.githubusercontent.com/38860226/140628719-fd24a0b0-874f-4bd4-b659-d2d7d71d0e7a.png)

[2021-11-08 13:09] aemondis commented on #2698
So, after enabling IPv6 on my system (no idea why it was disabled, since I usually have it configured and running), everything is working properly now, even with the latest version... nothing else on the system changed.

As I can't reproduce the issue, even by disabling IPv6 again - I'm going to close this issue for now.

[2021-11-08 13:09] #2698 closed

[2021-11-08 13:28] valib commented on #2698
@aemondis the UMS is using only IPv4 so I have no odea how to enable IPv6 can fix it. But you use WIN 11 we have no experience with it.

[2021-11-08 22:41] SubJunk commented on #2698
@aemondis thanks for updating us on it, it sounds like whatever it was, it was something unrelated to UMS

[2021-11-08 22:49] aemondis commented on #2698
@valib & @SubJunk, the more I've looked into it the more this seems to be a weird combination of events that led it here.

It is Windows 11, and I discovered by digging through some event logs that it had done an update behind the scenes without notifying. It looks like after a reboot, it changed my Wifi settings - so my Wifi & LAN were both connected on the system (both are different subnets). IP

[2021-11-08 22:54] aemondis commented on #2698
@valib just FYI, UMS seems to normally run just fine with W11. It's very similar to W10, but has a few quirks more around usability than anything else. You will potentially need to do some good testing with the newer Intel CPUs though, as W11 introduces a new CPU governor to allocate threads to cores. The latest 12th Gen Intel CPU have "efficiency" cores (essentially Atom CPUs), and "performance"

[2021-11-08 23:04] Nadahar commented on #2698
UMS is a Java program, and Java is "an abstraction layer" between the underlying OS and the applications. This means that you generally have very little control of the low-level details like this. For any "option" to be available, it must generally be valid across the different platforms supported by Java. This means that almost anything that is special for one OS or one hardware platform isn't av

[2021-11-08 23:08] aemondis commented on #2698
@Nadahar agreed, but it may for example need a JRE/JDK update to address potentially. My guess is there will be some sort of "affinity" option that might need to be set in the Java code to force it to the right cores. Haven't seen any word on this being available yet though. W11 as it stands runs slightly slower than W10 in most workloads too.

[2021-11-10 11:17] dginelli opened #2704 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-11 02:06] SubJunk commented on #2700
@KrisCris thanks for reporting this problem, I'll try to fix it

[2021-11-11 03:14] SubJunk commented on #2697
@UMSGirl hey, cool username!
Are you using default settings, do you have prettifying enabled? That's something logs can help us see too

[2021-11-11 07:48] SubJunk commented on #2687
@valib I hope you're doing well, and hope you have been released

[2021-11-11 13:38] valib commented on #2687
@SubJunk not exactly. I am now on the rehabilitation department to let me at least to go to the toilet and so on.

[2021-11-11 19:05] SubJunk commented on #2687
@valib damn that's a long time :( my thoughts are with you

[2021-11-21 20:06] morrisj95 commented on #2237
I've been taking a bit of a look at this earlier this week, and I'm not sure I'll be able to support the fully-fledged MKS feature set.  However at a minimum the currently-supported text variants seems doable thus far.

From what I've dug into, this would be a bit of a roundabout functionality in that we would take the external .MKS file that is meant to represent a video file (like any other exte

[2021-11-22 07:34] SubJunk commented on #2700
@KrisCris I can't reproduce this actually, see this screenshot

![image](https://user-images.githubusercontent.com/584228/142820172-b22a097c-2748-43a5-b040-eb14fb660320.png)

I did notice you're using JDK 16.0.1 which will cause problems, though probably not this one.

Am I right that you have a Windows 10 server, but the web interface requests are coming from Google Chrome on macOS?

[2021-11-23 03:46] SubJunk opened #2709 "NullPointerException in browseSearchHandler"
I got this from some logs for version 10.10.1 from https://www.universalmediaserver.com/forum/viewtopic.php?f=4&t=14809
Not sure if it has been fixed since then but I wanted to make a record of it in case it hasn't been. Any ideas @ik666 ?

[code]

[2021-11-23 07:05] ik666 commented on #2709
Hey SubJunk, this is actually old code ... The 10.10.1 branch line 1176 is this one:

[code]

I believe the NPE comes from the call to `getRootFolder(mediaRenderer)` delivering a NULL object, because there is no default renderer available. The board discussion mentions, the renderer is not identified correctly.

In detail : The `getRootFolder` implementation returns NULL in case the `RendererConfi

[2021-11-23 07:07] ik666 commented on #2709
I'd suggest to add a log-warning in case NULL is returned, so the user is aware of this issue, by looking at the logs.

[2021-11-23 11:59] ik666 commented on #2709
Strange though: it's hard to set the defaultRenderer to NULL ... and there are no changes between 10.7 and 10.13 ... I think some more excessive logging is needed ...

[2021-11-23 19:58] SubJunk commented on #2709
Yeah I had a look and thought the same thing, I'm not sure what could have changed there to cause it. More logging sounds good

[2021-11-23 20:03] A2va opened #2710 "Unable to seek while transcoding"
With VLC (desktop and android), if I play a transcoded file it impossible to seek in the file, but if the file is not transcoded seeking is working. I don't even know if this is possible to implement this in the server.

[2021-11-25 03:43] SubJunk commented on #2710
@A2va thanks for reporting this. There are different ways for programs/apps to implement seeking so it can be a matter of trying different settings until one works.
You could try different values for `SeekByTime` in the renderer config file/s, see this file for the options https://github.com/UniversalMediaServer/UniversalMediaServer/blob/master/src/main/external-resources/renderers/DefaultRenderer

[2021-11-25 21:22] A2va commented on #2710
Thanks for your quick response. The problem is that I have a video file with ass subtitle and I want to cast from VLC Android on Chromecast. But Chromecast doesn't suport ass subtitle so I am fine with transcoding and burning subtitle on video stream to display subtitle with casting.

By the way I tested to `SeekByTime` option, I changed it on VLC desktop, Google-Android and DefaultRenderer config

[2021-11-26 19:07] rauthanshubham1 commented on #1964
Hello @SubJunk , I am beginner , and would like to contribute

[2021-11-26 21:29] SubJunk commented on #1964
@rauthanshubham1 you're welcome to do it :)

[2021-11-26 21:32] SubJunk commented on #2710
@A2va that is weird. Can you attach a log dump? Instructions can be seen in the new issue template at https://github.com/UniversalMediaServer/UniversalMediaServer/issues/new

[2021-11-26 22:53] Nadahar commented on #2710
@SubJunk I'm not so sure it's weird, the only thing that is weird is if it worked one time. I highly doubt it though, I think that must have been a media that wasn't transcoded. Time seek doesn't seem to be very broadly implemented, and I really doubt that VLC supports it. And even if it does, I know for a fact that the ChromeCast doesn't (or actually the "cast protocol"). Byte position is the onl

[2021-11-27 07:24] rauthanshubham1 commented on #1964
@SubJunk , Sir please tell me the email address on which any harassment case will be reported. I have to provide that email in Code Of Conduct.

[2021-11-27 13:21] A2va commented on #2710
Here are the steps to reproduce. I launched UMS in trace mode the I opened VLC Android, started the playback of the file, try to seek two or three times and stopped the playback.

[ums_dbg_2021-11-27-14-09.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7611754/ums_dbg_2021-11-27-14-09.zip)

This is not related to this issue but I have a question. Some file that are played

[2021-11-27 18:09] Nadahar commented on #2710
@A2va

There's a setting for that, I think on the "Navigation and Shares" tab. I don't remember the exact wording, but it should just be to turn off "resume" there. Resume can be very useful for devices where seeking doesn't work though. There will always be a "non-resume" entry for the same media listed as well, in case you want to start from the beginning.

[2021-11-28 00:28] SubJunk commented on #1964
@rauthanshubham1 instead of email please provide a link to our forum `universalmediaserver.com/forum`

[2021-11-28 06:41] UMSGirl commented on #2697
Hey :) Thank you SubJunk ^^

Now i Uploaded the Debug File:
[ums_dbg_2021-11-28-07-28.zip](https://github.com/UniversalMediaServer/UniversalMediaServer/files/7612935/ums_dbg_2021-11-28-07-28.zip)

Yes, I use the default Settings. Without prettifying enabled.

The error ist only in UMS Versions 10.x.x+.
The Old Version 9.x.x

 works Great.

Please check the File :)

Thank you so much!

Kind regards

[2021-11-28 23:41] KrisCris commented on #2700
Yes you’ re right. I will switch the default idk to JDK8 and try that again :)

[2021-12-01 02:29] SubJunk commented on #1964
Thanks!

[2021-12-01 02:29] #1964 closed

[2021-12-07 23:28] Mik-S-UMS commented on #2697
Someone else on the forum has come across this bug and I have confirmed it on my system too by renaming a folder to end in ".1"
https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14946

[2021-12-09 20:07] SubJunk opened #2720 "Resume files not showing in Media Library"
I have resume files showing if I go to the folder manually, but not in the Media Library. I think it used to work, or maybe there's inconsistency. Needs investigation to narrow down what the bug actually is

[2021-12-11 04:48] SubJunk commented on #2697
Thanks all, sorry I am low on time at the moment but I will try to fix this soon

[2021-12-11 12:05] griffrawk opened #2721 "Default web content reappears after server restart"
UMS 10.13.0 Linux x64 (Arch)

Whenever I delete the predefined web content that comes as default (Joe Rogan, Marvel, TED Talks etc) it reappears the next time the server is restarted. I've no interest in any of this, so please let it respect my choice.
This also happened with 10.12.0, the first version I used, but I don't know how far back this may have been an issue.

[2021-12-11 21:06] elfring opened #2722 "Convert eight variable assignments to the usage of compound operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of compound operators](https://docs.oracle.com/javase/specs/jls/se17/html/jls-15.html#jls-15.26 "Description for assignment operators") accordingly.

[code]

[2021-12-11 21:24] Mik-S-UMS commented on #2721
I have noticed this myself and I remember on the forum the same thing happens if you delete all shared folders it will repopulate with the default options.
If you leave at least 1 item it will stay.

[2021-12-12 16:42] griffrawk commented on #2721
I've worked around this for the moment. Edit `~/.config/UMS/WEB.conf` and comment out (or delete I suppose) the web content entries I don't want. Restart the server and they're gone.

Now the GUI itself needs to do the same thing and write back the on-screen changes.

[2021-12-12 16:52] griffrawk commented on #2721
Ah.... the plot thickens. If I add a new entry (could be anything) to the web content entries after commenting out all the others, the file is now overwritten with just the entry I just added (plus some header help text).

If I delete that one entry, it brings back all the defaults from `/opt/ums/WEB.conf`. This is also incorrect behaviour IMHO.

This sounds exactly like you experience with the sh

[2021-12-12 16:55] griffrawk commented on #2721
Ref here also: https://www.universalmediaserver.com/forum/viewtopic.php?f=9&t=14724

[2021-12-12 21:26] SubJunk commented on #2721
@griffrawk thanks for reporting this, there's some good detail here. I agree it's not ideal, and I will fix it.

This is a duplicate of https://github.com/UniversalMediaServer/UniversalMediaServer/issues/2663 so please continue any discussion there.

[2021-12-12 21:26] #2721 closed

[2021-12-14 01:44] MGAnton opened #2725 "Cound not open the default web browser: The BROWSE action is not supported on the current platform!"
I just changed the computer and installed UMS-10.13.0 with Debian 11-Xfce and openjdk-11. I'd some problems but now everything works fine except the Web Interface. When I click system returns: _"Cound not open the default web browser: The BROWSE action is not supported on the current platform!"_. The debug.log file doesn't add any additional information.
On the old computer I installed UMS-9.8.0 w

[2021-12-14 02:03] Nadahar commented on #2725
As far as I can remember, this is abstracted by Java. UMS doesn't know where the browser is located, it just asks Java for "a place to send URLs to the desktop". Java takes care of the details with the OS/graphical environment which will forward the URL in question to the actual browser that is registered as the "default" browser. So, there's nothing much UMS can do when Java reports back that the

[2021-12-16 07:58] SubJunk commented on #2663
@griffrawk please test https://www.universalmediaserver.com/uploads/UMS-2663-content-readd-x86_64.tgz

[2021-12-18 00:04] griffrawk commented on #2663
@SubJunk looks OK re. editing the user's WEB.conf. It behaves as expected when deleting entries, they don't reappear (immediately or on restart). Added entries work as expected too.

I have deleted the user WEB.conf, and it is initialised with the defaults as expected. As above it all works fine from then on.

[2021-12-18 07:08] SubJunk commented on #2663
@griffrawk thanks for testing it thoroughly, very useful

[2021-12-19 05:25] #2663 closed

[2021-12-22 19:30] SubJunk opened #2738 "Bundle Azul Zulu instead of Adoptium/Liberica"
At the moment we use a mix of Adoptium/Liberica but it would be nice to have just one source, so let's try Zulu which is what we use on CI

[2021-12-22 20:50] #2264 closed

[2021-12-22 21:22] SubJunk opened #2741 "CI pull_request_target builds are running master code, not branch code"
Not sure if this is a bug with our config or with GitHub CI itself.
It can be reproduced by making a change in a branch that changes the outcome/output of tests, and observe that nothing changes in the `pull_request_target` builds, but it works as expected in the `push` builds. Existing reproduction is at https://github.com/UniversalMediaServer/UniversalMediaServer/pull/2740 where the added loggin

[2021-12-22 21:27] SubJunk opened #2742 "Unstable testIsFullyPlayed"
This test is making master unstable and needs to be fixed. Unfortunately I can't reproduce the failure locally, so am debugging it by pushing commits to here. Any ideas would be helpful. https://github.com/UniversalMediaServer/UniversalMediaServer/runs/4611809555?check_suite_focus=true

[code]

[2021-12-23 10:52] griffrawk commented on #954
I'm having this problem with VLC 3.2.13 on iOS on both my devices (old iPad on iOS12, no higher; and iPhoneX on iOS15.1). The UMS server shows up ok, but on selecting it I get a spinner which never completes. Nothing of use shows up in the UMS log (trace level) while I do so, just the usual discovery messages.

I'm inclined to agree it's on the VLC side, as I can use nplayer on iOS with no issues

[2021-12-23 19:22] SubJunk commented on #954
@griffrawk this is still a problem for me as well. It seems to always work if I wait a while before entering the server via the app, like 30-60 seconds after it appears in the app. I hope they release their new version soon so we can see if it's fixed.

[2021-12-24 12:36] griffrawk commented on #954
@SubJunk Heh... the first time I tried that, leaving it for a minute as you suggest, VLC crashed! Tried it again and it seems a bit better. A workaround while we wait to see if VLC is fixed. Thanks.